@function modifierClassList($property, $string) {
	$comment: "";
	@each $key, $value in map-deep-get($style-definition,$property,unit){ 
	$comment:	#{$comment} + " #{ class-name-constructor($property,$key)} 	- #{$string} #{ map-deep-get($style-definition,$property,css-style)}: #{ map-deep-get($style-definition,$property,unit,$key)} \a ";
	}
	@return $comment;
}
//@debug modifierClassList(grid-row-gap, "set");
@function modifierClassTable($CSS-property,  $responsive: false) {
	$table: "";
	@if($responsive){
		$table: 	#{$table} + "<table class='clear_both'><thead class='font_bold uppercase'><th>classs</th><th>responsive modifiers</th><th class='text_right'>css property</th><th>value</th></thead><tbody>";
	}
	@else{
		$table: #{$table} + "<table class='clear_both'><thead class='font_bold uppercase'><th>classs</th><th class='text_right'>css property</th><th>value</th></thead><tbody>";
	}
	@each $unit, $value in get-all-css-sizes($CSS-property){ 
		@if($responsive){
			$table:	#{$table} + "<tr><td class='c_primary-n2'> #{ class-name-constructor($CSS-property,$unit)}</td><td class=''>#{ class-name-constructor($CSS-property,$unit)}:md, #{ class-name-constructor($CSS-property,$unit)}:lg</td><td class='text_right'> #{ map-deep-get($style-definition,$CSS-property, css-style)} :</td><td> #{ $value} </td></tr> ";
		}@else{
			$table:	#{$table} + "<tr><td class='c_primary-n2'> #{ class-name-constructor($CSS-property,$unit)}</td><td class='text_right'> #{ map-deep-get($style-definition,$CSS-property,  css-style)} :</td><td> #{ $value }";
			@if($CSS-property == font-size ){
				$table:#{$table} + " #{ ( $value/1rem ) * 16px} ";
			}
			$table:#{$table} + " </td></tr> ";
		}
   }
   $table:	#{$table} + "</tbody></table>";
	@return $table;
}