/* For those things that require custom things and random stuff... */

.CoveoDynamicFacet {
    border: 1px solid get-themecolor(secondary,3);
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;
    font: $font-ui;

    .coveo-dynamic-facet-header {
        border: none;
        .coveo-dynamic-facet-header-title {
            font-weight: normal;
            font-family: $font-ui;
            font-size: $font_0;
            color: $teal;
        }
    }

    .coveo-combobox-input-icon {
        font-size: $font_n2;
    }

    button {
        color: $teal;
    }

    .coveo-checkbox-button {
        min-height: 0;
    }
    
    
}