
@import 'recipes/cardiosmart/_cardiosmart._header';

@import 'recipes/cardiosmart/_cardiosmart._footer';

@import 'recipes/cardiosmart/_cardiosmart._base';
@import 'recipes/cardiosmart/_cardiosmart._page';
/*

Pages

The page is the backbone of the structures through out the website.

Weight: 3300

Styleguide RecipesPages

*/
@import 'recipes/cardiosmart/_cardiosmart._news';
@import 'recipes/cardiosmart/_cardiosmart._articles';
/*

News Articles

The science and discoveries are always evolving and the news articles are a way for a user to keep up with the latest science. 

Weight: 3400

Styleguide RecipesNews

*/
@import 'recipes/cardiosmart/_cadiosmart._featured-related';
/*
	 Related Content

	There are many components that pull in lists, carousels, and featurd presenetations of other assets and or pages because they are related. 

	Weight: 3500

	Styleguide RecipesRelated

*/
@import 'recipes/cardiosmart/_cardiosmart._patient-story';
/*
	 Patient Stories

	The human face of cardiosmart is the stories of people who live and thrive with these conditions.

	Weight: 3600

	Styleguide RecipesPatient

*/
/*
	FYHAH

	Find your heart a home is a single page application that is housed in a subdomain of cardiosmart.

	Weight: 5000

	Styleguide RecipesFYHAH

*/

@import 'recipes/cardiosmart/_fyhah.cardiosmart.elements';

/*
	CHD

	A search systems for clinics that meet the standard.

	Weight: 6000

	Styleguide RecipesCHD

*/
@import 'recipes/cardiosmart/_chdDirectory.cardiosmart.elements';
