@import 'recipes/virtual/data/virtual.data';

// data values 

@import 'recipes/virtual/virtual.locked_graphic';
@import 'recipes/virtual/virtual.boot._navbar.override';
@import 'recipes/virtual/virtual.brand_header';
// @import 'recipes/sitefinity/sitefinity.editor-decorator';
@import 'recipes/virtual/virtual.evergreen_content';
@import 'recipes/virtual/virtual.extras';
@import 'recipes/virtual/virtual.ondemand';
@import 'recipes/virtual/virtual.sessions';

/*

On Demand
 
Description: All videos and presentations after a publication is in the On Demand Area. 

Weight: 0
 
Styleguide Recipes Virtual.Block Design.OnDemand

*/


/*
Block Designs

For small conferences that have a small amount of content is recommended to use the Block Designs. When sessions are lower then 10 in count, the Block Designs are recommended.

Weight: 0
 
Styleguide Recipes Virtual.Block Design
*/

@import 'recipes/virtual/_virtual.live';

@import 'recipes/virtual/_virtual.faculty';




/*

Retired Designs

The virtual product has evolved from its original form, and has made some designs that are no longer available or in use.  This area is the graveyard for those designs. 

Weight: 9000 

Styleguide  Graveyard
*/

@import 'recipes/virtual/graveyard/virtual.channels';
@import 'recipes/virtual/graveyard/virtual.brand_header';
@import 'recipes/virtual/graveyard/virtual.lobby';
@import 'recipes/virtual/graveyard/virtual.umbrella_nav';
@import 'recipes/virtual/graveyard/virtual.sessions';

