/*
On Demand
 
Description: All videos and presentations after a publication is in the On Demand Area. 

Weight:0
 
Styleguide Virtual Recipes.OnDemand
*/
.texture_ondemand{
        background-image: url('../img/virtual/slidebackground.png');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;

}

@import 'recipes/virtual/_virtual.ondemand-light';
@import 'recipes/virtual/_virtual.ondemand-dark';
@import 'recipes/virtual/_virtual.live';
@import 'recipes/virtual/_virtual.attachments';
