@import 'recipes/base/base.page.layouts';
@import 'recipes/virtual/data/_virtual.helper.randomWords';
@import 'recipes/virtual/data/virtual.data';
@import 'recipes/virtual/virtual.sub.search';
@import 'recipes/virtual/virtual.sub.faculty';
@import 'recipes/library/index';

@import 'recipes/boot/_boot.tabs';
// data values 

.filter_blur {
    backdrop-filter: blur(5px);
}

.h\:shadow_overlap-light:hover {
    box-shadow: 0 1px 10px rgb(0 0 0 / 5%), 0 2px 4px rgb(0 0 0 / 30%), 1px 5px 5px rgb(0 0 0 / 1%);
}

.a\:shadow_overlap-light.active {
    box-shadow: 0 1px 10px rgb(0 0 0 / 5%), 0 2px 4px rgb(0 0 0 / 30%), 1px 5px 5px rgb(0 0 0 / 1%);
}

@media only screen and (min-width: 768px) {
    .nav-maxed {
        max-width: clamp(20em, 25rem, 100%);
        
    }

    .nav-mined {
        max-width: 4rem;
    }
}

html:not([data-scroll='0']) #navigation_mobile .label {
    opacity:0 !important;
    height:0;
}