@import '../utility-css/introduction';

/*
Cross Domian Designs
 
Description: Arches aim to simplify and streamline frontend implementation inside of the ACC portfolio.  Arches extrapolate design names into a generic naming convention so frontend elements can be built once and be adaptive to the domain's brand when rendered.  
 
Weight:0
 
Styleguide CrossDomainDesigns
*/

/*
Colors
 
<p>A common practice in CSS color variable names does not describe the color they represent but instead represents its color function.  For example, the global color in the brand "ACC Blue" does not refer to the blue but refers to  "acc." This future-proofs the UI from changes incase the college's branding alters to a different hue. The practice of function naming allows components and designs to flow from one domain to the next, coloring the text, backgrounds, and borders appropriately.  The design colors are Primary, Secondary, Highlight, Info, with a black and white mix.  There is a subset of colors reserved for action colors used in user interaction moments when an application runs validations in each design.  Actions Colors are Alert, Warning, Success. The section "Design Base" within each brand area defines the previously mentioned colors.</p>  
<div class="flex_row flex ">
    <div class="flex_auto m_4">
        <h2 class="font_display">ACC.org</h2>
        <div class="flex flex_column font_display font_2 w_100 c_white font_bold lowercase">
            <div class="flex_auto  flex flex_row">
                <div class="flex_auto p_3 br_3 br_solid br_white w_20" style="background-color:#198dae;">Primary</div>
                <div class="flex_auto p_3 br_3 br_solid br_white p-b_5 w_10" style="background-color:#676a72;">Secondary</div>
                <div class="flex_auto w_10 flex flex_column">
                    <div class="flex_auto p_3 br_3 br_solid br_white " style="background-color: #16a385;">Accent</div>
                    <div class="flex_auto flex flex_row">
                        <div class="flex_auto p_3 br_3 br_solid br_white " style="background-color: #7742bd;">Highlight</div>
                        <div class="flex_auto p_3 br_3 br_solid br_white " style="background-color: #a3988c;">Info</div>
                    </div>
                </div>
            </div>
            <div class="flex_auto flex_row flex">
                <div class="flex_auto p_3 br_3 br_solid br_white" style="background-color:#dd1a1a;">Alert</div>
                <div class="flex_auto p_3 br_3 br_solid br_white" style="background-color: #da8210;">Warning</div>
                <div class="flex_auto p_3 br_3 br_solid br_white" style="background-color: #078a2e;">Sucess</div>
            </div>
        </div>
    </div>
    <div class="flex_auto m_4">
        <h2 class="font_display">CVQUALITY.ORG</h2>
        <div class="flex flex_column font_display font_2 w_100 c_white font_bold lowercase">
            <div class="flex_auto  flex flex_row">
                <div class="flex_auto p_3 br_3 br_solid br_white w_20" style="background-color:#0088aa;">Primary</div>
                <div class="flex_auto p_3 br_3 br_solid br_white p-b_5 w_10" style="background-color:#e87d1e">Secondary</div>
                <div class="flex_auto w_10 flex flex_column">
                    <div class="flex_auto p_3 br_3 br_solid br_white " style="background-color: #ffc425;">Accent</div>
                    <div class="flex_auto flex flex_row">
                    <div class="flex_auto p_3 br_3 br_solid br_white " style="background-color: #a3988c">Highlight</div>
                    <div class="flex_auto p_3 br_3 br_solid br_white " style="background-color: #05aee5">Info</div>
                    </div>
                </div>
            </div>
            <div class="flex_auto flex_row flex">
                <div class="flex_auto p_3 br_3 br_solid br_white" style="background-color:#990000">Alert</div>
                <div class="flex_auto p_3 br_3 br_solid br_white" style="background-color: #f4a122">Warning</div>
                <div class="flex_auto p_3 br_3 br_solid br_white" style="background-color: #078a2e">Sucess</div>
            </div>
        </div>
    </div>
</div>
 
Weight:0
 
Styleguide CrossDomainDesigns.Colors
*/

/*
Fonts
 
Description: Fonts like colors aims to simplify the efforts when moving from one brand to the next so it has generalized the font names into the simple usage of: display, copy, accent, and ui 
 
Weight:10
 
Styleguide CrossDomainDesigns.Fonts
*/