/*
 Design Base

 Arches is design inspired by a pad of paper in the hand.  Subtle Textures and Layer shadows keep the readablity very high. 

 Weight: -50

 Styleguide DesignBase
*/

/*

Fonts 

The ACC is focused on stable, conservative, clean fonts.   Roboto Slab is the standard serif fonts across all products at the ACC.  Muli is the current successor to Open Sans, and Maven is a slightly modern font to give a small level of interests which replaces Raleway, or Lato in other products.

 Styleguide DesignBase.Fonts
*/

/*

Accent #{map-deep-get($fonts, accent, name)}
 
A beuatiful Accent font that shows a complexity and texture to the fonts used in the design. 

<div class=font_accent">
	<h2 class=font_accent group-divide-bottom font--name small-12">
		#{map-deep-get($fonts, accent, name)}
		<span class="sub-line">font-family: #{map-deep-get($fonts, accent, stack)}</span>
	</h2>
	<div class="font flex">
	<div class="bg_primary c_white flex flex_shrink font_10 justify_center m-r_5 p-x_5 text+cemter"><span class="flex_auto m_auto inline-block text_center self_center">#{map-deep-get($fonts, accent, short-name)}<span></span></span></div>
		<div class="flex_auto font--example">
			<h3 class=font_accent font_6">Accent Font</h3>
			<div class="text-lowercase font_4">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
			<div class="text-uppercase font_4">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
			<div class="text-numbers font_4">0 1 2 3 4 5 6 7 8 9</div>
			<div class="text-lowercase font_2">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
			<div class="text-uppercase font_2">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
			<div class="text-numbers font_2">0 1 2 3 4 5 6 7 8 9</div>
		</div>
	</div>
</div>

 Weight: -10

 Styleguide DesignBase.Fonts.Accent
*/
/*

Display: #{map-deep-get($fonts, display, name)}
 
 A Slick font that has a slight interest used for headers and UI. 

<div class="font_display">
	<h2 class="font_display group-divide-bottom font--name small-12">
		#{map-deep-get($fonts, display, name)}
		<span class="sub-line">font-family: #{map-deep-get($fonts, display, stack)}</span>
	</h2>
	<div class="font flex grid-padding-x grid-padding-y">
		<div class="bg_primary c_white flex flex_shrink font_10 justify_center m-r_5 p-x_5 text+cemter"><span class="flex_auto m_auto inline-block text_center self_center">#{map-deep-get($fonts, display, short-name)}<span></span></span></div>
		<div class="flex_auto font--example">
			<h3 class="font_display">Display Font</h3>
			<div class="text-lowercase font_4">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
			<div class="text-uppercase font_4">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
			<div class="text-numbers font_4">0 1 2 3 4 5 6 7 8 9</div>
			<div class="text-lowercase font_2">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
			<div class="text-uppercase font_2">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
			<div class="text-numbers font_2">0 1 2 3 4 5 6 7 8 9</div>
		</div>
	</div>
</div>

 Weight: -5

 Styleguide DesignBase.Fonts.Display
*/

/*

Copy: #{map-deep-get($fonts, 'copy', 'name')}
 
 A clean font for content and text of none UI elements. 

<div class="font_copy">
	<h2 class=" group-divide-bottom font--name small-12">
		"#{map-deep-get($fonts, 'copy', 'name')}"
		<span class="sub-line">font-family: "#{map-deep-get($fonts, 'copy', 'stack')}"</span>
	</h2>
	<div class="font flex grid-padding-x grid-padding-y">
		<div class="bg_primary c_white flex flex_shrink font_10 justify_center m-r_5 p-x_5 text+cemter"><span class="flex_auto m_auto inline-block text_center self_center">#{map-deep-get($fonts, copy, short-name)}<span></span></span></div>
		<div class="felx_auto font--example">
			<h3 class="">Content Font</h3>
			<div class="text-lowercase font_4">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
			<div class="text-uppercase font_4">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
			<div class="text-numbers font_4">0 1 2 3 4 5 6 7 8 9</div>
			<div class="text-lowercase font_2">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
			<div class="text-uppercase font_2">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
			<div class="text-numbers font_2">0 1 2 3 4 5 6 7 8 9</div>
		</div>
	</div>
</div>

 Weight: 0

 Styleguide DesignBase.Fonts.Copy
*/
/*

UI: #{map-deep-get($fonts, 'ui', 'name')}
 
 A clean font for content and text of none UI elements. 

<div class="font_ui">
	<h2 class=" group-divide-bottom font--name small-12">
		"#{map-deep-get($fonts, 'ui', 'name')}"
		<span class="sub-line">font-family: "#{map-deep-get($fonts, 'ui', 'stack')}"</span>
	</h2>
	<div class="font flex grid-padding-x grid-padding-y">
		<div class="bg_primary c_white flex flex_shrink font_10 justify_center m-r_5 p-x_5 text+cemter"><span class="flex_auto m_auto inline-block text_center self_center">#{map-deep-get($fonts, ui, short-name)}<span></span></span></div>
		<div class="felx_auto font--example">
			<h3 class="">Content Font</h3>
			<div class="text-lowercase font_4">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
			<div class="text-uppercase font_4">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
			<div class="text-numbers font_4">0 1 2 3 4 5 6 7 8 9</div>
			<div class="text-lowercase font_2">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
			<div class="text-uppercase font_2">a b c d e f g h i j k l m n o p q r s t u v w x y z</div>
			<div class="text-numbers font_2">0 1 2 3 4 5 6 7 8 9</div>
		</div>
	</div>
</div>

 Weight: 1

 Styleguide DesignBase.Fonts.UI
*/



/*

Icons: Font Awesome

Below are just a few of the icons available from Font Awesome Pro.

plus						 - fa-plus					
arrow-right					 - fa-arrow-right					
search						 - fa-search					
envelope					 - fa-envelope				
heart						 - fa-heart					
star						 - fa-star									
user						 - fa-user					
		

Markup:
<div class="relative br_shade-4 br_solid br_1"><div class="flex"><div class="font_5 cell w-grid_3 text_center p_3 no-underline c_inherit flex_shrink justify_center h:bg_navigation-n3 h:c_white bg_shade-5 expanded-click-area"><i class="fas fa-{{modifier_class}}"></i></div><div class="flex_auto p_4 p-y_2 self_center"><span class="c_shade h:c_shade-n2 text font_bold font_display">{{modifier_class}}</span></div></div></div>

MarkupWrapperClasses:
m_0 p_0 grid justify-start items-start gap-x_0 gap-y_0 template-x_15

Styleguide DesignBase.Icons
*/

/*

ACC's Blue

$acc-blue            -  #{$acc-blue}; acc

Styleguide DesignBase.Colors.ACC
*/
/*

Theme Colors 

Colors are based off of the ACC Scrub Colors.

map-get($theme-palette, primary)              -  #{ map-get($theme-palette, primary)}; primary
map-get($theme-palette, secondary)            -  #{ map-get($theme-palette, secondary)}; secondary
map-get($theme-palette, shade)           	  - #{ map-get($theme-palette, shade)}; shade
map-get($theme-palette, accent)               -  #{ map-get($theme-palette, accent)};  accent
map-get($theme-palette, info)                 -  #{ map-get($theme-palette, info)}; info
map-get($theme-palette, highlight)            -  #{ map-get($theme-palette, highlight)}; highlight

Styleguide DesignBase.Colors
 */

/*

Action Colors  

Actionable colors used to respond to user inputs and messaging.

map-get($theme-palette, alert)                -  #{ map-get($theme-palette, alert)}; alert
map-get($theme-palette, warning)              -  #{ map-get($theme-palette, warning)}; warning
map-get($theme-palette, success)              -  #{ map-get($theme-palette, success)};  success
map-get($theme-palette, navigation)           -  #{ map-get($theme-palette, navigation)}; navigation

Styleguide DesignBase.Colors.Actions
*/

// Other Color Collections from the college

/*

Color Coding  

Color Coding is used in specific products and concepts to illustrate cohesion and collections. All of these color codes are used universally through out the college and have an assoicated meaning. All of these colors are just used for reference and have no associated decorator classes.  You must include the the associated color-code_x.css have access to utlity classes that will color using the bellow colors. 

Styleguide DesignBase.Colors.ColorCoding

 */
/*

COR Colors  

(COR) Class of Recomendation is a color collect used in Guideline recomendations.

$cor-green                 	- #{$cor-green}; I
$cor-yellow              	- #{$cor-yellow}; IIA
$cor-yellow-orange          - #{$cor-yellow-orange}; IIA
$cor-orange               	- #{$cor-orange};III and III-NoHarm
$cor-red               		- #{$cor-red}; III-harm

Weight: 10

Styleguide DesignBase.Colors.ColorCoding.COR

 */

/*

LOE Colors  

(LOE) level of Evedence is a color collect used in Guideline recomendations.

$loe-dark-blue                 	- #{$loe-dark-blue};LOE A
$loe-mid-blue              		- #{$loe-mid-blue };LOE B-R
$loe-light-blue                	- #{$loe-light-blue };LOE B-NR
$loe-pale-blue                	- #{$loe-pale-blue }; LOE C

Weight: 10

Styleguide DesignBase.Colors.ColorCoding.LOE

 */
/*

Credit Type Color Coding  

Credit Types in the ACC have a specific color coding.

$credit-AAPA                    - #{$credit-AAPA    }; AAPA: American Academy of Physician Assistants (AAPA) Category 1 CME Credit  
$credit-ABP                     - #{$credit-ABP     }; ABP: American Board of Pediatrics   
$credit-ABPMOCII                     - #{$credit-ABPMOCII     }; ABP MOC 2: American Board of Pediatrics MOC 2  
$credit-ABPMOCIV                     - #{$credit-ABPMOCIV     }; ABP MOC 4: American Board of Pediatrics MOC 4 
$credit-ATCEU                   - #{$credit-ATCEU   }; ATCEU: Athletic Trainer Continuing Education Unit   
$credit-CE                      - #{$credit-CE      }; CE: Continuing CCA\Tech Education  
$credit-CME                     - #{$credit-CME     }; CME: AMA PRA Category 1TM Credit(s)    
$credit-CNE                     - #{$credit-CNE     }; CNE: Continuing Nurse Education  
$credit-CNErx                   - #{$credit-CNErx   }; CNErx: Continuing Nursing Education Pharmaceutical   
$credit-COP                     - #{$credit-COP     }; COP: Certificate of Participation  
$credit-CPE                     - #{$credit-CPE     }; CPE: Continuing Pharmacy Education 
$credit-ECME                    - #{$credit-ECME    }; ECME: European Board for Accreditation in Cardiology (EBAC) External CME Credit
$credit-IPCE                    - #{$credit-IPCE    }; IPCE: Interprofessional Continuing Education Credit
$credit-MOCII                   - #{$credit-MOCII   }; MOCII: ABIM MOC Part II  
$credit-MOCIV                   - #{$credit-MOCIV   }; MOCIV: ABIM MOC Part IV    

Weight: 0

Styleguide DesignBase.Colors.ColorCoding.Credits

*/
/*

Clinical Pathway Colors  

Each of the clinical pathways has a distinctive color.  These colors are used to give a distinct theme to our clinical apps, marketing, pdf's and tools.

$pathway-acute-coronary-syndromes 						- #{$pathway-acute-coronary-syndromes};  Acute Coronary Syndromes
$pathway-arrthythmias-EP 								- #{$pathway-arrthythmias-EP};  Arrthythmias and Clinical EP
$pathway-congenital-heart-disease 						- #{$pathway-congenital-heart-disease};  Congenital Heart Disease
$pathway-ecg-stress-test 								- #{$pathway-ecg-stress-test};  Standard ECG, Stress Test
$pathway-heart-failure 									- #{$pathway-heart-failure};  Heart Failure and Cardiomyopathies
$pathway-invasive-cardiology 							- #{$pathway-invasive-cardiology};  Invasive Cardiology Angiography and Intervention
$pathway-noninvasive-cardiology 						- #{$pathway-noninvasive-cardiology};  Noninvasive Cardiology
$pathway-pandemic 										- #{$pathway-pandemic};  Pandemic "Covid"
$pathway-preicardial 									- #{$pathway-preicardial};  Preicardial Disease
$pathway-prevention 									- #{$pathway-prevention};  Prevention
$pathway-pulmonary-hypertension 						- #{$pathway-pulmonary-hypertension};  Pulmonary Hypertension and Venous Thromboembolic Disease
$pathway-special 										- #{$pathway-special};  Special
$pathway-stable-ischemnic-heart-disease 				- #{$pathway-stable-ischemnic-heart-disease};  Stable Ischemnic Heart Disease
$pathway-valvular-heart-disease 						- #{$pathway-valvular-heart-disease};  Valvular Heart Disease
$pathway-vascular-medicine 								- #{$pathway-vascular-medicine};  Vascular Medicine

Weight: -1

Styleguide DesignBase.Colors.ColorCoding.Pathways

*/
/*

Registry CC

Credit Type Color codes in the ACC have a specific color coding.

$registry-cpmi                  -   #{$registry-cpmi              };    Chest Pain MI Registry
$registry-afib                  -   #{$registry-afib              };    AFib Ablation Registry
$registry-cathpci               -   #{$registry-cathpci           };    CathPCI Registry
$registry-icd                   -   #{$registry-icd               };    ICD Registry
$registry-impact                -   #{$registry-impact            };    IMPACT Registry
$registry-pinnacle-primary      -   #{$registry-pinnacle-primary  };    PINNACLE Registry (Primary)
$registry-pinnacle-accent       -   #{$registry-pinnacle-accent   };    PINNACLE Registry (Accent)
$registry-focus                 -   #{$registry-focus             };    Patient Navigator Focus MI
$registry-pcibleeding           -   #{$registry-pcibleeding       };    Reducing Risk PCI Bleeding
$registry-laao                  -   #{$registry-laao              };    LAAO Registry
$registry-pvi                   -   #{$registry-pvi               };    PVI Registry
$registry-auxdata               -   #{$registry-auxdata           };    Auxiliar Data Collection
$registry-ststvt                -   #{$registry-ststvt            };    STS ACC TVT Registry
$registry-diabetes              -   #{$registry-diabetes          };    Diabetes Collaborative 

Weight: 2000

Styleguide  DesignBase.Colors.ColorCoding.Registry

*/
/*

Social Network Colors  

Each of the social networks has a distinctive color. These colors are used to give a distinct theme to the social nav that is in different locations.

$twitter            -   #00aced;  twitter     
$facebook           -   #3b5998;  facebook    
$linkedin           -   #007bb6;  linkedin    
$apple-store        -   #ea4cc0;  apple-store 
$google-play        -   #689f38;  google-play 
$youtube            -   #bb0000;  youtube     


Weight: 100

Styleguide DesignBase.Colors.ColorCoding.Social Networks

*/

/*
	Textures

	All textures in the Arches design are a subtle variation of transparent.   Allowing for colors to bleed through from behind.  Different textures have intentions or are reserved for certain usagaes. 

	.texture_light                       		- Light textures is reserved for the base of a page where it can gve a soft area for text or cards to live on top of. 
	.texture_medium            					- medium texture are used for area that are hidden away.  Collapsable navs, areas, or sidebars ususaly use the medium texture.
	.texture_dust            					- Dust is the most transparent texture allowing for the color of the background to show through the most.  This is used for the painted tops of cards, or score bars.
	.texture_dark              					- This texture predominatly used on the footer. Its rich black will alway requrie reversed text and buttons to be readable.  
	.texture_cross            					- A mostly transparent cross texture used for alternating rows of content when a little extra texture is needed.
	.texture_disabled              				- This texture is used to paint disabled buttons and ui items giving it a greyed and X'ed out appearand. 

	Markup:
	<div class="{{modifier_class}} p_5 border-c_black-8 border-width_1 border_solid text_center bg_primary-4">{{modifier_class}} with a light primary color background</div>

	Styleguide DesignBase.Textures

 */
