/*
Branded Header
 
This is a templated banner that uses as the central branding of a conference product. 
 
Markup:
<div class="brand-header"></div>
 
Weight:-100
 
Styleguide Virtual Recipes.Header
*/

.brand-header {
    height: 160px;
    width: 100%;
    background-color: #002d5b;
    background: url('../img/virtual/header.backgroundTexture.sm.png') no-repeat center top;
}


@media #{$medium-up} {
    .brand-header {
        height: 160px;
        width: 100%;
        background-color: #002d5b;
        background: url('../img/virtual/header.mainLogo.md.png') no-repeat 2% center,
            url('../img/virtual/header.secondary.md.png') no-repeat 98% top,
            url('../img/virtual/header.img.md.png') no-repeat 27% top,
            url('../img/virtual/header.backgroundTexture.png') no-repeat right top;
    }

}
@media #{$xlarge-up} {
    .brand-header {
        height: 240px;
        width: 100%;
         background-color: #002d5b;
        background: url('../img/virtual/header.mainLogo.lg.png') no-repeat 2% center,
            url('../img/virtual/header.secondary.lg.png') no-repeat 98% top,
            url('../img/virtual/header.img.lg.png') no-repeat 14% top,
            url('../img/virtual/header.backgroundTexture.png') no-repeat right top;
    }
}