.reading-typography {
    a {
        color: $link-color-dark;
        text-decoration: underline;
        &:hover {
            color: mix($link-color-dark, black);
        }
    }
}

@media #{$large-up} {
    body {
        background-image: url('../assets/img/cardiosmart/background-rectangle.jpg');
        background-attachment: fixed;
        background-color: #cad3d0;
    }
}