/*
Branded Header
 
This is a templated banner that uses as the central branding of a conference product. 
 
Markup:
<div class="brand-header"></div>
 
Weight: -100
 
Styleguide Virtual Recipes.Header
*/

.brand-header {
    height: 160px;
    width: 100%;
    background-color: #8e2582;
    background: url('../img/covid20/header.backgroundTexture.sm.png') no-repeat center top;
}
@media #{$medium-up} {
    .brand-header {
        height: 160px;
        width: 100%;
        background-color: #8e2582;
        background: url('../img/covid20/header.mainLogo.md.png') no-repeat left top,
            url('../img/covid20/header.secondary.md.png') no-repeat right top,
            url('../img/covid20/header.img.md.png') no-repeat 27% top,
            url('../img/covid20/header.backgroundTexture.png') repeat-x right top;
        background-size: contain,contain,contain,cover;
    }

}
@media #{$xlarge-up} {
    .brand-header {
        height: 240px;
        width: 100%;
        background-color: #8e2582;
        background: url('../img/covid20/header.mainLogo.lg.png') no-repeat left top,
            url('../img/covid20/header.secondary.lg.png') no-repeat right top,
            url('../img/covid20/header.img.lg.png') no-repeat 14% top,
            url('../img/covid20/header.backgroundTexture.png') repeat-x right top;
    }
}



