/*
Branded Header
 
This is a templated banner that uses as the central branding of a conference product. 
 
Markup:
<div class="brand-header"></div>
 
Weight:-100
 
Styleguide Covid Recipes.Header
*/

.brand-header {
    height: 160px;
    width: 100%;
    background-color: #002d5b;
    background: url('../img/covid/header.backgroundTexture.sm.png') no-repeat center top;
}

.video-header {
    height: 100px;
    width: 100%;
}
@media #{$medium-up} {
    .brand-header {
        height: 160px;
        width: 100%;
        background-color: #002d5b;
        background: url('../img/covid/header.mainLogo.md.png') no-repeat 2% center,
            url('../img/covid/header.secondary.md.png') no-repeat 98% top,
            url('../img/covid/header.img.md.png') no-repeat 27% top,
            url('../img/covid/header.backgroundTexture.png') no-repeat right top;
    }
    .video-header {
        height: 140px;
    }
}
@media #{$xlarge-up} {
    .brand-header {
        height: 240px;
        width: 100%;
         background-color: #002d5b;
        background: url('../img/covid/header.mainLogo.lg.png') no-repeat 2% center,
            url('../img/covid/header.secondary.lg.png') no-repeat 98% top,
            url('../img/covid/header.img.lg.png') no-repeat 14% top,
            url('../img/covid/header.backgroundTexture.png') no-repeat right top;
    }
    .video-header {
        height: 160px;
    }
}
.template-x_3up {
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}

.Education_video {
    background: url('../img/covid/videoGroup/education.video.png');
}

.Education_video-nolabel {
    background: url('../img/covid/videoGroup/education.noLabelVideo.png');
}

.education_header {
    background: url('../img/covid/videoGroup/education.label.png') right center no-repeat,
        url('../img/covid/videoGroup/education.headerGraphic.png') left top no-repeat;
    background-size: contain, cover;
}

.HotTopic_video {
    background: url('../img/covid/videoGroup/hotTopic.video.png');
}

.HotTopic_video-nolabel {
    background: url('../img/covid/videoGroup/hotTopic.noLabelVideo.png');
}

.hotTopic_header {
    background: url('../img/covid/videoGroup/hotTopic.label.png') right center no-repeat,
        url('../img/covid/videoGroup/hotTopic.headerGraphic.png') left top no-repeat;
    background-size: contain, cover;
}

.Global_video {
    background: url('../img/covid/videoGroup/global.video.png');
}

.Global_video-nolabel {
    background: url('../img/covid/videoGroup/global.noLabelVideo.png');
}

.global_header {
    background: url('../img/covid/videoGroup/global.label.png') right center no-repeat,
        url('../img/covid/videoGroup/global.headerGraphic.png') left top no-repeat;
    background-size: contain, cover;
}

.Anchor_video {
    background: url('../img/covid/videoGroup/anchor.video.png');
}

.Anchor_video-nolabel {
    background: url('../img/covid/videoGroup/anchor.noLabelVideo.png');
}

.anchor_header {
    background: url('../img/covid/videoGroup/anchor.label.png') right center no-repeat,
        url('../img/covid/videoGroup/anchor.headerGraphic.png') left top no-repeat;
    background-size: contain, cover;
}

.Fuster_video {
    background: url('../img/covid/videoGroup/fuster.video.png');
}

.Fuster_video-nolabel {
    background: url('../img/covid/videoGroup/fuster.noLabelVideo.png');
}

.fuster_header {
    background: url('../img/covid/videoGroup/fuster.label.png') right center no-repeat,
        url('../img/covid/videoGroup/fuster.headerGraphic.png') left top no-repeat;
    background-size: contain, cover;
}

.locked_graphic {
    filter: grayscale(1) opacity(0.5) brightness(1.1);
}

.Fuster_video {
    background: url('../img/covid/videoGroup/convocation.video.png');
}

.Convocation_video {
    background: url('../img/covid/videoGroup/convocation.video.png');
}
