/*
Branded Header
 
This is a templated banner that uses as the central branding of a conference product. 
 
Markup:
<div class="brand-header"></div>
<style>
.brand-header {
     background-image: url('../img/AH20/header.backgroundTexture.sm.png');
}
@media #{$medium-up} {
    .brand-header {
        background-image: url('../img/AH20/header.mainLogo.md.png'),
            url('../img/AH20/header.secondary.md.png'),
            url('../img/AH20/header.img.md.png'),
            url('../img/AH20/header.backgroundTexture.png');
    }
}
@media #{$xlarge-up} {
    .brand-header {
        background-image: url('../img/AH20/header.mainLogo.lg.png'),
            url('../img/AH20/header.secondary.lg.png'),
            url('../img/AH20/header.img.lg.png'),
            url('../img/AH20/header.backgroundTexture.png');
    }
}
</style>
 
Weight:-100
 
Styleguide Virtual Recipes.Header
*/

.brand-header {
    height: 160px;
    width: 100%;
    background-color: #002d5b;
    background-image: url('../img/virtual/header.backgroundTexture.sm.png');
    background-repeat: no-repeat;
    background-position:center top;
}


@media #{$medium-up} {
    .brand-header {
        height: 160px;
        width: 100%;
        background-image: url('../img/virtual/header.mainLogo.md.png'),
            url('../img/virtual/header.secondary.md.png'),
            url('../img/virtual/header.img.md.png'),
            url('../img/virtual/header.backgroundTexture.png');
        background-size: contain,contain,contain,cover;
        background-position: left center, right center,27% center, center center;
        background-size: contain,contain,contain,cover;
        background-repeat: no-repeat;
    }

}
@media #{$xlarge-up} {
    .brand-header {
        height: 240px;
        width: 100%;
        background-image: url('../img/virtual/header.mainLogo.lg.png'),
            url('../img/virtual/header.secondary.lg.png'),
            url('../img/virtual/header.img.lg.png'),
            url('../img/virtual/header.backgroundTexture.png');
        background-position: left center, right center,14% center, center center;
        
    }
}