.brand-header {
	height: 160px;
	width: 100%;
	background-color: aliceblue;
	background: url("../img/temp/header.backgroundTexture.sm.png") no-repeat center top;
}

.video-header {
	height: 100px;
	width: 100%;
}
@media #{$medium-up} {
	.brand-header {
		height: 160px;
		width: 100%;
		background-color: aliceblue;
		background: url("../img/temp/header.mainLogo.md.png") no-repeat 4% top,
			url("../img/temp/header.date.md.png") no-repeat 98% top, url("../img/temp/header.heart.md.png") no-repeat 1% top,
			url("../img/temp/header.backgroundTexture.png") no-repeat center top;
	}
	.video-header {
		height: 140px;
	}
}
@media #{$xlarge-up} {
	.brand-header {
		height: 240px;
		width: 100%;
		background-color: aliceblue;
		background: url("../img/temp/header.mainLogo.lg.png") no-repeat 4% top,
			url("../img/temp/header.date.lg.png") no-repeat 98% top, url("../img/temp/header.heart.lg.png") no-repeat 1% top,
			url("../img/temp/header.backgroundTexture.png") no-repeat center top;
	}
	.video-header {
		height: 160px;
	}
}
.template-x_3up {
	grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}

.Education_video {
	background: url("../img/temp/videoGroup/education.video.png");
}

.Education_video-nolabel {
	background: url("../img/temp/videoGroup/education.noLabelVideo.png");
}

.education_header {
	background: url("../img/temp/videoGroup/education.label.png") right center no-repeat,
		url("../img/temp/videoGroup/education.headerGraphic.png") left top no-repeat;
	background-size: contain, cover;
}

.HotTopic_video {
	background: url("../img/temp/videoGroup/hotTopic.video.png");
}

.HotTopic_video-nolabel {
	background: url("../img/temp/videoGroup/hotTopic.noLabelVideo.png");
}

.hotTopic_header {
	background: url("../img/temp/videoGroup/hotTopic.label.png") right center no-repeat,
		url("../img/temp/videoGroup/hotTopic.headerGraphic.png") left top no-repeat;
	background-size: contain, cover;
}

.Global_video {
	background: url("../img/temp/videoGroup/global.video.png");
}

.Global_video-nolabel {
	background: url("../img/temp/videoGroup/global.noLabelVideo.png");
}

.global_header {
	background: url("../img/temp/videoGroup/global.label.png") right center no-repeat,
		url("../img/temp/videoGroup/global.headerGraphic.png") left top no-repeat;
	background-size: contain, cover;
}

.Anchor_video {
	background: url("../img/temp/videoGroup/anchor.video.png");
}

.Anchor_video-nolabel {
	background: url("../img/temp/videoGroup/anchor.noLabelVideo.png");
}

.anchor_header {
	background: url("../img/temp/videoGroup/anchor.label.png") right center no-repeat,
		url("../img/temp/videoGroup/anchor.headerGraphic.png") left top no-repeat;
	background-size: contain, cover;
}

.Fuster_video {
	background: url("../img/temp/videoGroup/fuster.video.png");
}

.Fuster_video-nolabel {
	background: url("../img/temp/videoGroup/fuster.noLabelVideo.png");
}

.fuster_header {
	background: url("../img/temp/videoGroup/fuster.label.png") right center no-repeat,
		url("../img/temp/videoGroup/fuster.headerGraphic.png") left top no-repeat;
	background-size: contain, cover;
}

.locked_graphic {
	filter: grayscale(1) opacity(0.5) brightness(1.1);
}

.Fuster_video {
	background: url("../img/temp/videoGroup/convocation.video.png");
}

.Convocation_video {
	background: url("../img/temp/videoGroup/convocation.video.png");
}
