h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font_display;
	font-weight: $font_regular;
}

h6 {
	font-weight: $font_bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: $line-height_2;
	margin: $margin_4 $margin_0 $margin_3;
}
p {
	line-height: $line-height_4;
	font-weight: $font_regular;
}
ul,
ol {
	line-height: $line-height_4;
}

body {
	font-family: $font_copy;
	font-size: $font_0;
}

p + p {
	margin-top: $margin_3;
}
h6 {
	font-size: $font_0;
}
h5 {
	font-size: $font_0;
}
h4 {
	font-size: $font_2;
}
h3 {
	font-size: $font_3;
}
h2 {
	font-size: $font_4;
}
h1 {
	font-size: $font_5;
	margin: $margin_4 $margin_0;
}
a {
	color: mix(map-get($theme-palette, accent), $black);
}
kbd,
code,
samp,
var {
	font-family: $font_mono;
}
