/*
Video Block Dual Channel
 
Description: These video blocks are used in combination with grid templates and dividers. 

 
Markup:
{{> "Recipes Virtual.Extras.Date Time Dividers"}}
<section class="gap_5 grid justify_around p_4 p_5 grid-col_1 grid-col_2:md">
    {{> "Recipes Virtual.Block Design.Live Video"}}
    {{> "Recipes Virtual.Block Design.Live Video"}}
</section>
{{> "Recipes Virtual.Extras.Date Time Dividers"}}
<section class="gap_5 grid justify_around p_4 p_5 grid-col_1">
    {{> "Recipes Virtual.Block Design.Live Video"}}
</section>


Weight: 0

Styleguide Recipes Virtual.Block Design.Channels
*/


/*
Video Block (Light) 
 
Description: These video blocks are used in combination with grid templates and dividers. 

 
Markup:
<article class="br-t_3 br_primary-2 br_radius br_solid c_black m-b_4 m-b_5:md m-t_5 m-x_0">
    <div class="br_1 br_black-2 br_radius br_solid flex flex_column font_ui relative  shadow_overlap-light p-x_4" style="height: 100%;">
    <header class="flex flex_row justify_center m-t_n4:lg p-x_4">
        <div class="aspect_16x9:md aspect_21x9 bg-blend_luminosity bg_primary bg_cover bg_no-repeat bg_primary br_2 br_radius br_solid br_white br_white-9 flex flex_shrink grid justify_center m-t_n5 max-w_15 max-w_20:md relative shadow_3 text_center texture_ondemand thumb">
                <i class="absolute c_white-9 fa-play fas flex_auto font_4 font_5:lg self_center text_center w_100"></i>
            </div>
    </header>
    <div class="block flex_auto font-size_up font_display lh_2 m-x_auto max-w_35 p-t_4 p-t_5:lg w_100"><strong class="font_accent">{{> "Data.Agenda.ID" }}</strong> {{> "Data.Session.Title" }}</div>
    <div class="flex flex_none flex_wrap gap_3 m_auto max-w_35 p-b_4 p-b_5:lg w_100">
            <a href="" class="btn btn-secondary flex_none a:bg_alert-n2  h:bg_alert-n4 [active]"><i class="fas fa-heart"></i></a>
            <a href="" class="btn btn-primary flex_auto">Watch</a>
            <a href="" class="br_radius btn btn-secondary btn-sm flex_auto font-size_down-1 w_100">Show Presentation Details</a>
    </div>
</div>
<div class="c_black flex flex_wrap font_n2 justify_start p_3 br-br_radius br-bl_radius bg_black-2 br_solid br_1 br-t_0 br_black-3">
    <div class="flex_shrink block  text_left p-r_4 m-r_4 ">
        <a href="#modal-extra" class="block h:undecorated uppercase" data-remote="https://disclosures.acc.org/Public/AnnualMeetingAppConsol?pid=14617" data-toggle="modal" data-target="#modal-disclosures"><i class="far fa-paperclip"></i> Attachments</a>
    </div>
    <div class="flex flex_grow justify_end text_right uppercase">
    {{> "Recipes Virtual.Extras.Credit Dots" }}
    </div>
</div>
</article>


MarkupWrapperClasses:
    gap_5 grid justify_around p_4 p_5 grid-col_1 grid-col_2:md


Weight: 0

FORMAT: this element uses data that has strict data formatting requirements. See the data tab for more information.
 
Styleguide Recipes Virtual.Block Design.Live Video
*/

/*
Live Video Horizontal
 
Description: 
 
Markup:
    <article class="c_black flex flex_column flex_row:md">
        <div class="block:lg flex_grow max-w_30:md p-x_5:lg p-x_4:md p-x_3 m-b_3 m-b_0:md w_100 w_50:md m_auto m_0:md">
            <div class="m_auto m_auto:md self_center text_center">
                <a class="aspect_3x2:lg  block aspect_21x9 aspect_16x9:md bg_top bg_cover bg_no-repeat bg_black generic_video br_1 br_radius br_solid br_black-3 flex_shrink relative shadow_3 text_center c_white-6 h:c_white ">
                    <div class="absolute b_0 flex h:opacity justify_center l_0 opacity_7 r_0 self_center t_0 text_center w_100">
                        <i class="absolute c_white-9 fa-play-circle text-shadow_black-1 fas flex_auto font_10:md font_5 opacity_9 self_center text_center w_100"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="flex_auto">
            <div class="c_primary-n4 flex_auto font_1 font_2:md font_display font_medium">
                <div class="lh_2 m-t_2 p_3 p-y_2">
                    <a href="#" class="">
                        <span class="block lh_1"><strong class="font_accent">{{> "Data.Agenda.ID" }}</strong> {{> "Data.Session.Title" }}</span>
                    </a>
                    <span class="block font-size_down lh_1">{{> "Data.Session.Subtitle" }}</span>          
                    <span class="font-size_down-2 c_secondary-n3  block">{{> "Data.Faculty.FullName" }} <span class="font_italic"> - {{> "Data.Faculty.Role" }}</span></span>
                </div>
            </div>
            <div class="br-t_1 br_dotted br_black-3 c_black flex flex_wrap flex_column gap-y_3 flex_row:md font_n2 justify_between m-t_2 p-t_2">
                <div class="flex_shrink block text_left p-r_4 m-r_4 ">
                    <a href="#modal-extra" class="block h:undecorated uppercase" data-remote="https://disclosures.acc.org/Public/AnnualMeetingAppConsol?pid=14617" data-toggle="modal" data-target="#modal-disclosures"><i class="far fa-paperclip"></i> Attachments</a>
                </div>
                <div class="flex_auto m-l_auto:md self_center">
                    {{> "Recipes Virtual.Extras.Credit Dots" }}
                </div>
            </div>
        </div>
    </article>

MarkupWrapperClasses:
max-w_70

 
Weight: 10
 
Styleguide Recipes Virtual.Block Design.Live Video.Horizontal
*/





