/*
Sponsor Tiles
 
Description: A tile version of sponsor information

Weight:0
 
Styleguide Sponsor.Tile
*/

/*
Sponsor Grid
 
Description: 
 
Markup:
{{> Sponsor.Tile.WebLink }}
{{> Sponsor.Tile.WebLink }}
{{> Sponsor.Tile.WebLink }}


MarkupWrapperClasses: grid grid-col_3:lg grid-col_2:md grid-col_1 gap_4 bg_black-1 p_4 p-b_5 texture_dust

Weight:0
 
Styleguide Sponsor.Tile.Grid
*/

/*

Sponsor WebLink

Sponsor Tile
 
Markup:
<div class="shadow_bevel-light p_4 bg_white br_radius br_solid br_black-2 br_1 flex flex_column gap-y_4">
    <header class="grid justify_center"><div class="self_center">{{> "Data.Sponsor.Logo"}}</div></header>
    <h2>
    {{> "Data.Sponsor.Name"}}
    </h2>
    <div class="readable-typography">
    {{> "Data.Sponsor.Description"}}
    {{> "Data.Sponsor.Address"}}
    </div>
    <footer class="br-t_1 br_dashed grid justify_center m-t_4 m-t_auto p-t_4 self_stretch">{{> "Data.Sponsor.MoreLink" modifier_class="btn btn-secondary c_white h:c_white-8 self_center"}}</footer>
</div>

Data:
Data.Sponsor.Name - Name
Data.Sponsor.Description - Description in HTML
Data.Sponsor.Address - Address


MarkupWrapperClasses: grid grid-col_3:lg grid-col_2:md grid-col_1 gap_4 bg_black-1 p_4 p-b_5 texture_dust
 
Weight:0
 
Styleguide Sponsor.Tile.WebLink
*/
