/*
Faculty List

When it is only important to show the credits listed and not the credit values this simple dot pattern is a good solution. 

block         - use block on the role type label to stack the faculty names.
inline-block  - use inline-block on the role type label to keep all the faculty in wrapping single line. 

Markup:
<ul class="ul_inline-semicolon font_regular font_copy">
  <li class="no-after font_medium c_primary-n1 block w_100 {{ modifier_class }}">Role Type 1:</li>
  <li>{{> "Data.Faculty.FullName" }} <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>
  <li class="no-after font_medium c_primary-n1 block w_100  {{ modifier_class }}">Role Type 2:</li>
  <li>Dianna Denesik III <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>
  <li>Miguel Romaguera <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>  
  <li>Jeanette Franecki <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>
</ul>

Data:
Data.Faculty.FullName - Full Name
Data.Faculty.FullName - Location

FORMAT: This element uses data that has strict data formatting requirements. See the data tab for more information.

Weight:0
 
Styleguide Sub.FacultyList

*/

/*
Aux Session Faculty List

When it is only important to show the credits listed and not the credit values this simple dot pattern is a good solution. 

block         - use block on the role type label to stack the faculty names.
inline-block  - use inline-block on the role type label to keep all the faculty in wrapping single line. 

Markup:
<h4 class="font-size_up c_black-6 font_medium capitalize"><i class="fas fa-users p-r_3"></i> Role Type 1</h4>
<div class="p-y_3 br-t_1  br_primary-2 br_solid font-size_down">
<ul class="ul_inline-semicolon font_regular font_copy">
  <li>Marty Little <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>
  <li>Eileen Marvin <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>  
  <li>Chelsea Dach DVM <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>
</ul>
</div>
<h4 class="font-size_up c_black-6 font_medium capitalize"><i class="fas fa-users p-r_3"></i> Role Type 2</h4>
<div class="p-y_3 br-t_1  br_primary-2 br_solid font-size_down">
<ul class="ul_inline-semicolon font_regular font_copy">
  <li>Wm Price<span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>
  <li>Mrs. Jeffrey Cartwright <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>  
  <li>CEmmett Spencer<span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>
</ul>
</div>


SubComponents:
Data.Faculty.FullName - Full Name
Data.Faculty.Location - Location


Weight:0
 
Styleguide Sub.FacultyList.AuxSession

*/

/*
Combined Faculty List

When a presentation is in a single state the combination of session roles and presentation roles are shown.

block         - use block on the role type label to stack the faculty names.
inline-block  - use inline-block on the role type label to keep all the faculty in wrapping single line. 

Markup:
<ul class="ul_inline-semicolon font_regular font_copy">
  <li class="no-after font_medium c_primary-n1 {{ modifier_class }}">Session Role Type 1:</li>
  <li>{{> "Data.Faculty.FullName" }} <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>
  <li class="no-after font_medium c_primary-n1  {{ modifier_class }}">Session Role Type 2:</li>
  <li>Dianna Denesik III <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>
  <li>Miguel Romaguera <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>  
  <li>Jeanette Franecki <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>
    <li class="no-after font_medium c_primary-n1 {{ modifier_class }}">Role Type 1:</li>
  <li>{{> "Data.Faculty.FullName" }} <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>
  <li class="no-after font_medium c_primary-n1  {{ modifier_class }}">Role Type 2:</li>
  <li>Dianna Denesik III <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>
  <li>Miguel Romaguera <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>  
  <li>Jeanette Franecki <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>
</ul>

SubComponents:
Data.Faculty.FullName - Full Name
Data.Faculty.FullName - Location


Weight:0
 
Styleguide Sub.FacultyList.SessionAndPresentation

*/


/*
Session Faculty List

When it is only important to show the credits listed and not the credit values this simple dot pattern is a good solution. 

block         - use block on the role type label to stack the faculty names.
inline-block  - use inline-block on the role type label to keep all the faculty in wrapping single line. 

Markup:
<ul class="ul_inline-semicolon font_regular font_copy">
  <li class="no-after font_medium c_primary-n1 {{ modifier_class }}">Session Role Type 1:</li>
  <li>{{> "Data.Faculty.FullName" }} <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>
  <li class="no-after font_medium c_primary-n1  {{ modifier_class }}">Session Role Type 2:</li>
  <li>Dianna Denesik III <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>
  <li>Miguel Romaguera <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>  
  <li>Jeanette Franecki <span class="opacity_9 font_light m-l_2">( {{> "Data.Faculty.Location" }})<span></li>
</ul>

SubComponents:
Data.Faculty.FullName - Full Name
Data.Faculty.FullName - Location


Weight:0
 
Styleguide Sub.FacultyList.Session

*/


/*
No Location Faculty List

When you list non-event areas like Posters, and Abstracts the list removes the location of the person. 

block         - use block on the role type label to stack the faculty names.
inline-block  - use inline-block on the role type label to keep all the faculty in wrapping single line. 

Markup:
<ul class="ul_inline-semicolon font_regular font_copy">
  <li class="no-after font_medium c_primary-n1 {{ modifier_class }}">Role Type 1:</li>
  <li>{{> "Data.Faculty.FullName" }}</li>
  <li class="no-after font_medium c_primary-n1  {{ modifier_class }}">Role Type 2:</li>
  <li>Dianna Denesik III</li>
  <li>Miguel Romaguera</li>  
  <li>Jeanette Franecki</li>
</ul>

SubComponents:
Data.Faculty.FullName - Full Name


Weight:0
 
Styleguide Sub.FacultyList.NoLocation

*/
