/*
Live Videos
 
Description: All videos and presentations presented to be in a live more impactful way.  

Weight:0
 
Styleguide Virtual Recipes.Live Video
*/

/*
Video Block (Light) 
 
Description: These video blocks are used in combination with grid templates and dividers. 
 
Markup:
<article>
    <div data-sf-ec-immutable="" class="relative">
        <div class="relative">
            <div class="thumb br_solid br_white-3 br_2 text_center bg_cover bg_no-repeat aspect_16x9 bg_shade-n4"></div>
            <div class="flex flex_column justify_center w_100  opacity_7 h:opacity  absolute t_0 b_0 r_0 l_0"><em class="fas font_10 fa-play-circle absolute text_center w_100"></em></div>
        </div>
        <h4 class="lh_1 font_1 m-t_2 capitalize"><a target="_blank" href="https://acc.mediasite.com/mediasite/Play/b0d6b0f045624569828072d2f2eefdc41d" class="expanded-click-area">101. Coronary Artery Disease - Challenges in 2020: Cardiovascular Update For the Clinician I -- A Symposium by Valentin Fuster, MD, PhD, MACC</a></h4>
    </div><a href="#modal-disclosures" class="h:underline font-size_down block c_secondary link uppercase" data-remote="https://disclosures.acc.org/Public/AnnualMeetingAppConsol?pid=14617" data-toggle="modal" data-target="#modal-disclosures">Disclosures</a>
</article>

 

MarkupWrapperClasses:
    p_4 grid template-x_25 gap-x_5 gap-y_4


Weight:-1
 
Styleguide Virtual Recipes.Live Video.Video
*/

