$sessionID :randomID("session");



/*
No Access with Registration Preview
 
Description: 
 
Markup:
<div class="page-main">
	<h1 class="font_display font_6 c_primary m-t_4">Sorry, but it appears this account doesn't have access to [PRODUCT NAME ShortCode]</h1>
	<div class="bg_black-1 br_1 br_black-1 br_radius br_solid flex flex_column flex_row:lg gap_5 inset-level_down p_4:lg shadow_emboss-light">
		<div class="flex_70:lg flex_50:md flex_auto reading-typography flex_column flex gap_4">	
			{{> 'Sub.System.AccessTroubleShooting'}}
		</div>
		<div class="flex_30:lg flex_50:md flex_auto">
			<h2 class="c_primary">Registration information on this account</h2>
			<div class="">
				<ul class="flex flex_column gap_4 ul_none">
					<li class="bg_white br_1 br_black-2 br_radius br_solid flex flex_column gap_4 inset-level_up p_2 p_3:md p_4:lg shadow_overlap-light">
						<article class="">
							<h3 class="c_primary-n2">Correct Registration <small class="block c_black-5 font_n2 font_xbold uppercase">[ PRODUCT NAME ]</small>
							</h3>
							<p>You do have a Registration for [ PRODUCT NAME ]. Some how you have gotten here by mistake. </p>
							<p><strong>Please click the "Refresh Access" button to get to the homepage.</strong></p>
						</article>
						<aside class="flex flex_column flex_none justify_around">
							<a href="" class="btn btn-primary">Refresh Access</a>
						</aside>
					</li>
					<li class="bg_white br_1 br_black-2 br_radius br_solid flex flex_column gap_4 inset-level_up p_2 p_3:md p_4:lg shadow_overlap-light">
						<article class="">
							<h3 class="c_primary-n2">Wrong type of Registration to give you access. <small class="block c_black-5 font_n2 font_xbold uppercase">[Product Code Title]</small>
							</h3>
							<p>[ Product Code Description ... ] Gain access to conference hall in Washington DC. Maiores necessitatibus quis. Numquam tenetur dolorem voluptatem. Eum cum ipsam atque tempore velit tempora cupiditate deleniti et.</p>
							<p>Voluptas sint fugiat molestiae error. Culpa odit quas consequuntur. Ut non qui.</p>
							<p><strong>You can purchase the upgrade to your Registration to include the virtual platform by clicking the button.</strong></p>
						</article>
						<aside class="flex flex_column flex_none justify_around">
							<a href="" class="btn btn-primary">Purchase Upgrade</a>
						</aside>
					</li>
					<li class="bg_white br_1 br_black-2 br_radius br_solid flex flex_column gap_4 inset-level_up p_2 p_3:md p_4:lg shadow_overlap-light">
						<article class="">
							<h3 class="c_primary-n2">Event Registrations Found</h3>
							<p>You <strong class="uppercase">do</strong> have Registrations on this account but it is <strong class="uppercase">not</strong> for [ PRODUCT NAME ]. Could you have possibly registered for [PRODUCT NAME] on another account?</p>
							<h4 class="c_primary-n3">Do you have a Secondary Account?</h4>
							<p>If you do have a secondary account you might try to logging out of this account and logging into that account and return to [PRODUCT NAME].</p>
						</article>
						<aside class="flex flex_column flex_none justify_around">
							<a href="" class="btn btn-primary">Log Out</a>
						</aside>
						<div>
							<h5>Event Registrations On this Account</h5>
							<ul class="ul_bullets">
							<li class="c_black-6 font_n2 font_xbold uppercase">[Product Code Title X]</li>
							<li class="c_black-6 font_n2 font_xbold uppercase">[Product Code Title Y]</li>
							<li class="c_black-6 font_n2 font_xbold uppercase">[Product Code Title Z]</li>
							</ul>
						</div>
					</li>
					<li class="bg_white br_1 br_black-2 br_radius br_solid flex flex_column gap_4 inset-level_up p_2 p_3:md p_4:lg shadow_overlap-light">
						<article class="">
							<h3 class="c_primary-n2" class="c_primary">You have <strong class="font_xbold">NO</strong> Registrations Associated with this Account</h3>
							<h4 class="c_primary-n3">Do you have a Secondary Account?</h4>
							<p>If you do have a secondary account you might try to logging out of this account and logging into that account and return to [PRODUCT NAME].</p>
						</article>
						<aside class="flex flex_column flex_none justify_around">
							<a href="" class="btn btn-primary">Log Out</a>
						</aside>
					</li>
				</ul>
			</div>	
		</div>
	</div>
</div>


NOTE: Only one of the "Event Registrations Found Cards" show at a time. The cards fail in the order of the above list. 


 
Weight:0
 
Styleguide Page.Access.NoAccess

*/
