/*
External Hubs
 
Description: External Sections of content that are helpful to cross promote with in a confernec. 
 
Markup:
<article class="aspect_21x9 bg-blend_luminosity bg_cover bg_no-repeat bg_primary-2 br_1 br_black-3 br_radius br_solid flex_shrink generic_video generic_video-nolabel h:bg_secondary-n2 relative shadow_3 text_center c_priamry"><em class="opacity_5 absolute t_1 r_2 fas font_4 fa-external-link-square-alt"></em><a data-sf-ec-immutable="" class="block font_7 font_6:md font_9:lg font_display font_xbold h:undecorated m_0 p_4 p_5:lg text_left uppercase" style="line-height: .85em" href="https://www.acc.org/latest-in-cardiology/features/accs-coronavirus-disease-2019-covid-19-hub?_ga=2.121293644.574512269.1591713176-49927898.1591404069#sort=%40fcommonsortdate90022%20descending" target="_blank"><span class="font_3 font_4:md m_0 m-l_0 m-b_n2 lh_0 block m-b_2">ACC’s</span>
 <span class=" block"><span class="nowrap">COVID-19</span> HUB</span>
 </a>
 </article>

 MarkupWrapperClasses:
 gap-x_4 gap-y_4 grid template-x_30
 
Weight:2000
 
Styleguide Virtual Recipes.External Hubs
*/