/*

Program

The central UI of an event is the program which displays all educational content from the conference.

default		 -   Grid

Markup:


MarkupWrapperClasses: 

Weight: 0

NOTE: nothing

EXPERIMENTAL: this design is new

DEPRECATED: this design is old

FORMAT: This uses a strick data format look at x


Styleguide Program

*/

/*

Session

 The basic session is Session with a title that has a playlist of presentations


Markup:
<article class="c_black font_0 m-b_4 br-t_3 br_solid br_primary-2 br_radius isolation_isolate shadow_overlap-light">
    <div class="br_1 br-b_0 br-tr_radius br-tl_radius br_solid br_black-3 flex flex_column font_ui m-t_n2 relative">
        <div class="br-b_1 br_solid br_primary-2">
            {{> "ProgramElement.CategoryFlags" }}          
            <div class="p_4 p-b_2 flex flex_column flex_row:lg gap-x_4 gap-x_5:lg">
                <h3 class="font_display m-b_3 lh_2 c_primary-n2 font-size_up-2 p-r_4:lg">
                    <span class="block font-size_up-1 font_display lh_1">
                        <strong class="font_bold p-r_3">{{> Data.Session.ID }}</strong>
                        {{> Data.Session.Title }}
                    </span>
                    <span class="c_accent font-size_down-1">{{> "Data.Agenda.LiveDate"}}  {{> "Data.Agenda.LiveTime" }}</span>
                </h3>
                <div class="flex_grow m-l_auto:lg">
                    {{> "ProgramElement.ActionButtons.NoDetails"  modifier_class="Watch"}}
                </div>
            </div>
            {{>  "ProgramElement.Presentation.List" }}
        </div>
    </div>
    <div class="c_black flex flex_wrap font_n2 justify_start p_3 br-br_radius br-bl_radius bg_black-2 br_solid br_1 br-t_0 br_black-3">
        <div class="flex_grow uppercase m-l_auto">
            {{> "ProgramElement.Credits.Dots" }}
        </div>
    </div>
</article>

MarkupWrapperClasses: 

Weight: 0

Styleguide Program.Session
*/

/*

Session Collapse

 The basic session is Session with a title that has a playlist of presentations


Markup:
<article class="c_black font_0 m-b_4 br-t_3 br_solid br_primary-2 br_radius isolation_isolate shadow_overlap-light">
    <div class="br_1 br-b_0 br-tr_radius br-tl_radius br_solid br_black-3 flex flex_column font_ui m-t_n2 relative">
        <div class="br-b_1 br_solid br_primary-2">
            {{> "ProgramElement.CategoryFlags" }}          
            <div class="p_4 p-b_2 flex flex_column flex_row:lg gap-x_4 gap-x_5:lg">
                <h3 class="font_display m-b_3 lh_2 c_primary-n2 font-size_up-2 p-r_4:lg">
                    <span class="block font-size_up-1 font_display lh_1">
                        <strong class="font_bold p-r_3">{{> Data.Session.ID }}</strong>
                        {{> Data.Session.Title }}
                    </span>
                    <span class="c_accent font-size_down-1">{{> "Data.Agenda.LiveDate"}}  {{> "Data.Agenda.LiveTime" }}</span>
                    <ul class="font-size_down-2 ul_none flex flex_row flex_wrap justify_start font-size_down-1 c_black-7  m-t_auto lh_0 items_end">
                            <li class="inline-block p-r_3 p_2"><span class="font-size_up c_primary-n2 block"><i class="fal fa-clock"></i> 30</span> minutes</li>
                            <li class="inline-block p-r_3 p_2"><span class="font-size_up c_primary-n2 z_2 block">4</span> presentations</li>
                        </ul>
                    </h3>
                <div class="flex_grow m-l_auto:lg">
                    {{> "ProgramElement.ActionButtons"  modifier_class="Watch"}}
                </div>
            </div>
            <div id="collapseExample" class="collapse">
            {{>  "ProgramElement.Presentation.List" }}
            </div>
        </div>
    </div>
    <div class="c_black flex flex_wrap font_n2 justify_start p_3 br-br_radius br-bl_radius bg_black-2 br_solid br_1 br-t_0 br_black-3">
        <div class="flex_grow uppercase m-l_auto">
            {{> "ProgramElement.Credits.Dots" }}
        </div>
    </div>
</article>

MarkupWrapperClasses: 

Weight: 0

Styleguide Program.Session.Collapsible
*/


/*

On Demand
 
After the completion of a video the Sessions are broken down to the individual presentations and stored in the On Demand Area for viewing. 

Markup:

Weight: 10000
 
Styleguide Program.OnDemand

*/

/*

On Demand Shell
 
The On Demand view is slightly different if the Session is only a shell. 

Markup::after


Weight: 10000
 
Styleguide Program.OnDemand.Shell

*/