/*
Certified Education Block
 
Description: This block is added to all sites that offer any level of certification. Most of it links to other area or products but the user must see it on pages. 
 
Markup:
<div class="br_round p_4 p-x_5:lg shadow_emboss-light texture_light m-b_5"><h2 class="font_medium c_primary">Certified Education Credit Claim
            </h2><div class="font_0 font_copy"><p>This section of Care of the Athletic Heart 2020 Virtual contains certified education content. If a session offers credit, it is indicated. Credit information and disclosures may be accessed by selecting the below button.
                </p><p><strong class="font_bold">Credit must be claimed by
						December 31, 2020, 5:00 PM ET. </strong>You may only complete the evaluation and credit claim once; therefore, please do not proceed until you have finished your participation in the certified content for which you wish to claim credit.
                </p></div><a  class="btn br_radius max-w_20 m_auto m-b_3 block shadow_overlap-light btn-primary" href="#" target="_blank">Evaluation &amp; Credit Claim</a>
 <a href="#" class="btn br_radius max-w_20 m_auto m-b_3 block shadow_overlap-light btn-primary" target="_blank">Credit Information &amp; Disclosures</a>
 </div>

 MarkupWrapperClasses:
 max-w_40
 
Weight:0
 
Styleguide PageLayout.Evergreen.Credits
*/