/*
Awards
 
Description: Awards are blocks design to display the awards for the conference.
 

Weight:100000
 
Styleguide Awards
*/


/*
Awardee
 
The base DOM and Data that represent an awardee.

default         -  row is the base element.  Apply font modifier to increase the font sizes used throughout the pattern.
.font_column    -  column version of the design.
 
Markup:
<div data-name="awardee" class="{{modifier_class}} flex gap_4 w_100 self_center items_center">
    <div data-name="awardee__image" class="br_round br_solid br_black-3 br_1 overflow_hidden shadow_bevel-light max-w_25">
        {{> "Data.Faculty.Photo"}}
    </div>
    <div data-name="awardee__content" class="m-y_3 p-x_3 max-w_35">
        <div data-name="awardee__name" class="font_display c_primary-n2 font-size_up lh_0 m-b_3">
            {{> "Data.Faculty.FullName" }}
        </div>
        <div data-name="awardee__title" class="font-size_down-1 lh_2 m-b_2">
            {{> "Data.Faculty.Title" }}
        </div>
        <div data-name="awardee__location" class="font-size_down-2 m-b_2 c_black-6">
            {{> "Data.Faculty.Location" }}
        </div>
    </div>
</div>


 
Weight:0
 
Styleguide Awards.Awardee
*/

/*
Awardee Standard
 
The base DOM and Data that represent an awardee.

default         -  row is the base element.  Apply font modifier to increase the font sizes used throughout the pattern.
.font_column    -  column version of the design.
 
Markup:
<div data-name="awardee" class="{{ modifier_class }} flex  flex_column gap_4 w_100 self_center items_center">
    <div data-name="awardee__image" class="br_solid br_black-3 br_1 overflow_hidden w_100 max-w_15">
        {{> "Data.Faculty.Photo"}}
    </div>
    <div data-name="awardee__content" class="m-y_3 p-x_3 max-w_35">
        <div data-name="awardee__name" class="font_display c_primary-n2 font-size_up lh_0 m-b_3">
            {{> "Data.Faculty.FullName" }}
        </div>
        <div data-name="awardee__title" class="font-size_down lh_2 m-b_2">
            {{> "Data.Faculty.Title" }}
        </div>
        <div data-name="awardee__location" class="font-size_down-1 m-b_2 c_black-6">
            {{> "Data.Faculty.Location" }}
        </div>
    </div>
</div>


 
Weight:0
 
Styleguide Awards.AwardeeStandard
*/


/*
Awardee Condensed
 
The base DOM and Data that represent an awardee.

default         -  row is the base element.  Apply font modifier to increase the font sizes used throughout the pattern.
.font_column    -  column version of the design.
 
Markup:
<div data-name="awardee" class="{{ modifier_class }} flex gap_3 w_100 self_center items_center">
    <div data-name="awardee__image" class="br_solid br_black-3 br_1 overflow_hidden w_100 max-w_10">
        {{> "Data.Faculty.Photo"}}
    </div>
    <div data-name="awardee__content" class="m-y_3 p-x_3 max-w_35">
        <div data-name="awardee__name" class="font_display c_primary-n2 font-size_up lh_0 m-b_3">
            {{> "Data.Faculty.FullName" }}
        </div>
        <div data-name="awardee__title" class="font-size_down lh_2 m-b_2">
            {{> "Data.Faculty.Title" }}
        </div>
        <div data-name="awardee__location" class="font-size_down-1 m-b_2 c_black-6">
            {{> "Data.Faculty.Location" }}
        </div>
    </div>
</div>


 
Weight:0
 
Styleguide Awards.AwardeeCondensed
*/

/*
Awardee Ultra Condensed
 
The base DOM and Data that represent an awardee. This is the smallest version of the awardee, and is only in a row version.

 
Markup:
<div data-name="awardee" class="{{ modifier_class }} flex gap_3 w_100 self_center items_center">
    <div data-name="awardee__image" class="br_solid br_black-3 br_1 overflow_hidden w_100 max-w_5">
        {{> "Data.Faculty.Photo"}}
    </div>
    <div data-name="awardee__content" class="m-y_3 p-x_3 max-w_35">
        <div data-name="awardee__name" class="font_display c_primary-n2 font-size_up lh_0 m-b_3">
            {{> "Data.Faculty.FullName" }}
        </div>
        <div data-name="awardee__title" class="font-size_down lh_2 m-b_2">
            {{> "Data.Faculty.Title" }}
        </div>
        <div data-name="awardee__location" class="font-size_down-1 m-b_2 c_black-6">
            {{> "Data.Faculty.Location" }}
        </div>
    </div>
</div>


 
Weight:0
 
Styleguide Awards.AwardeeUltraCondensed
*/



/*
Award Premiere Tier Stacked
 
Awards are blocks design to display the awards for the conference.
 
Markup:
<div data-name="award__container" class="{{ modifier_class }} max-w_30 flex gap_4 gap_5:lg bg_black-1 p_4 br_radius br_black-3 br_solid br_1 flex_column shadow_overlap-light">
    {{> "Awards.Awardee" modifier_class="font_3:lg font_2:md font_1 flex_column bg_white-8 p_3 br_radius shadow_n1 p-t_4 br_solid br_black-1 br_1" }}
    <div data-name="award__detail" class="font_0">    
        <div data-name="awardee__title" class="font_medium font_display c_primary-n3 lh_1 m-b_2 m-t_3 font-size_up-1">
            {{> "Data.Award.Title" }}
        </div>
        <div data-name="awardee__description" class="reading-typography m_4 ">
            {{> "Data.Award.Description" }}
        </div>
    </div>
</div>


Weight:0
 
Styleguide Awards.PremiereColumn
*/

/*
Award Premiere Tier Row 
 
Awards are blocks design to display the awards for the conference.

 
Markup:
<div data-name="award__container" class="{{ modifier_class }} flex_row:md flex gap_4 gap_5:lg bg_black-1 p_4 br_radius br_black-3 br_solid br_1 flex_column shadow_overlap-light">
    {{> "Awards.Awardee" modifier_class="font_3:lg font_2:md font_1 flex_column bg_white-8 p_3 br_radius shadow_n1 p-t_4 br_solid br_black-1 br_1" }}
    <div data-name="award__detail" class="font_0">    
        <div data-name="awardee__title" class="font_medium font_display c_primary-n3 lh_1 m-b_2 m-t_3 font-size_up-1">
            {{> "Data.Award.Title" }}
        </div>
        <div data-name="awardee__description" class="reading-typography m_4 ">
            {{> "Data.Award.Description" }}
        </div>
    </div>
</div>


Weight:0
 
Styleguide Awards.PremiereRow
*/

/*
Award + Status
 
Awards are blocks design to display the awards for the conference.


Markup:
<h2 class="font_3:lg font_2 font_display font_bold c_primary-n3">{{> "Data.Award.Title" }} [Column]</h2>
<div data-name="award__container" class="flex gap_4 gap_5:lg bg_black-1 p_4 flex_column max-w_20 relative br_black-1 br_solid br_1">
    <div class="absolute bg_acc br-bl_radius br-br_radius br_1 br_solid br_square br_white-4 c_white font_xbold p-t_3 p-x_4 p_3 r_4 r_5:lg shadow_overlap-light uppercase t_n1 text_center">1<sup>st</sup> place</div> 
    {{> "Awards.AwardeeStandard" modifier_class="flex_column font_1:lg font_0 m-t_5" }}
</div>
<h2 class="font_3:lg font_2 font_display font_bold c_primary-n3">{{> "Data.Award.Title" }} [Row]</h2>
<div data-name="award__container" class="flex gap_4 gap_5:lg bg_black-1 p_4 flex_column flex_row:md relative br_black-1 br_solid br_1 m-b_3">
    <div class="absolute bg_acc br-bl_radius br-br_radius br_1 br_solid br_square br_white-4 c_white font_xbold p-t_3 p-x_4 p_3 r_4 r_5:lg shadow_overlap-light uppercase t_n1 text_center">1<sup>st</sup> place</div> 
    {{> "Awards.AwardeeStandard" modifier_class="flex_row:lg font_1:lg font_0 items_start m-t_5 m-t_0:lg" }}
</div>
<div data-name="award__container" class="flex gap_4 gap_5:lg bg_black-1 p_4 flex_column flex_row:md relative br_black-1 br_solid br_1 m-b_3">
    <div class="absolute bg_acc br-bl_radius br-br_radius br_1 br_solid br_square br_white-4 c_white font_xbold p-t_3 p-x_4 p_3 r_4 r_5:lg shadow_overlap-light uppercase t_n1 text_center">2<sup>nd</sup> place</div> 
    {{> "Awards.AwardeeStandard" modifier_class="flex_row:lg font_1:lg font_0 items_start m-t_5 m-t_0:lg" }}
</div>


Weight:0
 
Styleguide Awards.Status
*/

/*
Award Condensed
 
Awards are blocks design to display the awards for the conference.


Markup:
<h2 class="font_2:lg font_1 font_display font_bold c_primary-n3">{{> "Data.Award.Title" }} [Column]</h2>
<div data-name="award__container" class="flex bg_black-1 p_4 flex_column max-w_15 relative">
    {{> "Awards.AwardeeCondensed" modifier_class="flex_column font_0" }}
</div>
<h2 class="font_2:lg font_1 font_display font_bold c_primary-n3">{{> "Data.Award.Title" }} [Row]</h2>
<div data-name="award__container" class="flex bg_black-1 p_4 flex_column flex_row:md relative m-b_2">
    {{> "Awards.AwardeeCondensed" modifier_class="flex_row:lg font_0 items_start" }}
</div>
<div data-name="award__container" class="flex bg_black-1 p_4 flex_column flex_row:md relative m-b_2">
    {{> "Awards.AwardeeCondensed" modifier_class="flex_row:lg font_0 items_start" }}
</div>


Weight: 100
 
Styleguide Awards.Condensed
*/

/*
Award Ultra Condensed
 
Awards are blocks design to display the awards for the conference.


Markup:
<h3 class="font_1:lg font_0 font_display font_bold c_primary-n3">{{> "Data.Award.Title" }}</h3>
<ul class="ul_none">
<li data-name="award__container" class="p-y_3 br-b_1 br_dotted br_primary-3">
    {{> "Awards.AwardeeUltraCondensed" modifier_class="flex_row:lg font_0 items_start" }}
</li>
<li data-name="award__container" class="p-y_3">
    {{> "Awards.AwardeeUltraCondensed" modifier_class="flex_row:lg font_0 items_start" }}
</li>
</ul>


Weight: 100
 
Styleguide Awards.UltraCondensed
*/