/*
Sponsor
 
Description: 
 
Markup:
<div class="shadow_bevel-light p_4 bg_white br_radius br_solid br_black-2 br_1">
    <header class="grid justify_center"><div class="self_center">{{> "Data.Sponsor.Logo"}}</div></header>
    <h2>
    {{> "Data.Sponsor.Name"}}
    </h2>
    <div class="readable-typography">
    {{> "Data.Sponsor.Description"}}
    {{> "Data.Sponsor.Address"}}
    </div>
    <footer class="grid justify_center m-t_3">{{> "Data.Sponsor.WebLink" modifier_class="btn btn-secondary c_white h:c_white-8 self_center"}}</footer>
</div>

MarkupWrapperClasses: grid grid-col_3 gap_4 bg_black-1 p_4 p-b_5 texture_dust

Weight:0
 
Styleguide Recipes Virtual.Sponsor
*/