/*
Locking Graphics
 
Showing assets before they are intractable is needed  
 
Markup:
<div class="locked_graphic">{{> "Recipes Virtual.Block Design.Live Video"}}</div>

MarkupWrapperClasses:
max-w_30

Weight: 1000
 
Styleguide Recipes Virtual.Block Design.Live Video.Locked Graphic
*/

