/*
On Demand
 
Description: All videos and presentations after a publication is in the On Demand Area. 

Weight:0
 
Styleguide Virtual Recipes.OnDemand
*/

/*
Video Block (Light) 
 
Description: These video blocks are used in combination with grid templates and dividers. 
 
Markup:
<article class="c_black">
    <div class="flex font_ui h:bg_accent-4 p_2 p-x_3 br_radius relative">
        <div class="flex_grow flex justify_center">
        <div class="br_solid bg_primary br_white-3 br_2 text_center self_center p-x_3 p-y_2 br_radius">
            <div class="flex_grow self_center w_100">
                <i class="fas font_4 fa-play-circle c_white text_center w_100"></i>
            </div>
        </div>
        </div>
        <div class="flex_auto font_1 font_display font_regular p-l_4 c_primary">
            <div class="lh_1 m-t_2 capitalize relative"> <a href="https://acc.mediasite.com/mediasite/Play/b0d6b0f045624569828072d2f2eefdc41d" class="expanded-click-area h:undecorated">101. Coronary Artery Disease - Challenges in 2020: Cardiovascular Update For the Clinician I -- A Symposium by Valentin Fuster, MD, PhD, MACC</a></div>
        </div>
    </div>
    <div class="flex font_n2 justify_between m-t_2 br-t_1 br_dotted br_black-2 p-t_2">
        <div class="flex_shrink block c_secondary text_left p-r_4 m-r_4 ">
            <a href="#modal-disclosures" class="h:underline font-size_down block c_secondary link uppercase" data-remote="https://disclosures.acc.org/Public/AnnualMeetingAppConsol?pid=14617" data-toggle="modal" data-target="#modal-disclosures">Slides</a>
        </div>
        <div class="flex_shrink block c_secondary text_left">
            <a href="#modal-disclosures" class="h:underline font-size_down block c_secondary link uppercase" data-remote="https://disclosures.acc.org/Public/AnnualMeetingAppConsol?pid=14617" data-toggle="modal" data-target="#modal-disclosures">Disclosures</a>
        </div>
        <div class="flex_grow uppercase text_right">
            <ul class="ul_none">
                <li class="inline-block lh_0 p-l_3">
                    <span class="bg_CME br_1 br_black-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> cme
                </li>
                <li class="inline-block lh_0 p-l_3">
                    <span class="bg_CNE br_1 br_black-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> cne
                </li>
                <li class="inline-block lh_0 p-l_3">
                    <span class="bg_COP br_1 br_black-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> cop
                </li>
            </ul>
        </div>
    </div>
</article>
 

MarkupWrapperClasses:
    p_4 grid template-x_25 gap-x_5 gap-y_4


Weight:0
 
Styleguide Virtual Recipes.OnDemand.Video
*/

/*
Video Block (Dark) 
 
Description: These video blocks are used in combination with grid templates and dividers. 
 
Markup:
<article class="c_white">
    <div class="flex font_ui h:bg_black-3 p_2 p-x_3 br_radius relative">
        <div class="flex_grow flex justify_center">
            <div class="br_solid bg_primary br_white-3 br_2 text_center self_center p-x_3 p-y_2 br_radius">
                <div class="flex_grow self_center w_100">
                    <i class="fas font_4 fa-play-circle text_center w_100"></i>
                </div>
            </div>
        </div>
        <div class="flex_auto font_1 font_display font_regular p-l_4 c_white">
            <div class="lh_1 m-t_2 capitalize relative">
                <a href="https://acc.mediasite.com/mediasite/Play/b0d6b0f045624569828072d2f2eefdc41d" class="expanded-click-area h:undecorated">101. Coronary Artery Disease - Challenges in 2020: Cardiovascular Update For the Clinician I -- A Symposium by Valentin Fuster, MD, PhD, MACC</a>
            </div>
        </div>
    </div>
    <div class="flex font_n2 justify_between m-t_2 br-t_1 br_dotted br_white-2 p-t_2 c_white">
        <div class="flex_shrink block text_left p-r_4 m-r_4 ">
            <a href="#modal-disclosures" class="h:underline font-size_down block uppercase" data-remote="https://disclosures.acc.org/Public/AnnualMeetingAppConsol?pid=14617" data-toggle="modal" data-target="#modal-disclosures">Slides</a>
        </div>
        <div class="flex_shrink block c_white text_left">
            <a href="#modal-disclosures" class="h:underline font-size_down block uppercase" data-remote="https://disclosures.acc.org/Public/AnnualMeetingAppConsol?pid=14617" data-toggle="modal" data-target="#modal-disclosures">Disclosures</a>
        </div>
        <div class="flex_grow uppercase text_right">
            <ul class="ul_none">
                <li class="inline-block lh_0 p-l_3">
                    <span class="bg_CME br_1 br_white-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> cme
                </li>
                <li class="inline-block lh_0 p-l_3">
                    <span class="bg_CNE br_1 br_white-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> cne
                </li>
                <li class="inline-block lh_0 p-l_3">
                    <span class="bg_COP br_1 br_white-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> cop
                </li>
            </ul>
        </div>
    </div>
</article>
 

MarkupWrapperClasses:
    p_4 bg_shade-n4 grid template-x_25 gap-x_5 gap-y_4


Weight:0
 
Styleguide Virtual Recipes.OnDemand.VideoDark
*/
