$sessionID :randomID("session");

/*
Channel Player
 
Description: 
 
Markup:
<div class="flex_column flex" id="#{$sessionID}">
    <header class="flex flex_row font_0 font_1:md font_3:lg p-y_3">
        <h3 class="c_primary-n2 flex_auto font-size_up-1 font_display lh_1 lh_2 m-b_3 m_0 p-l_3:lg w_100">
                <span class="block">
                    <strong class="font_bold p-r_3">{{> "Data.Session.ID"}}</strong> {{> "Data.Session.Title"}} </span>
                <span class="c_accent font-size_down-2 lh_0 inline-block">
                {{> "Data.Agenda.LiveDate"}}  {{> "Data.Agenda.LiveTime" }}
                </span>
            </h3>
            <div class="self_start flex gap_2">
            {{> "Sub.ActionButtons.Favorite"}}
            {{> "Sub.Attachments.BigButton"}}
            </div>
    </header>
    <section class="page-main fullscreen-player flex flex_row:md flex_column gap-x_4 gap-y_3">
        <div class="flex_auto w_100">
            <div class="player hd full">
                <div class="bg_acc aspect_4x3 c_white text_center  justify_center flex items_center">VIDEO</div>
            </div>
            <section class="p-t_3 display_none block:md">
                <div  class="br-b_2 br_0 br_solid br_primary-2">   
                {{> "Sub.Presentation.List"}}
                </div>
                <div class="font_bold font_n4 h_3lh m-b_4 relative uppercase">
                    <a class="absolute bg_primary br-bl_radius br-br_radius c_white p-x_3 p_2 r_3 t_n1"  href="#{'#'+$sessionID}">top</a>
                </div>
            </section>
        </div>
        <div class="flex_auto max-w_25:lg max-w_20:md w_100 flex flex_column gap-y_3 justify_start">
            {{> "Sub.Player.Chat" modifier_class="flex_0"}}
            {{> "Sub.Player.CIO"  modifier_class="flex_0"}}
            <section class="p-t_3 display_none:md block">
                <div  class="br-b_2 br_0 br_solid br_primary-2">   
                {{> "Sub.Presentation.List"}}
                </div>
                <div class="font_bold font_n4 h_3lh m-b_4 relative uppercase">
                    <a class="absolute bg_primary br-bl_radius br-br_radius c_white p-x_3 p_2 r_3 t_n1" href="#{'#'+$sessionID}">top</a>
                </div>
            </section>
            {{> "Sub.Player.AuxData" modifier_class="p_4 bg_black-1 br_radius self_start shadow_emboss-light font_n1"}}
        </div>
    </section>
</div>

SubComponents:
Sub.Attachments.BigButton - Attachments
Sub.FacultyList - Faculty List
Sub.Player.AuxData - Aux Data
Sub.ActionButtons.Favorite - Favorite Button
Sub.Player.CIO - CIO
Sub.Player.Chat - Chat

Data:
Data.Session.Title - Title
Data.Session.ID - Session ID
Sub.Presentation.List - Presentation List

 
Weight:0
 
Styleguide Pages.Player.Channel
*/

/*
Channel Player External Content
 
Description: 
 
Markup:
<div class="flex_column flex" id="#{$sessionID}">
    <header class="flex flex_row font_0 font_1:md font_3:lg p-y_3">
        <h3 class="c_primary-n2 flex_auto font-size_up-1 font_display lh_1 lh_2 m-b_3 m_0 p-l_3:lg w_100">
                <span class="block">
                    <strong class="font_bold p-r_3">{{> "Data.Session.ID"}}</strong> {{> "Data.Session.Title"}} </span>
                <span class="c_accent font-size_down-2 lh_0 inline-block">
                {{> "Data.Agenda.LiveDate"}}  {{> "Data.Agenda.LiveTime" }}
                </span>
            </h3>
            <div class="self_start flex gap_2">
            {{> "Sub.ActionButtons.Favorite"}}
            {{> "Sub.Attachments.BigButton"}}
            </div>
    </header>
    <section class="page-main fullscreen-player flex flex_row:md flex_column gap-x_4 gap-y_3">
        <div class="flex_auto w_100">
            <div class="bg_primary br_round c_white font-size_up m-b_5 m-r_3 p_5 shadow_overlap-light">
            <h1 class="m-t_4">Session is being held In WebEx</h1>
            <p>The schedule session allows users to engage directly with each other so it will be held in WebEx.</p>
            <p>Please click the link below and follow any instructions to join the session.</p>
            <a title="back to program" class="bg_white block btn btn-hollow btn-outline-secondary font_xbold m-t_5 m_auto max-w_30 shadow_0" href="../program/" target="_blank">
            <span class="display_none inline-block:md"> Join</span>
            <i class="fas fa-external-link-alt p-l_3"></i>
            </a>
            </div>
            <section class="p-t_3 display_none block:md">
                <div  class="br-b_2 br_0 br_solid br_primary-2">   
                {{> "Sub.Presentation.List"}}
                </div>
                <div class="font_bold font_n4 h_3lh m-b_4 relative uppercase">
                    <a class="absolute bg_primary br-bl_radius br-br_radius c_white p-x_3 p_2 r_3 t_n1"  href="#{'#'+$sessionID}">top</a>
                </div>
            </section>
        </div>
        <div class="flex_auto max-w_25:lg max-w_20:md w_100 flex flex_column gap-y_3 justify_start">
            {{> "Sub.Player.Chat" modifier_class="flex_0"}}
            <section class="p-t_3 display_none:md block">
                <div  class="br-b_2 br_0 br_solid br_primary-2">   
                {{> "Sub.Presentation.List"}}
                </div>
                <div class="font_bold font_n4 h_3lh m-b_4 relative uppercase">
                    <a class="absolute bg_primary br-bl_radius br-br_radius c_white p-x_3 p_2 r_3 t_n1" href="#{'#'+$sessionID}">top</a>
                </div>
            </section>
            {{> "Sub.Player.AuxData" modifier_class="p_4 bg_black-1 br_radius self_start shadow_emboss-light font_n1"}}
        </div>
    </section>
</div>

SubComponents:
Sub.Attachments.BigButton - Attachments
Sub.FacultyList - Faculty List
Sub.Player.AuxData - Aux Data
Sub.ActionButtons.Favorite - Favorite Button
Sub.Player.CIO - CIO
Sub.Player.Chat - Chat

Data:
Data.Session.Title - Title
Data.Session.ID - Session ID
Sub.Presentation.List - Presentation List

 
Weight:0
 
Styleguide Pages.Player.Channel.External
*/

/*

Channel Player No Schedule

description
 
Markup:
<div class="flex_column flex" id="#{$sessionID}">
    <header class="flex flex_column-reverse font_0 font_1:md font_3:lg p-y_3">
        <h3 class="c_primary-n2 flex_auto font-size_up-1 font_display lh_1 lh_2 m-b_3 m_0 p-l_3:lg w_100">
                <span class="block">
                    <strong class="font_bold p-r_3">CHANNEL:</strong> 
                    Hot Topics</span>
            </h3>
    </header>
    <section class="bg_black-2 br_round flex flex_column flex_row:md gap-x_4 gap-y_3 shadow_overlap-light">
        <div class="flex_auto font-size_up-2 p-t_4 p_5 w_100">
            <h1 class="m-t_4">No Current Schedule</h1>
            <p>The schedule for this channel doesn't have any sessions at this time. Please check back later.</p>
            <a title="back to program" class="bg_primary nowrap text_center br_radius c_white font-size_down-1 h:bg_primary-n3 h:c_primary-n3 h:c_white h:undecorated p-x_4 p_3" href="../program/" target="_blank">
              <i class="far fa-arrow-left"></i>
              <span class="display_none inline-block:md"> Back to Program</span>
            </a>
        </div>
        <div class="bg_black-2 br_round flex flex_auto flex_column gap-y_3 justify_start m_4 max-w_20:md max-w_25:lg p_5 shadow_emboss-light w_100">
        <h2 class="font_bold font_display c_primary-n1 m-b_4"><div class="flex_row:md flex flex_column">
            <h2 class="font_bold font_display c_primary-n1 m-b_4">{{> "Sub.SectionHeader" modifier_class="Coming Soon" }}</h2>
        </h2>
        {{> Program.GridFormat.WhatsNext modifier_class="#{ call(get-function('randomWords'), random(10)) }" }}
        </div>
    </section>
</div>
        

MarkupWrapperClasses: 
 
Weight:0
 
Styleguide Pages.Player.Channel.NoData
*/

/*
Channel Player:Non Accredited
 
Description: 
 
Markup:
<div class="flex_column flex" id="#{$sessionID}">
    <div class="bg_secondary-n3 c_white font_bold font_ui p_3 p-x_4 m-b_4 shadow_overlap-light br_radius" > {{> "Sub.Credits.NonAccredited" }}: disclosure or message about how  so we can be extra clear about this</div>
    <header class="flex flex_row font_0 font_1:md font_3:lg p-y_3">
        <h3 class="c_primary-n2 flex_auto font-size_up-1 font_display lh_1 lh_2 m-b_3 m_0 p-l_3:lg w_100">
                <span class="block">
                    <strong class="font_bold p-r_3">{{> "Data.Session.ID"}}</strong> {{> "Data.Session.Title"}} </span>
                <span class="c_accent font-size_down-2 lh_0 inline-block">
                {{> "Data.Agenda.LiveDate"}}  {{> "Data.Agenda.LiveTime" }}
                </span>
            </h3>
            <div class="self_start flex gap_2">
            {{> "Sub.ActionButtons.Favorite"}}
            {{> "Sub.Attachments.BigButton"}}
            </div>
    </header>
    <section class="page-main fullscreen-player flex flex_row:md flex_column gap-x_4 gap-y_3">
        <div class="flex_auto w_100">
            <div class="player hd full">
                <div class="bg_acc aspect_4x3 c_white text_center  justify_center flex items_center">VIDEO</div>
            </div>
            <section class="p-t_3 display_none block:md">
                <div  class="br-b_2 br_0 br_solid br_primary-2">   
                {{> "Sub.Presentation.List"}}
                </div>
                <div class="font_bold font_n4 h_3lh m-b_4 relative uppercase">
                    <a class="absolute bg_primary br-bl_radius br-br_radius c_white p-x_3 p_2 r_3 t_n1"  href="#{'#'+$sessionID}">top</a>
                </div>
            </section>
        </div>
        <div class="flex_auto max-w_25:lg max-w_20:md w_100 flex flex_column gap-y_3 justify_start">
            {{> "Sub.Player.Chat" modifier_class="flex_0"}}
            {{> "Sub.Player.CIO"  modifier_class="flex_0"}}
            <section class="p-t_3 display_none:md block">
                <div  class="br-b_2 br_0 br_solid br_primary-2">   
                {{> "Sub.Presentation.List"}}
                </div>
                <div class="font_bold font_n4 h_3lh m-b_4 relative uppercase">
                    <a class="absolute bg_primary br-bl_radius br-br_radius c_white p-x_3 p_2 r_3 t_n1" href="#{'#'+$sessionID}">top</a>
                </div>
            </section>
            {{> "Sub.Player.AuxData.NotAccredited" modifier_class="p_4 bg_black-1 br_radius self_start shadow_emboss-light font_n1"}}
        </div>
    </section>
</div>

SubComponents:
Sub.Attachments.BigButton - Attachments
Sub.FacultyList - Faculty List
Sub.Player.AuxData.NotAccredited - Aux Data
Sub.ActionButtons.Favorite - Favorite Button
Sub.Player.CIO - CIO
Sub.Player.Chat - Chat

Data:
Data.Session.Title - Title
Data.Session.ID - Session ID
Sub.Presentation.List - Presentation List

 
Weight:0
 
Styleguide Pages.Player.NonAccredited
*/




/*
Abstracts & Posters
 
Description: 
 
Markup:
<div class="flex_column flex">
    <header class="flex flex_row font_0 font_1:md font_3:lg p-y_3">
        <h3 class="c_primary-n2 flex_auto font-size_up-1 font_display lh_1 lh_2 m-b_3 m_0 p-l_3:lg w_100">
                <span class="block">
                    {{> "Data.Abstract.Title"}}
                </span>
                {{> "Sub.Award.FlagLegend" modifier_class="font_0"}}
            </h3>
            <div class="self_start">
            {{> "Sub.Attachments.BigButton"}}
            </div>
    </header>
    <section class="page-main fullscreen-player flex flex_row:md flex_column gap-x_4 gap-y_3">
        <div class="flex_auto w_100">
            <div class="player hd full">
                <div class="bg_acc aspect_4x3 c_white text_center  justify_center flex items_center">PDF EMBED</div>
            </div>
            <div class="flex_auto w_100 font_n1 p-x_3 m-t_3">
            {{> "Sub.FacultyList" modifier_class="block w_100"}}
            </div>
        </div>
       <div class="flex_auto max-w_25:lg max-w_20:md w_100 flex flex_column gap-y_3 justify_start">
            <div class="bg_primary-4 aspect_16x9 br_radius c_white text_center  justify_center flex items_center">Video EMBED</div>
            <div class="bg_secondary-3 aspect_4x1 br_radius c_white text_center  justify_center flex items_center">Audio EMBED</div>
            {{> "Sub.Player.AuxData.Abstracts" modifier_class="p_4 bg_black-1 br_radius self_start shadow_emboss-light font_n1"}}
        </div>
    </section>
</div>
 
SubComponents:
Sub.Award.FlagLegend - Award Flags
Sub.Attachments.BigButton - Attachments
Sub.FacultyList - Faculty List
Sub.Player.AuxData.Abstracts - Aux Data

Data:
Data.Abstract.Title - Title

Weight:1000
 
Styleguide Pages.Player.Abstract
*/


/*
On Demand
 
Description: 
 
Markup:
<div class="flex_column flex">
    <header class="flex flex_row font_0 font_1:md font_3:lg p-y_3">
        <h3 class="c_primary-n2 flex_auto font-size_up-1 font_display lh_1 lh_2 m-b_3 m_0 p-l_3:lg w_100">
        <span class="block font-size_down-2 c_black-6">
        <strong class="font_bold p-r_3">{{> "Data.Session.ID"}}</strong> {{> "Data.Session.Title"}}
        </span>        
        <span class="block">
                    {{> "Data.Presentation.Title"}}
                </span>
            </h3>
            <div class="self_start">
            {{> "Sub.Attachments.BigButton"}}
            </div>
    </header>
    <section class="page-main fullscreen-player flex flex_row:md flex_column gap-x_4 gap-y_3 ">
        <div class="player hd full flex_auto w_100">
            <div class="bg_acc aspect_16x9 c_white text_center  justify_center flex items_center">VIDEO EMBED</div>
        </div>
    </section>
    <section class="flex flex_row:md flex_column gap-x_4 gap-y_3 m-t_4">
        <div class="flex_auto w_100 font_n1 p-x_3">
            {{> "Sub.FacultyList" modifier_class="block w_100"}}
        </div>
        <div class="flex_auto max-w_25:lg max-w_20:md w_100 flex flex_column gap-y_3 justify_start">
            {{> "Sub.Player.AuxData" modifier_class="p_4 bg_black-1 br_radius self_start shadow_emboss-light font_n1"}}
        </div>
    </section>
</div>
 
SubComponents:
Sub.Award.FlagLegend - Award Flags
Sub.Attachments.BigButton - Attachments
Sub.FacultyList - Faculty List
Sub.Player.AuxData - Aux Data

Data:
Data.Session.ID - Session ID
Data.Session.Title - Session Title
Data.Presentation.Title - Presentation Title

Weight:1000
 
Styleguide Pages.Player.OnDemand
*/