/*
Image and content
 
Description: 
 
Markup:
<div class="flex flex_row:lg flex_column">
    <div class="flex_none:lg self_center self_start:lg"><img src="https://picsum.photos/260/240" alt="" class="w_100 max-w_25:lg"></div>
    <div class="flex_auto p-x_5:lg p-y_4 p-y_0:lg ">
    <main class="reading-typography">
            <h3 class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius vitae ex minus voluptas, debitis consequuntur, voluptatem, ad nostrum quod eum pariatur natus? Aspernatur repellendus a sapiente iure quibusdam molestias nulla?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius vitae ex minus voluptas, debitis consequuntur, voluptatem, ad nostrum quod eum pariatur natus? Aspernatur repellendus a sapiente iure quibusdam molestias nulla?</p>
            <p>Dolorem quo eos quibusdam illo eveniet. Eius repellendus totam nam atque aut dicta molestias et. Molestiae nobis rerum possimus voluptatem non. Natus soluta aliquam occaecati libero blanditiis sed sed non. Aut asperiores enim ut mollitia. Ea aliquam exercitationem consectetur temporibus laudantium harum voluptatem.Blanditiis sapiente accusantium in dolorem adipisci. Quibusdam nihil voluptates tempora. Itaque nihil iste nulla assumenda velit nam et corporis dolorem. Illo ea officia quibusdam harum. At quisquam ullam nam. Fugiat et debitis.</p>
        </main>
        <footer>
            <a href="https://www.acc.org/-/media/Non-Clinical/Files-PDFs-Excel-MS-Word-etc/Meetings/2021/Agendas/NYCVS-2021-Agenda.pdf?la=en&amp;hash=07D2FBA41852DA1B120569EAE9D96E8EEBB9F6B5&amp;_ga=2.39127523.1324976227.1642517088-301418094.1638216724" class="btn br_radius max-w_30 m_auto m-b_3 block shadow_overlap-light btn-primary c_white h:undecorated" target="_blank">Download Agenda</a>
        </footer>
    </div>
</div>
 
Weight:0
 
Styleguide PageContent.ImageContentSimple
*/


/*
Call-to-Action Card
 
Description: Some content areas are chunked out to drive usage through a call to action card.
 
Markup:
<div class="br_radius flex flex_column justify_between p-x_5:lg p_4 shadow_overlap-light br_black-3 br_solid br_1">
<h2 class="font_bold c_primary m-t_0 block">Member Section</h2>
<p class="lh_3">Connect with ACC’s Sports and Exercise Member Section, THE home for sports and exercise professionals within the ACC, advocating for and advancing the priorities of the community, and serving as a College-wide resource for issues related to sports and exercise professionals.  </p>   
<a class="block br_radius btn btn-block btn-lg btn-secondary btn_lg m-b_3 m_auto shadow_overlap-light w_100">Call to Action</a>
</div>    
 
Weight:100
 
Styleguide  PageContent.Call To Action
*/

/*
External Resource
 
External Sections of content that are helpful to cross promote other products from the conferences. 

primary    -  Change the color of the block to primary.
accent    -  Change the color of the block to accent.

 
Markup:
<article class="aspect_21x9 bg-blend_luminosity relative bg_cover bg_no-repeat bg_{{ modifier_class }}-2 br_1 br_black-3 br_radius br_solid flex_shrink generic_video generic_video-nolabel h:bg_secondary-n2 relative shadow_3 text_center c_{{ modifier_class }}-4">
    <em class="opacity_5 absolute t_1 r_2 fas font_4 fa-external-link-square-alt"></em>
    <a class="block font_7 font_6:md font_9:lg font_display font_xbold h:undecorated m_0 p_4 p_5:lg text_left uppercase c_inherit expanded-click-area" style="line-height: .85em" href="https://www.acc.org/latest-in-cardiology/features/accs-coronavirus-disease-2019-covid-19-hub?_ga=2.121293644.574512269.1591713176-49927898.1591404069#sort=%40fcommonsortdate90022%20descending" target="_blank"><span class="font_3 font_4:md m_0 m-l_0 m-b_n2 lh_0 block m-b_2">ACC’s</span>
    <span class=" block">COVID-19 HUB</span>
 </a>
 </article>

 MarkupWrapperClasses:
 gap-x_4 gap-y_4 grid template-x_30
 
 
Styleguide PageContent.External Resource
*/