$sessionID :randomID("session");



/*
No Access with Ticket Preview
 
Description: 
 
Markup:
<div class="page-main">
	<h1 class="font_display font_6 c_primary m-t_4">Sorry, but it appears you have not yet registered for ACC.22. </h1>
	<div class="flex flex_column flex_row:md gap_5">
		<div class="flex_50:lg flex_50:md flex_auto reading-typography">
			<p>To register, please click the register button below. Once you have registered, please return to the conference page. Please allow 15 minutes between registration and logging in to the virtual platform to allow the system to process your registration.</p>
			<p>If you believe you have received this message in error, please contact <i>&nbsp;<a href="mailto:ACC@maritz.com" target="_blank" rel="noreferrer noopener">ACC@maritz.com</a></i></p>
			<p><strong>For additional questions, please contact ACC Member Care.&nbsp;</strong>
				<br>Email:&nbsp;<a href="mailto:MemberCare@ACC.org"><em>MemberCare@ACC.org</em></a>
				<br>Phone: 202-375-6000 ext. 5603 &nbsp; <br>Toll-Free: 800-253-4636 ext. 5603&nbsp;
			</p>
		</div>
		<div class="flex_auto">
			<h3 class="c_primary">The Tickets We Have On This Account</h3>
			<div class="bg_black-03 bg_black-3 br_1 br_black-1 br_radius br_solid inset-level_down shadow_emboss-light">
				<ul class="p_3 ul_none">
					<li class="bg_white br_1 br_black-2 br_radius br_solid flex flex_column flex_row:md gap_4 inset-level_up p_2 p_3:md p_4:lg">
						<article class="reading-typography">
							<h2>ACC 22 Annual Meeting (In Person Only Ticket) <small class="block c_black-5 font-size_down-2 font_xbold uppercase">PRODUCT CODE: pme2343</small>
							</h2>
							<p>Gain access to conference hall in Washington DC. Maiores necessitatibus quis. Numquam tenetur dolorem voluptatem. Eum cum ipsam atque tempore velit tempora cupiditate deleniti et.</p>
							<p>Voluptas sint fugiat molestiae error. Culpa odit quas consequuntur. Ut non qui.</p>
							<p><strong>You can purchase the upgrade to your ticket to include the virtual platform by clicking the button.</strong></p>
						</article>
						<aside class="flex flex_column flex_none justify_around">
							<a href="" class="btn btn-primary">Purchase Upgrade</a>
						</aside>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="flex flex_column flex_row:md">
		<div class="reading-typography">
			<p><a href="https://auth.acc.org/ACCFederatedLogin/Login?SP=Experient" class="br_1 br_black-2 br_solid btn btn-primary c_white font_bold font_ui h:c_white shadow_overlap-light uppercase">Register Now</a></p>
		</div>
	</div>
</div>

 
Weight:0
 
Styleguide Page.Access.NoAccess

*/
