/*

Header Branding Area

Conferences can have a header branding area which gives the design team the ability to add a logo, graphics, and or text to the header or the site.


Weight: -999

Styleguide Recipes Virtual.Brand Area

*/

/*

Header Brand Area - Logged in

Description: This is the logged in header brand area.
 
Markup:
<div class="relative">
    {{> "Recipes Virtual.BrandArea.LoggedIn.Button"}}
    <picture class="w_100">
        <source class="w_100" srcset="https://via.placeholder.com/1440x200.png?text=Desktop+Large" media="(min-width: 1200px)">
        <source class="w_100" srcset="https://via.placeholder.com/1200x200.png?text=Desktop" media="(min-width: 1024px)">
        <source class="w_100" srcset="https://via.placeholder.com/768x200.png?text=Tablet" media="(min-width: 768px)">
        <source class="w_100" srcset="https://via.placeholder.com/600x250.png?text=Mobile" media="(min-width: 400px)"> <source class="w_100" srcset="https://via.placeholder.com/400x300.png?text=Mobile" media="(min-width: 400px)">
        <img src="https://via.placeholder.com/400x300.png?text=Mobile" class="w_100" alt="">
    </picture>
</div>

 
Weight: -999

Styleguide Recipes Virtual.BrandArea.LoggedIn

*/

/*
Logged Buttons
 
Description: The logged in buttons. 
 
Markup:
<div class="absolute b_4 r_4 l_4 b_auto:lg t_4:lg r_4:lg r_4:md l_auto:md b_4:md t_4:md justify_center flex flex_row flex_column:md flex_row:lg gap-x_4 gap-y_4">
    <div class="bg_secondary-2 br_1 br_black-3 br_radius br_solid:lg br_none c_white font_medium font_ui gap-x_3 inline-block inline-flex justify_end m-x_2 p_2:lg p_0 relative shadow_overlap-light">
        <span class="font_bold font_ui self_center vertical-align_middle display_none inline:md p-x_3">User Name</span>
        <a class="btn bg_accent-n1 h:bg_accent-n3 br_solid br_black-2 br_1 c_white  h:c_white uppercase shadow_overlap-light font_ui font_bold" href="#">Log Out <i class="fas fa-sign-out p-l_2"></i></a>
    </div>
</div> 
 
Weight:0
 
Styleguide Recipes Virtual.BrandArea.LoggedIn.Button
*/

/*

Unsafe Area

Description: Because the UI is floats on top of the images there are area that are unsafe to contain text. 
 
Markup:
<div class="relative m-t_4 overflow-hidden" style="width:1400px">
{{> "Recipes Virtual.BrandArea.LoggedIn.Button"}}
<div class="absolute b_0 bg_alert font_5 font_xbold grid justify_center opacity_5 r_0 self_center t_0 text_center" style="width:250px"><span class="self_center c_black font-blend_color-burn">UNSAFE</span></div>
	<img
		class="w_100"
		src="https://via.placeholder.com/1440x200.png?text=Desktop+Large+1440x200"
	/>
</div>
<div class="relative m-t_4  overflow-hidden" style="width:1200px">
 {{> "Recipes Virtual.BrandArea.LoggedIn.Button"}}
<div class="absolute b_0 bg_alert font_5 font_xbold grid justify_center opacity_5 r_0 self_center t_0 text_center" style="width:250px"><span class="self_center c_black font-blend_color-burn">UNSAFE</span></div>
	<img
		class="w_100"
		src="https://via.placeholder.com/1200x200.png?text=Desktop+1200x200"
	/>
</div>
<div class="relative m-t_4  overflow-hidden" style="width:768px">
 {{> "Recipes Virtual.BrandArea.LoggedIn.Button"}}
<div class="absolute b_0 bg_alert font_5 font_xbold grid justify_center opacity_5 r_0 self_center t_0 text_center" style="width:250px"><span class="self_center c_black font-blend_color-burn">UNSAFE</span></div>
	<img
		class="w_100"
		src="https://via.placeholder.com/768x200.png?text=Tablet+768x200"
	/>
</div>
<div class="relative m-t_4  overflow-hidden"  style="width:600px">
<div class="absolute r_4 l_auto b_4 t_auto justify_center flex flex_column gap-x_4 gap-y_4">
     <div class="bg_secondary-2 br_1 br_black-3 br_radius br_solid:lg br_none c_white font_medium font_ui gap-x_3 inline-block inline-flex justify_end m-x_2 p_2:lg p_0 relative shadow_overlap-light">
         <span class="font_bold font_ui self_center vertical-align_middle display_none inline:md p-x_3">User Name</span>
         <a class="btn bg_accent-n1 h:bg_accent-n3 br_solid br_black-2 br_1 c_white  h:c_white uppercase shadow_overlap-light font_ui font_bold" href="#">Log Out <i class="fas fa-sign-out p-l_2"></i></a>
     </div>
 </div>
<div class="absolute b_0 bg_alert font_5 font_xbold grid justify_center opacity_5 r_0 self_center l_0 text_center" style="height:100px"><span class="self_center c_black font-blend_color-burn">UNSAFE</span></div>
	<img
		class="w_100"
		src="https://via.placeholder.com/600x250.png?text=Mobile+600x250"
	/>
</div>
<div class="relative m-t_4  overflow-hidden" style="width:400px">
<div class="absolute b_4 r_4 l_4 justify_center flex flex_row flex_column gap-x_4 gap-y_4">
     <div class="bg_secondary-2 br_1 br_black-3 br_radius br_solid:lg br_none c_white font_medium font_ui gap-x_3 inline-block inline-flex justify_end m-x_2 p_2:lg p_0 relative shadow_overlap-light">
         <span class="font_bold font_ui self_center vertical-align_middle display_none inline:md p-x_3">User Name</span>
         <a class="btn bg_accent-n1 h:bg_accent-n3 br_solid br_black-2 br_1 c_white  h:c_white uppercase shadow_overlap-light font_ui font_bold" href="#">Log Out <i class="fas fa-sign-out p-l_2"></i></a>
     </div>
 </div>
<div class="absolute b_0 bg_alert font_5 font_xbold grid justify_center opacity_5 r_0 self_center l_0 text_center" style="height:100px"><span class="self_center c_black font-blend_color-burn">UNSAFE</span></div>
	<img
		class="w_100"
		src="https://via.placeholder.com/400x300.png?text=Mobile+400x300"	
	/>
</div>

 
Weight: -999

Styleguide Recipes Virtual.BrandArea.UnSAFE

*/

/*

Header Brand Area - Logged Out

Description: This is the logged Out header brand area.
 
Markup:
<div class="relative">
    <div class="absolute b_4 r_4 l_4 b_auto:lg t_4:lg r_4:lg r_4:md l_auto:md b_4:md t_4:md justify_center flex flex_row flex_column:md flex_row:lg gap-x_4 gap-y_4">
        <a class="btn bg_accent-n1 h:bg_accent-n3 br_solid br_black-2 br_1 c_white  h:c_white uppercase shadow_overlap-light font_ui font_bold" href="#">Login <i class="fas fa-sign-in p-l_2"></i></a>
        <a class="btn bg_primary-n1 h:bg_primary-n3 br_solid br_black-2 br_1 c_white h:c_white uppercase shadow_overlap-light font_ui font_bold" href="#">Register</a>
   </div>
    <picture class="w_100">
        <source class="w_100" srcset="https://via.placeholder.com/1440x200.png?text=Desktop+Large" media="(min-width: 1200px)">
        <source class="w_100" srcset="https://via.placeholder.com/1200x200.png?text=Desktop" media="(min-width: 1024px)">
        <source class="w_100" srcset="https://via.placeholder.com/768x200.png?text=Tablet" media="(min-width: 768px)">
        <source class="w_100" srcset="https://via.placeholder.com/600x250.png?text=Mobile" media="(min-width: 400px)"> <source class="w_100" srcset="https://via.placeholder.com/400x300.png?text=Mobile" media="(min-width: 400px)">
        <img src="https://via.placeholder.com/400x300.png?text=Mobile" class="w_100" alt="">
    </picture>
</div>

 
Weight: -1000

Styleguide Recipes Virtual.BrandArea.Logged Out

*/
