/*

Program

The central UI of an event is the program which displays all educational content from the conference.

MarkupWrapperClasses: 

Weight: 0

Styleguide Program

*/


/*

Session

 The basic session is Session with a title that has a playlist of presentations


Markup:
<article class="{{> ProgramElement.Style.OuterBorder }}">
    <div class="{{> ProgramElement.Style.InnerBorder }}">
        <div class="br-b_1 br_solid br_primary-2">
            {{> "ProgramElement.CategoryFlags" }}          
            <div class="p_4 p-b_2 flex flex_column flex_row:lg gap-x_4 gap-x_5:lg">
                 <header>
                    <h3 class="font_display m-b_3 lh_2 c_primary-n2 font_2 p-r_4:lg">
                        <span class="block font-size_up-1 font_display lh_1">
                            <strong class="font_bold p-r_3">{{> Data.Session.ID }}</strong>
                            {{> Data.Session.Title }}
                        </span>
                    </h3>
                    <div class="font_0 font_ui">{{>  ProgramElement.PlayingDateTime }}</div>
                </header>
                <div class="flex_grow m-x_auto m-l_auto:lg m-r_0:lg w_100 max-w_20:md">
                    {{> "ProgramElement.ActionButtons.NoDetails"  modifier_class="Watch"}}
                </div>
            </div>
            {{>  "ProgramElement.Presentation.List" }}
        </div>
    </div>
    <div class="c_black flex flex_wrap font_n2 justify_start p_3 br-br_radius br-bl_radius bg_black-2 br_solid br_1 br-t_0 br_black-3">
        <div class="flex_grow uppercase m-l_auto">
            {{> "ProgramElement.Credits.Dots" }}
        </div>
    </div>
</article>

MarkupWrapperClasses: 

Weight: 0

Styleguide Program.Session
*/

/*

Session Collapse

 The basic session is Session with a title that has a playlist of presentations


Markup:
<article class="{{> ProgramElement.Style.OuterBorder }}">
    <div class="{{> ProgramElement.Style.InnerBorder }}">
        <div class="br-b_1 br_solid br_primary-2">
            {{> "ProgramElement.CategoryFlags" }}          
            <div class="p_4 p-b_2 flex flex_column flex_row:lg gap-x_4 gap-x_5:lg">
                <header>
                    <h3 class="font_display m-b_3 lh_2 c_primary-n2 font_2 p-r_4:lg">
                        <span class="block font-size_up-1 font_display lh_1">
                            <strong class="font_bold p-r_3">{{> Data.Session.ID }}</strong>
                            {{> Data.Session.Title }}
                        </span>
                    </h3>
                    <div class="font_0 font_ui">{{>  ProgramElement.PlayingDateTime }}</div>
                </header>
                <div class="flex_grow m-x_auto m-l_auto:lg m-r_0:lg w_100 max-w_20:md">
                    {{> "ProgramElement.ActionButtons"  modifier_class="Watch"}}
                </div>
            </div>
            <div class="p-x_4 p-b_4 flex flex_column font_1">
                <ul class="font-size_down ul_none flex flex_row flex_wrap justify_start c_black-7  m-t_auto lh_0 items_end">
                    <li class="inline-block p-r_3 p_2"><span class="font-size_up c_primary-n2 block"><i class="fal fa-clock"></i> 30</span> minutes</li>
                    <li class="inline-block p-r_3 p_2"><span class="font-size_up c_primary-n2 z_2 block">4</span> presentations</li>
                </ul>
            </div>
            <div id="collapseExample" class="collapse">
            {{>  "ProgramElement.Presentation.List" }}
            </div>
        </div>
    </div>
    <div class="c_black flex flex_wrap font_n2 justify_start p_3 br-br_radius br-bl_radius bg_black-2 br_solid br_1 br-t_0 br_black-3">
        <div class="flex_grow uppercase m-l_auto">
            {{> "ProgramElement.Credits.Dots" }}
        </div>
    </div>
</article>

MarkupWrapperClasses: 

Weight: 0

Styleguide Program.Session.Collapsible
*/


/*

Session Shell

A session shell is when there is only one presentation. 


Markup:
<article class="{{> ProgramElement.Style.OuterBorder }}">
    <div class="{{> ProgramElement.Style.InnerBorder }}">
        <div class="br-b_1 br_solid br_primary-2">
            {{> "ProgramElement.CategoryFlags" }}          
            <div class="p_4 p-b_2 flex flex_column flex_row:lg gap-x_4 gap-x_5:lg">
                <header> 
                    <h2 class="font_n1 uppercase c_black-7">
                        <strong class="font_bold p-r_2">{{> Data.Session.ID }}</strong> {{> Data.Session.Title }}
                    </h2>   
                    <h3 class="font_display m-b_3 lh_2 c_primary-n2 font_2 p-r_4:lg">
                        <span class="block font-size_up-1 font_display lh_1">
                            {{> Data.Presentation.Title }}
                        </span>
                    </h3>
                </header>
                <div class="flex_grow m-x_auto m-l_auto:lg m-r_0:lg w_100 max-w_20:md">
                    {{> "ProgramElement.ActionButtons.NoDetails"  modifier_class="Watch"}}
                </div>
            </div>
            <div>
            <div class="p-x_4 p-b_4 flex flex_column font_1">
                 <div class="font_0 font_ui">{{>  ProgramElement.PlayingDateTime }}</div>
                <div class="font-size_down">{{> "ProgramElement.FacultyList" modifier_class="inline"}}</div>
            </div>
            </div>
        </div>
    </div>
    <div class="c_black flex flex_wrap font_n2 justify_start p_3 br-br_radius br-bl_radius bg_black-2 br_solid br_1 br-t_0 br_black-3">
        <div class="flex_grow uppercase m-l_auto">
            {{> "ProgramElement.Credits.Dots" }}
        </div>
    </div>
</article>

MarkupWrapperClasses: 

Weight: 0

Styleguide Program.Session.Shell
*/

/*

On Demand
 
After the completion of a video the Sessions are broken down to the individual presentations and stored in the On Demand Area for viewing. 

Markup:
<article class="{{> ProgramElement.Style.OuterBorder }}">
    <div class="{{> ProgramElement.Style.InnerBorder }}">
        <div class="br-b_1 br_solid br_primary-2">
            {{> "ProgramElement.CategoryFlags" }}          
            <div class="p_4 p-b_2 flex flex_column flex_row:lg gap-x_4 gap-x_5:lg">
                <header> 
                    <h2 class="font_n1 uppercase c_black-7">
                        <strong class="font_bold p-r_2">{{> Data.Session.ID }}</strong> {{> Data.Session.Title }}
                    </h2>   
                    <h3 class="font_display m-b_3 lh_2 c_primary-n2 font_2 p-r_4:lg">
                        <span class="block font-size_up-1 font_display lh_1">
                            {{> Data.Presentation.Title }}
                        </span>
                    </h3>
                </header>
                <div class="flex_grow m-x_auto m-l_auto:lg m-r_0:lg w_100 max-w_20:md">
                    {{> "ProgramElement.ActionButtons.NoDetails"  modifier_class="Watch"}}
                </div>
            </div>
            <div>
            <div class="p-x_4 p-b_4 flex flex_column font_1">
                 <div class="font_0 font_ui">{{>  ProgramElement.PlayingDateTime }}</div>
                <div class="font-size_down">{{> "ProgramElement.FacultyList" modifier_class="inline"}}</div>
            </div>
            </div>
        </div>
    </div>
    <div class="c_black flex flex_wrap font_n2 justify_start p_3 br-br_radius br-bl_radius bg_black-2 br_solid br_1 br-t_0 br_black-3">
        <div class="flex_grow uppercase m-l_auto">
            {{> "ProgramElement.Credits.Dots" }}
        </div>
    </div>
</article>

Weight: 10000
 
Styleguide Program.OnDemand

*/

/*

Condensed Session
 
Condensed Sessions are used for listing designs that are not full featured.

.p_4.bg_black-1.shadow_emboss-light.br_radius.br_1.br_solid.br_black-3           -  embossed background

Markup:
<article class="{{modifier_class}} flex_column flex gap_3">
<header>
    <h3 class="font_display m-b_3 lh_2 c_primary-n2 font_2 m_0">
        <strong class="font_bold font-size_down-2 p-r_3 block uppercase c_black-6">{{> Data.Session.ID }}</strong>
        <span class="block font_display lh_2 font-size_up-1">
            {{> Data.Session.Title }}
        </span>
    </h3>
</header>
<div class="font_0 font_ui c_accent-n1">{{>  Data.Agenda.LiveTime }}</div>
<aside class="flex flex_none flex_column gap-y_3 m-x_auto:md  max-w_30:md w_100">
    <a href="" aria-label="navigate to" class="btn btn-outline-primary flex_auto">Watch</a>
</aside>
</article>

MarkupWrapperClasses: max-w_30:md

Weight: 10000
 
Styleguide Program.CondensedSession

*/

/*

Whats Happening Now
 
Condensed Sessions are used for listing designs that are not full featured.


Markup:
<article class="relative">
<div class="m-b_n5 p-x_5:lg p-x_4:md">{{> "ProgramElement.Header.VideoThumbnail" }}</div>
<div class="br-t_3 br_primary-2 br_radius br_solid c_black flex flex_column font_0 gap_2 m-b_4 p-t_5 p_4 shadow_overlap-light t_n5 z_0 flex_column flex gap_3 bg_white">
    <header class="p-t_3">
        <h3 class="font_display lh_2 c_primary-n2 font_1 m_0">
            <strong class="font_bold font-size_down-2 p-r_3 block uppercase c_black-6">{{> Data.Session.ID }}</strong>
            <span class="block font_display lh_2 font-size_up-1">
                {{> Data.Session.Title }}
            </span>
        </h3>
        <div class="font_ui font_n3 uppercase c_black-6"><strong class="c_black-7 p-r_2">Category:</strong>{{> ProgramElement.Tags.Category }}</div>
    </header>
    <div class="font_n2 font_ui c_accent-n1">Ending @ {{>  Data.Agenda.EndTime }} <abbr title="EASTERN TIME, UTC -4">EDT</abbr> </div>
    <aside class="flex flex_none flex_column gap-y_3 m-x_auto:md  max-w_30:md w_100">
        <a href="" aria-label="navigate to" class="btn btn-outline-primary btn-sm flex_auto expanded-click-area">Watch</a>
    </aside>
</div>
</article>




MarkupWrapperClasses: max-w_30:md

Weight: 10000
 
Styleguide Program.CondensedSession.WhatsNow

*/

/*

Whats Happening Now

A zone on the page that displays the current live session.
 
Markup:
<div class="br_2 br_accent-2 br_round br_solid m-y_4 p-x_5 relative">
    <h1 class="br-b_2 br_accent-n1 br_solid c_accent-n3 font_bold font_display m-b_4 p-y_2 inline p-x_4 m-t_n4">What's Happening Now</h1>
    <div class="gap-x_5 grid grid-col_3">
        {{> Program.CondensedSession.WhatsNow }}
        {{> Program.CondensedSession.WhatsNow }}
        {{> Program.CondensedSession.WhatsNow }}
    </div>
</div>

MarkupWrapperClasses: 
 
Weight:0
 
Styleguide Program.WhatsNow
*/


/*

On Demand Shell
 
The On Demand view is slightly different if the Session is only a shell. 

Markup::after


Weight: 10000
 
Styleguide Program.OnDemand.Shell

*/

/*

Featured Presentation Grid

Featured Sessions are On Demand Presentations.
 
Markup:
<article class="c_black font_0 m-b_4 br-t_3 br_solid br_primary-2 br_radius isolation_isolate shadow_overlap-light">
    <div class="br_1 br-b_0 br-tr_radius br-tl_radius br_solid br_black-3 flex flex_column font_ui m-t_n2 relative">
        <div class="br-b_1 br_solid br_primary-2">
            <div class="font-size_down-2 p_2 uppercase bg_primary-2 p-x_4 m-x_4 inline-block br-br_radius br-bl_radius c_white font_bold">
              <ul class="ul_inline-pipe">
                <li>Chanel 1</li>
                <li>Navigating Health Care Economics</li>
              </ul>
            </div>            <div class="p_4 p-b_2 flex flex_column gap-y_4">
                <header>
                    <h2 class="font_n1 uppercase c_black-7">
                        <strong class="font_bold p-r_2">3652</strong> Cardiovascular Update for the Clinician III
                    </h2>
                    <h3 class="font_display m-b_3 lh_2 c_primary-n2 font_2 p-r_4:lg">
                        <span class="block font-size_up-1 font_display lh_1">
                            New York Cardiovascular Symposium 2021 Welcome Video and Introduction of Session and Faculty                        </span>
                    </h3>
                </header>
                <div class="flex_grow m-x_auto m-l_auto m-r_0:lg w_100 ">
                    <aside class="flex flex_none flex_column gap-y_3 m-x_auto p-b_4 p-b_4:md w_100">
                          <nav aria-label="session actions" class="flex flex_none flex_row gap-x_2 gap-y_3 justify_between">
                            <a href="" aria-label="mark as favorite" class="btn btn-secondary flex_none a:bg_alert-n2  h:bg_alert-n4 flex_none [active]"><i class="fas fa-heart"></i></a>        
                            <a href="" aria-label="navigate to" class="btn btn-primary flex_auto">Watch</a>
                          </nav>
                          <a href="" aria-label="download attachments" class="br_radius btn btn-outline-secondary btn-sm flex_auto font-size_down-1 w_100"><i class="far fa-paperclip"></i> Attachments</a>
                    </aside>                </div>
            </div>
            <div>
            <div class="p-x_4 p-b_4 flex flex_column font_0">
                 
                <div class="font-size_down"><ul class="ul_inline-semicolon font_regular font_copy">
  <li class="no-after font_medium c_primary-n1 inline">Role Type 1:</li>
  <li>Pepper H. Soda III, MD, FACC <span class="opacity_9 font_light">( New York, NY, USA)<span></span></span></li>
  <li class="no-after font_medium c_primary-n1  inline">Role Type 2:</li>
  <li>Dianna Denesik III <span class="opacity_9 font_light">( New York, NY, USA)<span></span></span></li>
  <li>Miguel Romaguera <span class="opacity_9 font_light">( New York, NY, USA)<span></span></span></li>
  <li>Jeanette Franecki <span class="opacity_9 font_light">( New York, NY, USA)<span></span></span></li>
</ul></div>
            </div>
            </div>
        </div>
    </div>
    <div class="c_black flex flex_wrap font_n2 justify_start p_3 br-br_radius br-bl_radius bg_black-2 br_solid br_1 br-t_0 br_black-3">
        <div class="flex_grow uppercase m-l_auto">
            <ul class=" gap-x_3 justify_end:md justify_start self_center ul_inline-pipe uppercase">
              <li class="inline-flex items_center lh_0">
                  <span class="bg_CME br_1 br_black-3 br_circle br_solid  m-r_2" style=" height: 1em; width: 1em;"></span> CME
              </li>  <li class="inline-flex items_center lh_0">
                  <span class="bg_CNE br_1 br_black-3 br_circle br_solid  m-r_2" style=" height: 1em; width: 1em;"></span> CNE
              </li>  <li class="inline-flex items_center lh_0">
                  <span class="bg_COP br_1 br_black-3 br_circle br_solid  m-r_2" style=" height: 1em; width: 1em;"></span> COP
              </li>  <li class="inline-flex items_center lh_0">
                  <span class="bg_MOCII br_1 br_black-3 br_circle br_solid  m-r_2" style=" height: 1em; width: 1em;"></span> MOCII
              </li></ul>        </div>
    </div>
</article>

MarkupWrapperClasses: grid grid-col-3
 
Weight:0
 
Styleguide Program.FeaturedPresentation
*/

/*

Abstracts

description
 
Markup:

MarkupWrapperClasses: 
 
Weight:0
 
Styleguide Program.Abstract 
*/

/*

Abstracts Grid

description
 
Markup:

MarkupWrapperClasses: 
 
Weight:0
 
Styleguide Program.Abstract.Grid
*/

/*

Featured Presentation Grid

description
 
Markup:

MarkupWrapperClasses: 
 
Weight:0
 
Styleguide Program.FeaturedPresentation.Grid
*/