/*
Extras
 
Description: There are parts of the conference site that are just extras that are decorators or extra elements, links, and content that are wrapped in to make the site feel more robust. 
 
Weight: 200000
 
Styleguide PageExtras
*/

/*
Date Time Separators
 
Sessions are divided by date time markers that have been set to east coast time with a refernce to GMT. 
 
Markup:
<div class="flex_row:md flex flex_column">
    <div class="flex_auto grid">
        <span class="br-t_2 br_dotted br_black-4 self_center"></span>
    </div>
    <div class="flex_auto flex_shrink p-x_4 lh_1 text_center">
        <strong class="c_black-8 block font_accent">Live: {{> "Data.Agenda.LiveDate" }}{{> "Data.Agenda.LiveTime" }}</strong>
    </div>
    <div class="flex_auto grid">
        <span class="br-t_2 br_dotted br_black-4 self_center"></span>
    </div>
</div>

FORMAT: This element uses data that has strict data formatting requirements. See the data tab for more information.

MarkupWrapperClasses:
    p_4 
 
Weight: 100
 
Styleguide PageExtras.Program.DateTimeDividers
*/

/*
Simple Credit Dots
 
When it is only important to show the credits listed and not the credit values this simple dot pattern is a good solution. 
 
Markup:
<ul class="flex flex_row flex_wrap gap-x_3 justify_end:md justify_start self_center ul_none uppercase">
    <li class="inline-block lh_0">
        <span class="bg_CME br_1 br_black-3 br_circle br_solid inline-block m-r_2" style=" height: 1em; width: 1em;"></span> cme </li>
    <li class="inline-block lh_0">
        <span class="bg_CNE br_1 br_black-3 br_circle br_solid inline-block m-r_2" style=" height: 1em; width: 1em;"></span> cne </li>
    <li class="inline-block lh_0">
        <span class="bg_COP br_1 br_black-3 br_circle br_solid inline-block m-r_2" style=" height: 1em; width: 1em;"></span> cop </li>
</ul>
 
Note: This pattern requires the inclusion of the credit color stylesheets.

Weight:0
 
Styleguide PageExtras.Program.CreditDots

*/

%PageExtras.Program.CategoryFlags {
}
/*
Category Flags
 
Description: A graphic treatment for the category flags which are tags applied like channel and type.
 
Markup:
<div class="font-size_down-2 p_2 uppercase bg_primary-2 p-x_4 m-x_4 inline-block br-br_radius br-bl_radius c_white">{{>"Data.Agenda.ChannelName"}}</div>

 
Weight:0
 
Styleguide PageExtras.Program.CategoryFlags
*/

/*
Attachments Modal
 
Description: 
 
Markup:
<div class="modal fade bg_black-4 z_5 show font_UI block relative" id="modal-attachment" tabindex="-1" role="dialog" aria-labelledby="attachmenteModalLabel" aria-modal="true" >
<div class="br_radius modal-dialog z_5 shadow_bevel-bold" role="document">
    <div class="br-tl_radius br-tr_radius br_radius modal-content">
      <div class="br-b_1 br_black-3 br_solid flex justify_center modal-header bg_primary c_white">
        <h5 class="c_white flex_auto font_1 font_medium font_display m_0 modal-title self_center" id="exampleModalLabel"> <i class="far fa-paperclip"></i>  Attachments</h5>
        <button type="button" class=" btn btn-secondary c_white close h:c_white h:opacity lh_0 self_center" data-dismiss="modal" aria-label="Close">
          <i class="fa-times fas"></i>
        </button>
      </div>
      <div class="modal-body p_0">
        <ul class="ul_none">
            <li class="br-b_1 br_dotted br_primary-3 flex h:bg_highlight-5 h_lh1 p-x_3 p-y_3 relative"><span class="flex_auto font_0 lh_2 p-x_4 self_center">Really long name of a files so the text might wrap because we can never keep titles short and we have to medically explain everything.</span><button class="bg_black-3 br_0 br_square c_white expanded-click-area flex_none h:bg_black-5 m-l_auto m-r_n3 m-y_n3" style=" width: 4em;"><i class="fas fa-download"></i></button></li>
         <li class="br-b_1 br_dotted br_primary-3 flex h:bg_highlight-5 h_lh1 p-x_3 p-y_3 relative"><span class="flex_auto font_0 lh_2 p-x_4 self_center">lorem text link</span>
         <button class="bg_black-3 br_0 br_square c_white expanded-click-area flex_none h:bg_black-5 m-l_auto m-r_n3 m-y_n3" style=" width: 4em;"><i class="fas fa-download"></i></button></li>
        </ul>
      </div>
      <div class="br-bl_radius br-br_radius br_black-3 modal-footer p_3 relative">
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"><i class="fa-times fas"></i> Close</button>
      </div>
    </div>
  </div>
</div>

 MarkupWrapperClasses: relative

 Note: A `block relative`  class was added to this DOM element to make it visible in this documentation. 

 Weight: 200
 
Styleguide PageExtras.Program.Attachments
*/

/*
Video Header Thumb
 
Description: The header is just a bit of design flair that can be colored, background swapped out and also the icon can be changed to the content of the presentation.

bg_primary  -  is the default background color
bg_accent   -  any background color can be swapped out

Markup:
<header class="flex flex_none flex_row justify_center m-t_n4:lg p-x_4">
    <div class="aspect_21x9:md aspect_16x9 bg-blend_multiply bg_primary bg_cover bg_no-repeat {{ modifier_class }} br_2 br_radius br_solid br_white br_white-9 flex flex_shrink grid justify_center m-t_n5 max-w_15 max-w_20:md relative shadow_3 text_center texture_ondemand thumb">
            <i class="absolute c_white-9 fa-play fas flex_auto font_4 font_5:lg self_center text_center w_100"></i>
        </div>
</header>
 
Weight:0
 
Styleguide PageExtras.Program.HeaderThumbnail
*/

/*
Favorite Button
 
The favorite button is a simple icon that can be used to add or remove a favorite. This button reflects the state of the favorite.

active   - when the favorite is active

Markup:
<a href="" aria-label="mark as favorite" class="btn btn-secondary flex_none a:bg_alert-n2  h:bg_alert-n4 {{ modifier_class }}" ><i class="fas fa-heart"></i></a>

Weight:0

Styleguide PageExtras.Program.ActionButtons.Favorite
*/

/*
Action Buttons
 
The footer has a couple of buttons and a link to the presentation details.

Watch   - when the main asset of the loaded page is a video or live stream.
Join    - when the main asset of the loaded page is an online meeting or webinar.
Listen  - when the main asset of the loaded page is a podcast or audio.
View    - when the main asset of the loaded page is a graphic, pdf, or slide deck.

 
Markup:
<aside class="flex flex_none flex_column gap-y_3 m-l_auto:md  max-w_30:md p-b_4 p-b_4:md w_100">
      <nav aria-label="session actions" class="flex flex_none flex_row gap-x_2 gap-y_3 justify_between">
        {{> "PageExtras.Program.ActionButtons.Favorite" modifier_class="[active]"}}
        <a href="" aria-label="download calendar reminder"  class="btn btn-secondary flex_none a:bg_alert-n2"><i class="fas fa-calendar"></i></a>
        <a href="" aria-label="navigate to" class="btn btn-primary flex_auto">{{ modifier_class }}</a>
      </nav>
      <a href="" aria-label="show or hide details"  class="br_radius btn btn-outline-secondary btn-sm flex_auto font-size_down-1 w_100">Show Details</a>
      <a href="" aria-label="download attachments"  class="br_radius btn btn-outline-secondary btn-sm flex_auto font-size_down-1 w_100"><i class="far fa-paperclip"></i> Attachments</a>
</aside>
 
Weight:0
 
Styleguide PageExtras.Program.ActionButtons
*/

/*
Action Buttons No Details
 
Description: The footer has a couple of buttons and a link to the presentation details.
 
Markup:
<aside class="flex flex_none flex_column gap-y_3 m-l_auto:md  max-w_30:md p-b_4 p-b_4:md w_100">
      <nav aria-label="session actions" class="flex flex_none flex_row gap-x_2 gap-y_3 justify_between">
        {{> "PageExtras.Program.ActionButtons.Favorite" modifier_class="[active]"}}
        <a href="" aria-label="download calendar reminder"  class="btn btn-secondary flex_none a:bg_alert-n2"><i class="fas fa-calendar"></i></a>
        <a href="" aria-label="navigate to" class="btn btn-primary flex_auto">{{ modifier_class }}</a>
      </nav>
      <a href="" aria-label="download attachments"  class="br_radius btn btn-outline-secondary btn-sm flex_auto font-size_down-1 w_100"><i class="far fa-paperclip"></i> Attachments</a>
</aside>
 
Weight:0
 
Styleguide PageExtras.Program.ActionButtons.NoDetails

*/

/*
Action Buttons Only
 
Description: The footer has a couple of buttons and a link to the presentation details.
 
Markup:
<aside class="flex flex_none flex_column gap-y_3 m-l_auto:md  max-w_30:md p-b_4 p-b_4:md w_100">
      <nav aria-label="session actions" class="flex flex_none flex_row gap-x_2 gap-y_3 justify_between">
        {{> "PageExtras.Program.ActionButtons.Favorite" modifier_class="[active]"}}
        <a href="" aria-label="download calendar reminder"  class="btn btn-secondary flex_none a:bg_alert-n2"><i class="fas fa-calendar"></i></a>
        <a href="" aria-label="navigate to" class="btn btn-primary flex_auto">{{ modifier_class }}</a>
      </nav>
</aside>
 
Weight:0
 
Styleguide PageExtras.Program.ActionButtons.Only

*/