
/*
Extras
 
Description: There are parts of the conference site that are just extras that are decorators or extra elements, links, and content that are wrapped in to make the site feel more robust. 
 
Weight: 10000
 
Styleguide Recipes Virtual.Extras
*/

/*
External Resource
 
Description: External Sections of content that are helpful to cross promote with in a conferences. 
 
Markup:
<article class="aspect_21x9 bg-blend_luminosity bg_cover bg_no-repeat bg_primary-2 br_1 br_black-3 br_radius br_solid flex_shrink generic_video generic_video-nolabel h:bg_secondary-n2 relative shadow_3 text_center c_primary"><em class="opacity_5 absolute t_1 r_2 fas font_4 fa-external-link-square-alt"></em><a data-sf-ec-immutable="" class="block font_7 font_6:md font_9:lg font_display font_xbold h:undecorated m_0 p_4 p_5:lg text_left uppercase" style="line-height: .85em" href="https://www.acc.org/latest-in-cardiology/features/accs-coronavirus-disease-2019-covid-19-hub?_ga=2.121293644.574512269.1591713176-49927898.1591404069#sort=%40fcommonsortdate90022%20descending" target="_blank"><span class="font_3 font_4:md m_0 m-l_0 m-b_n2 lh_0 block m-b_2">ACC’s</span>
 <span class=" block"><span class="nowrap">COVID-19</span> HUB</span>
 </a>
 </article>

 MarkupWrapperClasses:
 gap-x_4 gap-y_4 grid template-x_30
 
 
Styleguide Recipes Virtual.Extras.External Resource
*/

/*
Date Time Separators
 
Description: Sessions are divided by date time markers that have been set to east coast time with a refernce to GMT. 
 
Markup:
<div class="flex_row:md flex flex_column">
    <div class="flex_auto grid">
        <span class="br-t_2 br_dotted br_black-4 self_center"></span>
    </div>
    <div class="flex_auto flex_shrink p-x_4 lh_1 text_center">
        <strong class="c_black-8 block font_accent">Live: {{> "Data.Agenda.LiveTime" }}</strong>
        <strong class="c_black-5 m-t_2 inline-block font-size_down-2">On Demand After: {{> "Data.Agenda.onDemandReleaseTime" }}</strong></div>
    <div class="flex_auto grid">
        <span class="br-t_2 br_dotted br_black-4 self_center"></span>
    </div>
</div>

MarkupWrapperClasses:
    p_4 
 
Weight: 100
 
Styleguide Recipes Virtual.Extras.Date Time Dividers
*/



/*
Twitter Tag
 
Description: Every conference has a common #tag structure asking user to join in to the conversation.; 
 
Markup:
<div class="socialTag float_right text_right"><div class="c_secondary font_1">Join The Conversation</div><div class="c_primary font_xbold font_3 font_display"><em class="fas fa-hashtag"></em>ACCAthleticHeart  <em class="fab fa-twitter"></em></div></div>
 
Weight:0
 
Styleguide Recipes Virtual.Extras.TwitterTag
*/

/*
Call-to-Action Card
 
Description: Some content areas are chunked out to drive usage through a call to action card.
 
Markup:
<div class="br_radius flex flex_column justify_between p-x_5:lg p_4 shadow_overlap-light br_black-3 br_solid br_1">
<h2 class="font_bold c_primary m-t_0 block">Member Section</h2>
<p class="lh_3">Connect with ACC’s Sports and Exercise Member Section, THE home for sports and exercise professionals within the ACC, advocating for and advancing the priorities of the community, and serving as a College-wide resource for issues related to sports and exercise professionals.  </p>   
<a class="block br_radius btn btn-block btn-lg btn-secondary btn_lg m-b_3 m_auto shadow_overlap-light w_100">Call to Action</a>
</div>    
 
Weight:100
 
Styleguide Recipes Virtual.Extras.Call To Action
*/

/*
Simple Credit Dots
 
When it is only important to show the credits listed and not the credit values this simple dot pattern is a good solution. 
 
Markup:
<ul class="m-t_n2 ul_none uppercase flex_wrap flex_row flex justify_end:md justify_start gap-x_3">
    <li class="inline-block lh_0">
        <span class="bg_CME br_1 br_black-3 br_circle br_solid inline-block m-r_2" style=" height: 1em; width: 1em;"></span> cme </li>
    <li class="inline-block lh_0">
        <span class="bg_CNE br_1 br_black-3 br_circle br_solid inline-block m-r_2" style=" height: 1em; width: 1em;"></span> cne </li>
    <li class="inline-block lh_0">
        <span class="bg_COP br_1 br_black-3 br_circle br_solid inline-block m-r_2" style=" height: 1em; width: 1em;"></span> cop </li>
</ul>
 
Note: This patter requires the inclusion of the credit color stylesheets.

Weight:0
 
Styleguide Recipes Virtual.Extras.Credit Dots

*/

/*
Attachments Modal
 
Description: 
 
Markup:
<div class="modal fade bg_black-4 z_5 show font_UI block relative" id="modal-attachment" tabindex="-1" role="dialog" aria-labelledby="attachmenteModalLabel" aria-modal="true" >
<div class="br_radius modal-dialog z_5 shadow_bevel-bold" role="document">
    <div class="br-tl_radius br-tr_radius br_radius modal-content">
      <div class="br-b_1 br_black-3 br_solid flex justify_center modal-header bg_primary c_white">
        <h5 class="c_white flex_auto font_1 font_medium font_display m_0 modal-title self_center" id="exampleModalLabel"> <i class="far fa-paperclip"></i>  Attachments</h5>
        <button type="button" class=" btn btn-secondary c_white close h:c_white h:opacity lh_0 self_center" data-dismiss="modal" aria-label="Close">
          <i class="fa-times fas"></i>
        </button>
      </div>
      <div class="modal-body p_0">
        <ul class="ul_none">
            <li class="br-b_1 br_dotted br_primary-3 flex h:bg_highlight-5 h_lh1 p-x_3 p-y_3 relative"><span class="flex_auto font_0 lh_2 p-x_4 self_center">Really long name of a files so the text might wrap because we can never keep titles short and we have to medically explain everything.</span><button class="bg_black-3 br_0 br_square c_white expanded-click-area flex_none h:bg_black-5 m-l_auto m-r_n3 m-y_n3" style=" width: 4em;"><i class="fas fa-download"></i></button></li>
         <li class="br-b_1 br_dotted br_primary-3 flex h:bg_highlight-5 h_lh1 p-x_3 p-y_3 relative"><span class="flex_auto font_0 lh_2 p-x_4 self_center">lorem text link</span>
         <button class="bg_black-3 br_0 br_square c_white expanded-click-area flex_none h:bg_black-5 m-l_auto m-r_n3 m-y_n3" style=" width: 4em;"><i class="fas fa-download"></i></button></li>
        </ul>
      </div>
      <div class="br-bl_radius br-br_radius br_black-3 modal-footer p_3 relative">
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"><i class="fa-times fas"></i> Close</button>
      </div>
    </div>
  </div>
</div>

 MarkupWrapperClasses: relative

 Note: A `block relative`  class was added to this DOM element to make it visible in this documentation. 

 Weight: 200
 
Styleguide Recipes Virtual.Extras.Attachments
*/
