


	
/*
	Display

	<div class="p-b_3"><span class="bg_accent br_radius c_white inline-block font_n1 p-7_3 p-x_5 sg">Is Responsive: breakpoint modifiers</span></div> Alter the display of an object to create more complicated UI and Layouts. #{modifierClassTable(display)}  

	Styleguide Layouts.Display

 */

@include loop-style(display);

@media #{$medium-up} {
	@include loop-style(display, $bp-label_medium);
}
@media #{$large-up} {
	@include loop-style(display, $bp-label_large);
}

/*
Z Index

Alter the Z Index of objects to help deal with objects that are out of normal z-index flow.  #{modifierClassTable(z-index)}  

.z_0   -  z-index: -1
.z_1   -  z-index: 1
.z_3   -  z-index: 1000
.z_5   -  z-index: 9999

Markup:
<div class="bg_alert-3 block br_solid br_transparent relative text_center" style=" height: 15rem; width: 100%;">
	<div class="absolute bg_black-5 c_white inline-block l_0 m_4 t_1 text_center w_70 z_3" style=" height: 13rem;">z-index of 1000</div>
	<div class="absolute bg_primary c_white inline-block m_5 r_0 t_1 text_center w_70 {{modifier_class}}" style=" height: 11rem;">{{modifier_class}}</div>
</div>

Styleguide Layouts.z-index

*/
@include loop-style(z-index);

.vertical-align_top {
	vertical-align: top;
}
.vertical-align_middle {
	vertical-align: middle;
}
.vertical-align_bottom {
	vertical-align: bottom;
}
.vertical-align_baseline {
	vertical-align: baseline;
}

/*
	Vertical Align

	Quickly alter the vertical alignment of the child. Cation the vertical only works on valid combinations. 

	.vertical-align_top              		- the child is aligned to the Top
	.vertical-align_middle              	- the child is aligned to the Middle
	.vertical-align_bottom            		- the child is aligned to the Bottom
	.vertical-align_baseline          		- the child is aligned to the Baseline

	Styleguide Layouts.Display.VerticalAlignment

 */

