/*
Display, Grid & Flex

Control the display of objects with control of break points, and the layout functions of flex easily by adding utlity classes. 

Weight: 106

Styleguide UC.display

*/
/* No styleguide reference. */
/*
	Display

	quickly alter the padding of an object 

	.block              		- the element is the a block
	.inline              	- the element is now inline
	.inline-block           - the element is now inline-block
	.table-cell             - the element is now table-cell
	.flex-inline            - the element is now flex-inline
	.display_none             		- the element is now display none

	Markup:
	<div class="bg_primary-5 text_center {{modifier_class}}">Content</div>

		
	MarkupWrapperClasses:
	br_solid br_transparent bg_alert-3  text_center

	Styleguide UC.display.type

 */

@include loop-style(display);

@media #{$medium-up} {
	@include loop-style(display, $bp-label_medium);
}
@media #{$large-up} {
	@include loop-style(display, $bp-label_large);
}

/*
Z Index

Alter the Z Index of objects to help deal with objects that are out of normal z-index flow.

#{ class-name-constructor(z-index,0)}           -   	sets objects z-index to #{ map-deep-get($style-definition,z-index,unit,0)}
#{ class-name-constructor(z-index,1)}           -   	sets objects z-index to #{ map-deep-get($style-definition,z-index,unit,1)}
#{ class-name-constructor(z-index,2)}           -   	sets objects z-index to #{ map-deep-get($style-definition,z-index,unit,2)}
#{ class-name-constructor(z-index,3)}           -   	sets objects z-index to #{ map-deep-get($style-definition,z-index,unit,3)}
#{ class-name-constructor(z-index,4)}           -   	sets objects z-index to #{ map-deep-get($style-definition,z-index,unit,4)}
#{ class-name-constructor(z-index,5)}           -   	sets objects z-index to #{ map-deep-get($style-definition,z-index,unit,5)}

Markup:
<div class="bg_alert-3 block br_solid br_transparent relative text_center" style=" height: 15rem; width: 100%;">
	<div class="absolute bg_black-5 c_white inline-block l_0 m_4 t_1 text_center w_70 z_3" style=" height: 13rem;">z-index of 1000</div>
	<div class="absolute bg_primary c_white inline-block m_5 r_0 t_1 text_center w_70 {{modifier_class}}" style=" height: 11rem;">{{modifier_class}}</div>
</div>

Styleguide UC.display.z-index

 */

.vertical-align_top {
	vertical-align: top;
}
.vertical-align_middle {
	vertical-align: middle;
}
.vertical-align_bottom {
	vertical-align: bottom;
}
.vertical-align_baseline {
	vertical-align: baseline;
}

/*
	Vertical Align

	quickly alter the verticle alignment of the child. Cation the vertical only works on valid combinations. 

	.vertical-align_top              		- the child is aligned to the top
	.vertical-align_middle              	- the child is aligned to the top
	.vertical-align_bottom            		- the child is aligned to the top
	.vertical-align_baseline          		- the child is aligned to the top


	Markup:
	<div class="{{modifier_class}}">
		<div class="bg_primary-5 text_center inline-block ">{{modifier_class}}</div>
	</div>

	Styleguide UC.display.vertical alignment

 */

@include loop-style(z-index);
