/*
Grid Gap
 
Description: Grid Docs
 
Markup:

 
Weight:0
 
Styleguide  display.Grid.Gap
*/
@include loop-style(grid-column-gap, '', '!important');
@media #{$medium-up} {
	@include loop-style(grid-column-gap, $bp-label_medium, '!important');
}

@media #{$large-up} {
	@include loop-style(grid-column-gap, $bp-label_large, '!important');
}

@include loop-style(grid-row-gap, '', '!important');
@media #{$medium-up} {
	@include loop-style(grid-row-gap, $bp-label_medium, '!important');
}

@media #{$large-up} {
	@include loop-style(grid-row-gap, $bp-label_large, '!important');
}
/*
Grid Column Template
 
Description: Grid Docs
 
Markup:

 
Weight:0
 
Styleguide  display.Grid.Template
*/
.template-x_15 {
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
.template-x_20 {
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
.template-x_25 {
	grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}
.template-x_30 {
	grid-template-columns: repeat(auto-fill, minmax(minmax(30rem, 1fr), 1fr));
}
.template-x_35 {
	grid-template-columns: repeat(auto-fill, minmax(minmax(35rem, 1fr), 1fr));
}
.template-x_40 {
	grid-template-columns: repeat(auto-fill, minmax(minmax(40rem, 1fr), 1fr));
}





.template-y_15 {
	grid-template-row: repeat(auto-fill, minmax(15rem, 1fr));
}
.template-y_30 {
	grid-template-row: repeat(auto-fill, minmax(30rem, 1fr));
}
.template-y_40 {
	grid-template-row: repeat(auto-fill, minmax(40rem, 1fr));
}
@media #{$medium-up} {
}

.span-column_2\:lg {
	grid-column: span 1;
}
.span-row_2\:lg {
	grid-row: span 1;
}
.span-column_3\:lg {
	grid-column: span 1;
}
.span-row_3\:lg {
	grid-row: span 1;
}
.span-column_2\:md {
	grid-column: span 1;
}
.span-row_2\:md {
	grid-row: span 1;
}
.span-column_3\:md {
	grid-column: span 1;
}
.span-row_3\:md {
	grid-row: span 1;
}
.span-column_1 {
	grid-column: span 1;
}
.span-row_1 {
	grid-row: span 1;
}
.span-column_2 {
	grid-column: span 2;
}
.span-row_2 {
	grid-row: span 2;
}
.span-column_3 {
	grid-column: span 3;
}
.span-row_3 {
	grid-row: span 3;
}
@media #{$medium-up} {
	.span-column_1\:md {
		grid-column: span 1;
	}
	.span-row_1\:md {
		grid-row: span 1;
	}
	.span-column_2\:md {
		grid-column: span 2;
	}
	.span-row_2\:md {
		grid-row: span 2;
	}
	.span-column_3\:md {
		grid-column: span 3;
	}
	.span-row_3\:md {
		grid-row: span 3;
	}
}
@media #{$large-up} {
	.span-column_1\:lg {
		grid-column: span 1;
	}
	.span-row_1\:lg {
		grid-row: span 1;
	}
	.span-column_2\:lg {
		grid-column: span 2;
	}
	.span-row_2\:lg {
		grid-row: span 2;
	}
	.span-column_3\:lg {
		grid-column: span 3;
	}
	.span-row_3\:lg {
		grid-row: span 3;
	}
}
