/*
UC: Introduction

Utility Classes(UCs) are classes that control single styles allowing for quick manipulations of the appearance of the DOM.  When combined with other UCs and toggled with javascripts you can create complex and new UI without the need of writing styles into the system. Examples of some UC built UIs can be found here as recipes. Learn more about UCs in the Introduction section

Weight: 100

Styleguide UC
*/
/* No styleguide reference. */
/*
Anatomy

<h2>Anatomy of a Utility Class Name</h2>
The breakdown of the names for UCs follow a structured patter for easy muscle memory learning. 

  Markup:
  <p class="font_2">All of the Class Names follow this ordered pattern of construction.</p>
  <ol class="font_1 font_bold m_4 br_solid br_1 br_secondary-4 lh_4" style="list-style-position: inside;">
        <li class="p_2 bg_success-3">State - Hover <em>(Optional)</em></li>
        <li class="p_2 bg_primary-3">Class Name</li>
        <li class="p_2 bg_alert-3">Class Name Modifier <em>(Optional)</em></li>
        <li class="p_2 bg_highlight-3">Value</li>
        <li class="p_2 bg_alert-3">Value Modifier <em>(Optional)</em></li>
        <li class="p_2 bg_accent-3">Breakpoint <em>(Optional)</em></li>
        <li class="p_2 bg_warning-3">*Dividers can be : _ or - depending on usage</li>
  </ol>
  <div class="font_2">
      <div class="font_bold font_3">Example 1</div>
      <div class="font_1 m-t_2">Make the background color primary modified by the shading of negative 2 when the cursor has hovered over it.</div>
      <div class="h:bg_primary-n3 h:c_white  m-y_4 p_4 br_solid br_secondary-3 br_1">I have the class h:bg_primary-n2</div>
      <div class="font_bold font_1">Long Name</div>
      <div class="flex m-t_3">
            <div class="flex_auto bg_success-3 p_3">hover</div>
            <div class="flex_auto bg_warning-3 p_3">:</div>
            <div class="flex_auto bg_primary-3 p_3">background-color</div>
            <div class="flex_auto bg_warning-3 p_3">_</div>
            <div class="flex_auto bg_highlight-3 p_3">primary</div>
            <div class="flex_auto bg_warning-3 p_3">-</div>
            <div class="flex_auto bg_alert-3 p_3">n2</div>
      </div>
      <div class="font_bold font_1">Utiltiy Class</div>
      <div class="flex m-t_3">
        <div class="flex_auto bg_success-3 p_3">h</div>
        <div class="flex_auto bg_warning-3 p_3">:</div>
        <div class="flex_auto bg_primary-3 p_3">bg</div>
        <div class="flex_auto bg_warning-3 p_3">_</div>
        <div class="flex_auto bg_highlight-3 p_3">primary</div>
        <div class="flex_auto bg_warning-3 p_3">-</div>
        <div class="flex_auto bg_alert-3 p_3">n2</div>
      </div>
      <ol class="font_0 font_bold c_black m_4 br_solid br_1 br_secondary-4 lh_4" style="list-style-position: inside;">
          <li class="bg_success-3 p_3">'h' => Interaction State </li>
          <li class="bg_warning-3 p_3">`:`=> Interaction State Divider when use state interaction</li>
          <li class="bg_primary-3 p_3">'bg' => Class Name</li>
          <li class="bg_warning-3 p_3">`_` => Value Divider think of this as an equal mark</li>
          <li class="bg_highlight-3 p_3">`primary` => Value</li>
          <li class="bg_warning-3 p_3">`-` => Modifier Divider think of this as shift from the value</li>
          <li class="bg_alert-3 p_3">`n2` => Modifier Values most follow a [n5 , n4, n3, n2, n1, {0 is
          default} , 1, 2, 3, 4, 5, color names, or secondary values]</li>
          <li class="bg_warning-3 p_3">`:`=> Breakpoint Divider when rule should apply</li>
          <li class="bg_accent-3 p_3">`lg`=> Breakpoint Value</li>
      </ol>   
  </div>
  <div class="font_2">
      <div class="font_bold font_3">Long Name Example 2</div>
      <div class="font_1 m-t_2">Add 1 rem of padding to the top when screen is medium and up</div>
      <div class="flex m-t_3">
        <div class="flex_auto bg_primary-3 p_3">padding</div>
        <div class="flex_auto bg_warning-3 p_3">-</div>
        <div class="flex_auto bg_alert-3 p_3">top</div>
        <div class="flex_auto bg_warning-3 p_3">_</div>
        <div class="flex_auto bg_highlight-3 p_3">1 rem = value 4</div>
        <div class="flex_auto bg_warning-3 p_3">:</div>
        <div class="flex_auto bg_accent-3 p_3">medium breakpoint</div>
      </div>
       <div class="font_bold font_1">Utiltiy Class Example</div>
            <div class="flex m-t_3"><div class="flex_auto bg_primary-3 p_3">p</div>
            <div class="flex_auto bg_warning-3 p_3">-</div>
            <div class="flex_auto bg_alert-3 p_3">t</div>
            <div class="flex_auto bg_warning-3 p_3">_</div>
            <div class="flex_auto bg_highlight-3 p_3">4</div>
            <div class="flex_auto bg_warning-3 p_3">:</div
            ><div class="flex_auto bg_accent-3 p_3">md</div>
        </div>
  </div>

 Styleguide UC.Anatomy
*/
/* No styleguide reference. */
/*
Short Hand 

<h2>List of CSS Styles matched to the Utility Class Name</h2>
The breakdown of the names for UCs follow a structured patter for easy muscle memory learning. 

<table class="font_ui w_100">
<thead class="font_1">
<tr>
<th>Style</th>
<th>Short Name</th>
<th>CSS</th>
<th>Long Nmae</th>
</tr>
</thead>
<tbody class="font_0">
<tr>
<td>margin</td>
<td>'.m'</td>
<td>'margin'</td>
<td>'.margin'</td>
</tr>
<tr>
<td>margin-top</td>
<td>'.m-t'</td>
<td>'margin-top'</td>
<td>'.margin-top'</td>
</tr>
<tr>
<td>margin-bottom</td>
<td>'.m-b'</td>
<td>'margin-bottom'</td>
<td>'.margin-bottom'</td>
</tr>
<tr>
<td>margin-left</td>
<td>'.m-l'</td>
<td>'margin-left'</td>
<td>'.margin-left'</td>
</tr>
<tr>
<td>margin-right</td>
<td>'.m-r'</td>
<td>'margin-right'</td>
<td>'.margin-right'</td>
</tr>
<tr>
<td>overflow</td>
<td>'.overflow'</td>
<td>'overflow'</td>
<td>'.overflow'</td>
</tr>
<tr>
<td>padding</td>
<td>'.p'</td>
<td>'padding'</td>
<td>'.padding'</td>
</tr>
<tr>
<td>padding-top</td>
<td>'.p-t'</td>
<td>'padding-top'</td>
<td>'.padding-top'</td>
</tr>
<tr>
<td>padding-bottom</td>
<td>'.p-b'</td>
<td>'padding-bottom'</td>
<td>'.padding-bottom'</td>
</tr>
<tr>
<td>padding-left</td>
<td>'.p-l'</td>
<td>'padding-left'</td>
<td>'.padding-left'</td>
</tr>
<tr>
<td>padding-right</td>
<td>'.p-r'</td>
<td>'padding-right'</td>
<td>'.padding-right'</td>
</tr>
<tr>
<td>line-height</td>
<td>'.lh'</td>
<td>'line-height'</td>
<td>'.line-height'</td>
</tr>
<tr>
<td>font-size</td>
<td>'.font'</td>
<td>'font-size'</td>
<td>'.font-size'</td>
</tr>
<tr>
<td>font-family</td>
<td>'.font'</td>
<td>'font-family'</td>
<td>'.font-family'</td>
</tr>
<tr>
<td>font-weight</td>
<td>'.font'</td>
<td>'font-weight'</td>
<td>'.font-weight'</td>
</tr>
<tr>
<td>font-style</td>
<td>'.font'</td>
<td>'font-style'</td>
<td>'.font-style'</td>
</tr>
<tr>
<td>color</td>
<td>'.c'</td>
<td>'color'</td>
<td>'.color'</td>
</tr>
<tr>
<td>background-color</td>
<td>'.bg'</td>
<td>'background-color'</td>
<td>'.back'</td>
</tr>
<tr>
<td>border-color</td>
<td>'.br'</td>
<td>'border-color'</td>
<td>'.border'</td>
</tr>
<tr>
<td>border-radius</td>
<td>'.br'</td>
<td>'border-radius'</td>
<td>'.border-radius'</td>
</tr>
<tr>
<td>border-top-right-radius</td>
<td>'.br-tr'</td>
<td>'border-top-right-radius'</td>
<td>'.border-top-right-radius'</td>
</tr>
<tr>
<td>border-top-left-radius</td>
<td>'.br-tl'</td>
<td>'border-top-left-radius'</td>
<td>'.border-top-left-radius'</td>
</tr>
<tr>
<td>border-bottom-right-radius</td>
<td>'.br-br'</td>
<td>'border-bottom-right-radius'</td>
<td>'.border-bottom-right-radius'</td>
</tr>
<tr>
<td>border-bottom-left-radius</td>
<td>'.br-bl'</td>
<td>'border-bottom-left-radius'</td>
<td>'.border-bottom-left-radius'</td>
</tr>
<tr>
<td>border-width</td>
<td>'.br'</td>
<td>'border-width'</td>
<td>'.border-width'</td>
</tr>
<tr>
<td>border-top-width</td>
<td>'.br-t'</td>
<td>'border-top-width'</td>
<td>'.border-top-width'</td>
</tr>
<tr>
<td>border-right-width</td>
<td>'.br-r'</td>
<td>'border-right-width'</td>
<td>'.border-right-width'</td>
</tr>
<tr>
<td>border-left-width</td>
<td>'.br-l'</td>
<td>'border-left-width'</td>
<td>'.border-left-width'</td>
</tr>
<tr>
<td>border-bottom-width</td>
<td>'.br-b'</td>
<td>'border-bottom-width'</td>
<td>'.border-bottom-width'</td>
</tr>
<tr>
<td>width</td>
<td>'.w'</td>
<td>'width'</td>
<td>'.width'</td>
</tr>
<tr>
<td>display</td>
<td>'.d'</td>
<td>'display'</td>
<td>'.display'</td>
</tr>
<tr>
<td>max-width</td>
<td>'.max-w'</td>
<td>'max-width'</td>
<td>'.max-width'</td>
</tr>
</tbody>
</table>

 Styleguide UC.Shorthand
*/
