/*
Opacity

A subtle set of  UCs that control opacity can alter the objects level of focus.

Weight: 128

Styleguide Decorator.Opacity

*/
/* No styleguide reference. */

/*
	Opacity Levels

	Set the Opacity of an object.  #{modifierClassTable(opacity)}  

	.opacity_2     - set opacity: 0.1
	.opacity_6     - set opacity: 0.62
	.opacity_8     - set opacity: 0.9
	.opacity_none  - set opacity: 1

	Markup:
	<div class="{{modifier_class}} br_1 br_solid br_white p_2 bg_warning c_white">{{modifier_class}}</div>
	
	MarkupWrapperClasses:
	p_4 bg_primary

	Styleguide Decorator.Opacity.basic
 
 */
@include loop-style(opacity);
