// Nothing in here can have important! to reduce the need for overrides.
.reading-typography{
   // a and links are takend care of in the _link-decoration.scss
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: $margin_4 $margin_0 $margin_3;
}
 h1{}
 h2{}
 h3{}
 h4{}
 h5{}
ul,
ol {
    line-height: $line-height_4;
}
 p+p {
    margin-top: $margin_3;
}


}