/*
Shadows

Shadows can be easily added to container .shadow_{{modifier_class}}.   You can add simple or rich shadows depending on the level of depth and details of the shadow needed for the UI.   

#{class-name-constructor(box-shadow,n5)}			- inset shadow
#{class-name-constructor(box-shadow,n4)}			- inset shadow
#{class-name-constructor(box-shadow,n3)}			- inset shadow
#{class-name-constructor(box-shadow,n2)}			- inset shadow
#{class-name-constructor(box-shadow,n1)}			- inset shadow
#{class-name-constructor(box-shadow,0)}		- no shadow
#{class-name-constructor(box-shadow,1)}		- box shadow
#{class-name-constructor(box-shadow,2)}		- box shadow
#{class-name-constructor(box-shadow,3)}		- box shadow
#{class-name-constructor(box-shadow,4)}		- box shadow
#{class-name-constructor(box-shadow,5)}		- box shadow
#{class-name-constructor(rich-shadow,bevel-light)}				- Rich Shadow bevel-light
#{class-name-constructor(rich-shadow,bevel-bold)}				- Rich Shadow bevel-bold
#{class-name-constructor(rich-shadow,overlap-light)}			- Rich Shadow overlap-light
#{class-name-constructor(rich-shadow,overlap-bold)}				- Rich Shadow overlap-bold
#{class-name-constructor(rich-shadow,emboss-light)}				- Rich Shadow emboss-light
#{class-name-constructor(rich-shadow,emboss-bold)}				- Rich Shadow emboss-bold

Markup:
<div class="{{modifier_class}} bg-blend_overlay bg_primary-5 br_round lh_1 m_0 m_5:md p_4 p_5 text_center texture_light flex flex_column"><span class="flex_auto self_center">{{modifier_class}}</span></div>


MarkupWrapperClasses:
	font_2 font_medium grid p-x_4 p-y_5 template-x_30 texture_light

Weight: 151

Styleguide Background.Shadow
 
 */
@include loop-style(box-shadow);
@include loop-style(rich-shadow);



