/*
	Shadows

	Shadows can be easily added to container .shadow_{{modifier_class}}  

	#{class-name-constructor(box-shadow,n5)}			- inset shadow
	#{class-name-constructor(box-shadow,n4)}			- inset shadow
	#{class-name-constructor(box-shadow,n3)}			- inset shadow
	#{class-name-constructor(box-shadow,n2)}			- inset shadow
	#{class-name-constructor(box-shadow,n1)}			- inset shadow
	#{class-name-constructor(box-shadow,0)}		- no shadow
	#{class-name-constructor(box-shadow,1)}		- box shadow
	#{class-name-constructor(box-shadow,2)}		- box shadow
	#{class-name-constructor(box-shadow,3)}		- box shadow
	#{class-name-constructor(box-shadow,4)}		- box shadow
	#{class-name-constructor(box-shadow,5)}		- box shadow

	Markup:
	<div class="{{modifier_class}} p_3 br_solid br_black-1 br_1 c_whtie">container has shadow of {{modifier_class}}</div>

	Weight: 100

	Styleguide UC.Background.Shadows.Basic
 
 */
@include loop-style(box-shadow);

/*
	Rich Shadows

	Rich Shadows are multi layered showdows that add depth and finer quality of shadows for large UI elements .shadow_{{modifier_class}}  

	#{class-name-constructor(rich-shadow,bevel-light)}				- bevel-light
	#{class-name-constructor(rich-shadow,bevel-bold)}				- bevel-bold
	#{class-name-constructor(rich-shadow,overlap-light)}			- overlap-light
	#{class-name-constructor(rich-shadow,overlap-bold)}			- overlap-bold
	#{class-name-constructor(rich-shadow,emboss-light)}			- emboss-light
	#{class-name-constructor(rich-shadow,emboss-bold)}				- emboss-bold
	

	Markup:
	<div class="texture_dust bg_primary_4 p_5"><div class="{{modifier_class}} br_1 br_black-1 br_shade-2 br_solid bg_shade-5 m_5 p_5">container has shadow of {{modifier_class}}</div></div>

	Weight: 100

	Styleguide UC.Background.Shadows.Rich
 
 */
@include loop-style(rich-shadow);
