/*
New Content On Site (Pathway Colors)
 
Description: New Items on the site use the colors of the pathways to enrich the page with some color details. 

.bg_acute 						                - Acute Coronary Syndromes CAD, PAD
.bg_arrthythmias 				                - Arrthythmias and Clinical EP Atrial Fibulation, Bradycardia, Supraventricular Tachycardia
.bg_congenital-n1						            - #{$pathway-congenital-heart-disease}  Congenital Heart Disease:Congenital Heart Defects
.bg_ecg-n1 								        - #{$pathway-ecg-stress-test}  Standard ECG, Stress Test
.bg_vascular								    - #{$pathway-vascular-medicine}  Vascular Medicine Aortic Aneurysm, Peripheral Artery Disease, Renal Artery Disease, Subclavian Artery Disease,Varicose Veins
.bg_prevention 									- #{$pathway-prevention}  Prevention High blood presure
.bg_hf 									        - #{$pathway-heart-failure}  Heart Failure Heart Valve Disease, Aortic Stenosis, Mitral Regurgitation
.bg_valvular 						            - #{$pathway-valvular-heart-disease} Valvular Heart Disease Heart Valve Disease,Aortic Stenosis,Mitral Regurgitation
.bg_ischemnic 				                    - #{$pathway-stable-ischemnic-heart-disease}  Stable Ischemnic Heart Disease
.bg_secondary                                   - Diabetes, Diabetes and Your Heart, Metabolic Syndrome
.bg_shade-n2                                  - Angina, Endocarditis, Heart Attack, Stroke, Sudden Cardiac Arrest, Sudden Cardiac Arrest and Sports, Cardio-oncology, Geriatric Cardiology, Cardiac Rehab
.bg_invasive-3							        - #{$pathway-invasive-cardiology}  Invasive Cardiology Angiography and Intervention
.bg_noninvasive-3 						        - #{$pathway-noninvasive-cardiology}  Noninvasive Cardiology
.bg_pulmonary-3 						        - #{$pathway-pulmonary-hypertension}  Pulmonary Hypertension and Venous Thromboembolic Disease
.bg_preicardial-3 								- #{$pathway-preicardial}  Preicardial Disease
.bg_special-3 									- #{$pathway-special}  Special


Markup:
<div class="{{modifier_class}} br_radius  h:bg_primary p-x_4 p-y_3 relative min-h_10 c_white max-w_40">
    <ul class="absolute t_0 r_0 l_0 br-t_3 c_black font_n1 br_white-5 br_solid ul_none flex flex_row-reverse c_white" >
        <li class="bg_white-5 flex_shrink p-x_3 br-bl_radius">
           Topic Name related to {{modifier_class}}
        </li>
    </ul>
    <div class="flex flex_row p-t_4">
        <div class="flex_grow p-y_4">
            <i class="fad fa-file-medical-alt font_8"></i>
        </div>
        <div class="font_0 flex_copy p_4 flex_shrink">
            Congenital Heart Defects: Caring for Your Child
        </div>
    </div>
    <span class="absolute b_3 h:opacity opacity_7 r_3 m-r_3">
        <span
            class="m-r_2 uppercase font_n1 font_ui inline m-t_n2"
            >learn more</span
        >
        <i
            class="block fa-arrow-alt-circle-right fas font_0"
        ></i>
    </span>
</div>  

 
Weight:0
 
Styleguide Recipes.Featured.Colors

*/

/*
New Content On Site (Content Icons)
 
Description: New Items on the site use the colors of the pathways to enrich the page with some color details. 

.fa-file-medical-alt            - Generic article (file-medical-alt)
.fa-newspaper                   - News article (newspaper) 
.fa-hospital-user               - Patient/survivor story (address-card) (hospital-user) (file user)
.fa-file-chart-pie              - Infographic (file-chart-pie)
.fa-ballot-check                - Fact Sheet (ballot-check) (file-spreadsheet)
.fa-comments-alt                - Discussion Guide (user-md-chat)(comments-alt)
.fa-file-signature              - Action Plan (file-signature)
.fa-sitemap                     - Decision Aid (sitemap) (code-branch)
.fa-calculator                  - Risk Calculator (calculator)
.fa-photo-video                 - Video (photo-video)
.fa-book-heart                  - Generic Prevention (heart) (book-heart)
.fa-utensils-alt                - Eat Better (utensils-alt)
.fa-weight                      - Lose Weight (weight)
.fa-walking                     - Move More (walking) (running)
.fa-alarm-snooze                - Relax (alarm-snooze) (spa)
.fa-smoking-ban                 - Stop Smoking (smoking-ban)
.fa-clipboard-user              - Manage Your Health (clipboard check) (clipboard-user)
.fa-prescription-bottle-alt     - Medication Adherence (prescription-bottle)
.fa-hand-holding-heart          - Caregivers (hand-holding-heart) (user-friends)
.fa-users-medical               - Editor in chief/Editorial Board (users-medical)


Markup:
<div class="bg_arrthythmias br_radius  h:bg_primary p-x_4 p-y_3 relative min-h_10 c_white max-w_40">
    <ul class="absolute t_0 r_0 l_0 br-t_3 c_black font_n1 br_white-5 br_solid ul_none flex flex_row-reverse c_white" >
        <li class="bg_white-5 flex_shrink p-x_3 br-bl_radius">
           Supraventricular Tachycardia
        </li>
    </ul>
    <div class="flex flex_row p-t_4">
        <div class="flex_grow p-y_4">
            <i class="fad {{modifier_class}} font_8"></i>
        </div>
        <div class="font_0 flex_copy p_4 flex_shrink">
            Congenital Heart Defects: Caring for Your Child
        </div>
    </div>
    <span class="absolute b_3 h:opacity opacity_7 r_3 m-r_3">
        <span
            class="m-r_2 uppercase font_n1 font_ui inline m-t_n2"
            >learn more</span
        >
        <i
            class="block fa-arrow-alt-circle-right fas font_0"
        ></i>
    </span>
</div>  

 
Weight:0
 
Styleguide Recipes.Featured.Icons

*/

/*
Featured Tool (Icon) (1.01.01-C)

A featured tool is a single selected asset from the asset library. (Secondary Level Item)

Markup:
<aside class="max-w_35 bg_secondary-5 br_1 br_shade-3 br_solid m-b_4 p_4 font_0 relative p-t_5 br-br_radius br-bl_radius">
    <div class="br-t_3 br_solid br_secondary text_left absolute t_0 r_0 l_0 font_n2 c_white font_ui font_xbold">
        <ul class="ul_none flex flex_row-reverse ">
            <li class="flex_shirink bg_secondary p-x_3 p-y_1">
                Older Adults &amp; Heart Disease
            </li>
            <li class="flex_shirink bg_shade-n1 p-x_3 p-y_1">
                Checklist
            </li>
        </ul>
    </div>
    <div class="relative text_center ">
        <div class="p-x_4 p-y_4 inline-block w_auto bg_primary c_white font_8 shadow_overlap-bold br_2 br_solid br_white-9">
            <i class="fad fa-tasks p-y_3 p-x_2"></i>
        </div>
        <header class="font_display font_2 m-y_3 block">
            <a href="" class="link c_primary expanded-click-area">Self-Care Checklist</a>
        </header>
    </div>
    <footer class="font_ui text_center font_0 capitalize">
        <ul class="ul_none flex justify_center br_black-2 br_solid br_1 m-b_n4 m-x_n4 font_n1">
            <li class="flex_auto p-x_3 p-y_2 br-r_1 br_solid br_black-2 relative h:bg_white">
                <a href="" class="link c_primary-n1 expanded-click-area"><i class="fas fa-arrow-down"></i>
                    download
                </a>
            </li>
            <li class="flex_auto p-x_3 p-y_2 relative h:bg_white">
                <a href="" class="link c_primary-n1 expanded-click-area"><i class="fas fa-share"></i>
                    share</a>
            </li>
        </ul>
    </footer>
</aside>

Weight: 0

Styleguide Recipes.Basic.Featured Tool.Icon

*/

/*
Featured Tool (Illustration) (1.01.01-C)

A featured tool is a single selected asset from the asset library. (Secondary Level Item)

Markup:
<aside class="max-w_35 bg_secondary-5 br_1 br_shade-3 br_solid m-b_4 p_4 font_0 relative p-t_5 br-br_radius br-bl_radius">
    <div
        class="br-t_3 br_solid br_secondary text_left absolute t_0 r_0 l_0 font_n2 c_white font_ui font_xbold">
        <ul class="ul_none flex flex_row-reverse ">
            <li class="flex_shirink bg_secondary p-x_3 p-y_1">
                Generic
            </li>
            <li class="flex_shirink bg_shade-n1 p-x_3 p-y_1">
                infographic
            </li>
        </ul>
    </div>
    <div class="relative">
        <img class="block m_auto shadow_overlap-bold br_2 br_solid br_white-9"
            src=" https://www.cardiosmart.org/~/media/Images/Infographics/Prevention/Sugars-t.ashx"
            alt="infographic" />
        <header class="font_display text_center font_2 m-y_3 block">
            <a href="" class="link c_primary expanded-click-area">Sugars &amp; Sweeteners</a>
        </header>
    </div>
    <footer class="font_ui text_center font_0 capitalize">
        <ul class="ul_none flex justify_center br_black-2 br_solid br_1 m-b_n4 m-x_n4 font_n1">
            <li class="flex_auto p-x_3 p-y_2 br-r_1 br_solid br_black-2 relative h:bg_white">
                <a href="" class="link c_primary-n1 expanded-click-area"><i
                        class="fas fa-arrow-down"></i>
                    download
                </a>
            </li>
            <li class="flex_auto p-x_3 p-y_2 relative h:bg_white">
                <a href="" class="link c_primary-n1 expanded-click-area"><i class="fas fa-share"></i>
                    share</a>
            </li>
        </ul>
    </footer>
    </aside>

Weight: 0

Styleguide Recipes.Basic.Featured Tool.Thumbnail

*/
