/*
Article Content (1.01.01.01-A)

Content Item of a news article. The Content of the article.  Rich text area allowing for all standard Word Like typography definitions. 
 (Primary Level Item)

Markup:
<div>Content Item of a news article</div>

Weight: 0

Styleguide CardioSmart.Article.Content
*/

/*
Author & Article Meta Data.(1.01.01.01-B)

information about the article, author and taxonimy. Meta Data of an article may include: Author, Photo/Avatar of Author, Date Published, Tags & Topics of the Article, And last edited. (Secondary Level Item)

Markup:
<div>Meta Data of a news article</div>

Weight: 0

Styleguide CardioSmart.Article.Author 
*/

/*
Share Content (1.01.01.01-C)

Widget to share to a social media. Shared Content clips url and pushes it to common platforms like facebook, twitter, instagram, etc.
 (Third Level)


Markup:
<div<ul class="flex m_0 social-bar ul_none">
				<li class="flex_shrink m-r_1">
					<a href="https://twitter.com/accintouch" target="_blank" class="bg_twitter block br-bl_radius br-tl_radius c_shade-5 h:bg_accent h:c_white m-b_0 p-x_3 p_2 social-bar--button text_center transition_0 twitter"><i class="fab fa-twitter-square"></i></a>
				</li>
				<li class="flex_shrink m-r_1">
					<a href="https://www.facebook.com/AmericanCollegeofCardiology" target="_blank" class="facebook bg_facebook  c_shade-5 block h:bg_accent h:c_white m-b_0 p-x_3 p_2 social-bar--button text_center transition_0"><i class="fab fa-facebook-square"></i></a>
				</li>
				<li class="flex_shrink m-r_1">
					<a href="https://www.linkedin.com/company/american-college-of-cardiology/" target="_blank" class="linkedin bg_linkedin  block  c_shade-5 h:bg_accent h:c_white m-b_0 p-x_3 p_2 social-bar--button text_center transition_0"><i class="fab fa-linkedin"></i></a>
				</li>
				<li class="flex_shrink m-r_1">
					<a href="http://www.youtube.com/user/ACCinTouch" target="_blank" class="youtube bg_youtube  c_shade-5  block h:bg_accent h:c_white m-b_0 p-x_3 p_2 social-bar--button text_center transition_0"><i class="fab fa-youtube"></i></a>
				</li>
				<li class="flex_shrink m-r_1">
					<a href="https://play.google.com/store/apps/dev?id=5189912010956845696&amp;hl=en_US" target="_blank" class="google-play bg_google-play   c_shade-5 block h:bg_accent h:c_white m-b_0 p-x_3 p_2 social-bar--button text_center transition_0"><i class="fab fa-google-play"></i></a>
				</li>
				<li class="flex_shrink m-r_1">
					<a href="https://apps.apple.com/us/developer/american-college-of-cardiology/id502174543#see-all/i-phonei-pad-apps" target="_blank" class="apple-store bg_apple-store block br-br_radius br-tr_radius c_shade-5 h:bg_accent h:c_white m-b_0 p-x_3 p_2 social-bar--button text_center transition_0"><i class="fab fa-apple"></i></a>
				</li>
         </ul>
         </div>

Weight: 2000

Styleguide CardioSmart.Article.Share
*/
