/*

Patient Story Excerpt (1.01.02-A)

Render an excerpt of a survivor story that is related to the topic of the page. There are 3 click actions: read story, next story, view all stories.  (Secondary Level Content)

Markup:
<aside>
<img src="https://www.cardiosmart.org/~/media/Slides/2017 I am CS Stories/Blitz-1.ashx?h=364&la=en&w=622"/>
<h2>Jared Blitz thriving with aortic valve stenosis
</h2>
<a href="#">Learn More</a>
</aside>

Weight: 1000

Styleguide RecipesPatient.Excerpt

*/

/*

Patient Story Excerpt (1.01.02-A)

Render an excerpt of a survivor story that is related to the topic of the page. There are 3 click actions: read story, next story, view all stories.  (Secondary Level Content)

Markup:
<article> 
 <p>
Born with aortic valve stenosis and having endured open-heart surgery to replace the valves (Ross procedure) at 17, I recovered well enough to play tennis at the collegiate level while earning a bachelor’s degree in kinesiology with an emphasis in cardiac exercise. After exploring work in the field of cardiac rehabilitation, an environment that I found hit uncomfortably close to home on a daily basis, I switched to higher education. I began teaching courses in health and exercise science at a community college, both during and after my own graduate education. As I learned more through my studies and experiences, my interests switched to public health: Specifically, how to prevent and treat chronic disease through fitness. This has led to a love affair with the American College of Sports Medicine’s “Exercise is Medicine” initiative.
 </p>
<p>
After I could no longer play sports competitively, I needed a new outlet for my physical and mental health. My cardiologists made it clear that I was already at a disadvantage, and it was imperative that I stayed active to maintain good health. Eighteen years after open-heart surgery, I have a passion for exploration. In addition to enjoying daily life, one of the major driving forces that energizes me is to see the world by hiking through it. For me, the best way to experience the most amazing places the planet has to offer is by foot. Hiking offers a more controllable challenge with consistent, mind-blowing payoffs — always full of adventures. I try to hike 100+ miles in the summer months alone. 
 </p>
<p>
Hikes may sound ordinary, especially where I live in Colorado. However, over the past 18 years, I have not taken any medications, my blood pressure is under control, and my replaced valves are holding steady despite that the very best valves appear to last only 15 years. I am without question living well with heart disease. Even though that is supposed to be temporary, I have the benefit of knowledge (and modern medicine) to recognize I can enjoy what I love, with patience and support.
 </p>
<p>As the fitness and wellness manager at the Staenberg-Loup Jewish Community Center in Denver, I intend to use the same enthusiasm to help others and provide them with opportunities to live CardioSmart. If I have learned anything as someone who has spent his life trying to prove he can live independently in spite of his circumstances, living well is best when shared with others who also want to live well.  </p>
</article>

Weight: 1000

Styleguide RecipesPatient.Complete

*/
