/*
Page Title (1.01-Z)

Dynamical Driven from the Meta Data, and should also populate the meta Tag Title in the header of the html
 (Emphasis Level)


Markup:
<div>Title and meta data of a page</div>

Weight: -1

Styleguide CardioSmart.Page.Title
*/

/*

Collapsed Content Section (1.01-b)

Easy to edit content wells wrapped in a collapser.  These content area should support all rich text needs and hyperlinks (Primary Level Content)

<section>header and collapser with rich content insite</section>

Weight: 10

Styleguide CardioSmart.Page.Collapsed Content

*/

/*
Page Intro Content

Content that is the teaser or leading concept of the page.  This is an (Emphasis Level Item)

Markup:
<div>Page Intro(Emphasis Item)</div>

Weight: 0

Styleguide CardioSmart.Page.Intro

*/

/*
Hub, Concept, or Category Link

Main pages have concepts or categories which lead to a deeper dive of content.  (Emphasis Level Item)

Markup:
<div>Hub Link (Emphasis Level Item)</div>

Weight: 0

Styleguide CardioSmart.Page.Category Links

*/
