/*
News Hero (1.01.01-D)

Large Featured Rotater of News Tieles and short synopsis (Empashized Level Item)

Markup:
<div class="font_1">News Hero (Empashized Level Item)</div>

Weight: 0

Styleguide Recipes CardioSmart.News.Hero

*/
/*
News ITem

A short synopsis of a news article that is used in a repeating list. (Primary Level Item) 

Markup:
<div class="font_0">News Item (Primary Item)</div>

Weight: 0

Styleguide Recipes CardioSmart.News.Item

*/
/*
News Featured (1.01.01-F)

A news Item that is featured in a sidebar becuase it is sponsored, partnererd, or featured as a static item. (Primary Level Item)

Markup:
<div>News Featured (Primary Item)</div>

Weight: 0

Styleguide Recipes CardioSmart.News.Featured

*/

/*
Featured Tool (1.01.01-C)

A featured tool is a single selected tool that can be pulled in when needed. (Secondary Level Item)

Markup:
<div> Featured Tool (Secondary Item)</div>

Weight: 0

Styleguide Recipes CardioSmart.Base.Featured

*/

/*
Related News Items (1.01.01-G)

A news Item that is related to the news topic that is not the news topic.  This content is an expoloritive item to drive discovery of other sections of the website. (Secondary Level Item)

Markup:
<div>News Featured (Secondary Item)</div>

Weight: 0

Styleguide Recipes CardioSmart.News.Related Item

*/

/*
Page Intro Content

Content that is the teaser or leading concept of the page.  This is an (Emphasis Level Item)

Markup:
<div>Page Intro(Emphasis Item)</div>

Weight: 0

Styleguide Recipes CardioSmart.Page.Intro

*/

/*
Hub, Concept, or Category Link

Main pages have concepts or categories which lead to a deeper dive of content.  (Emphasis Level Item)
Markup:
<div>Hub Link (Emphasis Level Item)</div>

Weight: 0

Styleguide Recipes CardioSmart.Page.Category Link

*/

/*
Hub, Concept, or Category Link

Main pages have concepts or categories which lead to a deeper dive of content.  (Emphasis Level Item)
Markup:
<div>Hub Link (Emphasis Level Item)</div>

Weight: 0

Styleguide Recipes CardioSmart.Page.Category Link

*/

/*
Related Section

Related content with a repater and carousel features.  (Secondary Level Item)
Markup:
<div>Related Items Listed here(Secondary Level)</div>

Weight: 0

Styleguide Recipes CardioSmart.Page.Related Section
*/

/*
Related Item

Related Items on a page can be , news, tool, etc...  (Secondary Level Item)

Markup:
<div>Hub Link (Secondary Level Item)</div>

Weight: 0

Styleguide Recipes CardioSmart.Page.Related Items
*/

/*
Related Topics

Related Topics is a list of topics that can be related to the current topic.  (Primary Level Item)

Markup:
<div>List of related topic links (Primary Level Item)</div>

Weight: 0

Styleguide Recipes CardioSmart.Page.Related Topics
*/

/*
Featured Tools

Featured Tools is a list of tools related to the current topics  (Secondary Level Item)

Markup:
<div>List of featured items to the current topic. This featured list can be Tools,(Secondary Level Item)</div>

Weight: 0

Styleguide Recipes CardioSmart.Page.Featured List
*/
