/*
News Hero (1.01.01-D)

Large Featured Rotater of News Tieles and short synopsis (Empashized Level Item)

Markup:
<div class="font_1 bg_shade-5"><h1 class="font_6">News Hero (Empashized Level Item)</h1></div>

Weight: 0

Styleguide CardioSmart.News.Hero

*/
/*
News Item (1.01.01-E)

A short synopsis of a news article that is used in a repeating list. (Primary Level Item) 

Markup:
<div class="font_0">News Item (Primary Item)</div>

Weight: 0

Styleguide CardioSmart.News.Item

*/
/*
News Featured (1.01.01-F)

A news Item that is featured in a sidebar becuase it is sponsored, partnererd, or featured as a static item. (Primary Level Item)

Markup:
<div>News Featured (Primary Item)</div>

Weight: 0

Styleguide CardioSmart.News.Featured

*/
