/*
Page Title (1.01-Z)

Dynamical Driven from the Meta Data, and should also populate the meta Tag Title in the header of the html (Emphasis Level)


Markup:
<header class="">
	<h1 data-attr="title" class="">Quality Comes First in Carbs vs. Fats Debate</h1>
	
</header>

Weight: -1

Styleguide RecipesPages.Title
*/


/*

Editor Credit (1.01-D)

Meta Data Driven Component that renders when it published/last reviewed and who is credited as reviewers for the page. (Third Level Content)

Markup:
<cite class="font_italic font_n2 font_ui">
   <ul class="flex flex_wrap m-l_0:md m-l_3 ul_none" data-attr="editors">
      <li class="p-r_3" data-attr="date">
         Last Edited<span class="font_bold c_secondary p-x_2 ">
            DD/MM/YYYY</span>
      </li>
      <li class="block br-l_1 br_none br_primary-3 br_solid:md m-b_0:md m-b_n2 p-l_0 p-l_3:md p-r_2 w_100 w_auto:md">
         Medical Reviewer(s):
      </li>
      <li class="p-l_3:md p-r_3" data-attr="editor">
         <a class="link"><i class="fas fa-user p-r_3 c_black-5"></i>Simon
            Puckett</a>
      </li>
      <li class="br-l_1 br_secondary-3 br_dotted:md br_none p-l_3:md p-r_3" data-attr="editor">
         <a class="link"><i class="fas fa-user p-r_3 c_black-5"></i>Margret
            Choe</a>
      </li>
   </ul>
</cite>

Weight: 1000

Styleguide RecipesPages.Editor Credit

*/


/*

Collapsed Content Section (1.01-b)

Easy to edit content wells wrapped in a collapser.  These content area should support all rich text needs and hyperlinks (Primary Level Content)

Markup:
<div class="accordion" id="accordionExample">
  <div class="br_none card">
    <div class="bg_white-0 br_none card-header p-b_0 p-t_3 p-x_0" id="headingOne">
        <h2 class="m_0"><button class="block br_none btn btn-link font_1 font_bold h:bg_primary-5 h:underline-none text_left w_100 collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <i class="fas icon-toggle_plus-minus p-r_3"></i>Collapsible Group Item #1
        </button></h2>
    </div>
    <div id="collapseOne" class="br-b_1 br-t_1 br_black-2 br_dotted card-body collapse m-x_3 m-b_2 m-t_3 p-b_4 p-l_3 p-t_2 " aria-labelledby="headingOne" data-parent="#accordionExample" style="">
      <div class="">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
   <div class="br_none card">
    <div class="bg_white-0 br_none card-header p-b_0 p-t_3 p-x_0" id="headerTwo">
         <h2 class="m_0"><button class="block br_none btn btn-link font_1 font_bold h:bg_primary-5 h:underline-none text_left w_100 collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <i class="fas icon-toggle_plus-minus p-r_3"></i>Collapsible Group Item #2
        </button></h2>
    </div>
    <div id="collapseTwo" class="br-b_1 br-t_1 br_black-2 br_dotted card-body collapse m-x_3 m-b_2 m-t_3 p-b_4 p-l_3 p-t_2 " aria-labelledby="headerTwo" data-parent="#accordionExample" style="">
      <div class="">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
    <div class="br_none card">
    <div class="bg_white-0 br_none card-header p-b_0 p-t_3 p-x_0" id="headingThree">
         <h2 class="m_0"><button class="block br_none btn btn-link font_1 font_bold h:bg_primary-5 h:underline-none text_left undecorated w_100" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          <i class="fas icon-toggle_plus-minus p-r_3"></i>Collapsible Group Item #3
        </button></h2>
    </div>
    <div id="collapseThree" class="br-b_1 br-t_1 br_black-2 br_dotted card-body collapse m-x_3 m-b_2 m-t_3 p-b_4 p-l_3 p-t_2  show" aria-labelledby="headingThree" data-parent="#accordionExample" style="">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab voluptatibus ut quibusdam officiis, debitis quae ipsum fugiat, facere repellat assumenda dolorum ducimus ad rem blanditiis, deleniti dolorem consequuntur nostrum corrupti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur aliquid tempora quo optio explicabo deleniti cupiditate ducimus error, quam minus rem mollitia. Sequi sint ratione voluptatem assumenda mollitia id rerum.   
    </div>
  </div>
</div>

Weight: 10

Styleguide RecipesPages.Collapsed Content

*/


/*
Page Intro Content

Content that is the teaser or leading concept of the page.  This is an (Emphasis Level Item)

Markup:
<div>Page Intro(Emphasis Item)</div>

Weight: 0

Styleguide RecipesPages.Intro

*/


/*
Hub, Concept, or Category Link

Main pages have concepts or categories which lead to a deeper dive of content.  (Emphasis Level Item)

Markup:
<div>Hub Link (Emphasis Level Item)</div>

Weight: 0

Styleguide RecipesPages.Category Links

*/


/*

Living With(1.01-E)

A dynamic block that fills the Topic Name into the call to action and links to the corresponding sub page "Living With X"

Markup:
<div>A dynamic block that fills the Topic Name into the call to action and links to the corresponding sub page "Living With X".</div>

Weight: 10

Styleguide RecipesPages.LivingWith

*/


/*
Side Bar
 
Description: Side navs show up when you are with in a content area like topic.
 
Markup:
<nav class="hidden-print m-r_0 m_3 nav-sub">
<ul class="bg_shade-5 flex flex_column font_0 font_bold font_ui nav">
  <li class="nav-item active">
    <a class="bg_shade-n2 c_white font_1 h:bg_white-4 h:c_black lh_1 nav-link p-l_3 p-y_2 p-y_3" href="/accreditation/heartcare-center-recognition-program" target="_self"><i class="fa fa-home p-r_3"></i>Atrial Fibrillation</a>
  </li>
  <li data-nav="parent" class="nav-item parent">
    <ul data-nav="child" class="flex_column font_n1 nav text-indent_2 bg_shade-4">
      <li class="nav-item">
        <a class="nav-link p-y_2 c_shade-n3 h:bg_black-2 h:c_black" href="/accreditation/about-accreditation/benefits-of-accreditation" target="_self"><i class="fa fa-holder toggle"></i>Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-y_2 c_shade-n3 h:bg_black-2 h:c_black" href="/accreditation/about-accreditation/steps-to-accreditation" target="_self"><i class="fa fa-holder toggle"></i>Living With</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-y_2 c_shade-n3 h:bg_black-2 h:c_black" href="/accreditation/about-accreditation/testimonials-and-success-stories" target="_self"><i class="fa fa-holder toggle"></i>Risks
        </a>
      </li>
    </ul>
  </li>
  <li data-nav="parent" class="display_none nav-item parent">
    <a class="a:c_accent c_shade-n3 fa-caret-right h:bg_white-4 icon-before nav-link p-y_2" href="/accreditation/services" target="_self"><i class="fa fa-holder toggle"></i>Tools</a>
    <ul data-nav="child" class="bg_shade-4 flex_column font_n1 nav text-indent_1">
      <li class="nav-item parent">
        <a class="h:bg_black-1 c_shade-n3 fa-caret-right icon-before nav-link p-y_2" href="/accreditation/services/CCL" target="_self"><i class="fa fa-holder toggle"></i>Cardiac Cath Lab Accreditation</a>
        <ul class="nav flex_column bg_black-2 font_n1 text-indent_3">
          <li class="nav-item">
            <a class="nav-link c_shade-n4 p-y_2" href="/accreditation/services/CCL/OnDemandCathLabwebianrs" target="_self">On-Demand Cath Lab
              Webinars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link c_shade-n4 p-y_2" href="/accreditation/services/CCL/CCLBenefits" target="_self">Cardiac Cath Lab Features
              Benefits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link c_shade-n4 p-y_2" href="/accreditation/services/CCL/cardiac-cath-lab-accreditation-training" target="_self">Cardiac Cath Lab
              Accreditation Training</a>
          </li>
        </ul>
      </li>
      <li class="nav-item parent">
        <a class="nav-link c_shade-n3 fa-caret-right icon-before nav-link p-y_2" href="/accreditation/services/chest-pain-center-accreditation" target="_self"><i class="fa fa-holder toggle"></i>Chest Pain Center Accreditation</a>
        <ul class="nav flex_column bg_black-2 font_n1 text-indent_3">
          <li class="nav-item">
            <a class="nav-link c_shade-n4 nav-link p-y_2" href="/accreditation/services/chest-pain-center-accreditation/cpcwebinars" target="_self"><i class="fa fa-holder toggle"></i>On-Demand Chest Pain Center
              Webinars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c_shade-n4 nav-link p-y_2" href="/accreditation/services/chest-pain-center-accreditation/CPCDesignations" target="_self"><i class="fa fa-holder toggle"></i>Chest Pain Center
              Accreditation
              Designations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c_shade-n4 nav-link p-y_2" href="/accreditation/services/chest-pain-center-accreditation/CPCBenefits" target="_self"><i class="fa fa-holder toggle"></i>Chest Pain Center
              Accreditation Features
              Benefits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c_shade-n4 nav-link p-y_2" href="/accreditation/services/chest-pain-center-accreditation/CPCsupplementalED" target="_self"><i class="fa fa-holder toggle"></i>Supplemental Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c_shade-n4 nav-link p-y_2" href="/accreditation/services/chest-pain-center-accreditation/CPCGuidelines" target="_self"><i class="fa fa-holder toggle"></i>Chest Pain Center
              Accreditation Guidelines</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c_shade-n4 nav-link p-y_2" href="/accreditation/services/chest-pain-center-accreditation/CPCArticles" target="_self"><i class="fa fa-holder toggle"></i>Chest Pain Center
              Accreditation Articles
              Abstracts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c_shade-n4 nav-link p-y_2" href="/accreditation/services/chest-pain-center-accreditation/CPCPublications" target="_self"><i class="fa fa-holder toggle"></i>Chest Pain Center
              Accreditation Pubs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c_shade-n4 nav-link p-y_2" href="/accreditation/services/chest-pain-center-accreditation/CPCQuestions" target="_self"><i class="fa fa-holder toggle"></i>Chest Pain Center FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c_shade-n4 nav-link p-y_2" href="/accreditation/services/chest-pain-center-accreditation/chest-pain-center-accreditation-training" target="_self"><i class="fa fa-holder toggle"></i>Chest Pain Center
              Accreditation Training</a>
          </li>
        </ul>
      </li>
      <li class="nav-item parent">
        <a class="h:bg_black-1 c_shade-n3 fa-caret-right icon-before nav-link p-y_2" href="/accreditation/services/EP" target="_self"><i class="fa fa-holder toggle"></i>Electrophysiology Accreditation</a>
        <ul class="nav flex_column bg_black-2 font_n1 text-indent_3">
          <li class="nav-item">
            <a class="nav-link c_shade-n4 p-y_2" href="/accreditation/services/EP/register-for-webinar" target="_self"><i class="fa fa-holder toggle"></i>On-Demand EP Webinars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c_shade-n4 p-y_2" href="/accreditation/services/EP/EPBenefits" target="_self"><i class="fa fa-holder toggle"></i>Electrophysiology Features
              Benefits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c_shade-n4 p-y_2" href="/accreditation/services/EP/electrophysiology-accreditation-training" target="_self"><i class="fa fa-holder toggle"></i>Electrophysiology
              Accreditation Training</a>
          </li>
        </ul>
      </li>
      <li class="nav-item parent">
        <a class="h:bg_black-1 c_shade-n3 fa-caret-right icon-before nav-link p-y_2" href="/accreditation/services/HF" target="_self"><i class="fa fa-holder toggle"></i>Heart Failure Accreditation</a>
        <ul class="nav flex_column bg_black-2 font_n1 text-indent_3">
          <li class="nav-item">
            <a class="nav-link c_shade-n4 p-y_2" href="/accreditation/services/HF/hfwebinars" target="_self"><i class="fa fa-holder toggle"></i>On-Demand Heart Failure
              Webinars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c_shade-n4 p-y_2" href="/accreditation/services/HF/HFBenefits" target="_self"><i class="fa fa-holder toggle"></i>Heart Failure Accreditation
              Features Benefits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c_shade-n4 p-y_2" href="/accreditation/services/HF/supplementalED" target="_self"><i class="fa fa-holder toggle"></i>Supplemental Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c_shade-n4 p-y_2" href="/accreditation/services/HF/HFGuidelines" target="_self"><i class="fa fa-holder toggle"></i>Heart Failure Accreditation
              Guidelines</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c_shade-n4 p-y_2" href="/accreditation/services/HF/HFArticles" target="_self"><i class="fa fa-holder toggle"></i>Heart Failure Accreditation
              Articles and Abstracts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c_shade-n4 p-y_2" href="/accreditation/services/HF/HFPublications" target="_self"><i class="fa fa-holder toggle"></i>Heart Failure Accreditation
              Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c_shade-n4 p-y_2" href="/accreditation/services/HF/HFQuestions" target="_self"><i class="fa fa-holder toggle"></i>Heart Failure FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link c_shade-n4 p-y_2" href="/accreditation/services/HF/heart-failure-accreditation-training" target="_self"><i class="fa fa-holder toggle"></i>Heart Failure Accreditation
              Training</a>
          </li>
        </ul>
      </li>
      <li class="nav-item parent">
        <a class="h:bg_black-1 c_shade-n3 fa-caret-right icon-before nav-link p-y_2" href="/accreditation/services/TCV" target="_self"><i class="fa fa-holder toggle"></i>Transcatheter Valve
          Certification</a>
        <ul class="nav flex_column bg_black-2 font_n1 text-indent_3">
          <li class="nav-item">
            <a class="nav-link c_shade-n4 p-y_2" href="/accreditation/services/TCV/TCV-certification-training" target="_self"><i class="fa fa-holder toggle"></i>Transcatheter Valve
              Certification Training</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="h:bg_black-1 c_shade-n3 nav-link p-y_2" href="/accreditation/services/C4Certification" target="_self"><i class="fa fa-holder toggle"></i>C4 Certification</a>
      </li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="a:c_accent c_shade-n3 fa-caret-right h:bg_white-4 icon-before nav-link p-y_2" href="/accreditation/heartcare-center-recognition-program" target="_self"><i class="fa fa-holder toggle"></i>Tools</a>
  </li>
  <li class="nav-item">
    <a class="a:c_accent c_shade-n3 fa-caret-right h:bg_white-4 icon-before nav-link p-y_2" href="/accreditation/acc-quality-summit-2020" target="_self"><i class="fa fa-holder toggle"></i>Articles</a>
  </li>
  <li class="active current nav-item">
    <a class="a:bg_accent a:c_white c_shade-n3 fa-caret-right h:bg_white-4 icon-before nav-link p-y_2" href="/accreditation/brand" target="_self"><i class="fa fa-holder toggle"></i>News</a>
    <ul data-nav="child" class="flex_column font_n1 nav text-indent_2 bg_shade-4">
      <li class="nav-item">
        <a class="nav-link p-y_2 c_shade-n3 h:bg_black-2 h:c_black" href="/accreditation/about-accreditation/benefits-of-accreditation" target="_self"><i class="fa fa-holder toggle"></i>Featured</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-y_2 c_shade-n3 h:bg_black-2 h:c_black" href="/accreditation/about-accreditation/steps-to-accreditation" target="_self"><i class="fa fa-holder toggle"></i>Latest</a>
      </li>
      <li class="active nav-item">
        <a class="a:bg_accent-n2 a:c_accent-5 h:bg_black-2 h:c_black lh_3 nav-link p-l_5 p-y_2 text-indent_0" href="/accreditation/about-accreditation/testimonials-and-success-stories" target="_self"><i class="fa fa-holder toggle"></i>Quality Comes First in Carbs vs.
          Fats Debate</a>
      </li>
    </ul>
  </li>
  <li data-nav="parent" class="nav-item parent">
    <a class="a:c_accent c_shade-n3 fa-caret-right h:bg_white-4 icon-before nav-link p-y_2" href="/accreditation/advocacy" target="_self"><i class="fa fa-holder toggle"></i>Resources</a>
  </li>
</ul>
</nav>
 
Weight:0
 
Styleguide Recipes.Sidebar
*/