/*
Related News Items (1.01.01-G)

A news Item that is related to the news topic that is not the news topic.  This content is an expoloritive item to drive discovery of other sections of the website. (Secondary Level Item)

Markup:
<div>Related News List Item (Secondary Item)</div>

Weight: 0

Styleguide Recipes.Basic.Related News

*/

/*

Patient Story Excerpt (1.01.02-A)

Render an excerpt of a survivor story that is related to the topic of the page. There are 3 click actions: read story, next story, view all stories.  (Secondary Level Content)

Markup:
<aside> Story insert with navigation system to stories.</aside>

Weight: 1000

Styleguide Recipes.Page.Patient Story

*/
/*

Editor Credit (1.01-D)

Meta Data Driven Component that renders when it published/last reviewed and who is credited as reviewers for the page. (Third Level Content)

Markup:
<cite class="font_italic font_n2 font_ui">
   <ul class="ul_none flex flex_wrap" data-attr="editors">
      <li class="p-r_3" data-attr="date">
         Last Edited<span class="font_bold c_secondary p-x_2 ">
            DD/MM/YYYY</span
         >
      </li>
      <li class="br-l_1 br_primary-3 br_solid p-l_3 p-r_2">
         Medical Reviewer(s):
      </li>
      <li class="p-l_2 p-r_3" data-attr="editor">
         <a class="link"
            ><i class="fas fa-user p-r_3 c_black-5"></i>Simon
            Puckett</a
         >
      </li>
      <li
         class="br-l_1 br_secondary-3 br_dotted p-l_2 p-r_3"
         data-attr="editor"
      >
         <a class="link"
            ><i class="fas fa-user p-r_3 c_black-5"></i>Margret
            Choe</a
         >
      </li>
   </ul>
</cite>

Weight: 1000

Styleguide Recipes.Page.Editor Credit

*/

/*

Living With Call to Action (1.01-E)

A dynamic block that fills the Topic Name into the call to action and links to the corresponding sub page "Living With X"

Markup:
<div>A dynamic block that fills the Topic Name into the call to action and links to the corresponding sub page "Living With X".</div>

Weight: 10

Styleguide Recipes.Page.Living With Call to Action

*/
/*
Related Section (1.00-F)

Related Content is a multi bucket area that can be set to filter on Topic and number or elements.   When the elements are above X  then the area implements a carousel.   (Secondary Level Item)

Markup:
<div class="flex">
<div class="flex_auto p-x_3">
   <div class="bg_ecg-n1 br_radius h:bg_primary relative min-h_10 shadow_overlap-light max-w_30 c_white " style="">
      <div class="flex flex_row self_stretch" style="min-height: 11rem;">
         <div class="bg_black-2 flex flex_column flex_grow justify_around p_4 shadow_n1 text_center">
               <div class="flex_shrink lh_1 self_center">
                  <i class="fa-file-medical-alt fad font_8 m-b_2 fa-fw"></i>
                  <div class="c_white-5 font_n3  text_center">
                     Factsheet
                  </div>
               </div>
         </div>
      <div class="flex flex_column flex_shrink justify_around p-b_5 p_4">
         <div class="flex_shrink">
               <div class="font_1 font_display lh_2 m-b_2 overflow_hidden" style="max-height: 7rem;">Receiving a Heart Transplant in Your Region's Leading Center Can Improve Survival
               </div>
                  <div class="capitalize font_n1  m-b_2 font_slab">
                     Accute Heart Failure
                  </div>
               </div>
         </div>
      </div>
      <div class="absolute inline-block b_3 h:opacity opacity_7 r_3 m-r_3">
         <span class="m-r_2 uppercase font_n1 font_ui inline m-t_n2">learn more</span>
         <i class="block fa-arrow-alt-circle-right fas font_0"></i>
      </div>
   </div></div>
   <div class="flex_auto p-x_3">
      <div class="bg_congenital-n1 br_radius h:bg_primary relative min-h_10 shadow_overlap-light max-w_30 c_white " style="">
      <div class="flex flex_row self_stretch" style="min-height: 11rem;">
         <div class="bg_black-2 flex flex_column flex_grow justify_around p_4 shadow_n1 text_center">
               <div class="flex_shrink lh_1 self_center">
                  <i class="fa-file-chart-pie fad font_8 m-b_2 fa-fw"></i>
                  <div class="c_white-5 font_n3  text_center">
                     Infographic
                  </div>
               </div>
         </div>
      <div class="flex flex_column flex_shrink justify_around p-b_5 p_4">
         <div class="flex_shrink">
               <div class="font_1 font_display lh_2 m-b_2 overflow_hidden" style="max-height: 7rem;">Receiving a Heart Transplant in Your Region's Leading Center Can Improve Survival
               </div>
                  <div class="capitalize font_n1  m-b_2 font_slab">
                     Accute Heart Failure
                  </div>
               </div>
         </div>
      </div>
      <div class="absolute inline-block b_3 h:opacity opacity_7 r_3 m-r_3">
         <span class="m-r_2 uppercase font_n1 font_ui inline m-t_n2">learn more</span>
         <i class="block fa-arrow-alt-circle-right fas font_0"></i>
      </div>
   </div>
   </div>
   <div class="flex_auto p-x_3">
      <div class="bg_prevention br_radius h:bg_primary relative min-h_10 shadow_overlap-light max-w_30 c_white " style="">
      <div class="flex flex_row self_stretch" style="min-height: 11rem;">
         <div class="bg_black-2 flex flex_column flex_grow justify_around p_4 shadow_n1 text_center">
               <div class="flex_shrink lh_1 self_center">
                  <i class="fa-comments-alt fad font_8 m-b_2 fa-fw"></i>
                  <div class="c_white-5 font_n3  text_center">
                     Patient Story
                  </div>
               </div>
         </div>
      <div class="flex flex_column flex_shrink justify_around p-b_5 p_4">
         <div class="flex_shrink">
               <div class="font_1 font_display lh_2 m-b_2 overflow_hidden" style="max-height: 7rem;">Receiving a Heart Transplant in Your Region's Leading Center Can Improve Survival
               </div>
                  <div class="capitalize font_n1 m-b_2 font_slab">
                     Accute Heart Failure
                  </div>
               </div>
         </div>
      </div>
      <div class="absolute inline-block b_3 h:opacity opacity_7 r_3 m-r_3">
         <span class="m-r_2 uppercase font_n1 font_ui inline m-t_n2">learn more</span>
         <i class="block fa-arrow-alt-circle-right fas font_0"></i>
      </div>
   </div>
</div>
</div>

Weight: 2000

Styleguide Recipes.Page.Related.Section
*/
/*
Related Topics (1.01-G)

Related Topics is a list of topics that can be related to the current topic.  (Primary Level Item)

Markup:
<nav class="font_0  flex_auto font_ui p-t_2 p-t_3:lg m-b_4 max-w_40">
   <h2
      class="capitalize br-b_1 br_dotted br_accent c_accent font_bold font_0 font_1:lg font_display m-b_0 m-t_0 p-b_2 p-t_3 p-x_4">
      Related Topics
   </h2>
   <ul class="font_0:lg font_n1 lh_2 ul_none">
      <li class="flex flex_row-reverse p_2 h:bg_secondary-5 relative">
         <div class="flex flex_column flex_grow justify_around">
            <div class="bg_black-2 font_1 p_2 p-x_3 br_radius">
               <i class="fas fa-arrow-alt-to-right p-y_2 inline-block fa-fw c_black-7"
                  data-attr="tool-type"></i>
            </div>
         </div>
         <div class="flex_auto p-x_4 flex_column flex justify_around" data-attr="tool name">
            <a href="#"
               class="link flex_shrink c_primary h:c_primary-n2 h:underline-none m_0 lh_1 expanded-click-area lh_1">Angina
            </a>
         </div>
      </li>
      <li class="flex flex_row-reverse p_2 h:bg_secondary-5 relative br-t_1 br_dotted br_secondary-4">
         <div class="flex flex_column flex_grow justify_around">
            <div class="bg_black-2 font_1 p_2 p-x_3 br_radius">
               <i class="fas fa-arrow-alt-to-right p-y_2 inline-block fa-fw c_black-7"
                  data-attr="tool-type"></i>
            </div>
         </div>
         <div class="flex_auto p-x_4 flex_column flex justify_around" data-attr="tool name">
            <a href="#"
               class="link flex_shrink c_primary h:c_primary-n2 h:underline-none m_0 lh_1 expanded-click-area lh_1">Aortic
               Aneurysm
            </a>
         </div>
      </li>
      <li class="flex flex_row-reverse p_2 h:bg_secondary-5 relative br-t_1 br_dotted br_secondary-4">
         <div class="flex flex_column flex_grow justify_around">
            <div class="bg_black-2 font_1 p_2 p-x_3 br_radius">
               <i class="fas fa-arrow-alt-to-right p-y_2 inline-block fa-fw c_black-7"
                  data-attr="tool-type"></i>
            </div>
         </div>
         <div class="flex_auto p-x_4 flex_column flex justify_around" data-attr="tool name">
            <a href="#"
               class="link flex_shrink c_primary h:c_primary-n2 h:underline-none m_0 lh_1 expanded-click-area lh_1">Atrial
               Fibrillation
            </a>
         </div>
      </li>
   </ul>
</nav>

Weight: 0

Styleguide Recipes.Page.Related.Topics
*/

/*
Related Tools (1.03-B)

Related Tools is a list of tools related to the current topics  (Secondary Level Item)

Markup:
<nav class="font_0  flex_auto font_ui p-t_2 p-t_3:lg m-b_4 max-w_40">
   <h2
      class="capitalize br-b_1 br_dotted br_accent c_accent font_bold font_0 font_1:lg font_display m-b_0 m-t_0 p-b_2 p-t_3 p-x_4">
      featured tools
   </h2>
   <ul class="font_0:lg font_n1 lh_2 ul_none">
      <li class="flex p_2 h:bg_secondary-5 relative">
         <div class="flex flex_column flex_grow justify_around">
            <div class="bg_black-2 font_1 p_2 p-x_3 br_radius">
               <i class="fas fa-file p-y_2 inline-block fa-fw c_black-7" data-attr="tool-type"></i>
            </div>
         </div>
         <div class="flex_auto p-x_4 flex_column flex justify_around" data-attr="tool name">
            <a href="#"
               class="link flex_shrink h:underline-none m_0 lh_1 expanded-click-area lh_1  c_primary h:c_primary-n2 ">The
               title of the tool which can be very long
            </a>
         </div>
      </li>
      <li class="flex p_2 h:bg_secondary-5 relative br-t_1 br_dotted br_secondary-4">
         <div class="flex flex_column flex_grow justify_around">
            <div class="bg_black-2 font_1 p_2 p-x_3 br_radius">
               <i class="fas fa-prescription-bottle-alt p-y_2 inline-block fa-fw c_black-7"
                  data-attr="tool-type"></i>
            </div>
         </div>
         <div class="flex_auto p-x_4 flex_column flex justify_around" data-attr="tool name">
            <a href="#"
               class="link flex_shrink h:underline-none m_0 lh_1 expanded-click-area lh_1  c_primary h:c_primary-n2 ">The
               some other tools that has meaning
            </a>
         </div>
      </li>
   </ul>
   <a class="block br-t_1 br_0 br_dotted br_none br_accent c_primary float_right font_n1 link p-x_3 p_2 text_right w_100"
      href="#"><i class="fas fa-plus-square p-r_3 "></i>show more tools</a>
</nav>

Weight: 10

Styleguide Recipes.Page.Related.Tools
*/

/*
Related Decision Tools (1.01-H)

A curated list of patient tools or decision page that can be added with short title and link. Expander should be added if list exceeds X.(Secondary Level Item)

Markup:
<nav class="font_0  flex_auto font_ui p-t_2 p-t_3:lg m-b_4 max-w_40">
   <h2
      class="capitalize br-b_1 br_dotted br_accent c_accent font_bold font_0 font_1:lg font_display m-b_0 m-t_0 p-b_2 p-t_3 p-x_4">
      Shared Decision Making
   </h2>
   <ul class="font_0:lg font_n1 lh_2 ul_none">
      <li class="flex p_2 h:bg_secondary-5 relative">
         <div class="flex flex_column flex_grow justify_around">
            <div class="bg_black-2 font_1 p_2 p-x_3 br_radius">
               <i class="fas fa-user-md-chat p-y_2 inline-block fa-fw c_black-7" data-attr="tool-type"></i>
            </div>
         </div>
         <div class="flex_auto p-x_4 flex_column flex justify_around" data-attr="tool name">
            <a href="#"
               class="link flex_shrink h:underline-none m_0 lh_1 expanded-click-area lh_1  c_primary h:c_primary-n2 ">Talking to your doctor about your drug options
            </a>
         </div>
      </li>
      <li class="flex p_2 h:bg_secondary-5 relative br-t_1 br_dotted br_secondary-4">
         <div class="flex flex_column flex_grow justify_around">
            <div class="bg_black-2 font_1 p_2 p-x_3 br_radius">
               <i class="fas fa-user-md-chat p-y_2 inline-block fa-fw c_black-7"
                  data-attr="tool-type"></i>
            </div>
         </div>
         <div class="flex_auto p-x_4 flex_column flex justify_around" data-attr="tool name">
            <a href="#"
               class="link flex_shrink h:underline-none m_0 lh_1 expanded-click-area lh_1  c_primary h:c_primary-n2 ">Becoming a better partner with in your own health
            </a>
         </div>
      </li>
   </ul>
   <a class="block br-t_1 br_0 br_dotted br_none br_accent c_primary float_right font_n1 link p-x_3 p_2 text_right w_100"
      href="#"><i class="fas fa-plus-square p-r_3 "></i>show more tools</a>
</nav>

Weight: 2000

Styleguide Recipes.Page.Related.SDM
*/
