/*
News Hero (1.01.01-D)

Large Featured Rotater of News Tieles and short synopsis (Empashized Level Item)

Markup:
<div class="bg_cover bg_shade-5 font_1 p_4" style="background-image:url('https://i.picsum.photos/id/789/700/300.jpg');height: 300px;"><h1 class="c_white font_4">News Hero (Empashized Level Item)</h1></div>

Weight: 0

Styleguide Recipes.News.Hero

*/
/*
News List Item (1.01.01-E)

A short synopsis of a news article that is used in a repeating list. (Primary Level Item) 

Markup:
<article class="br-t_1  br-b_1 br_black-2 br_dotted flex font_0 font_copy h:bg_secondary-5 m-b_3 m-t_2 p-b_4 p-t_4 p_4 relative">
	<aside class="block:md display_none flex_shrink">
		<img class="a:_block p-x_3" src="https://picsum.photos/100" alt="">
	</aside>
	<section class="flex_auto p-l_4:md">
		<header data-attr="article" class="c_primary font_3:lg font_2 font_bold font_display">
			Long Work Hours Linked to High Blood Pressure
		</header>
		<div data-attr="article-sample">
			Working more than 40 hours a week may increase risk of high
			blood pressure, finds study of white-collar workers.
		</div>
		<footer data-attr="metadata" class="align-middle br-t_1 br_secondary-3 br_solid flex flex_column flex_inline font_n1 font_ui m-t_2 p-t_2 text_left w_100 w_auto">
			<ul data-attr="authors" class="flex flex_row flex_wrap l_0 m-t_n2 r_0 t_0 ul_none">
				<li class="flex_shrink p-x_2" data-attr="author">
					<a class="c_primary-2 font_bold link">CardioSmart News</a>
				</li>
				<li class="flex_shrink p-r_2" data-attr="publish-date">
					<time datetime="1963-11-23" data-attr="article-published-date" class="c_accent-1 font_bold">Nov 23, 1963</time>
				</li></ul>
			<ul data-attr="authors" class="flex flex_row flex_wrap m-l_n2 ul_none">
				<li data-attr="topic" class="br-r_1 br_dotted br_white-7 flex_shrink h:bg_secondary-3 p-x_3 relative">
					<a class="c_shade-n4 font_bold  h:c_black expanded-click-area link uppercase">Endocarditis</a>
				</li><li data-attr="topic " class="br-r_1 br_dotted br_white-7 flex_shrink h:bg_secondary-3 p-x_3 relative">
					<a class="c_shade-n4 font_bold h:c_black expanded-click-area link uppercase">AFIB</a>
				</li><li data-attr="tag" class="br-r_1 br_dotted br_white-7 flex_shrink p-x_3 relative h:bg_secondary-3">
					<a class="c_shade-n2 h:c_black expanded-click-area link">Living With</a>
				</li><li data-attr="tag" class="br-r_1 br_dotted br_white-7 flex_shrink p-x_3 relative h:bg_secondary-3">
					<a class="c_shade-n2 h:c_black expanded-click-area link">New Science</a>
				</li>
			</ul>
		</footer>
	</section>
</article>

Weight: 0

Styleguide Recipes.News.Item

*/
