/*
Search Result
 
The returned result of a FYHAH search.
 
Markup:
<article class="br_1 br_black-2 br_solid font_0 font_ui p_4 shadow_overlap-light m-b_4">
    <header class="flex justify_between">
        <h1 class="font_2 font_display m_0 flex_auto"><span>Trudeo</span>
        </h1> <a class="bg_shade-5 br_2 br_solid br_white-3 c_black flex_shrink h:bg_primary h:c_white h:underline-none inline-block m-r_2   text_center flex shadow_overlap-light br_radius"><span class="lh_0 flex_auto add alt-short-text a:_none p-y_3 p-x_3 p-r_4">Add To Compare</span> <span class="flex_grow p-y_3 p-x_3 text_center br_radius a:bg_accent-n1 flex"><i class="fas a:c_white c_shade-3 fa-fw icon-toggle_check-sqaure icon-toggle_check-square self_center"></i></span></a>
    </header>
    <div class="flex flex_column flex_row:md">
        <div class="br-r_1 flex_grow font_0 m-r_4:md w_30:md w_20:lg max-w_30">
            <address class="m-t_3">
                <ul class="ul_none lh_1 font_0">
                    <li class="m-b_1 m-b_3:md facility-address font_1">
                        <div class="block"><span class="street-address">8994 Morning Pass</span></div>
                        <div class="block"><span class="street-address"></span></div>
                        <div class="block"><span class="locality">Salt Lake City</span>, <span class="state-name"><abbrUT</abbr></span> <span class="postal-code">84110</span></div>
                    </li>
                    <li class="m-b_1 m-b_2:md facility-google-map"><a href="https://www.google.com/maps/place/4500+San+Pablo+Road+Jacksonville+FL+32224" target="_blank" class="block c_secondary h:c_primary h:underline"><i class="fa-fw fa-map-marker fa-pin fas"></i>Get Directions </a></li>
                    <li class="m-b_1 m-b_2:md facility-web-URL"><a target="_blank" class="website c_secondary h:c_primary h:underline"><i class="fas fa-fw fa-globe"></i> website </a></li>
                    <li class="m-b_1 m-b_3:md facility-phone"><a tel="+18002574737" href="tel:+801-551-8160" class="tel c_secondary h:c_primary h:underline"><i class="fas fa-fw fa-phone"></i> <span class="text">801-551-8160</span></a></li>
                </ul>
            </address>
        </div>
        <div class="flex_auto m-t_0:md m-t_4">
            <div class="font_0 font_bold br-b_1 br_solid br_primary-3 p-b_2 m-b_3"> Cardiac Services <a href="https://www.cardiosmart.org/resources/pr-glossary" target="_blank" class="c_secondary h:c_primary h:underline"><i class="fas fa-fw fa-question-circle"></i></a></div>
            <ul class="font_n1 gap-x_4 gap-y_2 grid lh_2 template-x_15 ul_none ">
                <li class="facility-service p-l_4 p-r_3 text-indent_n1"> Cardiac Surgery Services </li>
                <li class="facility-service p-l_4 p-r_3 text-indent_n1"> Cardiac Defibrillator Implantation </li>
                <li class="facility-service p-l_4 p-r_3 text-indent_n1"> Carotid Endarterectomy </li>
                <li class="facility-service p-l_4 p-r_3 text-indent_n1"> Percutaneous Peripheral Vascular Intervention </li>
                <li class="facility-service p-l_4 p-r_3 text-indent_n1"> Carotid Artery Stenting </li>
            </ul>
        </div>
    </div>
    <footer class="br-t_1 br_secondary-5 br_solid flex justify_between m-t_3 p-t_3 result-footer flex_row-reverse"><a class="a:bg_accent bg_shade-5 br_2 br_solid br_white-3 c_black flex_grow h:bg_primary h:c_white h:underline-none inline-block m-r_2 p-y_2 p_4 shadow_overlap-light text_center br_radius"><span class="add alt-short-text">Profile</span> <i class="fa fa-fw icon-toggle_arrow-circle"></i></a></footer>
</article>
 
Weight:-1
 
Styleguide RecipesFYHAH.Result
*/

/*
Profile Side Bar
 
Description: 
 
Markup:
<div class="br_radius p_4 shadow_overlap-bold">
    <header class="br-b_1 br_secondary-5 br_solid flex m-b_4 p-b_4">
        <h1 class="font_3 font_display m_0"><span>Trudeo</span>
        </h1>
    </header>
    <address class="m-t_3">
        <ul class="ul_none lh_1 font_0">
            <li class="m-b_1 m-b_3:md facility-address font_1">
                <div class="block"><span class="street-address">8994 Morning Pass</span></div>
                <div class="block"><span class="street-address"></span></div>
                <div class="block"><span class="locality">Salt Lake City</span>, <span class="state-name"><abbrUT</abbr></span> <span class="postal-code">84110</span></div>
            </li>
            <li class="m-b_1 m-b_2:md facility-google-map"><a href="https://www.google.com/maps/place/4500+San+Pablo+Road+Jacksonville+FL+32224" target="_blank" class="block c_secondary h:c_primary h:underline"><i class="fa-fw fa-map-marker fa-pin fas"></i>Get Directions </a></li>
            <li class="m-b_1 m-b_2:md facility-web-URL"><a target="_blank" class="website c_secondary h:c_primary h:underline"><i class="fas fa-fw fa-globe"></i> website </a></li>
            <li class="m-b_1 m-b_3:md facility-phone"><a tel="+18002574737" href="tel:+801-551-8160" class="tel c_secondary h:c_primary h:underline"><i class="fas fa-fw fa-phone"></i> <span class="text">801-551-8160</span></a></li>
        </ul>
    </address>
    <div class="font_0 font_bold"> Cardiac Services <a href="https://www.cardiosmart.org/resources/pr-glossary" target="_blank" class="c_secondary h:c_primary h:underline"><i class="fas fa-fw fa-question-circle"></i></a></div>
    <ul class="font_n1 gap-x_4 ul_none">
        <li class="facility-service text-indent_n1 p-l_4 lh_1 m-t_2 m-b_2">Cardiac Surgery Services</li>
        <li class="facility-service text-indent_n1 p-l_4 lh_1 m-t_2 m-b_2">Cardiac Defibrillator Implantation</li>
        <li class="facility-service text-indent_n1 p-l_4 lh_1 m-t_2 m-b_2">Carotid Endarterectomy</li>
        <li class="facility-service text-indent_n1 p-l_4 lh_1 m-t_2 m-b_2">Percutaneous Peripheral Vascular Intervention</li>
        <li class="facility-service text-indent_n1 p-l_4 lh_1 m-t_2 m-b_2">Carotid Artery Stenting</li>
    </ul>
    <p class="c_primary font_italic font_n2 lh_2 m-t_3 subtle"> Cardiac data registries are national databases that collect information on specific heart conditions or procedures performed in hospitals. Quality improvement programs give hospitals the tools and resources they need to improve how they deliver care. </p>
</div>
 
Weight:0
 
Styleguide RecipesFYHAH.Profile Identifier
*/

/*
Search Panel
 
Description: Search Panel
 
Markup:
<fieldset id="searchpanel" class="bg_white br_radius max-w_25 p_4 shadow_overlap-bold">
	<header class="flex font_2 justify_between search-panel-toggle">
		<div class="display_none:md">
			<a class="btn btn-info collapse-trigger font_0 p_2 self_center"><i class="fa icon-toggle_plus-minus"></i></a>
		</div>
		<h2 class="flex_auto lh_0 m_0 p-x_3 self_center">Search</h2>
		<div class="flex_shrink">
			<a href="#" data-bind="click: Behavior_ClearSearchValues flex_grow" class="btn btn-link self_center">
				Clear
				<i class="fa fa-times-circle"></i>
			</a>
		</div>
	</header>
	<section class="search-panel-content collapsable CS_col-xs-12">
		<div class="control-group">
			<div class="control-label">
				<label for="HospitalName">Hospital Name</label>
			</div>
			<div class="controls">
				<input id="HospitalName" type="text" value="" placeholder="Address,State, or Zip">
			</div>
		</div>
		<div class="control-group">
			<div class="control-label">
				<label for="HospitalLocation">Location</label>
			</div>
			<div class="controls">
				<input id="HospitalLocation" type="text" value="" placeholder="Address,State, or Zip">
				<input class="display_none" data-bind="value:Latitude" id="Latitude" name="Latitude" type="text" value="">
				<input class="display_none" data-bind="value:Longitude" id="Longitude" name="Longitude" type="text" value="">
			</div>
		</div>
		<div class="control-group">
			<div class="control-label">
				<label class="lh_0 m-b_0">Cardiac Services
					<a class="underline c_primary font_n1" href="https://www.cardiosmart.org/resources/pr-glossary" target="_blank">
						<span class="display_none inline-block:md">Services Glossary</span>
						<span class="alt-short-text display_none:md inline-block">Glossary</span>
						<i class="fa fa-fw fa-question-circle"></i>
					</a>
				</label>
				<span class="block c_accent font_n1 help-block">Select all services hospitals must perform</span>
			</div>
			<div class="controls">
				<select name="ServiceId" id="ServiceId" class="selectpicker knockoutjs-selectpicker" multiple="multiple">
					<option value="11">Acute Myocardial Infarction Treatment</option>
					<option value="16">Atrial Fibrillation Ablation</option>
					<option value="3">Cardiac Defibrillator Implantation</option>
					<option value="14">Cardiac Surgery Services</option>
					<option value="6">Carotid Artery Stenting</option>
					<option value="7">Carotid Endarterectomy</option>
					<option value="8">Congenital Heart Defect Intervention</option>
					<option value="15">Coronary Artery Bypass Graft Surgery</option>
					<option value="4">Diagnostic Cardiac Catheterization</option>
					<option value="1">Electrophysiology Studies</option>
					<option value="12">Left Atrial Appendage Occlusion</option>
					<option value="2">Pacemaker Implantation</option>
					<option value="13">Percutaneous Coronary Intervention for Acute Myocardial
						Infarction</option>
					<option value="5">Percutaneous Coronary Intervention for Elective and
						Emergency Cases</option>
					<option value="10">Percutaneous Peripheral Vascular Intervention</option>
					<option value="9">Transcatheter Valve Replacement</option>
				</select>
			</div>
		</div>
		<div class="control-group font_n1 m-t_2">
			<div class="control-label">
				<label for="IsParticipatingLbl"><i id="FilterLbl">Filter search results by</i></label>
				<label class="checkbox" id="IsParticipatingLbl">
					<input data-bind="checked: IsParticipating, click: Behavior_SearchHospitals, css: { 'disabled-grey': !Computed_IsSearchFunctionAllowed() } " id="IsParticipating" name="IsParticipating" type="checkbox" value="true" class="">
					Reporting Data
				</label>
			</div>
		</div>
	</section>
	<footer class="search-panel-footer CS_col-xs-12 collapsable">
		<a class="bg_primary-2 br_radius btn c_white float_right h:bg_primary h:shadow shadow_2" data-bind="click: Behavior_SearchHospitals, css: { 'disabled-grey': !Computed_IsSearchFunctionAllowed() }">Search
			<i class="icon-search icon-white"></i></a>
	</footer>
</fieldset>
 
Weight:0
 
Styleguide RecipesFYHAH.Search Panel
*/

/*
FYHAH Header Bar
 
Description: Header of the single page applicaiton
 
Markup:
<section class="bg_white br-b_2 br_primary br_solid c_black flex">
	<nav class="flex_auto font_1 m-b_0">
		<ul class="flex ul_none">
			<li class=" flex_shrink flex">
				<a class="c_primary self_center p_3  br_black-3 br_dotted br-r_1 " href="#"><i class="fas fa-home-heart"></i></a>
			</li>
			<li class="m-l_3 p-l_3 br_black-3 br_dotted br-r_1 flex_shrink flex">
				<a class="c_primary self_center p_3" href="#"><i class="fas fa-search"></i></a>
			</li>
			<li class="m-l_3 p-l_3 br_black-3 br_dotted br-r_1 flex_shrink flex">
				<span class="c_primary active self_center p_3  font_bold">Profile</span>
			</li>
		</ul>
	</nav>
	<div class="flex">
		<ul class="flex ul_none">
			<li class="flex_grow flex active">
				<div class="self_center a:_none">
					<i class=" br_2 br_dashed br_radius br_black-3 fa-question fas m-r_3 p_3 "></i>
				</div>
				<div class="self_center display_none a:_block">
					<i
						class="bg_highlight br_2 br_highlight-n3 br_radius br_solid c_black fa-hospital fas m-r_3 p_3"></i>
				</div>
			</li>
			<li class="flex_grow flex ">
				<div class="self_center a:_none">
					<i class=" br_2 br_dashed br_radius br_black-3 fa-question fas m-r_3 p_3 "></i>
				</div>
				<div class="self_center display_none a:_block">
					<i
						class="bg_highlight br_2 br_highlight-n3 br_radius br_solid c_black fa-hospital fas m-r_3 p_3"></i>
				</div>
			</li>
			<li class="flex_grow flex ">
				<div class="self_center a:_none">
					<i class=" br_2 br_dashed br_radius br_black-3 fa-question fas m-r_3 p_3 "></i>
				</div>
				<div class="self_center display_none a:_block">
					<i
						class="bg_highlight br_2 br_highlight-n3 br_radius br_solid c_black fa-hospital fas m-r_3 p_3"></i>
				</div>
			</li>
		</ul>
		<div class="CS_col-xs-12 flex flex_auto p_3">
			<a href="#" class="CS_col-xs-12 br_radius font_0 p-x_3 p_2 bg_shade-3 c_black-2">Compare</a>
		</div>
	</div>
</section>

 
Weight:0
 
Styleguide RecipesFYHAH.Search Header
*/
/*
Registry Participaiton
 
Description: Opening table of participation. 
 
Markup:
<section  class="bg_white font_ui">
    <header data-attr="accordion-header" class="br_black-3 br_solid br_1 bg_black-1 flex is-active">
        <div class="flex_grow flex column justify_center font-size_up p-x_3 p-x_4:md bg_primary-4 br_black-3 br_solid br-r_1 "><i class="fas fa-fw icon-toggle_plus-minus flex_auto self_center a:c_primary-n4 c_primary-n1 is-active"></i></div>
        <div class="flex_auto  p-y_3 p-x_2 p-l_3">
            <h2  class="font_display m_0 lh_2 font_2">Registry and Quality Program Participation.</h2>
        </div>
    </header>
    <article data-attr="accordion-content" class="br_black-3 br_solid br_1 font_0 br-t_0 transition_2 origin_tl">
        <div  class="font_copy p_4:md">
            <p  class="c_primary m-t_0 lh_2  p-x_4 p-t_4 p-x_3:md">Registry and Quality Program Participation.</p>
            <div  class="bg_primary c_white font_0 font_n1:md font_bold display_none flex:md">
                <td  class="flex_auto w_30:md">Registry</td>
                <td  class="flex_auto w_30:md">Participation</td>
                <td  class="flex_auto w_40:md">Associated Services</td>
            </div>
            <section  class="flex flex_column flex_row:md bg_black-1">
                <div  class="flex_shrink w_30:md p_3:md p-t_3 p-x_3 font_0 font_1:md c_primary"> CathPCI Registry® <a  title="Patients should be prescribed a P2Y12 inhibitor medication to reduce the risk of heart attacks caused by blood clots in new stents after having a PCI/angioplasty- unless there is a reason not to use the medicine (such as an allergy).  \r\n\r\nThis score shows how well this facility is following this guideline - higher is better. Patients who cannot take P2Y12 inhibitor medicines are excluded." class="font_n1 vertical-align_top m-l_2"><i  class="fas fa-info-circle"></i></a></div>
                <div  class="font_bold w_30:md flex_shrink p_3:md p-x_3 font_1 font_0:md">Participating</div>
                <div  class="c_primary-n4 font_n1 w_40:md flex_auto p-x_3 p_3:md">
                    <p  class="max-w_40 lh_2 m-t_0">Atrial fibrillation ablation</p>
                </div>
            </section>
            <section  class="flex flex_column flex_row:md">
                <div  class="flex_shrink w_30:md p_3:md p-t_3 p-x_3 font_0 font_1:md c_primary"> CathPCI Public Reporting Status <a  title="Patients should be prescribed a P2Y12 inhibitor medication to reduce the risk of heart attacks caused by blood clots in new stents after having a PCI/angioplasty- unless there is a reason not to use the medicine (such as an allergy).  \r\n\r\nThis score shows how well this facility is following this guideline - higher is better. Patients who cannot take P2Y12 inhibitor medicines are excluded." class="font_n1 vertical-align_top m-l_2"><i  class="fas fa-info-circle"></i></a></div>
                <div  class="font_bold w_30:md flex_shrink p_3:md p-x_3 font_1 font_0:md">Participating</div>
                <div  class="c_primary-n4 font_n1 w_40:md flex_auto p-x_3 p_3:md">
                    <p  class="max-w_40 lh_2 m-t_0">Percutaneous Coronary Intervention for Elective and Emergency Cases &amp; Percutaneous Coronary Intervention for Acute Myocardial Infarction</p>
                </div>
            </section>
            <section  class="flex flex_column flex_row:md bg_black-1">
                <div  class="flex_shrink w_30:md p_3:md p-t_3 p-x_3 font_0 font_1:md c_primary"> ICD Registry™
                    <!---->
                </div>
                <div  class="font_bold w_30:md flex_shrink p_3:md p-x_3 font_1 font_0:md">Ineligible: Not Participating in Registry</div>
                <div  class="c_primary-n4 font_n1 w_40:md flex_auto p-x_3 p_3:md">
                    <p  class="max-w_40 lh_2 m-t_0">Atrial fibrillation ablation</p>
                </div>
            </section>
            <section  class="flex flex_column flex_row:md">
                <div  class="flex_shrink w_30:md p_3:md p-t_3 p-x_3 font_0 font_1:md c_primary"> ICD Public Reporting Status <a  title="Patients should be prescribed a P2Y12 inhibitor medication to reduce the risk of heart attacks caused by blood clots in new stents after having a PCI/angioplasty- unless there is a reason not to use the medicine (such as an allergy).  \r\n\r\nThis score shows how well this facility is following this guideline - higher is better. Patients who cannot take P2Y12 inhibitor medicines are excluded." class="font_n1 vertical-align_top m-l_2"><i  class="fas fa-info-circle"></i></a></div>
                <div  class="font_bold w_30:md flex_shrink p_3:md p-x_3 font_1 font_0:md">Participating</div>
                <div  class="c_primary-n4 font_n1 w_40:md flex_auto p-x_3 p_3:md">
                    <p  class="max-w_40 lh_2 m-t_0">Electrophysiology Studies, Pacemaker Implantation &amp; Cardiac Defibrillator Implantation</p>
                </div>
            </section>
            <section  class="flex flex_column flex_row:md bg_black-1">
                <div  class="flex_shrink w_30:md p_3:md p-t_3 p-x_3 font_0 font_1:md c_primary"> Chest Pain - MI Registry™
                    <!---->
                </div>
                <div  class="font_bold w_30:md flex_shrink p_3:md p-x_3 font_1 font_0:md">Participating</div>
                <div  class="c_primary-n4 font_n1 w_40:md flex_auto p-x_3 p_3:md">
                    <p  class="max-w_40 lh_2 m-t_0">Atrial fibrillation ablation</p>
                </div>
            </section>
        </div>
    </article>
</section>

 
Weight:0
 
Styleguide RecipesFYHAH.Profile.Participation
*/

/*
Registry Participaiton
 
Description: Opening table of participation. 
 
Markup:
<section   class="bg_white font_ui">
    <header  data-attr="accordion-header" class="br_black-3 br_solid br_1 bg_black-1 flex is-active">
        <div  class="flex_grow flex column justify_center font-size_up p-x_3 p-x_4:md bg_primary-4 br_black-3 br_solid br-r_1 "><i  class="fas fa-fw icon-toggle_plus-minus flex_auto self_center a:c_primary-n4 c_primary-n1 is-active"></i></div>
        <div  class="flex_auto  p-y_3 p-x_2 p-l_3">
            <h2   class="font_display m_0 font_2 lh_1">NCDR METRIC 1</h2>
        </div>
    </header>
    <article  data-attr="accordion-content" class="br_black-3 br_solid br_1 font_0 br-t_0 transition_2 origin_tl">
        <div  class="font_copy p_4:md">
            <p  class="c_primary m-t_0 lh_2  p-x_4 p-t_4 p-x_3:md"> Hospital performance for patients who have had a cardiac catheterization or PCI (angioplasty) </p>
            <section  class="flex flex_row-reverse flex_row:md bg_primary-5">
                <div  class="flex_auto w_60 p-x_3 font_1:md lh_3 font_0 c_black">
                    <p  class="max-w_50 lh_2"> Use of a P2Y12 inhibitor medication to reduce the chance of blood clots after PCI/angioplasty. <a  title="Patients should be prescribed Aspirin to reduce the risk of heart attacks caused by blood clots in new stents after having a PCI/angioplasty- unless there is a reason not to use the medicine (such as an allergy). This score shows how well this facility is following this guideline - higher is better. Patients who cannot take aspirin are excluded." class="font_n1 vertical-align_top m-l_2 c_secondary"><i  class="fas fa-info-circle"></i></a></p>
                </div>
                <div  class="font_bold flex_auto p_3:md p-t_4:md p-x_2 font_1 font_0:md flex text_center w-grid_2 w-grid_3:md bg_black-1">
                    <div  class="font_0 font_2:md flex_auto self_center display_none:md block"><span  class="font_2 font_3:md flex_auto self_center">4</span><br i  class="fas fa-star c_warning"></i>'s </div>
                    <div  class="font_0 font_2:md flex_auto self_center display_none block:md"><i  class="fa-star p-l_2 flex_auto fas c_warning text-shadow_black-1 star-1"></i><i  class="fa-star p-l_2 flex_auto fas c_warning text-shadow_black-1 star-2"></i><i  class="fa-star p-l_2 flex_auto fas c_warning text-shadow_black-1 star-3"></i><i  class="fa-star p-l_2 flex_auto fas c_warning text-shadow_black-1 star-4"></i><i  class="fa-star p-l_2 flex_auto far c_black-3 star-5"></i></div>
                   v>
            </section>
            <section  class="flex flex_row-reverse flex_row:md">
                <div  class="flex_auto w_60 p-x_3 font_1:md lh_3 font_0 c_black">
                    <p  class="max-w_50 lh_2"> Use of a Statin to decrease cholesterol after PCI/angioplasty. <a  title="Patients should be prescribed Aspirin to reduce the risk of heart attacks caused by blood clots in new stents after having a PCI/angioplasty- unless there is a reason not to use the medicine (such as an allergy). This score shows how well this facility is following this guideline - higher is better. Patients who cannot take aspirin are excluded." class="font_n1 vertical-align_top m-l_2 c_secondary"><i  class="fas fa-info-circle"></i></a></p>
                </div>
                <div  class="font_bold flex_auto p_3:md p-t_4:md p-x_2 font_1 font_0:md flex text_center w-grid_2 w-grid_3:md bg_black-1">
                   <div  class="font_2 font_3:md flex_auto self_center"> 4 </div>
                </div>
            </section>
            <section  class="flex flex_row-reverse flex_row:md bg_primary-5">
                <div  class="flex_auto w_60 p-x_3 font_1:md lh_3 font_0 c_black">
                    <p  class="max-w_50 lh_2"> Number of PCI/angioplasty procedures performed during the calendar year. <a  title="Patients should be prescribed Aspirin to reduce the risk of heart attacks caused by blood clots in new stents after having a PCI/angioplasty- unless there is a reason not to use the medicine (such as an allergy). This score shows how well this facility is following this guideline - higher is better. Patients who cannot take aspirin are excluded." class="font_n1 vertical-align_top m-l_2 c_secondary"><i  class="fas fa-info-circle"></i></a></p>
                </div>
                <div  class="font_bold flex_auto p_3:md p-t_4:md p-x_2 font_1 font_0:md flex text_center w-grid_2 w-grid_3:md bg_black-1">
                    <div  class="font_0 font_2:md flex_auto self_center display_none:md block"><span  class="font_2 font_3:md flex_auto self_center">5</span><br i  class="fas fa-star c_warning"></i>'s </div>
                    <div  class="font_0 font_2:md flex_auto self_center display_none block:md"><i  class="fa-star p-l_2 flex_auto fas c_warning text-shadow_black-1 star-1"></i><i  class="fa-star p-l_2 flex_auto fas c_warning text-shadow_black-1 star-2"></i><i  class="fa-star p-l_2 flex_auto fas c_warning text-shadow_black-1 star-3"></i><i  class="fa-star p-l_2 flex_auto fas c_warning text-shadow_black-1 star-4"></i><i  class="fa-star p-l_2 flex_auto fas c_warning text-shadow_black-1 star-5"></i></div>
                   v>
            </section>
            <section  class="flex flex_row-reverse flex_row:md">
                <div  class="flex_auto w_60 p-x_3 font_1:md lh_3 font_0 c_black">
                    <p  class="max-w_50 lh_2"> Use of a P2Y12 inhibitor medication to reduce the chance of blood clots after PCI/angioplasty. <a  title="Patients should be prescribed Aspirin to reduce the risk of heart attacks caused by blood clots in new stents after having a PCI/angioplasty- unless there is a reason not to use the medicine (such as an allergy). This score shows how well this facility is following this guideline - higher is better. Patients who cannot take aspirin are excluded." class="font_n1 vertical-align_top m-l_2 c_secondary"><i  class="fas fa-info-circle"></i></a></p>
                </div>
                <div  class="font_bold flex_auto p_3:md p-t_4:md p-x_2 font_1 font_0:md flex text_center w-grid_2 w-grid_3:md bg_black-1">
                   <div  class="font_2 font_3:md flex_auto self_center"> 3 </div>
                </div>
            </section>
            <section  class="flex flex_row-reverse flex_row:md bg_primary-5">
                <div  class="flex_auto w_60 p-x_3 font_1:md lh_3 font_0 c_black">
                    <p  class="max-w_50 lh_2"> Use of a P2Y12 inhibitor medication to reduce the chance of blood clots after PCI/angioplasty. <a  title="Patients should be prescribed Aspirin to reduce the risk of heart attacks caused by blood clots in new stents after having a PCI/angioplasty- unless there is a reason not to use the medicine (such as an allergy). This score shows how well this facility is following this guideline - higher is better. Patients who cannot take aspirin are excluded." class="font_n1 vertical-align_top m-l_2 c_secondary"><i  class="fas fa-info-circle"></i></a></p>
                </div>
                <div  class="font_bold flex_auto p_3:md p-t_4:md p-x_2 font_1 font_0:md flex text_center w-grid_2 w-grid_3:md bg_black-1">
                   <div  class="font_2 font_3:md flex_auto self_center"> 1 </div>
                </div>
            </section>
        </div>
    </article>
</section>

 
Weight:1
 
Styleguide RecipesFYHAH.Profile.Metrics
*/
