/*
Search Result
 
The returned result of a FYHAH search.
 
Markup:
<article class="br_1 br_black-2 br_solid font_0 font_ui p_4 shadow_bevel-light">
	<header class="br-b_1 br_secondary-5 br_solid flex m-b_3 p-b_3">
		<h1 class="font_2 font_display m_0 flex_auto">
			<span class="">American College of Cardiology</span>
			<small class="font_n1 c_primary">2.8 miles</small>
		</h1>
	</header>
	<div class="flex flex_column flex_row:md">
		<div class="br-r_1 flex_auto font_0 m-r_4:md max-w_30">
			<address class=" m-b_0 m-r_4 p-r_4">
				<!-- http://microformats.org/wiki/hcard -->
				<ul class="ul_none lh_1 font_0">
					<li class="m-b_1 m-b_3:md facility-address font_1">
						<h4 class="font_bold m-b_0 m-t_0">
							Heart House
						</h4>
						<div class="block">
							<span class="street-address">2400 N. St. NW</span>
						</div>
						<div class="block">
							<span class="locality ">Washington</span>,
							<span class="city-name ">
								<abbr title="District of Colombia">DC</abbr>
							</span>
							<span class="postal-code">20037</span>
						</div>
					</li>
					<li class="m-b_1 m-b_2:md facility-google-map">
						<a
							class="block c_secondary h:c_primary h:underline"
							href="https://google.map.com"
							><i class="fa-fw fa-map-marker fa-pin fas"></i>Get
							Directions</a
						>
					</li>
					<li class="m-b_1 m-b_2:md facility-web-URL">
						<a
							class="website c_secondary h:c_primary h:underline"
							target="_blank"
							href="http://www.bidmc.org"
						>
							<i class="fas fa-fw fa-globe"></i>
							website
						</a>
					</li>
					<li class="m-b_1 m-b_2:md facility-email">
						<a
							href="mailto:resource@acc.org"
							class="emailc_secondary c_secondary h:c_primary h:underline"
							><i class="fas fa-fw fa-envelope"></i
							><span class="text">resource@acc.org</span></a
						>
					</li>
					<li class="m-b_1 m-b_3:md facility-phone">
						<a
							tel="+18002574737"
							href="tel:+18002534636.5603"
							class="tel c_secondary h:c_primary h:underline"
						>
							<i class="fas fa-fw fa-phone"></i
							><span class="text">(800) 253-4636, ext. 5603</span>
						</a>
					</li>
				</ul>
			</address>
		</div>
		<div class="flex_auto m-t_0:md m-t_4">
			<div class="font_0 font_bold">
				Cardiac Services
				<a
					href="https://www.cardiosmart.org/resources/pr-glossary"
					target="_blank"
					class="c_secondary h:c_primary h:underline"
					><i class="fas fa-fw fa-question-circle"></i
				></a>
			</div>
			<ul class="font_n1 gap-x_4 grid lh_2 template-x_15 ul_none">
				<li class="facility-service">
					Acute Myocardial Infarction Treatment
				</li>
				<li class="facility-service">Atrial Fibrillation Ablation</li>
				<li class="facility-service">
					Cardiac Defibrillator Implantation
				</li>
				<li class="facility-service">Cardiac Surgery Services</li>
				<li class="facility-service">Carotid Artery Stenting</li>
				<li class="facility-service">Carotid Endarterectomy</li>
				<li class="facility-service">
					Congenital Heart Defect Intervention
				</li>
				<li class="facility-service">
					Coronary Artery Bypass Graft Surgery
				</li>
				<li class="facility-service">
					Diagnostic Cardiac Catheterization
				</li>
				<li class="facility-service">Electrophysiology Studies</li>
				<li class="facility-service">
					Left Atrial Appendage Occlusion
				</li>
				<li class="facility-service">Pacemaker Implantation</li>
				<li class="facility-service">
					Percutaneous Coronary Intervention for Elective and
					Emergency Cases
				</li>
				<li class="facility-service">
					Percutaneous Peripheral Vascular Intervention
				</li>
				<li class="facility-service">
					Transcatheter Valve Replacement
				</li>
			</ul>
		</div>
	</div>
	<footer
		class="br-t_1 br_secondary-5 br_solid flex justify_between m-t_3 p-t_3 result-footer"
	>
		<a
			class="a:bg_highlight a:c_black bg_shade-5 br_2 br_solid br_white-3 c_black flex_grow h:bg_primary h:c_white h:underline-none inline-block m-r_2 p-y_2 p_4 shadow_overlap-light text_center"
			href="#"
		>
			<i
				class="fal fa-fw icon-toggle_check-sqaure icon-toggle_check-square"
			></i>
			<span class="add alt-short-text a:none">Compare</span>
			<span class="remove alt-short-text a:inline-block">Remove</span> </a
		><a
			href="#"
			class="a:bg_accent bg_shade-5 br_2 br_solid br_white-3 c_black flex_grow h:bg_primary h:c_white h:underline-none inline-block m-r_2 p-y_2 p_4 shadow_overlap-light text_center"
		>
			<span class="add alt-short-text">Profile</span>
			<i class="fa fa-fw icon-toggle_arrow-circle"></i>
		</a>
	</footer>
</article>

 
Weight:0
 
Styleguide RecipesFYHAH.Result
*/

/*
Profile Side Bar
 
Description: 
 
Markup:
<div class="br_radius max-w_25 p_4 shadow_overlap-bold">
	<header class="br-b_1 br_secondary-5 br_solid flex m-b_4 p-b_4">
		<h1 class="font_3 font_display m_0">
			<span class="">American College of Cardiology</span>
			<small class="font_n1 c_primary">2.8 miles</small>
		</h1>
	</header>
	<div class="m_auto mapouter">
		<div
			class="br_1 br_black-3 br_radius br_solid gmap_canvas overflow_hidden sh"
		>
			<iframe
				width="368"
				height="300"
				id="gmap_canvas"
				src="https://maps.google.com/maps?q=american%20college%20of%20cardiology&t=&z=13&ie=UTF8&iwloc=&output=embed"
				frameborder="0"
				scrolling="no"
				marginheight="0"
				marginwidth="0"
			></iframe
			>
		</div>
		<style>
			.mapouter {
				position: relative;
				text-align: right;
				height: 300px;
				width: 100%;
			}
			.gmap_canvas {
				overflow: hidden;
				background: none !important;
				height: 300px;
				width: 100%;
			}
		</style>
	</div>
	<address class="m-t_3">
		<!-- http://microformats.org/wiki/hcard -->
		<ul class="ul_none lh_1 font_0">
			<li class="m-b_1 m-b_3:md facility-address font_1">
				<h4 class="font_bold m-b_0 m-t_0">
					Heart House
				</h4>
				<div class="block">
					<span class="street-address">2400 N. St. NW</span>
				</div>
				<div class="block">
					<span class="locality ">Washington</span>,
					<span class="city-name ">
						<abbr title="District of Colombia">DC</abbr>
					</span>
					<span class="postal-code">20037</span>
				</div>
			</li>
			<li class="m-b_1 m-b_2:md facility-google-map">
				<a
					class="block c_secondary h:c_primary h:underline"
					href="https://google.map.com"
					><i class="fa-fw fa-map-marker fa-pin fas"></i>Get
					Directions</a
				>
			</li>
			<li class="m-b_1 m-b_2:md facility-web-URL">
				<a
					class="website c_secondary h:c_primary h:underline"
					target="_blank"
					href="http://www.bidmc.org"
				>
					<i class="fas fa-fw fa-globe"></i>
					website
				</a>
			</li>
			<li class="m-b_1 m-b_2:md facility-email">
				<a
					href="mailto:resource@acc.org"
					class="emailc_secondary c_secondary h:c_primary h:underline"
					><i class="fas fa-fw fa-envelope"></i
					><span class="text">resource@acc.org</span></a
				>
			</li>
			<li class="m-b_1 m-b_3:md facility-phone">
				<a
					tel="+18002574737"
					href="tel:+18002534636.5603"
					class="tel c_secondary h:c_primary h:underline"
				>
					<i class="fas fa-fw fa-phone"></i
					><span class="text">(800) 253-4636, ext. 5603</span>
				</a>
			</li>
		</ul>
	</address>
	<div class="font_0 font_bold">
		Cardiac Services
		<a
			href="https://www.cardiosmart.org/resources/pr-glossary"
			target="_blank"
			class="c_secondary h:c_primary h:underline"
			><i class="fas fa-fw fa-question-circle"></i
		></a>
	</div>
	<ul class="font_n1 gap-x_4  ul_none">
		<li class="facility-service">
			Acute Myocardial Infarction Treatment
		</li>
		<li class="facility-service">Atrial Fibrillation Ablation</li>
		<li class="facility-service">
			Cardiac Defibrillator Implantation
		</li>
		<li class="facility-service">Cardiac Surgery Services</li>
		<li class="facility-service">Carotid Artery Stenting</li>
		<li class="facility-service">Carotid Endarterectomy</li>
		<li class="facility-service">
			Congenital Heart Defect Intervention
		</li>
		<li class="facility-service">
			Coronary Artery Bypass Graft Surgery
		</li>
		<li class="facility-service">
			Diagnostic Cardiac Catheterization
		</li>
		<li class="facility-service">Electrophysiology Studies</li>
		<li class="facility-service">
			Left Atrial Appendage Occlusion
		</li>
		<li class="facility-service">Pacemaker Implantation</li>
		<li class="facility-service">
			Percutaneous Coronary Intervention for Elective and Emergency Cases
		</li>
		<li class="facility-service">
			Percutaneous Peripheral Vascular Intervention
		</li>
		<li class="facility-service">
			Transcatheter Valve Replacement
		</li>
	</ul>
	<p class="c_primary font_italic font_n2 lh_2 m-t_3 subtle">
		Cardiac data registries are national databases that collect information
		on specific heart conditions or procedures performed in hospitals.
		Quality improvement programs give hospitals the tools and resources they
		need to improve how they deliver care.
	</p>
</div>


 
Weight:0
 
Styleguide RecipesFYHAH.Profile Identifier
*/

/*
Search Panel
 
Description: Search Panel
 
Markup:
<fieldset id="searchpanel" class="bg_white br_radius max-w_25 p_4 shadow_overlap-bold">
	<header class="flex font_2 justify_between search-panel-toggle">
		<div class="display_none:md">
			<a class="btn btn-info collapse-trigger font_0 p_2 self_center"><i class="fa icon-toggle_plus-minus"></i></a>
		</div>
		<h2 class="flex_auto lh_0 m_0 p-x_3 self_center">Search</h2>
		<div class="flex_shrink">
			<a href="#" data-bind="click: Behavior_ClearSearchValues flex_grow" class="btn btn-link self_center">
				Clear
				<i class="fa fa-times-circle"></i>
			</a>
		</div>
	</header>
	<section class="search-panel-content collapsable CS_col-xs-12">
		<div class="control-group">
			<div class="control-label">
				<label for="HospitalName">Hospital Name</label>
			</div>
			<div class="controls">
				<input id="HospitalName" type="text" value="" placeholder="Address,State, or Zip">
			</div>
		</div>
		<div class="control-group">
			<div class="control-label">
				<label for="HospitalLocation">Location</label>
			</div>
			<div class="controls">
				<input id="HospitalLocation" type="text" value="" placeholder="Address,State, or Zip">
				<input class="display_none" data-bind="value:Latitude" id="Latitude" name="Latitude" type="text" value="">
				<input class="display_none" data-bind="value:Longitude" id="Longitude" name="Longitude" type="text" value="">
			</div>
		</div>
		<div class="control-group">
			<div class="control-label">
				<label class="lh_0 m-b_0">Cardiac Services
					<a class="underline c_primary font_n1" href="https://www.cardiosmart.org/resources/pr-glossary" target="_blank">
						<span class="display_none inline-block:md">Services Glossary</span>
						<span class="alt-short-text display_none:md inline-block">Glossary</span>
						<i class="fa fa-fw fa-question-circle"></i>
					</a>
				</label>
				<span class="block c_accent font_n1 help-block">Select all services hospitals must perform</span>
			</div>
			<div class="controls">
				<select name="ServiceId" id="ServiceId" class="selectpicker knockoutjs-selectpicker" multiple="multiple">
					<option value="11">Acute Myocardial Infarction Treatment</option>
					<option value="16">Atrial Fibrillation Ablation</option>
					<option value="3">Cardiac Defibrillator Implantation</option>
					<option value="14">Cardiac Surgery Services</option>
					<option value="6">Carotid Artery Stenting</option>
					<option value="7">Carotid Endarterectomy</option>
					<option value="8">Congenital Heart Defect Intervention</option>
					<option value="15">Coronary Artery Bypass Graft Surgery</option>
					<option value="4">Diagnostic Cardiac Catheterization</option>
					<option value="1">Electrophysiology Studies</option>
					<option value="12">Left Atrial Appendage Occlusion</option>
					<option value="2">Pacemaker Implantation</option>
					<option value="13">Percutaneous Coronary Intervention for Acute Myocardial
						Infarction</option>
					<option value="5">Percutaneous Coronary Intervention for Elective and
						Emergency Cases</option>
					<option value="10">Percutaneous Peripheral Vascular Intervention</option>
					<option value="9">Transcatheter Valve Replacement</option>
				</select>
			</div>
		</div>
		<div class="control-group font_n1 m-t_2">
			<div class="control-label">
				<label for="IsParticipatingLbl"><i id="FilterLbl">Filter search results by</i></label>
				<label class="checkbox" id="IsParticipatingLbl">
					<input data-bind="checked: IsParticipating, click: Behavior_SearchHospitals, css: { 'disabled-grey': !Computed_IsSearchFunctionAllowed() } " id="IsParticipating" name="IsParticipating" type="checkbox" value="true" class="">
					Reporting Data
				</label>
			</div>
		</div>
	</section>
	<footer class="search-panel-footer CS_col-xs-12 collapsable">
		<a class="bg_primary-2 br_radius btn c_white float_right h:bg_primary h:shadow shadow_2" data-bind="click: Behavior_SearchHospitals, css: { 'disabled-grey': !Computed_IsSearchFunctionAllowed() }">Search
			<i class="icon-search icon-white"></i></a>
	</footer>
</fieldset>
 
Weight:0
 
Styleguide RecipesFYHAH.Search Panel
*/

/*
FYHAH Header Bar
 
Description: Header of the single page applicaiton
 
Markup:
<section class="bg_white br-b_2 br_primary br_solid c_black flex">
	<nav class="flex_auto font_1 m-b_0">
		<ul class="flex ul_none">
			<li class=" flex_shrink flex">
				<a class="c_primary self_center p_3  br_black-3 br_dotted br-r_1 " href="#"><i class="fas fa-home-heart"></i></a>
			</li>
			<li class="m-l_3 p-l_3 br_black-3 br_dotted br-r_1 flex_shrink flex">
				<a class="c_primary self_center p_3" href="#"><i class="fas fa-search"></i></a>
			</li>
			<li class="m-l_3 p-l_3 br_black-3 br_dotted br-r_1 flex_shrink flex">
				<span class="c_primary active self_center p_3  font_bold">Profile</span>
			</li>
		</ul>
	</nav>
	<div class="flex">
		<ul class="flex ul_none">
			<li class="flex_grow flex active">
				<div class="self_center a:_none">
					<i class=" br_2 br_dashed br_radius br_black-3 fa-question fas m-r_3 p_3 "></i>
				</div>
				<div class="self_center display_none a:_block">
					<i
						class="bg_highlight br_2 br_highlight-n3 br_radius br_solid c_black fa-hospital fas m-r_3 p_3"></i>
				</div>
			</li>
			<li class="flex_grow flex ">
				<div class="self_center a:_none">
					<i class=" br_2 br_dashed br_radius br_black-3 fa-question fas m-r_3 p_3 "></i>
				</div>
				<div class="self_center display_none a:_block">
					<i
						class="bg_highlight br_2 br_highlight-n3 br_radius br_solid c_black fa-hospital fas m-r_3 p_3"></i>
				</div>
			</li>
			<li class="flex_grow flex ">
				<div class="self_center a:_none">
					<i class=" br_2 br_dashed br_radius br_black-3 fa-question fas m-r_3 p_3 "></i>
				</div>
				<div class="self_center display_none a:_block">
					<i
						class="bg_highlight br_2 br_highlight-n3 br_radius br_solid c_black fa-hospital fas m-r_3 p_3"></i>
				</div>
			</li>
		</ul>
		<div class="CS_col-xs-12 flex flex_auto p_3">
			<a href="#" class="CS_col-xs-12 br_radius font_0 p-x_3 p_2 bg_shade-3 c_black-2">Compare</a>
		</div>
	</div>
</section>

 
Weight:0
 
Styleguide RecipesFYHAH.Search Header
*/
/*
Registry Participaiton
 
Description: Opening table of participation. 
 
Markup:
<table class="font_copy table table-borderless">
	<thead class="bg_primary c_white font_1 font_bold">
		<tr class="">
			<td class="">Registry</td>
			<td class="">Associated Services</td>
		</tr>
	</thead>
	<tbody class="font_1">
		<tr class="bg_accent c_white font_bold font_display lh_0">
			<td colspan="2" class="  font-size_up">
				Participating
			</td>
		</tr>
		<tr>
			<td class="font_bold font_display">CathPCI Registry®</td>
			<td class="c_primary-n2 font-size_down">
				Diagnostic Cardiac Catheterization, Percutaneous Coronary
				Intervention for Elective and Emergency Cases &amp; Percutaneous
				Coronary Intervention for Acute Myocardial Infarction
			</td>
		</tr>
		<tr>
			<td class="font_bold font_display">
				Quality Improvement for Institutions Program<a href="#" class="dialog-info-text" title="Hospital is participating in a quality improvement program that helps them improve guideline adherence, reduce variations in care and enhance patient outcomes."><i class="fas fa-fw fa-question-circle"></i></a>
			</td>
			<td></td>
		</tr>
	</tbody>
	<tbody class="">
		<tr class="bg_accent-2 font_bold font_display lh_0">
			<td colspan="2" class="bg_black-4 c_white  font-size_up">
				Not Participating
			</td>
		</tr>
		<tr>
			<td class="font_bold font_display">
				ICD Registry™<a href="#" class="dialog-info-text" title="Hospital is participating in registry for implantable cardioverter defibrillators and leads."><i class="fas fa-fw fa-question-circle"></i></a>
			</td>
			<td class="c_primary-n2 font-size_down">
				Electrophysiology Studies, Pacemaker Implantation &amp; Cardiac
				Defibrillator Implantation
			</td>
		</tr>
	</tbody>
	<tbody class=" br-t_1 br_black-0 br_solid c_black-7 font_n1">
		<tr class="bg_accent-1 font_bold font_display lh_0 ">
			<td colspan="2" class="bg_black-6 c_white font-size_up">
				Not Applicable
				<span class="font_italic font-size_down font_regular m-t_2">
					Does Not Perform Services
				</span>
			</td>
		</tr>
		<tr class="">
			<td class="font_bold font_display p-y_2">
				Chest Pain - MI Registry™<a href="#" class="dialog-info-text" title="Hospital is participating in registry for acute coronary syndrome (also known as acute myocardial infarction or heart attack) patients."><i class="fas fa-fw fa-question-circle"></i></a>
			</td>
			<td>
				Acute Myocardial Infarction Treatment
			</td>
		</tr>
	</tbody>
</table>
 
Weight:0
 
Styleguide RecipesFYHAH.Profile.RegistryData
*/
