a.link[href=''] {background-color:get-themecolor(alert , 4 ) !important;color:get-themecolor(alert , -2 ) !important; border-radius: .25rem; padding:$padding_2;}
a.btn[href=''] {background:get-themecolor(alert , -2 )  !important;}
a.btn[href='']:after, a.link[href='']:after  {
content:' [!] NO URL [!] '  !important;
font-family:sans-serif  !important;
font-weight:900  !important;
display: inline;
}


/*

Button and Link Failure On No Href

The button and link will auto style when the href is empty.
 
Markup:
<a href="" class="btn br_radius max-w_30 m_auto m-b_3 block shadow_overlap-light btn-primary c_white h:undecorated" target="_blank">Button</a>
<a href="https://www.facebook.com/AmericanCollegeofCardiology/" class="btn br_radius max-w_30 m_auto m-b_3 block shadow_overlap-light btn-primary c_white h:undecorated" target="_blank">Button</a>
<a href="" class="link" target="_blank">Text Link</a>
<a href="https://www.facebook.com/AmericanCollegeofCardiology/" class="link" target="_blank">Text Link</a>

MarkupWrapperClasses: 
 
Weight:0
 
Styleguide HTML.NoHrefFailure
*/