.categoryBanner {
	height: 100px;
	width: 100%;
}
@media #{$medium-up} {
	.categoryBanner {
		height: 140px;
	}
}
@media #{$xlarge-up} {
	.categoryBanner {
		height: 160px;
	}
}
[class$="_video"],[class$="_video-nolabel"]{
	background-repeat: no-repeat;
	background-size: cover;

} 
.generic_video{
	background-image: url("../img/virtual/channels/generic/videoThumbnail.png");}
.generic_video-nolabel{
	background-image: url("../img/virtual/channels/generic/videoThumbnailNoLabel.png");
}
.generic_banner{
	@extend .categoryBanner;
	background-image: 
		url("../img/virtual/channels/generic/categoryLabel.png"),
		url("../img/virtual/channels/generic/categoryBanner.png") ;
	background-position: right center, left top;
	background-repeat: no-repeat;
	background-size: contain, cover;

}

.track1_video{
	background-image: url("../img/virtual/channels/track1/videoThumbnail.png");}
.track1_video-nolabel{
	background-image: url("../img/virtual/channels/track1/videoThumbnailNoLabel.png");
}
.track1_banner{
	@extend .categoryBanner;
	background-image: 
		url("../img/virtual/channels/track1/categoryLabel.png"),
		url("../img/virtual/channels/track1/categoryBanner.png") ;
	background-position: right center, left top;
	background-repeat: no-repeat;
	background-size: contain, cover;

}

.track2_video{
	background-image: url("../img/virtual/channels/track2/videoThumbnail.png");}
.track2_video-nolabel{
	background-image: url("../img/virtual/channels/track2/videoThumbnailNoLabel.png");
}
.track2_banner{
	@extend .categoryBanner;
	background-image: 
		url("../img/virtual/channels/track2/categoryLabel.png"),
		url("../img/virtual/channels/track2/categoryBanner.png") ;
	background-position: right center, left top;
	background-repeat: no-repeat;
	background-size: contain, cover;

}

.track3_video{
	background-image: url("../img/virtual/channels/track3/videoThumbnail.png");}
.track3_video-nolabel{
	background-image: url("../img/virtual/channels/track3/videoThumbnailNoLabel.png");
}
.track3_banner{
	@extend .categoryBanner;
	background-image: 
		url("../img/virtual/channels/track3/categoryLabel.png"),
		url("../img/virtual/channels/track3/categoryBanner.png") ;
	background-position: right center, left top;
	background-repeat: no-repeat;
	background-size: contain, cover;

}