/*
Lobby Header
 
This is the banner that uses as the umbrella brand of the conferneces. 
 
Markup:
<div class="lobby-header"></div>
 
Weight:-100
 
Styleguide Virtual Recipes.Lobby.Header

*/

/*
Umbrella Navigation
 
This is the banner that uses as the umbrella brand of the conferneces. 
 
Markup:
<div class="umbrella-nav flex c_white p_3">
    <span class="flex_auto float_right font_1 font_display font_xbold h_2lh inline-block lh_2 p-l_3 p-y_2">VIRTUAL EDUCATION</span>
    <div class="flex">
        <div class="flex_auto font_0 font_bold h_2lh p-y_2 uppercase vertical-align_middle">Change Conferneces</div>
        <div class="flex_auto p-x_3">
            <select name="" id="" class="bg_primary br_radius br_white-5 flex_auto m-l_auto">
                <option value="">Athletic Heart</option>
                <option value="">ACC 20</option>
                <option value="">Covid</option>
            </select>
        </div>
    </div>
</div>
 
Weight:-100
 
Styleguide Virtual Recipes.Conference Navigation

*/

/*
Conference Teaser
 
This container holds the brand of the conferneces with some high level information. 
 
Markup:
<div class="conf br_shade br_1 br_solid p_4 m-b_4 br_radius relative">
    <h1 class="font_display font_bold">
        <a class="expanded-click-area">Confernce Name</a> 
    </h1>
    <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae eligendi itaque cumque veniam iusto unde quae blanditiis provident sed sunt nobis, porro accusantium, dolorem dolor dolore commodi, eum aliquam sapiente.</p>
    <div class="c_secondary">LIVE: June 20, 2020 -- ONDEMAND: June 21 - DEC 31, 2020</div>
    <div class="absolute b_4 r_4">
        <div class="flex_grow uppercase text_right">
            <ul class="m-t_n2 ul_none">
                <li class="inline-block lh_0 p-l_3">
                    <span class="bg_CME br_1 br_white-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> cme </li>
                <li class="inline-block lh_0 p-l_3">
                    <span class="bg_CNE br_1 br_white-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> cne </li>
                <li class="inline-block lh_0 p-l_3">
                    <span class="bg_COP br_1 br_white-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> cop </li>
            </ul>
        </div>
    </div>
</div>
 
Weight:-100
 
Styleguide Virtual Recipes.Lobby.Conference Teaser

*/


.umbrella-nav {
    width: 100%;
    background-color: #002d5b;
    background: url('../img/virtual/lobby/jumpNav.backgroundTexture.png') no-repeat center top;
    background-size:cover;
}
.lobby-header {
    height: 100px;
    width: 100%;
    background-color: #002d5b;
    background: url('../img/virtual/lobby/header.backgroundTexture.sm.png') no-repeat center top;
}
@media #{$medium-up} {
    .lobby-header {
        height: 125px;
        width: 100%;
        background-color: #002d5b;
        background: url('../img/virtual/lobby/header.mainLogo.md.png') no-repeat left top,
            url('../img/virtual/lobby/header.secondary.md.png') no-repeat right top,
            url('../img/virtual/lobby/header.img.md.png') no-repeat 27% top,
            url('../img/virtual/lobby/header.backgroundTexture.png') no-repeat right top;
        background-size: contain,contain,contain,cover;
    }

}
@media #{$xlarge-up} {
    .lobby-header {
        height: 160px;
        width: 100%;
        background-color: #002d5b;
        background: url('../img/virtual/lobby/header.mainLogo.lg.png') no-repeat left top,
            url('../img/virtual/lobby/header.secondary.lg.png') no-repeat right top,
            url('../img/virtual/lobby/header.img.lg.png') no-repeat 14% top,
            url('../img/virtual/lobby/header.backgroundTexture.png') no-repeat right top;
    }
}