/*
Locking Graphics
 
Showing assets before they are interactable is needed  
 
Markup:
<div class="p_4 grid template-x_20 gap-x_5 gap-y_4">
<div>{{> "Virtual Recipes.Live Video" modifier_class=""}}</div>
<div class="lockec_graphic">{{> "Virtual Recipes.Live Video" modifier_class=""}}</div>
<div class="p_4 grid template-x_20 gap-x_5 gap-y_4">
<div>{{> "Virtual Recipes.OnDemand.Video" modifier_class=""}}</div>
<div class="lockec_graphic">{{> "Virtual Recipes.OnDemand.Video" modifier_class=""}}</div>
</div>
<div>{{> "Virtual Recipes.OnDemand.Journals" modifier_class=""}}</div>
<div class="lockec_graphic">{{> "Virtual Recipes.OnDemand.Journals" modifier_class=""}}</div>


MarkupWrapperClasses:
p_4

 
Weight:1000
 
Styleguide Virtual Recipes.Locked Graphic
*/



.locked_graphic {
    filter: grayscale(1) contrast(0.5) brightness(1.1) opacity(.7);
}
.locked_graphic,.locked_graphic *, .locked_graphic *:hover{
        cursor: not-allowed;

}
.locked_graphic *[class*=" h:"]{
        background:transparent !important;
        text-decoration:none !important;
        opacity:1 !important;}

.locked_graphic:hover {
    & i:before, & em:before {
    content: "\f30d" !important;
    }
}

@media(hover:none){
    .locked_graphic { 
        & i:before, & em:before {
    content: "\f30d" !important;
    }
    } 
}