/*
Lobby
 
This page brings together all active and future confrences. The page is hosted at the root domain of virtual.acc.org
  
Styleguide Virtual Recipes.Lobby

*/

/*
Lobby Header
 
This is the banner that uses as the umbrella brand of the conferneces. 
 
Markup:
<div class="lobby-header"></div>
 
Weight:-100
 
Styleguide Virtual Recipes.Lobby.Header

*/

/*
Umbrella Navigation
 
This is the banner that uses as the umbrella brand of the conferneces. 
 
Markup:
<div class="umbrella-nav flex c_white p_3">
    <span class="flex_auto float_right font_1 font_display font_xbold h_2lh inline-block lh_2 p-l_3 p-y_2">VIRTUAL EDUCATION</span>
    <div class="flex">
        <div class="flex_auto font_0 font_bold h_2lh p-y_2 uppercase vertical-align_middle">Change Conferneces</div>
        <div class="flex_auto p-x_3">
            <select name="" id="" class="bg_primary br_radius br_white-5 flex_auto m-l_auto">
                <option value="">Athletic Heart</option>
                <option value="">ACC 20</option>
                <option value="">Covid</option>
            </select>
        </div>
    </div>
</div>
 
Weight:-100
 
Styleguide Virtual Recipes.Conference Navigation

*/

/*
Conference Teaser
 
This container holds the brand of the conferneces with some high level information. 
 
Markup:
<div class="conference_teaser br_shade br_1 br_solid m-b_4 p-x_4 br_radius relative c_white">
    <h1 class="conference_logo font_bold font_display m_0">
        <a class="expanded-click-area"><span class="display_none">Confernce Name</span></a>
    </h1>
    <p class="font_0 font_1:md font_2:lg font_medium lh_2 p-x_2 text-shadow_black-1">A focus on evidence-based, practical, cardiovascular care strategies for the elite athlete to exercise enthusiast.</p>
    <div class="absolute:md b_3 flex flex_column flex_row:md font_n1 l_4 m-b_0:md m-b_n4 p-b_0:md p-b_3 r_4">
        <div class=""><div class="br-b_1 br_solid:md br_white-5 font_n2 m-b_2:md m-b_n2 text_left uppercase">live</div> <strong class="p-l_2:md">June 20, 2020</strong></div>
        <div class="block m-l_4:md m-t_0:md m-t_3"><div class="br-b_1 br_solid:md br_white-5 font_n2 m-b_2:md m-b_n2 text_left uppercase">ondemand</div> <strong class="p-l_2:md">June 20, 2020 - December 31, 2020</strong></div>
        <div class="m-l_auto:md m-t_3 m-t_0:md">
            <div class="br-b_1 br_solid br_white-5 font_n2 m-b_2 text_right:md text_left uppercase">available credits</div>
            <div class="flex_grow uppercase text_right:md font_bold">
                <ul class="m-t_n2 ul_none">
                    <li class="inline-block lh_0 p-l_3:md">
                        <span class="bg_CME br_1 br_white-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> cme </li>
                    <li class="inline-block lh_0 p-l_3">
                        <span class="bg_MOCII br_1 br_white-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> moc II</li>
                </ul>
            </div>
        </div>
    </div>
</div>

 
Weight:100
 
Styleguide Virtual Recipes.Lobby.Conference Teaser

*/
.conference_teaser{

    padding-top:35%;//aspect ratio of the image with width being 100%
    max-width: 480px;
    background-color:#002d5b;
    background-image: 
        url(../img/virtual/lobby/AH20/logo.sm.png),
        url(../img/virtual/lobby/AH20/background.sm.png);
    background-position: top center,top center;
    background-repeat: no-repeat,repeat-y;
    background-size: contain,contain;

    
    @media #{$medium-up} {
    $logo-height: 120px;
    padding-top: calc(#{$logo-height} + 1.5rem); 
    padding-bottom:4rem;
    max-width: 1024px; 
    max-height:350px;
         background-image: 
        url(../img/virtual/lobby/AH20/logo.lg.png),
        url(../img/virtual/lobby/AH20/secondaryLogo.lg.png),
        url(../img/virtual/lobby/AH20/img.lg.png),
        url(../img/virtual/lobby/AH20/background.lh.png);
    background-position: 1rem 1rem, calc(100% - 1rem) 1rem, top right, top center;
    background-repeat: no-repeat,no-repeat,no-repeat,repeat-y;
    background-size: auto,auto,contain,contain;
    }
}

.umbrella-nav {
    width: 100%;
    background-color: #002d5b;
    background: url('../img/virtual/lobby/jumpNav.backgroundTexture.png') no-repeat center top;
    background-size:cover;
}
.lobby-header {
    height: 100px;
    width: 100%;
    background-color: #002d5b;
    background: url('../img/virtual/lobby/header.backgroundTexture.sm.png') no-repeat center top;
}
@media #{$medium-up} {
    .lobby-header {
        height: 125px;
        width: 100%;
        background-color: #002d5b;
        background: url('../img/virtual/lobby/header.mainLogo.md.png') no-repeat left top,
            url('../img/virtual/lobby/header.secondary.md.png') no-repeat right top,
            url('../img/virtual/lobby/header.img.md.png') no-repeat 27% top,
            url('../img/virtual/lobby/header.backgroundTexture.png') no-repeat right top;
        background-size: contain,contain,contain,cover;
    }

}
@media #{$xlarge-up} {
    .lobby-header {
        height: 160px;
        width: 100%;
        background-color: #002d5b;
        background: url('../img/virtual/lobby/header.mainLogo.lg.png') no-repeat left top,
            url('../img/virtual/lobby/header.secondary.lg.png') no-repeat right top,
            url('../img/virtual/lobby/header.img.lg.png') no-repeat 14% top,
            url('../img/virtual/lobby/header.backgroundTexture.png') no-repeat right top;
    }
}