/*
Lobby
 
This page brings together all active and future confrences. The page is hosted at the root domain of virtual.acc.org
  
Styleguide Virtual Recipes.Lobby

*/

/*
Lobby Header
 
This is the banner that uses as the umbrella brand of the conferneces. 
 
Markup:
<div class="lobby-header"></div>
 
Weight:-100
 
Styleguide Virtual Recipes.Lobby.Header

*/

/*
Conference Teaser
 
This container holds the brand of the conferneces with some high level information. 
 
Markup:
<div class="conference_teaser br_shade br_1 br_solid m-b_4 p-x_4 br_radius relative c_white">
    <h1 class="conference_logo font_bold font_display m_0">
        <a class="expanded-click-area"><span class="display_none">Confernce Name</span></a>
    </h1>
    <p class="font_0 font_1:md font_medium lh_2 p-x_2 text-shadow_black-1">A focus on evidence-based, practical, cardiovascular care strategies for the elite athlete to exercise enthusiast.</p>
    <div class="absolute:md b_3 flex flex_column flex_row:md font_n1 l_4 m-b_0:md m-b_n4 p-b_0:md p-b_3 r_4">
        <div class=""><div class="br-b_1 br_solid:md br_white-5 font_n2 m-b_2:md m-b_n2 text_left uppercase">live</div> <strong class="p-l_2:md">June 20, 2020</strong></div>
        <div class="block m-l_4:md m-t_0:md m-t_3"><div class="br-b_1 br_solid:md br_white-5 font_n2 m-b_2:md m-b_n2 text_left uppercase">on demand</div> <strong class="p-l_2:md">June 20, 2020 - December 31, 2020</strong></div>
        <div class="m-l_auto:md m-t_3 m-t_0:md">
            <div class="br-b_1 br_solid br_white-5 font_n2 m-b_2 text_right:md text_left uppercase">available credits</div>
            <div class="flex_grow uppercase text_right:md font_bold">
                <ul class="m-t_n2 ul_none">
                    <li class="inline-block lh_0 p-l_3:md">
                        <span class="bg_CME br_1 br_white-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> cme </li>
                    <li class="inline-block lh_0 p-l_3">
                        <span class="bg_MOCII br_1 br_white-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> moc II</li>
                </ul>
            </div>
        </div>
    </div>
</div>

 
Weight:100
 
Styleguide Virtual Recipes.Lobby.Cards

*/

/*
ACC/WCC 20 Conference CARD
 
ACC.20/WCC Virtual
 
Markup:
<div id="acc20" class="conference_teaser br_shade br_1 br_solid m-b_4 p-x_4 br_radius relative c_black">
    <h1 class="conference_logo font_bold font_display m_0">
        <a class="expanded-click-area"href="/ACC20"><span class="display_none">ACC.20/WCC Virtual</span></a>
    </h1>
    <p class="font_0 font_1:md font_medium lh_2 p-x_2 text-shadow_black-1">ACC.20/WCC Virtual brings cutting-edge science and practice-changing updates directly to you. Watch videos and industry presentations, hear from experts, browse posters, download slides, and explore virtual exhibits — all On Demand and all for FREE.</p>
    <div class="absolute:md b_3 flex flex_column flex_row:md font_n1 l_4 m-b_0:md m-b_n4 p-b_0:md p-b_3 r_4">
        <div class="">
            <div class="br-b_1 br_solid:md br_black-5 font_n2 m-b_2:md m-b_n2 text_left uppercase">live</div> <strong class="p-l_2:md">March 28 - 30, 2020</strong>
        </div>
        <div class="block m-l_4:md m-t_0:md m-t_3">
            <div class="br-b_1 br_solid:md br_black-5 font_n2 m-b_2:md m-b_n2 text_left uppercase">on demand</div> <strong class="p-l_2:md">Until June 30, 2020</strong>
        </div>
        <div class="m-l_auto:md m-t_3 m-t_0:md">
            <div class="br-b_1 br_solid br_black-5 font_n2 m-b_2 text_right:md text_left uppercase">available credits</div>
            <div class="flex_grow uppercase text_right:md font_bold">
                <ul class="m-t_n2 ul_none">
                    <li class="inline-block lh_0 p-l_3:md">
                        <span class="bg_CME br_1 br_black-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> cme </li>
                    <li class="inline-block lh_0 p-l_3">
                        <span class="bg_CNE br_1 br_black-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> cne</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<style>
#acc20 {
    padding-top: 38%;
    background-color: #f4c74c;
    background-image: url(../img/virtual/lobby/ACC20/logo.sm.png), url(../img/virtual/lobby/ACC20/background.sm.png);
}
@media only screen and (min-width : 768px) {
#acc20 {
    padding-top: calc(150px + 1.5rem);
        background-image: url(../img/virtual/lobby/ACC20/logo.lg.png), url(../img/virtual/lobby/ACC20/secondaryLogo.lg.png), url(../img/virtual/lobby/ACC20/img.lg.png), url(../img/virtual/lobby/ACC20/background.lg.png);
    background-position: 4px 16px, calc(100% - 1rem) 13px, top right, top center;
    };
}
</style>

 
Weight:150
 
Styleguide Virtual Recipes.Lobby.Cards.ACC20

*/
/*
COVID Conference CARD
 
Summer COVID-19 Education Series
 
Markup:
<div id="cvcovid" class="conference_teaser br_shade br_1 br_solid m-b_4 p-x_4 br_radius relative c_white">
    <h1 class="conference_logo font_bold font_display m_0">
        <a class="expanded-click-area" href="/CVCOVID"><span class="display_none">Summer COVID-19 Education Series</span></a>
    </h1>
    <p class="font_0 font_1:md font_medium lh_2 p-x_2 text-shadow_black-1">Weekly episodes of targeted and easy-to-consume education to address current and evolving knowledge and practice gaps to help you manage your patients with COVID-19 and heart disease.</p>
    <div class="absolute:md b_3 flex flex_column flex_row:md font_n1 l_4 m-b_0:md m-b_n4 p-b_0:md p-b_3 r_4">
        <div class="">
            <div class="br-b_1 br_solid:md br_white-5 font_n2 m-b_2:md m-b_n2 text_left uppercase">live</div> <strong class="p-l_2:md">June 6, 2020</strong>
        </div>
        <div class="block m-l_4:md m-t_0:md m-t_3">
            <div class="br-b_1 br_solid:md br_white-5 font_n2 m-b_2:md m-b_n2 text_left uppercase">updates</div> <strong class="p-l_2:md">Every Thursday 12:00 p.m. – 1 p.m. ET June – August</strong>
        </div>
        <div class="block m-l_4:md m-t_0:md m-t_3">
            <div class="br-b_1 br_solid:md br_white-5 font_n2 m-b_2:md m-b_n2 text_left uppercase">on demand</div> <strong class="p-l_2:md">Until December 31, 2020</strong>
        </div>
    </div>
</div>
<style>
#cvcovid {
    padding-top: 25%;
    background-color: #722569;
     background-image: url(../img/virtual/lobby/COVID20/logo.sm.png), url(../img/virtual/lobby/COVID20/background.sm.png);
}
@media only screen and (min-width : 768px) {
#cvcovid {
    padding-top: calc(70px + 1.5rem);
    background-image: url(../img/virtual/lobby/COVID20/logo.lg.png), url(../img/virtual/lobby/COVID20/secondaryLogo.lg.png), url(../img/virtual/lobby/COVID20/img.lg.png), url(../img/virtual/lobby/COVID20/background.lg.png);
    background-position: 21px 21px, calc(100% - 1rem) 1rem, top right, top center;
    };
}
</style>

 
Weight:150
 
Styleguide Virtual Recipes.Lobby.Cards.CVCOVID

*/
/*
Atheltic Heart CARD
 
Care of the Athletic Heart Virtual
 
Markup:
<div id="AH20" class="conference_teaser br_shade br_1 br_solid m-b_4 p-x_4 br_radius relative c_white">
    <h1 class="conference_logo font_bold font_display m_0">
        <a class="expanded-click-area" href="/AH20"><span class="display_none">Care of the Athletic Heart Virtual</span></a>
    </h1>
    <p class="font_0 font_1:md   font_medium lh_2 p-x_2 text-shadow_black-1">A focus on evidence-based, practical, cardiovascular care strategies for the elite athlete to exercise enthusiast.</p>
    <div class="absolute:md b_3 flex flex_column flex_row:md font_n1 l_4 m-b_0:md m-b_n4 p-b_0:md p-b_3 r_4">
        <div class="">
            <div class="br-b_1 br_solid:md br_white-5 font_n2 m-b_2:md m-b_n2 text_left uppercase">live</div> <strong class="p-l_2:md">June 20, 2020</strong>
        </div>
        <div class="block m-l_4:md m-t_0:md m-t_3">
            <div class="br-b_1 br_solid:md br_white-5 font_n2 m-b_2:md m-b_n2 text_left uppercase">on demand</div> <strong class="p-l_2:md">Until December 31, 2020</strong>
        </div>
        <div class="m-l_auto:md m-t_3 m-t_0:md">
            <div class="br-b_1 br_solid br_white-5 font_n2 m-b_2 text_right:md text_left uppercase">available credits</div>
            <div class="flex_grow uppercase text_right:md font_bold">
                <ul class="m-t_n2 ul_none">
                    <li class="inline-block lh_0 p-l_3:md">
                        <span class="bg_CME br_1 br_white-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> cme </li>
                    <li class="inline-block lh_0 p-l_3">
                        <span class="bg_MOCII br_1 br_white-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> moc ii</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<style>
#AH20 {
    padding-top: 38%;
    background-color: #002d5b;
    background-image: url(../img/virtual/lobby/AH20/logo.sm.png), url(../img/virtual/lobby/AH20/background.sm.png);
}
@media only screen and (min-width : 768px) {
#AH20 {
    padding-top: calc(127px + 1.5rem);
    background-image: url(../img/virtual/lobby/AH20/logo.lg.png), url(../img/virtual/lobby/AH20/secondaryLogo.lg.png), url(../img/virtual/lobby/AH20/img.lg.png), url(../img/virtual/lobby/AH20/background.lg.png);
    background-position: -3px 11px, calc(100% - 1rem) 1rem, top right, top center;
    };
}
</style>

 
Weight:150
 
Styleguide Virtual Recipes.Lobby.Cards.AH20

*/
.conference_teaser {
    padding-top: 35%; //aspect ratio of the image with width being 100%
    max-width: 480px;
    padding-bottom: 1rem;
    background-color: #002d5b;
    background-image: url(../img/virtual/lobby/VIRTUAL/logo.sm.png), url(../img/virtual/lobby/VIRTUAL/background.sm.png);
    background-position: top center, top center;
    background-repeat: no-repeat, repeat-y;
    background-size: contain, contain;
    @media #{$medium-up} {
        $logo-height: 120px;
        padding-top: calc(#{$logo-height} + 1.5rem);
        padding-bottom: 4rem;
        max-width: 1024px;
        max-height: 350px;
        background-image: url(../img/virtual/lobby/VIRTUAL/logo.lg.png),
            url(../img/virtual/lobby/VIRTUAL/secondaryLogo.lg.png), url(../img/virtual/lobby/VIRTUAL/img.lg.png),
            url(../img/virtual/lobby/VIRTUAL/background.lh.png);
        background-position: 16px 16px, calc(100% - 1rem) 1rem, top right, top center;
        background-repeat: no-repeat, no-repeat, no-repeat, repeat;
        background-size: auto, auto, contain, auto;
    }
}

.lobby-header {
    height: 100px;
    width: 100%;
    background-color: #002d5b;
    background: url('../img/virtual/lobby/header.backgroundTexture.sm.png') no-repeat center top;
}
@media #{$medium-up} {
    .lobby-header {
        height: 125px;
        width: 100%;
        background-color: #002d5b;
        background: url('../img/virtual/lobby/header.mainLogo.md.png') no-repeat left top,
            url('../img/virtual/lobby/header.secondary.md.png') no-repeat right top,
            url('../img/virtual/lobby/header.img.md.png') no-repeat 27% top,
            url('../img/virtual/lobby/header.backgroundTexture.png') no-repeat right top;
        background-size: contain, contain, contain, cover;
    }
}
@media #{$xlarge-up} {
    .lobby-header {
        height: 160px;
        width: 100%;
        background-color: #002d5b;
        background: url('../img/virtual/lobby/header.mainLogo.lg.png') no-repeat left top,
            url('../img/virtual/lobby/header.secondary.lg.png') no-repeat right top,
            url('../img/virtual/lobby/header.img.lg.png') no-repeat 14% top,
            url('../img/virtual/lobby/header.backgroundTexture.png') no-repeat right top;
    }
}
