/*
Locking Graphics
 
Showing assets before they are interactable is needed  
 
Markup:
<div class="locked_graphic">{{> "Virtual Recipes.Live Video.Channels" modifier_class="generic_video"}}</div></div>

MarkupWrapperClasses:
max-w_30

Weight: 1000
 
Styleguide Virtual Recipes.Locked Graphic
*/



.locked_graphic {
    filter: grayscale(1) contrast(0.5) brightness(1.1) opacity(.7);
}
.locked_graphic,.locked_graphic *, .locked_graphic *:hover{
        cursor: not-allowed;

}
.locked_graphic *[class*=" h:"],.locked_graphic *[class*=" h:"]:hover{
        background:transparent !important;
        text-decoration:none !important;
        opacity:1 !important;}

.locked_graphic:hover {
    & i:before, & em:before {
    content: "\f30d" !important;
    }
}

@media(hover:none){
    .locked_graphic { 
        & i:before, & em:before {
    content: "\f30d" !important;
    }
    } 
}