
/*
Channels Banners
 
Description: Conferences have added branding on the on demand area with category or channels banners. 
 
generic					- Channel Branding
track1					- Channel Branding
track2					- Channel Branding
track3					- Channel Branding

Markup:
<div class="categoryBanner {{modifier_class}}_banner m-t_3 m-b_4"></div>


Weight: 100
 
Styleguide Graveyard.Live Video.Channels.Banners
*/







