



//  Grave Yard Designs

/*
Twitter Tag
 
Description: Every conference has a common #tag structure asking user to join in to the conversation.; 
 
Markup:
<div class="socialTag float_right text_right"><div class="c_secondary font_1">Join The Conversation</div><div class="c_primary font_xbold font_3 font_display"><em class="fas fa-hashtag"></em>ACCAthleticHeart  <em class="fab fa-twitter"></em></div></div>
 
Weight:0

Deprecated: Old Designs
 
Styleguide Graveyard.PageElements.TwitterTag
*/





/*
Branded Header
 
This is a templated banner that uses as the central branding of a conference product. 
 
Markup:
<div class="brand-header"></div>
 
Deprecated: Old Designs
 
Styleguide  Graveyard.Header
*/


/*
Branded Header Overrides
 
This is a templated banner that uses as the central branding of a conference product. 

acc21   - Annual Scientific Session 2021
ah20    - Care of the Athletic Heart
ada20   - ADA/Siegfried Conf
 
Markup:
<div id="{{modifier_class}}" class="brand-header"></div><br>
<style>
.brand-header {
    height: 160px;
    width: 100%;
    background-color: #002d5b;
    background-image: url('../img/virtual/header.backgroundTexture.sm.png');
    background-repeat: no-repeat;
    background-position: center top;
}
@media #{$medium-up} {
    .brand-header {
        height: 160px;
        width: 100%;
        background-image: url('../img/virtual/header.mainLogo.md.png'), url('../img/virtual/header.secondary.md.png'), url('../img/virtual/header.img.md.png'), url('../img/virtual/header.backgroundTexture.png');
        background-size: contain, contain, contain, cover;
        background-position: left center, right center, 27% center, center center;
        background-size: contain, contain, contain, cover;
        background-repeat: no-repeat;
    }
}
@media #{$xlarge-up} {
    .brand-header {
        height: 240px;
        width: 100%;
        background-image: url('../img/virtual/header.mainLogo.lg.png'), url('../img/virtual/header.secondary.lg.png'), url('../img/virtual/header.img.lg.png'), url('../img/virtual/header.backgroundTexture.png');
        background-position: left center, right center, 14% center, center center;
    }
}
 #{"#"+"{{modifier_class}}"}.brand-header {
     background-image: url('../img/{{modifier_class}}/header.backgroundTexture.sm.png');
}
@media #{$medium-up} {
    #{"#"+"{{modifier_class}}"}.brand-header {
        background-image: url('../img/{{modifier_class}}/header.mainLogo.md.png'),
            url('../img/{{modifier_class}}/header.secondary.md.png'),
            url('../img/{{modifier_class}}/header.img.md.png'),
            url('../img/{{modifier_class}}/header.backgroundTexture.png');
    }
}
@media #{$xlarge-up} {
     #{"#"+"{{modifier_class}}"}.brand-header {
        background-image: url('../img/{{modifier_class}}/header.mainLogo.lg.png'),
            url('../img/{{modifier_class}}/header.secondary.lg.png'),
            url('../img/{{modifier_class}}/header.img.lg.png'),
            url('../img/{{modifier_class}}/header.backgroundTexture.png');
    }
}
</style>

Deprecated: Old Designs
 
Styleguide Graveyard.Header.Overrides
*/