/*
Locking Graphics
 
Showing assets before they are intractable is needed  
 
Markup:
<div class="locked_graphic">{{> "Graveyard.Program.Live Video"}}</div>

MarkupWrapperClasses:
gap_5 grid justify_around p_4 p_5 grid-col_1 grid-col_2:md

Weight: 1000
 
Styleguide Graveyard.Program.LiveVideo.Locked Graphic
*/

