/*
Editor Container Decorator

Editor Decorators are only visible in the Sitefinity Editor

Markup:
<div class="sfPageEditor">
     <div class="visible-authenticated-block">
        <ul class="nav-pills nav">
            <li class="nav-item active"><a class="nav-link">Profile</a></li>
            <li class="nav-item"><a class="nav-link">Settings</a></li>
            <li class="nav-item"><a class="nav-link">Logout</a></li>
        </ul>
     </div>
     <div class="visible-anonymous-block">
        <ul class="nav-pills nav">
            <li class="nav-item active"><a class="nav-link">FAQ</a></li>
            <li class="nav-item"><a class="nav-link">Getting Started</a></li>
            <li class="nav-item"><a class="nav-link">Login</a></li>
        </ul>
	 </div>
	<div class="sfEditor-show">
		<div class="bg-blend_mulitiply bg-blend_multiply bg_cover bg_no-repeat bg_primary br_2 br_radius br_solid br_black-3 flex_shrink relative shadow_3 texture_ondemand text_center thumb" style="width:300px;height:200px;">
			<div class="absolute b_0 flex h:opacity justify_center l_0 opacity_7 r_0 self_center t_0 text_center w_100">
				<span class=" c_white-9  flex_auto font_5 self_center text_center w_100">Ad Placeholder</span>
			</div>
		</div>
	</div>
 </div>

 Weight: 10000

Styleguide Sitefinity.Decorator
*/

%editor-visible {
	display: block !important;
	opacity: 0.75;
	border: 2px dotted transparent;
	margin: 5px;
}
%editor-visible-message {
	display: block;
	position: relative;
	font-size: 12px;
	text-align: center;
}
.sfEditor-show{display:none;}
.sfPageEditor .sfEditor-show{ display:block !important; opacity:.5;}

.sfPageEditor {
	.visible-anonymous-block,
	.visible-authenticated-block {
		img {
			display: none;
		}
	}
	.visible-authenticated-block {
		@extend %editor-visible;
		border-color: get-themecolor(accent,2);
		background-color:get-themecolor(accent,5);
		&:after,
		&:before {
			content: "AUTHENTICATED CONTENT -  Permision/Role/Authenticated";
			color: #047294;
			@extend %editor-visible-message;
		}
	}
	.visible-anonymous-block {
		@extend %editor-visible;
		border-color: get-themecolor(highlight,2);
		background-color:get-themecolor(highlight,5);
		&:after,
		&:before {
			content: "ANONYMOUS CONTENT - Permision/Role/Anonymous";
			color: #e87d1e;
			@extend %editor-visible-message;
		}
	}
}
