/*
Backend Content Decorators

sfEditor-show					- a class for showing items that might be only useful for a backend CMS User.
visible-anonymous-block 		- decoartion for containers that hold content for users not logged in.
visible-authenticated-block		- decoartion for containers that hold content for users are authenticated.


Markup:
<div class="{{modifier_class}} ">
	<h3 class="m_4">{{modifier_class}}</h3>
</div>


MarkupWrapperClasses:
sfPageEditor

Weight: 10000

Styleguide Sitefinity.Decorator.Authenticated
*/

%editor-visible {
	display: block !important;
	opacity: 0.75;
	border: 2px dotted transparent;
	margin: 5px;
}
%editor-visible-message {
	display: block;
	position: relative;
	font-size: 12px;
	text-align: center;
}
.sfEditor-show{display:none;}
.sfPageEditor .sfEditor-show{ display:block !important; opacity:.5;}

.sfPageEditor {
	.visible-anonymous-block,
	.visible-authenticated-block {
		img {
			display: none;
		}
	}
	.visible-authenticated-block {
		@extend %editor-visible;
		border-color: get-themecolor(accent,2);
		background-color:get-themecolor(accent,5);
		&:after,
		&:before {
			content: "AUTHENTICATED CONTENT -  Permision/Role/Authenticated";
			color: #047294;
			@extend %editor-visible-message;
		}
	}
	.visible-anonymous-block {
		@extend %editor-visible;
		border-color: get-themecolor(highlight,2);
		background-color:get-themecolor(highlight,5);
		&:after,
		&:before {
			content: "ANONYMOUS CONTENT - Permision/Role/Anonymous";
			color: #e87d1e;
			@extend %editor-visible-message;
		}
	}
}
