@use "sass:math";
@use "sass:list";

@function randomWords($maxCount: 5) {
	$words: (
		Incidunt,
		similique,
		soluta,
		Et,
		omnis,
		quo,
		dignissimos,
		et,
		tempora,
		voluptatem
	);
	$i: 1;
	$value: "";
	@while $i < $maxCount {
		$value: $value + list.nth( $words, random( list.length($words)) )   + " ";
		$i: $i + 1;
	};
	@return $value;
}


@function randomID($idPreName:'element',$maxCount: 5) {
	$i: 1;
	$value: $idPreName+"_";
	@while $i < $maxCount {
		$value: $value + ( random( 10 ) - 1 );
		$i: $i + 1;
	};
	@return $value;
}