/*
Agenda ID
 
Description: The ID given to an Agenda. This number is unique to the Agenda and is incremented for each new Agenda created.
 
Markup:
101
 
Weight:1
 
Styleguide Data.Agenda.ID
*/
/*
Live Time
 
Description: The time at which a Agenda is live.
 
Markup: June 20 , 11:15 – 11:45 A.M. <abbr title="EASTERN DAYLIGHT TIME, UTC -4">EDT</abbr>

 
Weight:0
 
Styleguide Data.Agenda.LiveTime
*/

/*
Agenda On Demand Release Time
 
Description: There is usually a delay to when recording will make it to on demand. This is the time that recording will be available.
 
Markup: June 21 ,11:45 A.M.

 
Weight:0
 
Styleguide Data.Agenda.onDemandReleaseTime
*/



/*
Session Subtitle
 
The subtitle of a Session.
 
Markup:
Electrical Disorders - Rhythm and Conduction Disorders
 
Weight:0
 
Styleguide Data.Session.Subtitle
*/
/*
Session Title
 
Description: The title of a Session.
 
Markup:
Cardiovascular Update for the Clinician III
 
Weight:0
 
Styleguide Data.Session.Title
*/
/*
Session Number
 
Description: The ID given to a Session
 
Markup:
3652
 
Weight:1
 
Styleguide Data.Session.ID
*/





/*
Presentation 
 
Description: A presentation

Weight:0
 
Styleguide Data.Presentation
*/
/*
Presentation Subtitle
 
Description: The subtitle of a presentation
 
Markup:Drug Coated Balloons

 
Weight:0
 
Styleguide Data.Presentation.Subtitle
*/
/*
Presentation Title
 
Description: The title of a presentation
 
Markup:
Status and Future of the Technology
 
Weight:0
 
Styleguide Data.Presentation.Title
*/

/*
Presentation ID
 
Description: Unique system generated identifier for a presentation.
 
Markup:
15612
 
Weight:0
 
Styleguide Data.Presentation.ID
*/


/*
Faculty 
 
Description: An educator who created or participated in a presentation

Weight:50
 
Styleguide Data.Faculty
*/


/*
Faculty Full Name
 
Description: The full name of the faculty member
 
Markup: Dr Pepper Soda
 
Weight:0
 
Styleguide Data.Faculty.FullName
*/
/*
Faculty Location
 
Description: The location of the faculty member
 
Markup:
Dr Pepper Soda
 
Weight:0
 
Styleguide Data.Faculty.Location
*/
/*
Faculty Role
 
Description: the roles of the faculty member within the session
 
Markup:
Co-Chair
 
Weight:0
 
Styleguide Data.Faculty.Role
*/
/*
Faculty ID
 
Description: this id can both be used to link to the faculty member's page, the member's image, and disclosures
 
Markup:
1221
 
Weight:0
 
Styleguide Data.Faculty.ID
*/