%Data.Agenda {
}
/*
Agenda Item
 
Description:
Agenda items are sessions that are scheduled for a specific date, location, and time.
 
Weight:0
 
Styleguide Data.Agenda
*/
%Data.Agenda.ID {
}
/*
Agenda ID
 
Description:
The ID given to an Agenda. This number is unique to the Agenda and is incremented for each new Agenda created.
 
Markup:
101
 
Weight:1
 
Styleguide Data.Agenda.ID
*/
%Data.Agenda.ChannelName {
}
/*
Channel Name
 
Description:
A channel is a visible category that an Agenda Item belongs to.
 
Markup:
Navigating Health Care Economics 

 
Weight:1
 
Styleguide Data.Agenda.ChannelName
*/

%Data.Agenda.LiveTime {
}
/*
Live Time
 
Description:
The time at which a Agenda is live.
 
Markup: @ {{> Data.Agenda.ReleaseTime }} – {{> Data.Agenda.ReleaseTime }} <abbr title="EASTERN TIME, UTC -4">EDT</abbr>

FORMAT: 12 hour with 'a.m.'/'p.m' and Abbreviation of Timezone.

NOTE: The 'a.m.'/'p.m.' if the same should only occur on the last time mark.  11:15 a.m. - 11:30 a.m. should be shortened to 11:15  - 11:30 a.m.

Weight:0
 
Styleguide Data.Agenda.LiveTime
*/
%Data.Agenda.ReleaseTime {
}
/*
Release Time
 
Description:
The time at which a Agenda is item is scheduled to be active, give access,  or start playing.
 
Markup: 11:15 a.m.

FORMAT: 12 hour with 'a.m.'/'p.m'.

Weight:0
 
Styleguide Data.Agenda.ReleaseTime
*/
%Data.Agenda.EndTime {
}
/*
End Time
 
Description:
The time at which a Agenda item is scheduled to end.
 
Markup: 12:15 p.m.

FORMAT: 12 hour with 'a.m.'/'p.m'.

Weight:0
 
Styleguide Data.Agenda.EndTime
*/
%Data.Agenda.LiveDate {
}
/*
Live Date
 
Description:
There is usually a delay to when recording will make it to on demand. This is the time that recording will be available.
 
Markup: Saturday, Nov. 20, 2021 

FORMAT: Day-of-Week, Month-Abbreviation.  Day, Year

Weight:0
 
Styleguide Data.Agenda.LiveDate
*/
%Data.Agenda.onDemandReleaseTime {
}
/*
On Demand Release Date and Time
 
Description:
There is usually a delay to when recording will make it to on demand. This is the time that recording will be available.
 
Markup: Saturday, Nov. 20, 2021 @ 8:00 p.m. <abbr title="EASTERN TIME, UTC -4">EDT</abbr>

FORMAT: Day-of-Week, Month-Abbreviation.  Day, Year @ Hour:Minute 'a.m.'/'p.m' Abbreviation-of-Timezone.  

NOTE:  Use the simple abbreviation for the timezone without Daylight Savings Time. IE: ET not EDT or EST.

Weight:0
 
Styleguide Data.Agenda.onDemandReleaseTime
*/
%Data.Session {
}
/*
Session 
 
A Session is a specific time slot in an Agenda. This could be either a single presentation or a series of presentations.
 
Markup:
Electrical Disorders - Rhythm and Conduction Disorders

Experiential: This is not an approved data point.

Weight:100
 
Styleguide Data.Session
*/

%Data.Session.Subtitle {
}
/*
Session Subtitle
 
The subtitle of a Session.
 
Markup:
Electrical Disorders - Rhythm and Conduction Disorders

Experiential: This is not an approved data point.

Weight:2
 
Styleguide Data.Session.Subtitle
*/
%Data.Session.Title {
}
/*
Session Title
 
Description:
The title of a Session.
 
Markup:
Cardiovascular Update for the Clinician III
 
Weight:1
 
Styleguide Data.Session.Title
*/

%Data.Session.ID {
}
/*
Session Identifier
 
Description:
The ID given to a session
 
Markup:
3652
 
Weight:0
 
Styleguide Data.Session.ID
*/

%Data.Session.Subtitle {
}
/*
Session Description
 
The description of a session.
 
Markup:
<p>Maxime et ea adipisci voluptas. Omnis nobis recusandae alias eius sed ipsam aut. Ipsam dolore qui. Soluta laudantium quae assumenda ipsa tempore voluptas et culpa. Et praesentium quasi. Quas ratione vero aspernatur.</p>
 
Weight:3
 
Styleguide Data.Session.Description
*/

%Data.Presentation {
}

/*
Presentation 

Description:
A presentation is a single part of education that can not be subdivided.

Weight:0

Styleguide Data.Presentation
*/
%Data.Presentation.Description {
}

/*
Presentation Description
 
Description:
The Description of a presentation
 
Markup:Drug Coated Balloons
 
Weight:500
 
Styleguide Data.Presentation.Description
*/

%Data.Presentation.Title {
}
/*
Presentation Title
 
Description:
The title of a presentation
 
Markup:
New York Cardiovascular Symposium 2021 Welcome Video and Introduction of Session and Faculty
 
Weight:0
 
Styleguide Data.Presentation.Title
*/
%Data.Presentation.LiveTime {
}
/*
Presentation Live Time

Description:
The Live Time of a Presentation

Markup:
11:45 – 11:49 a.m. <abbr title="EASTERN DAYLIGHT TIME, UTC -4">ET</abbr>

FORMAT: 12 hour with 'a.m.'/'p.m' and Abbreviation of Timezone.

NOTE: The 'a.m.'/'p.m.' if the same should only occur on the last time mark.  11:15 a.m. - 11:30 a.m. should be shortened to 11:15  - 11:30 a.m.


Weight:0
 
Styleguide Data.Presentation.LiveTime
*/
%Data.Presentation.ID {
}
/*
Presentation ID
 
Description:
Unique system generated identifier for a presentation.
 
Markup:
15612
 
Weight:0
 
Styleguide Data.Presentation.ID
*/
%Data.Faculty {
}
/*
Faculty 

Description:
An educator who created or participated in a presentation

Weight:1000

Styleguide Data.Faculty
*/

%Data.Faculty.Photo {
}

/*
Photo
 
Description:
A photo of the faculty member
 
Markup:
<img
    class="aspect_1x1 w_100"
    src="https://i.pravatar.cc/300"
    alt="{{> "Data.Faculty.FullName" }}"
/>

MarkupWrapperClasses: max-w_30

FORMAT: 300px by 300px

Weight:0

Styleguide Data.Faculty.Photo
*/
%Data.Faculty.FullName {
}
/*
Full Name
 
The full name of the faculty member
 
Markup: Pepper H. Soda III, MD, FACC
 

FORMAT: First Name MI (if known) Last Name Suffix (Jr., Sr., the III ), Optional Degree, Optional ACC Honorifics, Optional Exceptions Honorifics

Weight:0
 
Styleguide Data.Faculty.FullName
*/
%Data.Faculty.Location {
}
/*
Location
 
Description:
The location of the faculty member
 
Markup: New York, NY, USA
 
Weight:0

FORMAT: City, State, Country

NOTE:  if the conference country is USA you can drop the country if it is USA.

Styleguide Data.Faculty.Location
*/
%Data.Faculty.Title {
}
/*
Title
 
Description:
the roles of the faculty member within the session
 
Markup:
{{> "Data.Faculty.Title.InstitutionTitle" }}, {{> "Data.Faculty.Title.InstitutionDivision" }}, {{> "Data.Faculty.Title.Institution" }}
 


FORMAT: Institution Title, Institution Division, Institution

NOTE: This format is currently not being enforced.

Weight:100

Styleguide Data.Faculty.Title
*/
%Data.Faculty.Institution {
}
/*
Institution
 
Description:
Institution of the faculty member where they hold a title
 
Markup:
Mount SugarLoaf Hospital
 
Weight:101
 
Styleguide Data.Faculty.Title.Institution
*/
%Data.Faculty.InstitutionDivision {
}
/*
Institution Division
 
Description:
The Division of the Institution of the faculty member where they hold a title
 
Markup:
Department of Cardiology
 
Weight:102
 
Styleguide Data.Faculty.Title.InstitutionDivision
*/
%Data.Faculty.InstitutionTitle {
}
/*
Institutional Title
 
Description:
the roles of the faculty member within the session
 
Markup:
Physician-in-Chief
 
Weight:103
 
Styleguide Data.Faculty.Title.InstitutionTitle
*/
%Data.Faculty.TwitterHandle {
}
/*
Twitter Handle
 
Description:
The handle of the faculty member on twitter
 
Markup:
Tweat_DrSoda
 
Weight:0
 
Styleguide Data.Faculty.TwitterHandle
*/

%Data.Faculty.Role {
}
/*
Role
 
Description:
the roles of the faculty member within the session
 
Markup:
Co-Chair
 
Weight:0
 
Styleguide Data.Faculty.Role
*/
%Data.Faculty.Bio {
}
/*
Bio
 
Description:
simple html text that describes the faculty member
 
Markup:
<p>Omnis laboriosam vero dolorum harum nihil debitis placeat eligendi. Molestiae voluptatibus nemo eveniet. Vero ipsum eius. Alias sapiente quidem dolore dolorem atque alias est.</p>
 
Weight:0
 
Styleguide Data.Faculty.Bio
*/
%Data.Faculty.ID {
}
/*
Identification Number
 
Description:
this id can both be used to link to the faculty member's page, the member's image, and disclosures
 
Markup:
122154254
 
Weight:0
 
Styleguide Data.Faculty.ID
*/



%Data.Sponsor {
}
/*
Sponsor
 
Description:
Sponsor are industry that has offered money or support to an event.
 
Weight:0
 
Styleguide Data.Sponsor
*/

%Data.Sponsor.Name {
}
/*
Name

Markup:
LogoIpsum
 
Weight:-100
 
Styleguide Data.Sponsor.Name
*/
%Data.Sponsor.Address {
}
/*
Address
 
Description:
Sponsor's Name

Markup:
<address>
    <!-- http://microformats.org/wiki/hcard -->
    <div class="font_ui font_0">
        <ul class="ul_none  lh_2">
            <li><strong class="">Contact:</strong></li>
            <li class="">
                <span class="contact-person">Carlton Dooley</span>
            </li>
            <li><strong class="">Address:</strong></li>
            <li class="">
                <span class="street-address">3115 Clair Street</span>
            </li>
            <li cclass="locality">
                <span class="city-name">Killeen</span>,
                <span class="state-name">
                    <abbr title="Texas">TX</abbr>
                </span>
                <span class="postal-code">76543</span>
            </li>
        </ul>
        <ul class="ul_none lh_2">
            <li class="">
            <strong class="p-r_2 inline block:md inline:lg undecorated">Email:</strong>
                <a href="mailto:MemberCare@acc.org" class="email block:md inline:lg link">
                    <span class="">MemberCare@acc.org</span></a>
            </li>
            <li class="">
            <strong class="p-r_2 block:md inline:lg">Phone:</strong>
                <a tel="+1254-690-2946" href="tel:+1254-690-2946" class="tel block:md inline:lg link">
                    <span class=" ">(254) 690-2946</span>
                    </a>
            </li>
        </ul>
    </div>
</address>

Weight:20
 
Styleguide Data.Sponsor.Address
*/

%Data.Sponsor.Logo {
}
/*
Logo
 
Description:
Logo of the Company

Markup:
<img  class="absolute t_0 r_0 l_0 b_0" style="object-fit: contain;height: 100%;width: 100%;" src="https://cdn.jsdelivr.net/gh/ACC-Style/Arches/dist/img/LoremIpsum.png"/>

MarkupWrapperClasses: max-w_40 relative h_20 w_100


Weight:10
 
Styleguide Data.Sponsor.Logo
*/


%Data.Sponsor.WebAddress {
}
/*
Web Address

Markup:
http://wwww.LogoIpsum.com
 
Weight:25
 
Styleguide Data.Sponsor.WebAddress
*/
%Data.Sponsor.WebLink {
}
/*
Website Link

Markup:
<a class="website {{modifier_class}}" target="_blank"  href="{{> 'Data.Sponsor.WebAddress'}}">Website</a>
 
Weight:26
 
Styleguide Data.Sponsor.WebLink
*/

%Data.Sponsor.WebLink {
}
/*
Website Link

Markup:
<a class="website {{modifier_class}}" target="_blank"  href="{{> 'Data.Sponsor.WebAddress'}}">More</a>
 
Weight:26
 
Styleguide Data.Sponsor.MoreLink
*/


%Data.Sponsor.PDFLink {
}
/*
PDF Link

Markup:
<a class="pdf {{modifier_class}}" target="_blank" href="{{> 'Data.Sponsor.WebAddress'}}.pdf">PDF</a>
 
Weight:26
 
Styleguide Data.Sponsor.PDFLink
*/



%Data.Sponsor.Description {
}
/*
Description
 
Description: Short html description of the sponsor or the product.
 
Markup:
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, consequuntur similique quibusdam deleniti fuga, ad laudantium vel assumenda incidunt impedit iure molestias! Et laboriosam nulla ut at officia ipsa quaerat?</p>
<ul>
    <li>Ut reiciendis et possimus rerum animi.</li>
<li>Reprehenderit quia et eaque cupiditate illo explicabo architecto.</li>
<li>Et cumque distinctio maxime maiores aut labore ut est esse.</li>
</ul>
<p>Et quia saepe corporis explicabo consectetur voluptatem iure. Quos nostrum autem. Et omnis nostrum eius autem aut voluptas illum. Et autem velit facere explicabo reiciendis voluptas. Ipsum vel et nisi in iste molestias sit. Eos et aut est ullam.</p>
 
Weight:3
 
Styleguide Data.Sponsor.Description
*/

/*
Award
 
Description: Awards and Recognition 
 
Weight:5
 
Styleguide Data.Award

*/

/*
Award Title
 
Description: Title of the award

Markup:
Pamela S. Douglas Distinguished Award for Leaderiship in Diversity and Inclusion
 
Weight:5
 
Styleguide Data.Award.Title

*/

%Data.Award.Description {
}
/*
Award Description
 
Description: Description of the award can be html or text and may include a link.

Markup:
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, consequuntur similique quibusdam deleniti fuga, ad laudantium vel assumenda incidunt impedit iure molestias! Et laboriosam nulla ut at officia ipsa quaerat?</p>
<ul>
<li>Ut reiciendis et possimus rerum animi.</li>
<li>Reprehenderit quia et eaque cupiditate illo explicabo architecto.</li>
<li>Et cumque distinctio maxime maiores aut labore ut est esse.</li>
</ul>
<p>Et quia saepe corporis explicabo consectetur voluptatem iure. Quos nostrum autem. Et omnis nostrum eius autem aut voluptas illum. Et autem velit facere explicabo reiciendis voluptas. Ipsum vel et nisi in iste molestias sit. Eos et aut est ullam.</p>
<a href="https://acc.org" target="_blank">Read More</a>
 
Weight:5
 
Styleguide Data.Award.Description

*/

%Data.Abstract {
}
/*
Abstract 
 
A Abstract is a specific time slot in an Agenda. This could be either a single presentation or a series of presentations.
 
Markup:
Electrical Disorders - Rhythm and Conduction Disorders

Experiential: This is not an approved data point.

Weight:100
 
Styleguide Data.Abstract
*/

%Data.Abstract.Subtitle {
}
/*
Abstract Subtitle
 
The subtitle of a Abstract.
 
Markup:
Electrical Disorders - Rhythm and Conduction Disorders

Experiential: This is not an approved data point.

Weight:2
 
Styleguide Data.Abstract.Subtitle
*/
%Data.Abstract.Title {
}
/*
Abstract Title
 
Description:
The title of a Abstract.
 
Markup:
Cardiovascular Update for the Clinician III
 
Weight:1
 
Styleguide Data.Abstract.Title
*/

%Data.Abstract.ID {
}
/*
Abstract Identifier
 
Description:
The ID given to a Abstract
 
Markup:
3652
 
Weight:0
 
Styleguide Data.Abstract.ID
*/

%Data.Abstract.Subtitle {
}
/*
Abstract Description
 
The description of a Abstract.
 
Markup:
<p>Maxime et ea adipisci voluptas. Omnis nobis recusandae alias eius sed ipsam aut. Ipsam dolore qui. Soluta laudantium quae assumenda ipsa tempore voluptas et culpa. Et praesentium quasi. Quas ratione vero aspernatur.</p>
 
Weight:3
 
Styleguide Data.Abstract.Description
*/