/*
Agenda Item
 
Description:
Agenda items are sessions that are scheduled for a specific date, location, and time.
 
Weight:0
 
Styleguide Data.Agenda
*/

/*
Agenda ID
 
Description:
The ID given to an Agenda. This number is unique to the Agenda and is incremented for each new Agenda created.
 
Markup:
101
 
Weight:1
 
Styleguide Data.Agenda.ID
*/

/*
Live Time
 
Description:
The time at which a Agenda is live.
 
Markup: @ 11:15 a.m. – 11:45 p.m <abbr title="EASTERN TIME, UTC -4">EDT</abbr>

FORMAT: 12 hour with 'a.m.'/'p.m' and Abbreviation of Timezone.

Weight:0
 
Styleguide Data.Agenda.LiveTime
*/

/*
Live Date
 
Description:
There is usually a delay to when recording will make it to on demand. This is the time that recording will be available.
 
Markup: Saturday, Nov. 20, 2021 

FORMAT: Day-of-Week, Month-Abbreviation.  Day, Year

Weight:0
 
Styleguide Data.Agenda.LiveDate
*/

/*
On Demand Release Date and Time
 
Description:
There is usually a delay to when recording will make it to on demand. This is the time that recording will be available.
 
Markup: Saturday, Nov. 20, 2021 @ 8:00 p.m. <abbr title="EASTERN TIME, UTC -4">EDT</abbr>

FORMAT: Day-of-Week, Month-Abbreviation.  Day, Year @ Hour:Minute 'a.m.'/'p.m' Abbreviation-of-Timezone.  Use the simple abbreviation for the timezone without Daylight Savings Time. IE: ET not EDT.
 
Weight:0
 
Styleguide Data.Agenda.onDemandReleaseTime
*/

 


/*
Session Subtitle
 
The subtitle of a Session.
 
Markup:
Electrical Disorders - Rhythm and Conduction Disorders
 
Weight:0
 
Styleguide Data.Session.Subtitle
*/
/*
Session Title
 
Description:
The title of a Session.
 
Markup:
Cardiovascular Update for the Clinician III
 
Weight:0
 
Styleguide Data.Session.Title
*/

/*
Lorem Ipsum
 
Description:
The title of a Session.
 
Markup:
{{modifier_class}}
 
Weight:0
 
Styleguide Data.LoremIpsum
*/

/*
Session Number
 
Description:
The ID given to a session
 
Markup:
3652
 
Weight:1
 
Styleguide Data.Session.ID
*/


/*
Session Description
 
The description of a session.
 
Markup:
<p>Maxime et ea adipisci voluptas. Omnis nobis recusandae alias eius sed ipsam aut. Ipsam dolore qui. Soluta laudantium quae assumenda ipsa tempore voluptas et culpa. Et praesentium quasi. Quas ratione vero aspernatur.</p>
 
Weight:0
 
Styleguide Data.Session.Subtitle
*/





/*
Presentation 
 
Description:
A presentation

Weight:0
 
Styleguide Data.Presentation
*/
/*
Presentation Subtitle
 
Description:
The subtitle of a presentation
 
Markup:Drug Coated Balloons

 
Weight:0
 
Styleguide Data.Presentation.Subtitle
*/
/*
Presentation Title
 
Description:
The title of a presentation
 
Markup:
New York Cardiovascular Symposium 2021 Welcome Video and Introduction of Session and Faculty
 
Weight:0
 
Styleguide Data.Presentation.Title
*/
/*
Presentation Live Time

Description:
The Live Time of a Presentation

Markup:
11:45 – 11:49 a.m. <abbr title="EASTERN DAYLIGHT TIME, UTC -4">ET</abbr>

Weight:0
 
Styleguide Data.Presentation.LiveTime
*/
/*
Presentation ID
 
Description:
Unique system generated identifier for a presentation.
 
Markup:
15612
 
Weight:0
 
Styleguide Data.Presentation.ID
*/


/*
Faculty 
 
Description:
An educator who created or participated in a presentation

Weight:50
 
Styleguide Data.Faculty
*/


/*
Photo
 
Description:
A photo of the faculty member
 
Markup:
<img
    class="aspect_1x1 w_100"
    src="https://i.pravatar.cc/300"
    alt="{{> "Data.Faculty.FullName" }}"
/>

MarkupWrapperClasses: max-w_30

FORMAT: 300px by 300px

Weight:0

Styleguide Data.Faculty.Photo
*/

/*
Full Name
 
Description:
The full name of the faculty member
 
Markup: Pepper H. Soda III, MD, FACC
 

FORMAT: First Name MI (if known) Last Name Suffix (Jr., Sr., the III ), Optional Degree, Optional ACC Honorifics, Optional Exceptions Honorifics

Weight:0
 
Styleguide Data.Faculty.FullName
*/

/*
Location
 
Description:
The location of the faculty member
 
Markup: New York, NY, USA
 
Weight:0

FORMAT: City, State, Country |  if the country is the same as the conference country the country can be dropped. 

Styleguide Data.Faculty.Location
*/

/*
Institution
 
Description:
the roles of the faculty member within the session
 
Markup:
Mount Sugarloaf Hospital
 
Weight:0
 
Styleguide Data.Faculty.Institution
*/
/*
Institutional Title
 
Description:
the roles of the faculty member within the session
 
Markup:
Physician-in-Chief
 
Weight:0
 
Styleguide Data.Faculty.InstitutionTitle
*/

/*
Twitter Handle
 
Description:
The handle of the faculty member on twitter
 
Markup:
Tweat_DrSoda
 
Weight:0
 
Styleguide Data.Faculty.TwitterHandle
*/

/*
Role
 
Description:
the roles of the faculty member within the session
 
Markup:
Co-Chair
 
Weight:0
 
Styleguide Data.Faculty.Role
*/
/*
Bio
 
Description:
simple html text that describes the faculty member
 
Markup:
<p>Omnis laboriosam vero dolorum harum nihil debitis placeat eligendi. Molestiae voluptatibus nemo eveniet. Vero ipsum eius. Alias sapiente quidem dolore dolorem atque alias est.</p>
 
Weight:0
 
Styleguide Data.Faculty.Bio
*/

/*
Identification Number
 
Description:
this id can both be used to link to the faculty member's page, the member's image, and disclosures
 
Markup:
122154254
 
Weight:0
 
Styleguide Data.Faculty.ID
*/