/*** COLOR CODES 3 **/
/**
 * arches - Global style system focused on utility classes
 * @version v1.2.0
 * @link https://github.com/ACC-Style/Arches/
 */
/**  Pre Header - modular scale default break points utility    *********************************/
/**  Version: 1.1.0    *********************************/
/*  
get-themecolor()

Gets a color value that fits into the set color patterns for usage in new css.

 $key - The color name to be modified [primary,secondary,etc...]
 $modifier   - The color shift you desire default is 0 but you can pass in [-5,-4,...0,1...4,5]. 

 Styleguide: mixins.get-themecolor
*/
/*  
util-style()

Gets utilty style and prints it.

 $key - The name of the css class
 $modifier   - the size of the style needed. 

 Styleguide: mixins.utlity-style
*/
/**Set Active Class**/
/** No Framework **/
/** Built With Base Branding 1.2.0 **/
/**  Default Brands    *********************************/
/**  Colors  **/
/**  Fonts  **/
/* Define the "system" font family */
@font-face {
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
  font-family: system;
  font-style: normal;
  font-weight: 300;
}
html {
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
  -webkit-locale: "en";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-break: white-space;
}

/**  Textures  **/
div[class*=texture_] {
  background-attachment: local;
  background-origin: border-box;
  background-position: top right;
  background-repeat: repeat;
}

/**  Logos  **/
/** Base UC File **/

.bg_RegMI,.bg_RegMI-0 {
  background-color: #f22418 !important;
}

.bg_RegMI-1 {
  background-color: #f4453b !important;
}

.bg_RegMI-2 {
  background-color: #f7756d !important;
}

.bg_RegMI-3 {
  background-color: #faa7a3 !important;
}

.bg_RegMI-4 {
  background-color: #fccfcc !important;
}

.bg_RegMI-5 {
  background-color: #fee9e8 !important;
}

.bg_RegMI-n1 {
  background-color: #da2016 !important;
}

.bg_RegMI-n2 {
  background-color: #b61b12 !important;
}

.bg_RegMI-n3 {
  background-color: #85140d !important;
}

.bg_RegMI-n4 {
  background-color: #610e0a !important;
}

.bg_RegMI-n5 {
  background-color: #3d0906 !important;
}

.c_RegMI,.c_RegMI-0 {
  color: #f22418 !important;
}

.c_RegMI-1 {
  color: #f4453b !important;
}

.c_RegMI-2 {
  color: #f7756d !important;
}

.c_RegMI-3 {
  color: #faa7a3 !important;
}

.c_RegMI-4 {
  color: #fccfcc !important;
}

.c_RegMI-5 {
  color: #fee9e8 !important;
}

.c_RegMI-n1 {
  color: #da2016 !important;
}

.c_RegMI-n2 {
  color: #b61b12 !important;
}

.c_RegMI-n3 {
  color: #85140d !important;
}

.c_RegMI-n4 {
  color: #610e0a !important;
}

.c_RegMI-n5 {
  color: #3d0906 !important;
}

.br_RegMI,.br_RegMI-0 {
  border-color: #f22418 !important;
}

.br_RegMI-1 {
  border-color: #f4453b !important;
}

.br_RegMI-2 {
  border-color: #f7756d !important;
}

.br_RegMI-3 {
  border-color: #faa7a3 !important;
}

.br_RegMI-4 {
  border-color: #fccfcc !important;
}

.br_RegMI-5 {
  border-color: #fee9e8 !important;
}

.br_RegMI-n1 {
  border-color: #da2016 !important;
}

.br_RegMI-n2 {
  border-color: #b61b12 !important;
}

.br_RegMI-n3 {
  border-color: #85140d !important;
}

.br_RegMI-n4 {
  border-color: #610e0a !important;
}

.br_RegMI-n5 {
  border-color: #3d0906 !important;
}

.bg_RegAFIB,.bg_RegAFIB-0 {
  background-color: #ffb300 !important;
}

.bg_RegAFIB-1 {
  background-color: #ffbe26 !important;
}

.bg_RegAFIB-2 {
  background-color: #ffcf5e !important;
}

.bg_RegAFIB-3 {
  background-color: #ffe199 !important;
}

.bg_RegAFIB-4 {
  background-color: #ffeec7 !important;
}

.bg_RegAFIB-5 {
  background-color: #fff7e6 !important;
}

.bg_RegAFIB-n1 {
  background-color: #e6a100 !important;
}

.bg_RegAFIB-n2 {
  background-color: #bf8600 !important;
}

.bg_RegAFIB-n3 {
  background-color: #8c6200 !important;
}

.bg_RegAFIB-n4 {
  background-color: #664800 !important;
}

.bg_RegAFIB-n5 {
  background-color: #402d00 !important;
}

.c_RegAFIB,.c_RegAFIB-0 {
  color: #ffb300 !important;
}

.c_RegAFIB-1 {
  color: #ffbe26 !important;
}

.c_RegAFIB-2 {
  color: #ffcf5e !important;
}

.c_RegAFIB-3 {
  color: #ffe199 !important;
}

.c_RegAFIB-4 {
  color: #ffeec7 !important;
}

.c_RegAFIB-5 {
  color: #fff7e6 !important;
}

.c_RegAFIB-n1 {
  color: #e6a100 !important;
}

.c_RegAFIB-n2 {
  color: #bf8600 !important;
}

.c_RegAFIB-n3 {
  color: #8c6200 !important;
}

.c_RegAFIB-n4 {
  color: #664800 !important;
}

.c_RegAFIB-n5 {
  color: #402d00 !important;
}

.br_RegAFIB,.br_RegAFIB-0 {
  border-color: #ffb300 !important;
}

.br_RegAFIB-1 {
  border-color: #ffbe26 !important;
}

.br_RegAFIB-2 {
  border-color: #ffcf5e !important;
}

.br_RegAFIB-3 {
  border-color: #ffe199 !important;
}

.br_RegAFIB-4 {
  border-color: #ffeec7 !important;
}

.br_RegAFIB-5 {
  border-color: #fff7e6 !important;
}

.br_RegAFIB-n1 {
  border-color: #e6a100 !important;
}

.br_RegAFIB-n2 {
  border-color: #bf8600 !important;
}

.br_RegAFIB-n3 {
  border-color: #8c6200 !important;
}

.br_RegAFIB-n4 {
  border-color: #664800 !important;
}

.br_RegAFIB-n5 {
  border-color: #402d00 !important;
}

.bg_RegCATHPCI,.bg_RegCATHPCI-0 {
  background-color: #00cccb !important;
}

.bg_RegCATHPCI-1 {
  background-color: #26d4d3 !important;
}

.bg_RegCATHPCI-2 {
  background-color: #5edfde !important;
}

.bg_RegCATHPCI-3 {
  background-color: #99ebea !important;
}

.bg_RegCATHPCI-4 {
  background-color: #c7f4f4 !important;
}

.bg_RegCATHPCI-5 {
  background-color: #e6fafa !important;
}

.bg_RegCATHPCI-n1 {
  background-color: #00b8b7 !important;
}

.bg_RegCATHPCI-n2 {
  background-color: #009998 !important;
}

.bg_RegCATHPCI-n3 {
  background-color: #007070 !important;
}

.bg_RegCATHPCI-n4 {
  background-color: #005251 !important;
}

.bg_RegCATHPCI-n5 {
  background-color: #003333 !important;
}

.c_RegCATHPCI,.c_RegCATHPCI-0 {
  color: #00cccb !important;
}

.c_RegCATHPCI-1 {
  color: #26d4d3 !important;
}

.c_RegCATHPCI-2 {
  color: #5edfde !important;
}

.c_RegCATHPCI-3 {
  color: #99ebea !important;
}

.c_RegCATHPCI-4 {
  color: #c7f4f4 !important;
}

.c_RegCATHPCI-5 {
  color: #e6fafa !important;
}

.c_RegCATHPCI-n1 {
  color: #00b8b7 !important;
}

.c_RegCATHPCI-n2 {
  color: #009998 !important;
}

.c_RegCATHPCI-n3 {
  color: #007070 !important;
}

.c_RegCATHPCI-n4 {
  color: #005251 !important;
}

.c_RegCATHPCI-n5 {
  color: #003333 !important;
}

.br_RegCATHPCI,.br_RegCATHPCI-0 {
  border-color: #00cccb !important;
}

.br_RegCATHPCI-1 {
  border-color: #26d4d3 !important;
}

.br_RegCATHPCI-2 {
  border-color: #5edfde !important;
}

.br_RegCATHPCI-3 {
  border-color: #99ebea !important;
}

.br_RegCATHPCI-4 {
  border-color: #c7f4f4 !important;
}

.br_RegCATHPCI-5 {
  border-color: #e6fafa !important;
}

.br_RegCATHPCI-n1 {
  border-color: #00b8b7 !important;
}

.br_RegCATHPCI-n2 {
  border-color: #009998 !important;
}

.br_RegCATHPCI-n3 {
  border-color: #007070 !important;
}

.br_RegCATHPCI-n4 {
  border-color: #005251 !important;
}

.br_RegCATHPCI-n5 {
  border-color: #003333 !important;
}

.bg_RegICD,.bg_RegICD-0 {
  background-color: #75cb00 !important;
}

.bg_RegICD-1 {
  background-color: #8ad326 !important;
}

.bg_RegICD-2 {
  background-color: #a8de5e !important;
}

.bg_RegICD-3 {
  background-color: #c8ea99 !important;
}

.bg_RegICD-4 {
  background-color: #e1f4c7 !important;
}

.bg_RegICD-5 {
  background-color: #f1fae6 !important;
}

.bg_RegICD-n1 {
  background-color: #69b700 !important;
}

.bg_RegICD-n2 {
  background-color: #589800 !important;
}

.bg_RegICD-n3 {
  background-color: #407000 !important;
}

.bg_RegICD-n4 {
  background-color: #2f5100 !important;
}

.bg_RegICD-n5 {
  background-color: #1d3300 !important;
}

.c_RegICD,.c_RegICD-0 {
  color: #75cb00 !important;
}

.c_RegICD-1 {
  color: #8ad326 !important;
}

.c_RegICD-2 {
  color: #a8de5e !important;
}

.c_RegICD-3 {
  color: #c8ea99 !important;
}

.c_RegICD-4 {
  color: #e1f4c7 !important;
}

.c_RegICD-5 {
  color: #f1fae6 !important;
}

.c_RegICD-n1 {
  color: #69b700 !important;
}

.c_RegICD-n2 {
  color: #589800 !important;
}

.c_RegICD-n3 {
  color: #407000 !important;
}

.c_RegICD-n4 {
  color: #2f5100 !important;
}

.c_RegICD-n5 {
  color: #1d3300 !important;
}

.br_RegICD,.br_RegICD-0 {
  border-color: #75cb00 !important;
}

.br_RegICD-1 {
  border-color: #8ad326 !important;
}

.br_RegICD-2 {
  border-color: #a8de5e !important;
}

.br_RegICD-3 {
  border-color: #c8ea99 !important;
}

.br_RegICD-4 {
  border-color: #e1f4c7 !important;
}

.br_RegICD-5 {
  border-color: #f1fae6 !important;
}

.br_RegICD-n1 {
  border-color: #69b700 !important;
}

.br_RegICD-n2 {
  border-color: #589800 !important;
}

.br_RegICD-n3 {
  border-color: #407000 !important;
}

.br_RegICD-n4 {
  border-color: #2f5100 !important;
}

.br_RegICD-n5 {
  border-color: #1d3300 !important;
}

.bg_RegIMPACT,.bg_RegIMPACT-0 {
  background-color: #491879 !important;
}

.bg_RegIMPACT-1 {
  background-color: #643b8d !important;
}

.bg_RegIMPACT-2 {
  background-color: #8c6dab !important;
}

.bg_RegIMPACT-3 {
  background-color: #b6a3c9 !important;
}

.bg_RegIMPACT-4 {
  background-color: #d7cce2 !important;
}

.bg_RegIMPACT-5 {
  background-color: #ede8f2 !important;
}

.bg_RegIMPACT-n1 {
  background-color: #42166d !important;
}

.bg_RegIMPACT-n2 {
  background-color: #37125b !important;
}

.bg_RegIMPACT-n3 {
  background-color: #280d43 !important;
}

.bg_RegIMPACT-n4 {
  background-color: #1d0a30 !important;
}

.bg_RegIMPACT-n5 {
  background-color: #12061e !important;
}

.c_RegIMPACT,.c_RegIMPACT-0 {
  color: #491879 !important;
}

.c_RegIMPACT-1 {
  color: #643b8d !important;
}

.c_RegIMPACT-2 {
  color: #8c6dab !important;
}

.c_RegIMPACT-3 {
  color: #b6a3c9 !important;
}

.c_RegIMPACT-4 {
  color: #d7cce2 !important;
}

.c_RegIMPACT-5 {
  color: #ede8f2 !important;
}

.c_RegIMPACT-n1 {
  color: #42166d !important;
}

.c_RegIMPACT-n2 {
  color: #37125b !important;
}

.c_RegIMPACT-n3 {
  color: #280d43 !important;
}

.c_RegIMPACT-n4 {
  color: #1d0a30 !important;
}

.c_RegIMPACT-n5 {
  color: #12061e !important;
}

.br_RegIMPACT,.br_RegIMPACT-0 {
  border-color: #491879 !important;
}

.br_RegIMPACT-1 {
  border-color: #643b8d !important;
}

.br_RegIMPACT-2 {
  border-color: #8c6dab !important;
}

.br_RegIMPACT-3 {
  border-color: #b6a3c9 !important;
}

.br_RegIMPACT-4 {
  border-color: #d7cce2 !important;
}

.br_RegIMPACT-5 {
  border-color: #ede8f2 !important;
}

.br_RegIMPACT-n1 {
  border-color: #42166d !important;
}

.br_RegIMPACT-n2 {
  border-color: #37125b !important;
}

.br_RegIMPACT-n3 {
  border-color: #280d43 !important;
}

.br_RegIMPACT-n4 {
  border-color: #1d0a30 !important;
}

.br_RegIMPACT-n5 {
  border-color: #12061e !important;
}

.bg_RegPINNACLE,.bg_RegPINNACLE-0 {
  background-color: #095f45 !important;
}

.bg_RegPINNACLE-1 {
  background-color: #2e7761 !important;
}

.bg_RegPINNACLE-2 {
  background-color: #649a8a !important;
}

.bg_RegPINNACLE-3 {
  background-color: #9dbfb5 !important;
}

.bg_RegPINNACLE-4 {
  background-color: #c9dcd6 !important;
}

.bg_RegPINNACLE-5 {
  background-color: #e6efec !important;
}

.bg_RegPINNACLE-n1 {
  background-color: #08563e !important;
}

.bg_RegPINNACLE-n2 {
  background-color: #074734 !important;
}

.bg_RegPINNACLE-n3 {
  background-color: #053426 !important;
}

.bg_RegPINNACLE-n4 {
  background-color: #04261c !important;
}

.bg_RegPINNACLE-n5 {
  background-color: #021811 !important;
}

.c_RegPINNACLE,.c_RegPINNACLE-0 {
  color: #095f45 !important;
}

.c_RegPINNACLE-1 {
  color: #2e7761 !important;
}

.c_RegPINNACLE-2 {
  color: #649a8a !important;
}

.c_RegPINNACLE-3 {
  color: #9dbfb5 !important;
}

.c_RegPINNACLE-4 {
  color: #c9dcd6 !important;
}

.c_RegPINNACLE-5 {
  color: #e6efec !important;
}

.c_RegPINNACLE-n1 {
  color: #08563e !important;
}

.c_RegPINNACLE-n2 {
  color: #074734 !important;
}

.c_RegPINNACLE-n3 {
  color: #053426 !important;
}

.c_RegPINNACLE-n4 {
  color: #04261c !important;
}

.c_RegPINNACLE-n5 {
  color: #021811 !important;
}

.br_RegPINNACLE,.br_RegPINNACLE-0 {
  border-color: #095f45 !important;
}

.br_RegPINNACLE-1 {
  border-color: #2e7761 !important;
}

.br_RegPINNACLE-2 {
  border-color: #649a8a !important;
}

.br_RegPINNACLE-3 {
  border-color: #9dbfb5 !important;
}

.br_RegPINNACLE-4 {
  border-color: #c9dcd6 !important;
}

.br_RegPINNACLE-5 {
  border-color: #e6efec !important;
}

.br_RegPINNACLE-n1 {
  border-color: #08563e !important;
}

.br_RegPINNACLE-n2 {
  border-color: #074734 !important;
}

.br_RegPINNACLE-n3 {
  border-color: #053426 !important;
}

.br_RegPINNACLE-n4 {
  border-color: #04261c !important;
}

.br_RegPINNACLE-n5 {
  border-color: #021811 !important;
}

.bg_RegFOCUS,.bg_RegFOCUS-0 {
  background-color: #e77c2e !important;
}

.bg_RegFOCUS-1 {
  background-color: #eb904d !important;
}

.bg_RegFOCUS-2 {
  background-color: #f0ac7b !important;
}

.bg_RegFOCUS-3 {
  background-color: #f5cbab !important;
}

.bg_RegFOCUS-4 {
  background-color: #fae2d1 !important;
}

.bg_RegFOCUS-5 {
  background-color: #fdf2ea !important;
}

.bg_RegFOCUS-n1 {
  background-color: #d07029 !important;
}

.bg_RegFOCUS-n2 {
  background-color: #ad5d23 !important;
}

.bg_RegFOCUS-n3 {
  background-color: #7f4419 !important;
}

.bg_RegFOCUS-n4 {
  background-color: #5c3212 !important;
}

.bg_RegFOCUS-n5 {
  background-color: #3a1f0c !important;
}

.c_RegFOCUS,.c_RegFOCUS-0 {
  color: #e77c2e !important;
}

.c_RegFOCUS-1 {
  color: #eb904d !important;
}

.c_RegFOCUS-2 {
  color: #f0ac7b !important;
}

.c_RegFOCUS-3 {
  color: #f5cbab !important;
}

.c_RegFOCUS-4 {
  color: #fae2d1 !important;
}

.c_RegFOCUS-5 {
  color: #fdf2ea !important;
}

.c_RegFOCUS-n1 {
  color: #d07029 !important;
}

.c_RegFOCUS-n2 {
  color: #ad5d23 !important;
}

.c_RegFOCUS-n3 {
  color: #7f4419 !important;
}

.c_RegFOCUS-n4 {
  color: #5c3212 !important;
}

.c_RegFOCUS-n5 {
  color: #3a1f0c !important;
}

.br_RegFOCUS,.br_RegFOCUS-0 {
  border-color: #e77c2e !important;
}

.br_RegFOCUS-1 {
  border-color: #eb904d !important;
}

.br_RegFOCUS-2 {
  border-color: #f0ac7b !important;
}

.br_RegFOCUS-3 {
  border-color: #f5cbab !important;
}

.br_RegFOCUS-4 {
  border-color: #fae2d1 !important;
}

.br_RegFOCUS-5 {
  border-color: #fdf2ea !important;
}

.br_RegFOCUS-n1 {
  border-color: #d07029 !important;
}

.br_RegFOCUS-n2 {
  border-color: #ad5d23 !important;
}

.br_RegFOCUS-n3 {
  border-color: #7f4419 !important;
}

.br_RegFOCUS-n4 {
  border-color: #5c3212 !important;
}

.br_RegFOCUS-n5 {
  border-color: #3a1f0c !important;
}

.bg_RegPCIBLEEDING,.bg_RegPCIBLEEDING-0 {
  background-color: #c93179 !important;
}

.bg_RegPCIBLEEDING-1 {
  background-color: #d1508d !important;
}

.bg_RegPCIBLEEDING-2 {
  background-color: #dd7dab !important;
}

.bg_RegPCIBLEEDING-3 {
  background-color: #e9adc9 !important;
}

.bg_RegPCIBLEEDING-4 {
  background-color: #f3d2e2 !important;
}

.bg_RegPCIBLEEDING-5 {
  background-color: #faeaf2 !important;
}

.bg_RegPCIBLEEDING-n1 {
  background-color: #b52c6d !important;
}

.bg_RegPCIBLEEDING-n2 {
  background-color: #97255b !important;
}

.bg_RegPCIBLEEDING-n3 {
  background-color: #6f1b43 !important;
}

.bg_RegPCIBLEEDING-n4 {
  background-color: #501430 !important;
}

.bg_RegPCIBLEEDING-n5 {
  background-color: #320c1e !important;
}

.c_RegPCIBLEEDING,.c_RegPCIBLEEDING-0 {
  color: #c93179 !important;
}

.c_RegPCIBLEEDING-1 {
  color: #d1508d !important;
}

.c_RegPCIBLEEDING-2 {
  color: #dd7dab !important;
}

.c_RegPCIBLEEDING-3 {
  color: #e9adc9 !important;
}

.c_RegPCIBLEEDING-4 {
  color: #f3d2e2 !important;
}

.c_RegPCIBLEEDING-5 {
  color: #faeaf2 !important;
}

.c_RegPCIBLEEDING-n1 {
  color: #b52c6d !important;
}

.c_RegPCIBLEEDING-n2 {
  color: #97255b !important;
}

.c_RegPCIBLEEDING-n3 {
  color: #6f1b43 !important;
}

.c_RegPCIBLEEDING-n4 {
  color: #501430 !important;
}

.c_RegPCIBLEEDING-n5 {
  color: #320c1e !important;
}

.br_RegPCIBLEEDING,.br_RegPCIBLEEDING-0 {
  border-color: #c93179 !important;
}

.br_RegPCIBLEEDING-1 {
  border-color: #d1508d !important;
}

.br_RegPCIBLEEDING-2 {
  border-color: #dd7dab !important;
}

.br_RegPCIBLEEDING-3 {
  border-color: #e9adc9 !important;
}

.br_RegPCIBLEEDING-4 {
  border-color: #f3d2e2 !important;
}

.br_RegPCIBLEEDING-5 {
  border-color: #faeaf2 !important;
}

.br_RegPCIBLEEDING-n1 {
  border-color: #b52c6d !important;
}

.br_RegPCIBLEEDING-n2 {
  border-color: #97255b !important;
}

.br_RegPCIBLEEDING-n3 {
  border-color: #6f1b43 !important;
}

.br_RegPCIBLEEDING-n4 {
  border-color: #501430 !important;
}

.br_RegPCIBLEEDING-n5 {
  border-color: #320c1e !important;
}

.bg_RegLAAO,.bg_RegLAAO-0 {
  background-color: #005e74 !important;
}

.bg_RegLAAO-1 {
  background-color: #267689 !important;
}

.bg_RegLAAO-2 {
  background-color: #5e9aa7 !important;
}

.bg_RegLAAO-3 {
  background-color: #99bfc7 !important;
}

.bg_RegLAAO-4 {
  background-color: #c7dce0 !important;
}

.bg_RegLAAO-5 {
  background-color: #e6eff1 !important;
}

.bg_RegLAAO-n1 {
  background-color: #005568 !important;
}

.bg_RegLAAO-n2 {
  background-color: #004757 !important;
}

.bg_RegLAAO-n3 {
  background-color: #003440 !important;
}

.bg_RegLAAO-n4 {
  background-color: #00262e !important;
}

.bg_RegLAAO-n5 {
  background-color: #00181d !important;
}

.c_RegLAAO,.c_RegLAAO-0 {
  color: #005e74 !important;
}

.c_RegLAAO-1 {
  color: #267689 !important;
}

.c_RegLAAO-2 {
  color: #5e9aa7 !important;
}

.c_RegLAAO-3 {
  color: #99bfc7 !important;
}

.c_RegLAAO-4 {
  color: #c7dce0 !important;
}

.c_RegLAAO-5 {
  color: #e6eff1 !important;
}

.c_RegLAAO-n1 {
  color: #005568 !important;
}

.c_RegLAAO-n2 {
  color: #004757 !important;
}

.c_RegLAAO-n3 {
  color: #003440 !important;
}

.c_RegLAAO-n4 {
  color: #00262e !important;
}

.c_RegLAAO-n5 {
  color: #00181d !important;
}

.br_RegLAAO,.br_RegLAAO-0 {
  border-color: #005e74 !important;
}

.br_RegLAAO-1 {
  border-color: #267689 !important;
}

.br_RegLAAO-2 {
  border-color: #5e9aa7 !important;
}

.br_RegLAAO-3 {
  border-color: #99bfc7 !important;
}

.br_RegLAAO-4 {
  border-color: #c7dce0 !important;
}

.br_RegLAAO-5 {
  border-color: #e6eff1 !important;
}

.br_RegLAAO-n1 {
  border-color: #005568 !important;
}

.br_RegLAAO-n2 {
  border-color: #004757 !important;
}

.br_RegLAAO-n3 {
  border-color: #003440 !important;
}

.br_RegLAAO-n4 {
  border-color: #00262e !important;
}

.br_RegLAAO-n5 {
  border-color: #00181d !important;
}

.bg_RegPVI,.bg_RegPVI-0 {
  background-color: #00947d !important;
}

.bg_RegPVI-1 {
  background-color: #26a491 !important;
}

.bg_RegPVI-2 {
  background-color: #5ebcad !important;
}

.bg_RegPVI-3 {
  background-color: #99d4cb !important;
}

.bg_RegPVI-4 {
  background-color: #c7e7e2 !important;
}

.bg_RegPVI-5 {
  background-color: #e6f4f2 !important;
}

.bg_RegPVI-n1 {
  background-color: #008571 !important;
}

.bg_RegPVI-n2 {
  background-color: #006f5e !important;
}

.bg_RegPVI-n3 {
  background-color: #005145 !important;
}

.bg_RegPVI-n4 {
  background-color: #003b32 !important;
}

.bg_RegPVI-n5 {
  background-color: #00251f !important;
}

.c_RegPVI,.c_RegPVI-0 {
  color: #00947d !important;
}

.c_RegPVI-1 {
  color: #26a491 !important;
}

.c_RegPVI-2 {
  color: #5ebcad !important;
}

.c_RegPVI-3 {
  color: #99d4cb !important;
}

.c_RegPVI-4 {
  color: #c7e7e2 !important;
}

.c_RegPVI-5 {
  color: #e6f4f2 !important;
}

.c_RegPVI-n1 {
  color: #008571 !important;
}

.c_RegPVI-n2 {
  color: #006f5e !important;
}

.c_RegPVI-n3 {
  color: #005145 !important;
}

.c_RegPVI-n4 {
  color: #003b32 !important;
}

.c_RegPVI-n5 {
  color: #00251f !important;
}

.br_RegPVI,.br_RegPVI-0 {
  border-color: #00947d !important;
}

.br_RegPVI-1 {
  border-color: #26a491 !important;
}

.br_RegPVI-2 {
  border-color: #5ebcad !important;
}

.br_RegPVI-3 {
  border-color: #99d4cb !important;
}

.br_RegPVI-4 {
  border-color: #c7e7e2 !important;
}

.br_RegPVI-5 {
  border-color: #e6f4f2 !important;
}

.br_RegPVI-n1 {
  border-color: #008571 !important;
}

.br_RegPVI-n2 {
  border-color: #006f5e !important;
}

.br_RegPVI-n3 {
  border-color: #005145 !important;
}

.br_RegPVI-n4 {
  border-color: #003b32 !important;
}

.br_RegPVI-n5 {
  border-color: #00251f !important;
}

.bg_RegTVT,.bg_RegTVT-0 {
  background-color: #981855 !important;
}

.bg_RegTVT-1 {
  background-color: #a73b6f !important;
}

.bg_RegTVT-2 {
  background-color: #be6d94 !important;
}

.bg_RegTVT-3 {
  background-color: #d6a3bb !important;
}

.bg_RegTVT-4 {
  background-color: #e8ccda !important;
}

.bg_RegTVT-5 {
  background-color: #f5e8ee !important;
}

.bg_RegTVT-n1 {
  background-color: #89164d !important;
}

.bg_RegTVT-n2 {
  background-color: #721240 !important;
}

.bg_RegTVT-n3 {
  background-color: #540d2f !important;
}

.bg_RegTVT-n4 {
  background-color: #3d0a22 !important;
}

.bg_RegTVT-n5 {
  background-color: #260615 !important;
}

.c_RegTVT,.c_RegTVT-0 {
  color: #981855 !important;
}

.c_RegTVT-1 {
  color: #a73b6f !important;
}

.c_RegTVT-2 {
  color: #be6d94 !important;
}

.c_RegTVT-3 {
  color: #d6a3bb !important;
}

.c_RegTVT-4 {
  color: #e8ccda !important;
}

.c_RegTVT-5 {
  color: #f5e8ee !important;
}

.c_RegTVT-n1 {
  color: #89164d !important;
}

.c_RegTVT-n2 {
  color: #721240 !important;
}

.c_RegTVT-n3 {
  color: #540d2f !important;
}

.c_RegTVT-n4 {
  color: #3d0a22 !important;
}

.c_RegTVT-n5 {
  color: #260615 !important;
}

.br_RegTVT,.br_RegTVT-0 {
  border-color: #981855 !important;
}

.br_RegTVT-1 {
  border-color: #a73b6f !important;
}

.br_RegTVT-2 {
  border-color: #be6d94 !important;
}

.br_RegTVT-3 {
  border-color: #d6a3bb !important;
}

.br_RegTVT-4 {
  border-color: #e8ccda !important;
}

.br_RegTVT-5 {
  border-color: #f5e8ee !important;
}

.br_RegTVT-n1 {
  border-color: #89164d !important;
}

.br_RegTVT-n2 {
  border-color: #721240 !important;
}

.br_RegTVT-n3 {
  border-color: #540d2f !important;
}

.br_RegTVT-n4 {
  border-color: #3d0a22 !important;
}

.br_RegTVT-n5 {
  border-color: #260615 !important;
}
/*# sourceMappingURL=maps/color-code_registry.css.map */
