/*** COLOR CODES 2 **/
/**
 * arches - Global style system focused on utility classes
 * @version v1.2.0
 * @link https://github.com/ACC-Style/Arches/
 */
/**  Pre Header - modular scale default break points utility    *********************************/
/**  Version: 1.1.0    *********************************/
/*  
get-themecolor()

Gets a color value that fits into the set color patterns for usage in new css.

 $key - The color name to be modified [primary,secondary,etc...]
 $modifier   - The color shift you desire default is 0 but you can pass in [-5,-4,...0,1...4,5]. 

 Styleguide: mixins.get-themecolor
*/
/**Set Active Class**/
/** No Framework **/
/** Built With Base Branding 1.2.0 **/
/**  Default Brands    *********************************/
/**  Colors  **/
/*

ACC's Blue

$acc-blue            -  #004176; acc

Styleguide DesignBase.Colors.ACC
*/
/*

Theme Colors 

Colors are based off of the ACC Scrub Colors.

map-get($theme-palette, primary)              -  #198dae; primary
map-get($theme-palette, secondary)            -  #676a72; secondary
map-get($theme-palette, shade)           		-  #898989; shade
map-get($theme-palette, accent)               -  #c34198;  accent
map-get($theme-palette, info)                 -  #a3988c; info
map-get($theme-palette, highlight)            -  #976ad2; highlight

Styleguide DesignBase.Colors
 */
/*

Action Colors  

Actionable colors used to respond to user inputs and messaging.

map-get($theme-palette, alert)                -  #dd1a1a; alert
map-get($theme-palette, warning)              -  #da8210; warning
map-get($theme-palette, success)              -  #06a022;  success
map-get($theme-palette, navigation)           -  #2b58c0; navigation

Styleguide DesignBase.Colors.Actions
*/
/*

Color Coding  

Color Coding is used in specific products and concepts to illustrate cohesion and collections. All of these color codes are used universally through out the college and have an assoicated meaning. All of these colors are just used for reference and have no associated decorator classes.  You must include the the associated color-code_x.css have access to utlity classes that will color using the bellow colors. 

Styleguide DesignBase.Colors.ColorCoding

 */
/*

COR Colors  

(COR) Class of Recomendation is a color collect used in Guideline recomendations.

$cor-green                 	- #6fc284; I
$cor-yellow              	- #ffd44f; IIA
$cor-yellow-orange          - #faa74b; IIA
$cor-orange               	- #f15d4c;III and III-NoHarm
$cor-red               		- #ed1c00; III-harm

Weight: 10

Styleguide DesignBase.Colors.ColorCoding.COR

 */
/*

LOE Colors  

(LOE) level of Evedence is a color collect used in Guideline recomendations.

$loe-dark-blue                 	- #3e6fb7;LOE A
$loe-mid-blue              		- #659cd3;LOE B-R
$loe-light-blue                	- #a1c1e6;LOE B-NR
$loe-pale-blue                	- #b5d5e5; LOE C

Weight: 10

Styleguide DesignBase.Colors.ColorCoding.LOE

 */
/*

Credit Type Color Coding  

Credit Types in the ACC have a specific color coding.

$credit-CME         	-  #00a15b; CME: Continuing Medical Education   
$credit-ABP         	-  #007A5B; ABP: American Board of Pediatrics   
$credit-COP         	-  #775891; COP: Certificate of Participation   
$credit-CE         		-  #a8a8a8; CE: Continuing Education   
$credit-MOCII         	-  #9a1267; MOCII: ABIM MOC Part II   
$credit-MOCIV         	-  #D3248D; MOCIV: ABIM MOC Part IV   
$credit-CNE         	-  #198dae; CNE: Continuing Nursing Education  
$credit-CNErx         	-  #52549E; CNErx: Continuing Nursing Education Pharmaceutical   
$credit-ECME         	-  #D16528; ECME: External Continuing Medical Education   
$credit-CPE         	-  #992E2E; CPE: Continuing Pharamacy Education  
$credit-ATCEU         	-  #775744; ATCEU: Athletic Trainer Continuing Education Unit   
$credit-AAPA         	-  #E8C536; AAPA: American Academy of Physician Assistants (AAPA) Category 1 CME Credit     

Weight: 0

Styleguide DesignBase.Colors.ColorCoding.Credits

*/
/*

Clinical Pathway Colors  

Each of the clinical pathways has a distinctive color.  These colors are used to give a distinct theme to our clinical apps, marketing, pdf's and tools.

$pathway-invasive-cardiology 							- #c8b02f;  Invasive Cardiology Angiography and Intervention
$pathway-congenital-heart-disease 						- #fdb918;  Congenital Heart Disease
$pathway-noninvasive-cardiology 						- #947b33;  Noninvasive Cardiology
$pathway-ecg-stress-test 								- #d9691f;  Standard ECG, Stress Test
$pathway-vascular-medicine 								- #ae171c;  Vascular Medicine
$pathway-pulmonary-hypertension 						- #d60e7e;  Pulmonary Hypertension and Venous Thromboembolic Disease
$pathway-prevention 									- #a01d51;  Prevention
$pathway-heart-failure 									- #410d49;  Heart Failure and Cardiomyopathies
$pathway-valvular-heart-disease 						- #4f4190;  Valvular Heart Disease
$pathway-arrthythmias-EP 								- #005b37;  Arrthythmias and Clinical EP
$pathway-preicardial 									- #0079ad;  Preicardial Disease
$pathway-acute-coronary-syndromes 						- #009974;  Acute Coronary Syndromes
$pathway-stable-ischemnic-heart-disease 				- #0f3e65;  Stable Ischemnic Heart Disease
$pathway-special 										- #00b6f1;  Special

Weight: -1

Styleguide DesignBase.Colors.ColorCoding.Pathways

*/
/*

Social Network Colors  

Each of the social networks has a distinctive color.  These colors are used to give a distinct theme to the social nav that is in different locations.

$twitter            -   #00aced;  twitter     
$facebook           -   #3b5998;  facebook    
$linkedin           -   #007bb6;  linkedin    
$apple-store        -   #ea4cc0;  apple-store 
$google-play        -   #689f38;  google-play 
$youtube            -   #bb0000;  youtube     


Weight: 100

Styleguide DesignBase.Colors.Social Networks

*/
/**  Fonts  **/
/* latin-ext */
@font-face {
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v10/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmYWRjRdE.woff2) format("woff2");
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v10/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2Rj.woff2) format("woff2");
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Muli */
@font-face {
  src: local("Muli Regular"), local("Muli-Regular"), url(https://fonts.gstatic.com/s/muli/v11/7Auwp_0qiz-afTLGLQ.woff2) format("woff2");
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*Muli */
@font-face {
  src: local("Muli ExtraBold"), local("Muli-ExtraBold"), url(https://fonts.gstatic.com/s/muli/v11/7Au_p_0qiz-adZXgOCX2zw.woff2) format("woff2");
  font-family: "Muli";
  font-style: normal;
  font-weight: 800;
  unicode-range: U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Define the "system" font family */
@font-face {
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
  font-family: system;
  font-style: normal;
  font-weight: 300;
}
html {
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
  -webkit-locale: "en";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-break: white-space;
}

/**  Textures  **/
div[class*=texture_] {
  background-attachment: local;
  background-origin: border-box;
  background-position: top right;
  background-repeat: repeat;
}

/*
	Textures

	All textures in the Arches design are a subtle variation of transparent.   Allowing for colors to bleed through from behind.  Different textures have intentions or are reserved for certain usagaes. 

	.texture_light                       		- Light textures is reserved for the base of a page where it can gve a soft area for text or cards to live on top of. 
	.texture_medium            					- medium texture are used for area that are hidden away.  Collapsable navs, areas, or sidebars ususaly use the medium texture.
	.texture_dust            					- Dust is the most transparent texture allowing for the color of the background to show through the most.  This is used for the painted tops of cards, or score bars.
	.texture_dark              					- This texture predominatly used on the footer. Its rich black will alway requrie reversed text and buttons to be readable.  
	.texture_cross            					- A mostly transparent cross texture used for alternating rows of content when a little extra texture is needed.
	.texture_disabled              				- This texture is used to paint disabled buttons and ui items giving it a greyed and X'ed out appearand. 

	Markup:
	<div class="{{modifier_class}} p_5 border-c_black-8 border-width_1 border_solid text_center bg_primary-4">{{modifier_class}} with a light primary color background</div>

	Styleguide DesignBase.Textures

 */
/**  Logos  **/
/** Base UC File **/
.c_twitter {
  color: #00aced !important;
}

.br_twitter {
  border-color: #00aced !important;
}

.bg_twitter,
.twitter {
  background-color: #00aced !important;
}

.c_facebook {
  color: #3b5998 !important;
}

.br_facebook {
  border-color: #3b5998 !important;
}

.bg_facebook,
.facebook {
  background-color: #3b5998 !important;
}

.c_linkedin {
  color: #0077b5 !important;
}

.br_linkedin {
  border-color: #0077b5 !important;
}

.bg_linkedin,
.linkedin {
  background-color: #0077b5 !important;
}

.c_apple-store {
  color: #ea4cc0 !important;
}

.br_apple-store {
  border-color: #ea4cc0 !important;
}

.bg_apple-store,
.apple-store {
  background-color: #ea4cc0 !important;
}

.c_google-play {
  color: #ef6c00 !important;
}

.br_google-play {
  border-color: #ef6c00 !important;
}

.bg_google-play,
.google-play {
  background-color: #ef6c00 !important;
}

.c_youtube {
  color: #bb0000 !important;
}

.br_youtube {
  border-color: #bb0000 !important;
}

.bg_youtube,
.youtube {
  background-color: #bb0000 !important;
}

.c_instagram {
  color: #8134af !important;
}

.br_instagram {
  border-color: #8134af !important;
}

.bg_instagram,
.instagram {
  background-color: #8134af !important;
}
/*# sourceMappingURL=maps/color-code_social.css.map */
