/*
Bootstrap Toggle Rotation

The toggles for bootstrap collapses use a `+` icon that twists to an `x` when the elements doesn't have `collapsed` or `show` as a class. to reduce confusion the class has a set rotation and speed attached to it. `a:rotation` is applied to the tow specific icons `fa-times` and `fa-chevron-up` only.<div class="p-b_3"><span class="bg_highlight br_radius c_white inline-block font_n1 p-y_3 p-x_5 sg">These classes are effected by the parent having `collapsed` state.</span></div>

not-collapsed                   - when class is added it rotates the icon into position
collapsed                       - when class is added it rotates the icon into position

Markup:
<div class="flex_none p_2 {{modifier_class}}" aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#pageHubChild" aria-controls="#pageHubChild">
        <i class="a:rotation c_primary fa-fw fa-times fas self_center text_center"></i>
</div>
<div class="flex_none p_2 {{modifier_class}}" aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#pageHubChild" aria-controls="#pageHubChild">
        <i class="a:rotation c_primary fa-fw fa-chevron-up fas self_center text_center"></i>
</div>


Weight: 100

Styleguide Navigation.Toggle.RotationSimpleIcon

*/
/*
Stacked Rotation Toggle
 
Description: The toggles for bootstrap collapses use a `+` icon that twists to an `-` when the elements doesn't have `collapsed` or `show` as a class.<div class="p-t_3"><span class="bg_highlight br_radius c_white inline-block font_n1 p-y_3 p-x_5 sg">These classes are effected by the parent having `collapsed` state.</span></div>

not-collapsed                   - when class is added it rotates the icon into position
collapsed                       - when class is added it rotates the icon into position

Markup:
<div class="flex_none p_2 {{modifier_class}}" aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#pageHubChild" aria-controls="#pageHubChild">
        <span class="fa-stack fa-2x">
        <i class="fas fa-minus fa-stack-1x"></i>
        <i class="fas fa-minus rotate_90 a:rotation fa-stack-1x "></i>
        </span>
</div>
<div class="flex_none p_2 {{modifier_class}}" aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#pageHubChild" aria-controls="#pageHubChild">
        <span class="fa-stack fa-2x">
        <i class="fas fa-square fa-stack-2x c_black"></i>
        <i class="fas fa-minus fa-stack-1x c_white"></i>
        <i class="fas fa-minus rotate_90 a:rotation fa-stack-1x  c_white"></i>
        </span>
</div>
 
Weight:100
 
Styleguide Navigation.Toggle.Rotation.RotationStackedIcon
*/

/*
Collapse Toggle
 
Toggle elements of a collapse with user feed back of the icon rotating.

#targetName -  the name of the target of the collapse
 
Markup:
<div class="a:bg_black-3 h:bg_black-4 flex_none p_2" data-bs-toggle="collapse" data-bs-target="{{modifier_class}}" aria-controls="{{modifier_class}}" aria-expanded="true">
        <i class="a:rotation fa-fw fa-times fas self_center text_center"></i>
</div>
 
Weight: -10

MarkupWrapperClasses: bg_white font_ui flex c_primary
 
Styleguide Navigation.Toggle
*/

/*
Collapse Toggle Advanced
 
Toggle elements of a collapse with user feed back of the icon morphing.

#targetName -  the name of the target of the collapse
 
Markup:
<div class="flex_none" aria-expanded="false" data-bs-toggle="collapse" data-bs-target="{{modifier_class}}" aria-controls="{{modifier_class}}">
        <span class="fa-stack">
        <i class="fas fa-minus fa-stack-1x"></i>
        <i class="fas fa-minus rotate_90 a:rotation fa-stack-1x "></i>
        </span>
</div>
 
Weight: 50

MarkupWrapperClasses: bg_white font_ui flex c_primary
 
Styleguide Navigation.Toggle.Advanced
*/

/*
Collapse Toggle Advanced with Square
 
Toggle elements of a collapse with user feed back of the icon morphing.

#targetName -  the name of the target of the collapse
 
Markup:
<div class="flex_none" aria-expanded="false" data-bs-toggle="collapse" data-bs-target="{{modifier_class}}" aria-controls="{{modifier_class}}">
        <span class="fa-stack">
        <i class="fas fa-square fa-stack-2x"></i>
        <i class="fas fa-minus fa-stack-1x c_white"></i>
        <i class="fas fa-minus rotate_90 a:rotation fa-stack-1x  c_white"></i>
        </span>
</div>
 
Weight: 55

MarkupWrapperClasses: bg_white font_ui flex c_primary
 
Styleguide Navigation.Toggle.AdvancedSquare
*/