/*
Tabs
 
Description: A simple way to show small groups of content that should have the same level of reading hierarchy.  
 
Markup:
<nav class="bg_black-2 br_3 br_radius br_solid br_white-9 c_primary font_0 font_bold font_accent: p-x_0 p-x_4:md shadow_bevel-light" id="tabContentLight" role="tablist">
    <ul class="flex_column flex_row:md  nav">
        {{> "Structures.Tabs.Tabs.LinkActive" }}
        {{> "Structures.Tabs.Tabs.Link" }}
        {{> "Structures.Tabs.Tabs.LinkDisabled" }}
        </li>
    </ul>
</nav>
<div class="bg_black-_05 br-bl_radius br-br_radius m-x_3 p_4 reading-typography shadow_emboss-light tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="ActiveLink" role="tabpanel" aria-labelledby="ActiveLink">
        <h2 class="capitalize"> consectetur adipisicing elit </h2>
        Lorem ipsum dolor sit amet. Quisquam maxime consectetur, nisi sed ea perspiciatis a sit porro laboriosam ab sequi est quas optio dolorum at maiores quis incidunt inventore.</div>
    <div class="tab-pane fade" id="BasicLink" role="tabpanel" aria-labelledby="BasicLink">
        <h2 class="capitalize">Lorem ipsum dolor sit </h2>
        Amet consectetur adipisicing elit. Vero enim provident consequuntur perspiciatis. Eligendi placeat consequuntur veniam quidem temporibus labore quisquam commodi rem error cumque fugit suscipit nulla, excepturi eos.</div>
</div>

Experimental: This design is currently being reworked and might possibly change. (June 2021)

Note: Limitations to the documentation system might cause javascript effects to animate or trigger incorrectly. 

Weight:0
 
Styleguide Structures.Tabs
*/

/*
Simple Tabs

Simple in page tabs 

Markup:
<nav class="bg_black-2 br_3 br_radius br_solid br_white-9 c_primary font_0 font_bold font_accent: p-x_0 p-x_4:md shadow_bevel-light">
    <ul class="flex_column flex_row:md  nav">
        {{> "Structures.Tabs.Tabs.LinkActive" }}
        {{> "Structures.Tabs.Tabs.Link" }}
        {{> "Structures.Tabs.Tabs.Link" }}
        {{> "Structures.Tabs.Tabs.LinkDisabled" }}
    </ul>
</nav>

Styleguide  Structures.Tabs.Tabs

*/

/*
Simple Tabs: Dark Mode

Reverse Colored Tabs for when on dark background

Markup:
<div class="m-y_4 bg_acc p_4" id="nav_jump">
    <nav class="bg_black-2 c_white br_3 br_radius br_solid br_white-5 font_0 font_bold font_ui p-x_0 p-x_4:md shadow_overlap-light">
        <ul class="flex_column flex_row:md ul_none nav">
        {{> "Structures.Tabs.TabsDark.LinkActive" }}
        {{> "Structures.Tabs.TabsDark.Link" }}
        {{> "Structures.Tabs.TabsDark.Link" }}
        {{> "Structures.Tabs.TabsDark.LinkDisabled" }}
        </ul>
    </nav>
</div>

Weight: 0

Styleguide  Structures.Tabs.TabsDark
*/



/*
Tab Dark: Active

Description: Active State of Dark Tab.  Add and remove the `active is-active` class from the li-tag toggle the active effect

Markup:
<li class="br-t_3 br_solid:md br_white-0 m-l_1 nav-item ">
    <a class="a:bg_accent h:underline-none c_white text-shadow_black-1 br-b_3 br_white-0 br_solid:md:md h:bg_secondary h:br_accent h:c_white m-y_n2:md nav-link p-y_3:md p-x_4 active">
        Active
    </a>
</li>

MarkupWrapperClasses: flex_column flex_row:md ul_none nav bg_acc br_3 br_radius br_solid br_acc-3 p-l_4

Weight:0

Styleguide  Structures.Tabs.TabsDark.LinkActive
*/

/*
Tab Dark: Basic

Description: Dark Tab Basic Nav

Markup:
<li class="br-t_3 br_solid:md br_white-0 m-l_1 nav-item">
    <a class="a:bg_accent h:underline-none c_white text-shadow_black-1 br-b_3 br_white-0 br_solid:md h:bg_secondary h:br_accent h:c_white m-y_n2:md nav-link p-y_3:md p-x_4">
        Link
    </a>
</li>


MarkupWrapperClasses: flex_column flex_row:md ul_none nav bg_acc br_3 br_radius br_solid br_acc-3 p-l_4

Weight:0


Styleguide  Structures.Tabs.TabsDark.Link
*/

/*
Tab Dark: Disabled

Description: Disabled decorations is a swap of many of the decoration classes with the removal of the hover and active classes.

Markup:
<li class="br-t_3 br_solid:md br_white-0 m-l_1 nav-item ">
    <a class="bg_white-2 br-b_3 br_solid:md br_white-0 c_white-4 cursor_not-allowed disabled h:underline-none m-y_n2:md nav-link opacity-5 p-x_4 p-y_3:md" href="/on-demand/industry-stage#nav_jump" target="_self">
        Disabled
    </a>
</li>

MarkupWrapperClasses: flex_column flex_row:md ul_none nav bg_acc br_3 br_radius br_solid br_acc-3 p-l_4 

Weight:0


Styleguide  Structures.Tabs.TabsDark.LinkDisabled
*/



/*
Tab: Active

Description: Active State of Dark Tab.  Add and remove the `active is-active` class from the li-tag toggle the active effect

Markup:
<li class=" br-t_3 br_solid:md br_white-0 m-l_1 nav-item">
    <a 
        id="ActiveLink-tab" data-bs-toggle="tab" data-bs-target="#ActiveLink"  role="tab" aria-controls="ActiveLink" aria-selected="true"
        class="active a:bg_accent-n2 h:underline-none a:c_white br-b_3 br_white-0 br_solid:md c_primary h:bg_acc-n3 h:br_accent h:c_white m-y_n2:md nav-link p-y_3:md p-x_4" 
        href="#">Active</a>
</li>

MarkupWrapperClasses: flex_column flex_row:md ul_none nav bg_black-2 br_3 br_radius br_solid br_white-9 c_primary font_0 font_bold font_accent: p-x_0 p-x_4:md shadow_bevel-light

Weight:0

Styleguide  Structures.Tabs.Tabs.LinkActive
*/

/*
Tab: Basic

Description: Active State of Dark Tab.  Add and remove the `active is-active` class from the li-tag toggle the active effect

Markup:
<li class="br-t_3 br_solid:md br_white-0 m-l_1 nav-item">
    <a 
    id="BasicLink-tab" data-bs-toggle="tab" data-bs-target="#BasicLink"  role="tab" aria-controls="BasicLink" aria-selected="true"
    class="a:bg_accent-n2 h:underline-none a:c_white br-b_3 br_white-0 br_solid:md c_primary h:bg_acc-n3 h:br_accent h:c_white m-y_n2:md nav-link p-y_3:md p-x_4" href="#">Link</a>
</li>


MarkupWrapperClasses: flex_column flex_row:md ul_none nav bg_black-2 br_3 br_radius br_solid br_white-9 c_primary font_0 font_bold font_accent: p-x_0 p-x_4:md shadow_bevel-light

Weight:0

Styleguide  Structures.Tabs.Tabs.Link
*/

/*
Tab: Disabled

Description: Disabled decorations is a swap of many of the decoration classes with the removal of the hover and active classes.

Markup:
<li class="br-t_3 br_white-0 br_solid:md m-l_1 nav-item">
    <a class="br-b_3 br_solid:md br_white-0 c_black-4 opacity-5 bg_black-1 disabled h:underline-none m-y_n2:md nav-link p-x_3 p-x_4" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</li>

MarkupWrapperClasses: flex_column flex_row:md ul_none nav bg_black-2 br_3 br_radius br_solid br_white-9 c_primary font_0 font_bold font_accent: p-x_0 p-x_4:md shadow_bevel-light

Weight:0

Styleguide  Structures.Tabs.Tabs.LinkDisabled
*/


