/*
Sidebar Nav
 
Description: Side bar for any 3 layer nav on the site. the parent node is from the main nav.
 
Markup:
<nav class="nav-sub bg_primary c_white font_0 font_ui ">
    <ul class="ul_none flex_column flex">
        {{> "Navigation.Sidebar.Parent"}}
        {{> "Navigation.Sidebar.Child"}}
        {{> "Navigation.Sidebar.ChildWithChildren"}}
        {{> "Navigation.Sidebar.Child"}}
        {{> "Navigation.Sidebar.Child"}}
        {{> "Navigation.Sidebar.ChildWithGrandChildren"}}
    </ul>
</nav>
 
Weight:-1000

MarkupWrapperClasses: max-w_25 m_auto 

Note: Limitations to the documentation system might cause javascript effects to animate or trigger incorrectly. 

 
Styleguide Navigation.Sidebar
*/

/*
Parent NavItem
 
Description: The parent is singular in this nav it is always active and its direct children are always expanded so there is not need for a toggle.
 
Markup:
<li class="nav-item font-size_up" data-nav="parent">
    <div class="bg_black-4 ">
        <a class="text-shadow_black-1 block w_100 c_white p-y_2 p-x_4 w_100 h:c_white inline-block h:underline self_center">Parent Link: Tree starts from this node</a>
    </div>
</li>
 
Weight: -100

MarkupWrapperClasses: bg_primary c_white font_ui ul_none
 
Styleguide Navigation.Sidebar.Parent
*/


/*
Child NavItem
 
Description: Child and Grandchild nav items are built the same way with a spacer with or without a toggle depending on if they have children.

default     -  No added class 
active      -  Nav Item changes its decoration if this the page the user is on.
 
Markup:
<li class="nav-item {{modifier_class}}" data-nav="child">
    <div class="flex flex_row">
        <div class="text-shadow_black-n1 flex_none p_2"><i class="fas fa-spacer fa-fw p_2 transition_4 a:rotation c_white"></i>
        </div>
        <div class="flex_auto self_center">
            <a class="text-shadow_black-1 {{modifier_class}} c_white-9 p-y_2 p-x_3 w_100 h:c_white inline-block h:underline self_center  a:bg_black-3">Child Link</a>
        </div>
    </div>
</li>
 
Weight: 10

MarkupWrapperClasses: bg_primary c_white font_ui ul_none
 
Styleguide Navigation.Sidebar.Child
*/

/*
Toggle Child
 
Description: Toggle elements are set to active if the attached node or its children are active. If the toggle is active the collapsed children navigation are open by default.

default     -  the toggle when it doesn't have an active class still shades on hover
active      -  shade the toggle
 
Markup:
<div class="{{modifier_class}} br-r_1 br_solid br_white-2 flex flex_column flex_none justify_start text-shadow_black-n1 c_white">
    {{> "Navigation.Toggle.Advanced" modifier_class=".childNavCollapse" }}
</div>
 
Weight: -10

Note: Limitations to the documentation system might cause javascript effects to animate or trigger incorrectly. 


MarkupWrapperClasses: bg_primary c_white font_ui ul_none
 
Styleguide Navigation.Sidebar.ChildToggle
*/


/*
Child NavItem With Children
 
Description: Child and Grandchild nav items are built the same way with a spacer with or without a toggle depending on if they have children.

 
Markup:
<li class="nav-item {{modifier_class}}" data-nav="child">
    <div class="flex flex_row">
        {{> "Navigation.Sidebar.ChildToggle" modifier_class="collapsed"}}
        <div class="flex_auto self_center">
            <a class="text-shadow_black-1 {{modifier_class}} c_white-9 p-y_2 p-x_3 w_100 h:c_white inline-block h:underline self_center  a:bg_black-3">Child with Children Links</a>
            <nav class="nav-sub-child bg_white-2 font-size_down collapse childNavCollapse" >
                <ul class="ul_none flex_column flex">
                    {{> "Navigation.Sidebar.Child" }}
                    {{> "Navigation.Sidebar.Child" }}
                    {{> "Navigation.Sidebar.Child" }}
                    {{> "Navigation.Sidebar.Child" }}
                </ul>
            </nav>
        </div>
    </div>
</li>
 
Weight: 15

Note: Limitations to the documentation system might cause javascript effects to animate or trigger incorrectly. 


MarkupWrapperClasses: bg_primary c_white font_ui ul_none
 
Styleguide Navigation.Sidebar.ChildWithChildren
*/

/*
Child NavItem With Grand Children
 
Description: Child and Grandchild nav items are built the same way with a spacer with or without a toggle depending on if they have children.
 
Markup:
<li class="nav-item active" data-nav="child">
    <div class="flex flex_row">
        {{> "Navigation.Sidebar.ChildToggle"  modifier_class="active"}}
        <div class="flex_auto self_center">
            <a class="text-shadow_black-1 active c_white-9 p-y_2 p-x_3 w_100 h:c_white inline-block h:underline self_center  a:bg_black-3">Child with Children Links</a>
            <nav class="nav-sub-child bg_white-2 font-size_down collapse childNavCollapse show">
                <ul class="ul_none flex_column flex">
                    {{> "Navigation.Sidebar.Child" }}
                    {{> "Navigation.Sidebar.Child" }}
                    {{> "Navigation.Sidebar.Child" }}
                    {{> "Navigation.Sidebar.Child" }}
                    <li class="nav-item  active " data-nav="grandchild">
                        <div class="flex flex_row">
                            {{> "Navigation.Sidebar.ChildToggle"  modifier_class="active"}}
                            <div class="flex_auto self_center">
                                <a class="text-shadow_black-1 active c_white-9 p-y_2 p-x_3 w_100 h:c_white inline-block h:underline self_center  a:bg_black-3">Child with Children Links</a>
                                <nav class="nav-sub-child bg_white-2 collapse show childNavCollapse">
                                    <ul class="ul_none flex_column flex">
                                        {{> "Navigation.Sidebar.GreatGrandchild"  }}
                                        {{> "Navigation.Sidebar.GreatGrandchild" }}
                                        {{> "Navigation.Sidebar.GreatGrandchild"  modifier_class="active"}}
                                        {{> "Navigation.Sidebar.GreatGrandchild" }}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</li>
 
Weight: 15

MarkupWrapperClasses: bg_primary c_white font_ui ul_none

Note: Limitations to the documentation system might cause javascript effects to animate or trigger incorrectly. 

Styleguide Navigation.Sidebar.ChildWithGrandChildren
*/



/*
Great Grandchild NavItem
 
Description: Great Grand Children loose the spacer for toggles because they don't have any child navs and don't need the use of a toggle.

default     -  No added class 
active      -  Nav Item changes its decoration if this the page the user is on.
 
Markup:
<li class="nav-item {{modifier_class}} " data-nav="greatgrandchild">
    <div class="flex flex_row"> 
        <div class="flex_auto self_center">
            <a class=" {{modifier_class}} text-shadow_black-1  a:bg_black-3 c_white-9 p-y_2 p-r_3 p-l_4 w_100 h:c_white inline-block h:underline self_center">Great Grand Child Links</a>
        </div>
    </div>
</li>
 
Weight: 100

MarkupWrapperClasses: bg_primary c_white font_ui ul_none
 
Styleguide Navigation.Sidebar.GreatGrandchild
*/
