/*
Foo Bar 
 
Description: This is a special Foo Bar
 
Markup:
<div class="c_primary font_10">FOO BAR</div>

 
Weight:0

Experimental: this is experimental September 7 2021
 
Styleguide Recipes.FooBar
*/