@each $color-name, $color in $SocialColors {
    .c_#{$color-name} {
        color: $color !important;
    }
    .br_#{$color-name} {
        border-color: $color !important;
    }
    .bg_#{$color-name},
    .#{$color-name} {
        background-color: $color !important;
    }
}
