@each $color-name, $color in $COR {
    $color-name-alt: 'cor-' + $color-name;
    .c_#{$color-name-alt} {
        color: $color !important;
    }
    .br_#{$color-name-alt} {
        border-color: $color !important;
    }
    .bg_#{$color-name-alt},
    .#{$color-name-alt} {
        background-color: $color !important;
    }
}

@each $color-name, $color in $LOE {
    $color-name-alt: 'loe-' + $color-name;
    .c_#{$color-name-alt} {
        color: $color !important;
    }
    .br_#{$color-name-alt} {
        border-color: $color !important;
    }
    .bg_#{$color-name-alt},
    .#{$color-name-alt} {
        background-color: $color !important;
    }
}
