$navbar-font_primary: $font_accent !default;
$navbar-font_shade: $font_ui !default;
$navbar-bgcolor_primary: map-get($theme-palette, acc);
$navbar-bgcolor_shade: map-get($theme-palette, accent);

.icon-toggle_bars-times:before {
	content: '\f2d3';
	.collapsed>&,.collapsed & {      
		content: '\f0c9';
    }
}
.icon-toggle_plus-minus:before {
	content: '\f0fe';
	.show > &{
		content: '\f146';
	}
}
.icon-toggle_plus-minus-sub:before {
    @extend %icon-toggle-space;
	content: '\f068';
    .collapsed>&,.collapsed &{
		content: '\f067';
    }
}

.navbar {
	font-family: $navbar-font_primary;
}
.dropdown-menu font_copy br-t_0 {
	font-family: $navbar-font_shade;
}
.nav-link {
	
	padding-left: $padding_2;
	padding-right: $padding_2;
}
.navbar-dark .navbar-nav .nav-link{color: white;}

.navbar-primary .dropdown-toggle:after {
	display: none;
}
.navbar-primary .nav-item .nav-link{
	color:inherit;
}

.navbar-primary .nav-item {
	&:hover, &:focus-visible, &.active {
		border-top-color: $navbar-bgcolor_shade;
		border-bottom-color: #fff;
		background-color: #fff;
		color:$navbar-bgcolor_primary;
	}
	@media #{$medium-up} {
		border-top: $border-width_3 $navbar-bgcolor_primary solid;
		border-bottom: $border-width_3 $navbar-bgcolor_primary solid;

		&:hover, &:focus-visible, &.active {
			border-top-color: $navbar-bgcolor_shade;
			border-bottom-color: #fff;
			background-color: #fff;
			color: $navbar-bgcolor_primary;

		}
	}
}
.navbar-primary .navbar-nav .nav-item {
	@media #{$large-up} {
		border-top: $border-width_3 $navbar-bgcolor_primary solid;
		border-bottom: $border-width_3 $navbar-bgcolor_primary solid;
		.nav-link{ &, &:hover, &:focus-visible, &.active {
			color:#fff; }
		}
		&:hover, &:focus-visible, &.active {
			border-top-color: $navbar-bgcolor_shade;
			border-bottom-color: #fff;
			background-color: #fff;
			color: $navbar-bgcolor_primary;
			.nav-link{ 
				&, &:hover, &:focus-visible, &.active {
					color:$navbar-bgcolor_primary;
				 }	
			}
		}
	}
}
@media #{$large-up} {
	.collapse.block\:lg {
		display: block;
	}
}

.dropdown-item{
	color: get-themecolor(primary, -1);
	&:hover, &:focus-visible {
		color: white;
		background-color: get-themecolor(accent);
	}
}


.dropdown_column{
	min-width: 70vw;
}
@media #{$medium-up} {
.dropdown_column{
	min-width: 20rem;
}
}
