$iconHeaders:(
    microscope:"Clinical Trials",
    book-medical:"Guidelines & Policies",
    clipboard-user:"Patient Case Quizzes",
    user-chart:"Expert Consensus",

);

    /*
    
     
    Headlines With Icons

    Weight:0
     
    Styleguide Edu.Headers
    */
@each $icon, $term in $iconHeaders {
    
    /*
    
     
    #{$term}
     
    Markup:
    <h1 class="font_display c_acc font_5 p-x_4:lg p-x_3">
        <i class="far fa-#{$icon} p-r_3"></i>
        #{$term}
    </h1>
     
    Weight:0
     
    Styleguide Edu.Headers.#{$icon}
    */
}

    /*
    
    Clinical Toolkit

    Markup:
    <h1 class="font_display c_acc font_5 p-x_4:lg p-x_3">
        <span class="fa-stack font_n2">
            <i class="fa-box fa fa-stack-2x"></i>
            <i style="top: 22%;font-size: 75%;" class="fa-tools fas c_white fa-stack-1x"></i>
        </span>
        Clinical Toolkit
    </h1>
     
    Weight:0
     
    Styleguide Edu.Headers.toolkit
    */