/*

Curated Educational Collection Page

A quick mock up of education's curated collection.

Markup:
<div class="bg_shade-5 p-y_4">
	<div class="bg_white br-bl_radius br-br_radius br_radius m-t_4 m_auto max-w_65 p-b_0 p-x_5 p-y_4 shadow_2 wrapper_container" >
		<div class="p_4 p-x_5">
		</div>
		<div class="p_4 br-b_1 br_dotted br_shade-4">
			<div class="font_4 font_accent: c_acc text_left m-b_3 m-t_4">
				Practical Solutions for LDL-C Reduction:An Education Curriculum
			</div>
			<div class="font_1 font_copy text_left">
				These educational resources are crafted to help clinicians enrolled in the TRANSFORM LDL-C Risk
				Initiative to understand nonstatin therapy options and equip clinical teams to overcome barriers to
				deliver them to patients.
			</div>
		</div>
		<div class="flex font_0 font_ui">
			<div class="w_50 p_4 flex_auto">
				<h2 class="font_display font_2 c_acc">Educational Path to Transforming LDL-C</h2>
				<ul class="ul_none  br-t_2 br-b_2 br_solid br_primary-2">
					<li class="p-y_3 br-t_1 br_solid br_shade-4 flex relative h:bg_primary-5">
						<i class="fas p_2 p-l_4 font_3 fa-video flex_grow"></i
						><a
							title="Follow the Science: Refining Risk Assessment in ASCVD"
							href="http://learn.acc.org/url/product/FTSRefiningRiskAssessment"
							target="_blank"
							rel="noopener"
							class="p-x_3 wrap undecorated block flex_auto c_black-8"
							>Follow the Science: Refining Risk Assessment in ASCVD</a
						>
					</li>
					<li class="p-y_3 br-t_1 br_solid br_shade-4 flex relative h:bg_primary-5">
						<i class="fas p_2 p-l_4 font_3 fa-video flex_grow"></i
						><a
							class="p-x_3 wrap undecorated block flex_auto c_black-8"
							title="Transforming LDL-C Risk: Role of Non-statin Therapies"
							href="http://learn.acc.org/url/product/ROLEOFNONSTATINTHERAPIES"
							target="_blank"
							rel="noopener"
							>Transforming LDL-C Risk: Role of Non-statin Therapies</a
						>
					</li>
					<li class="p-y_3 br-t_1 br_solid br_shade-4 flex relative h:bg_primary-5">
						<i class="fas p_2 p-l_4 font_3 fa-video flex_grow"></i
						><a
							class="p-x_3 wrap undecorated block flex_auto c_black-8"
							title="Practical Tips for Prior Authorizations: A Discussion with the Experts"
							href="http://learn.acc.org/url/product/PRACTICALTIPSPRIORAUTH"
							target="_blank"
							rel="noopener"
							>Practical Tips for Prior Authorizations: A Discussion with the Experts</a
						>
					</li>
					<li class="p-y_3 br-t_1 br_solid br_shade-4 flex relative h:bg_shade-5">
						<i class="fas p_2 p-l_4 font_3 fa-video flex_grow"></i>
						<div class="p-x_3 wrap undecorated block flex_auto c_black-6">
							Coming Soon: Online Course: PCSK9 Inhibitors: The Who, What and Wow!
						</div>
					</li>
					<li class="p-y_3 br-t_1 br_solid br_shade-4 flex relative h:bg_shade-5">
						<i class="fas p_2 p-l_4 font_3 fa-video flex_grow"></i>
						<div class="p-x_3 wrap undecorated block flex_auto c_black-6">
							Coming Soon: MOD Capture of Clinical Curriculum from Washington, DC Event (title TBD)
						</div>
					</li>
					<li class="p-y_3 br-t_1 br_solid br_shade-4 flex relative h:bg_shade-5">
						<i class="fas p_2 p-l_4 font_3 fa-video flex_grow"></i>
						<div class="p-x_3 wrap undecorated block flex_auto c_black-6">
							Coming Soon: MOD of QI Champion Curriculum from Washington, DC Event (title TBD)
						</div>
					</li>
					<li class="p-y_3 br-t_1 br_solid br_shade-4 flex relative h:bg_primary-5">
						<i class="fas p_2 p-l_4 font_3 fa-video flex_grow"></i>
						<div class="p-x_3 wrap undecorated block flex_auto c_black-6">
							Coming Soon: An Interactive Infographic on Patient Risk Assessment and Identification for
							Intensification of LDL-C Therapies
						</div>
					</li>
				</ul>
			</div>
			<div class="w_50 p_4 flex_auto">
				<h2 class="font_display font_2 c_acc">
					2018 Guideline on the Management of Blood Cholesterol: Practical Applications
				</h2>
				<ul class="ul_none  br-t_2 br-b_2 br_solid br_primary-2">
					<li class="p-y_3 br-t_1 br_solid br_shade-4 flex relative h:bg_primary-5">
						<i class="fas p_2 p-l_4 font_3 fa-video flex_grow"></i
						><a
							title="Follow the Science: Refining Risk Assessment in ASCVD"
							href="http://learn.acc.org/url/product/FTSRefiningRiskAssessment"
							target="_blank"
							rel="noopener"
							class="p-x_3 wrap undecorated block flex_auto c_black-8"
							>Follow the Science: Refining Risk Assessment in ASCVD</a
						>
					</li>
					<li class="p-y_3 br-t_1 br_solid br_shade-4 flex relative h:bg_primary-5">
						<i class="fas p_2 p-l_4 font_3 fa-video flex_grow"></i
						><a
							class="p-x_3 wrap undecorated block flex_auto c_black-8"
							title="Transforming LDL-C Risk: Role of Non-statin Therapies"
							href="http://learn.acc.org/url/product/ROLEOFNONSTATINTHERAPIES"
							target="_blank"
							rel="noopener"
							>Transforming LDL-C Risk: Role of Non-statin Therapies</a
						>
					</li>
					<li class="p-y_3 br-t_1 br_solid br_shade-4 flex relative h:bg_primary-5">
						<i class="fas p_2 p-l_4 font_3 fa-video flex_grow"></i
						><a
							class="p-x_3 wrap undecorated block flex_auto c_black-8"
							title="Practical Tips for Prior Authorizations: A Discussion with the Experts"
							href="http://learn.acc.org/url/product/PRACTICALTIPSPRIORAUTH"
							target="_blank"
							rel="noopener"
							>Practical Tips for Prior Authorizations: A Discussion with the Experts</a
						>
					</li>
					<li class="p-y_3 br-t_1 br_solid br_shade-4 flex relative h:bg_shade-5">
						<i class="fas p_2 p-l_4 font_3 fa-video flex_grow"></i>
						<div class="p-x_3 wrap undecorated block flex_auto c_black-6">
							Coming Soon: Online Course: PCSK9 Inhibitors: The Who, What and Wow!
						</div>
					</li>
					<li class="p-y_3 br-t_1 br_solid br_shade-4 flex relative h:bg_shade-5">
						<i class="fas p_2 p-l_4 font_3 fa-video flex_grow"></i>
						<div class="p-x_3 wrap undecorated block flex_auto c_black-6">
							Coming Soon: MOD Capture of Clinical Curriculum from Washington, DC Event (title TBD)
						</div>
					</li>
					<li class="p-y_3 br-t_1 br_solid br_shade-4 flex relative h:bg_shade-5">
						<i class="fas p_2 p-l_4 font_3 fa-video flex_grow"></i>
						<div class="p-x_3 wrap undecorated block flex_auto c_black-6">
							Coming Soon: MOD of QI Champion Curriculum from Washington, DC Event (title TBD)
						</div>
					</li>
					<li class="p-y_3 br-t_1 br_solid br_shade-4 flex relative h:bg_primary-5">
						<i class="fas p_2 p-l_4 font_3 fa-video flex_grow"></i>
						<div class="p-x_3 wrap undecorated block flex_auto c_black-6">
							Coming Soon: An Interactive Infographic on Patient Risk Assessment and Identification for
							Intensification of LDL-C Therapies
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="bg_acc c_white font_display m-b_0 m-x_n5 p_5">
	<strong>We are grateful to these distinguished Members of the American College of Cardiology who contributed to this
		collection.</strong>
	<ul class="flex flex_wrap ul_none">
		<li class="flex_auto m-y_4 p-r_5 w_50" style="
    box-sizing: border-box;
">
			<strong class="block font_bold">Pamela B. Morris, MD, FACC, FAHA, FASPC, FNLA (Chair)</strong>
			<span class="block">Director, Seinsheimer Cardiovascular Health Program</span>
			<span class="block">Co-Director, Women's Heart Care</span>
			<span class="block font_italic">Medical University of South Carolina</span>
		</li>
		<li class="flex_auto m-y_4 w_50">
			<strong class="block font_bold">Kim K. Birtcher, PharmD, MS, AACC, FNLA</strong>
			<span class="block">Clinical Professor</span>
			<span class="block font_italic">University of Houston College of Pharmacy</span>
		</li>
		<li class="flex_auto m-y_4 w_50">
			<strong class="block font_bold">Roger S. Blumenthal, MD, FACC</strong>
			<span class="block">Director, Ciccarone div for the Prevention of Cardiovascular Disease</span>
			<span class="block font_italic">Johns Hopkins Hospital</span>
		</li>
		<li class="flex_auto m-y_4 w_50">
			<strong class="block font_bold">Carl E. Orringer, MD, FACC</strong>
			<span class="block">Associate Professor of Medicine</span>
			<span class="block">Director, Preventive Cardiovascular Medicine Cardiovascular Division</span>
			<span class="block font_italic">University of Miami Miller School of Medicine</span>
		</li>
	</ul>
</div>
		<div class="bg_shade-n1 br-bl_radius br-br_radius c_white font_display m--y_0 m-x_n5 m-y_0 p_5">
			This initiative is a part of multi-project series developed by the ACC using data analytics, ACC clinical
			algorithms, and the PINNACLE Registry to focus and TRANSFORM the delivery of care for patients.<br /><br />TRANSFORM
			LDL-C Risk is funded by Sanofi and Regeneron in partnership with the American College of Cardiology.
		</div>
	</div>
</div>


styleguide: ACC.Curated Collection
*/
