@import "config/colors";
/*

Social Network CC  

Each of the social networks has a distinctive color.  These colors are used to give a distinct theme to the social nav that is in different locations.

$twitter            -   #00aced;  twitter     
$facebook           -   #3b5998;  facebook    
$linkedin           -   #007bb6;  linkedin    
$apple-store        -   #ea4cc0;  apple-store 
$google-play        -   #689f38;  google-play 
$youtube            -   #bb0000;  youtube     


Weight: 10000

Styleguide SocialColors
*/

@each $color-name, $color in $SocialColors {
	.c_#{$color-name} {
		color: $color !important;
	}
	.br_#{$color-name} {
		border-color: $color !important;
	}
	.bg_#{$color-name} {
		background-color: $color !important;
	}

	/*

"#{$color-name}" Decorator Classes 

Font, Border and Background Colors using #{$color-name} Social colors have no need for Nuance so they only have a single color shade. 

<h3>Decorator `br_#{$color-name}`</h3>
<div class="p_4 bg_secondary_3 flex">
    <div class="br_#{$color-name} p_3 br_solid br_0 text_center br-t_4 c_black flex_auto"> Border Color</div>
</div>
<h3>Background Color `bg_#{$color-name}`</h3>
<div class="flex">
   <div class="bg_#{$color-name} flex_auto text_center c_white p_2 p-y_5"> Background Color </div>
 </div>
<h3>Font Color `c_#{$color-name}`</h3>
<div class="font_2 bg_secondary">
    <div class="c_#{$color-name} text_left br_solid br_0 br-b_1 br_white-3 font_display p_5 p-y_2 bg_secondary"> font color.</div>
</div>

Styleguide SocialColors.#{$color-name}
*/
}
