/**
 * arches - Global style system focused on utility classes
 * @version v1.0.0
 * @link https://github.com/MattWatier/Arches#readme
 */
/**  Pre Header - modular scale default break points utility    *********************************/
/*  
get-themecolor()

Gets a color value that fits into the set color patterns for usage in new css.

 $key - The color name to be modified [primary,secondary,etc...]
 $modifier   - The color shift you desire default is 0 but you can pass in [-5,-4,...0,1...4,5]. 
 
 Styleguide: mixins.get-themecolor
*/
/** Utility Class Only With Basic ACC Branding **/
/**  ACC Brands    *********************************/
/**  Default Brands    *********************************/
/**  Colors  **/
/**  Fonts  **/
/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
  -webkit-locale: 'en';
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-break: white-space;
}

/**  Textures  **/
div[class*='texture_'] {
  background-attachment: local;
  background-repeat: repeat;
  background-position: top right;
  background-origin: border-box;
}

/**  Logos  **/
pre code.hljs {
  padding-top: 2em;
  padding-bottom: 2.5em;
  max-height: 100%;
}
.kss-color {
  height: 160px;
}

.kss-section__markup > pre.language-markup {
  margin: 0;
  max-height: 20vh;
  overflow-y: auto;
  overflow-x: auto;
}

.kss-section__markup > pre.language-markup::-webkit-scrollbar {
  width: 0.35rem;
  height: 0.35rem;
}

/* Track */
.kss-section__markup > pre.language-markup::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 1px 1px 4px 0.5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 1px 1px 4px 0.5px rgba(0, 0, 0, 0.2);
  background-color: rgba(10, 56, 70, 0.1);
}

/* Handle */
.kss-section__markup > pre.language-markup::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #157894;
  -webkit-box-shadow: inset 1px 1px 4px 0.5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 1px 1px 4px 0.5px rgba(0, 0, 0, 0.2);
}

.kss-section__markup > pre.language-markup::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(21, 120, 148, 0.1);
}

.kss-section__markup > pre.language-markup::-webkit-scrollbar-track:window-inactive {
  background: rgba(10, 56, 70, 0.1);
}

.kss-markdown {
  max-width: unset;
}

.kss-section__description,
.kss-section__content,
.kss-markdown {
  border-spacing: 0;
}

.kss-section__description table,
.kss-section__content table,
.kss-markdown table {
  min-width: 50%;
  border: 1px solid #808080;
  margin: 0.5rem 0 1rem;
}

.kss-section__description .thead,
.kss-section__description thead,
.kss-section__content .thead,
.kss-section__content thead,
.kss-markdown .thead,
.kss-markdown thead {
  background-color: white;
}

.kss-section__description .thead th,
.kss-section__description .thead td,
.kss-section__description thead th,
.kss-section__description thead td,
.kss-section__content .thead th,
.kss-section__content .thead td,
.kss-section__content thead th,
.kss-section__content thead td,
.kss-markdown .thead th,
.kss-markdown .thead td,
.kss-markdown thead th,
.kss-markdown thead td {
  border-bottom: 2px solid #1faed7;
}

.kss-section__description tbody > tr + tr,
.kss-section__content tbody > tr + tr,
.kss-markdown tbody > tr + tr {
  border-top: solid #f0f0f1 1px;
}

.kss-section__description .tfoot,
.kss-section__description tfoot,
.kss-section__content .tfoot,
.kss-section__content tfoot,
.kss-markdown .tfoot,
.kss-markdown tfoot {
  background-color: #f0f0f1;
}

.kss-section__description .tfoot th,
.kss-section__description .tfoot td,
.kss-section__description tfoot th,
.kss-section__description tfoot td,
.kss-section__content .tfoot th,
.kss-section__content .tfoot td,
.kss-section__content tfoot th,
.kss-section__content tfoot td,
.kss-markdown .tfoot th,
.kss-markdown .tfoot td,
.kss-markdown tfoot th,
.kss-markdown tfoot td {
  border-top: 1px solid #7c8089;
  font-style: italic;
}

.kss-section__description th,
.kss-section__description td,
.kss-section__content th,
.kss-section__content td,
.kss-markdown th,
.kss-markdown td {
  padding: 0.25rem 0.5rem;
}

.kss-modifiers__example {
  min-height: 0;
  margin-bottom: 1.5rem;
}

[class*='[modifier class]'] {
  display: none;
}

[data-style*='[modifier class]'] {
  display: none;
}

.kss-markdown table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
}

.kss-markdown table thead th,
.kss-markdown table tfoot th {
  color: #777;
  background: rgba(0, 0, 0, 0.1);
}

.kss-markdown table caption {
  padding: 0.5em;
}

.kss-markdown table th,
.kss-markdown table td {
  padding: 0.5em;
  border: 1px solid lightgrey;
}

.kss-nav_subnav {
  margin-left: 0;
}
/*# sourceMappingURL=styleguide_override.css.map */