/*
Channels
 
Description: Conferences have added branding on live videos and in the ondemand area for grouping videos in to collections called Channels. 
 
generic					- Channel Branding
track1					- Channel Branding
track2					- Channel Branding
track3					- Channel Branding

Markup:
<article class="c_black">
    <div class="relative">
        <div class="block:lg  p-x_5:md">
            <div class="m_auto m_auto:md self_center text_center">
                <div class="{{modifier_class}}_video bg_cover bg_no-repeat aspect_3x2 bg_black br_1 br_radius br_solid br_black-3 flex_shrink relative shadow_3 text_center thumb">
                    <div class="absolute b_0 flex h:opacity justify_center l_0 opacity_7 r_0 self_center t_0 text_center w_100">
                        <i class="absolute c_white-9 fa-play-circle text-shadow_black-1 fas flex_auto font_10 font_5 opacity_9 self_center text_center w_100"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="c_primary-n4 flex_auto font_0 font_display font_regular">
            <div class="lh_2 m-t_2 p_3  p-y_2"> <a href="https://acc.mediasite.com/mediasite/Play/b0d6b0f045624569828072d2f2eefdc41d" class="expanded-click-area">101. Coronary Artery Disease - Challenges in 2020: Cardiovascular Update For the Clinician I -- A Symposium by Valentin Fuster, MD, PhD, MACC</a></div>
        </div>
    </div>
    <div class="br-t_1 br_dotted br_black-3 c_black flex flex_wrap font_n2 justify_between m-t_2 p-t_2">
        <div class="flex_shrink block  text_left p-r_4 m-r_4 ">
            <a href="#modal-extra" class="block h:underline uppercase" data-remote="https://disclosures.acc.org/Public/AnnualMeetingAppConsol?pid=14617" data-toggle="modal" data-target="#modal-disclosures"><i class="far fa-paperclip"></i> Attachments</a>
        </div>
        <div class="flex_grow uppercase text_right">
            <ul class="m-t_n2 ul_none">
                <li class="inline-block lh_0 p-l_3 font_n2 font_bold">
                    <span class="bg_CME br_1 br_black-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> cme </li>
                <li class="inline-block lh_0 p-l_3 font_n2 font_bold">
                    <span class="bg_CNE br_1 br_black-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> cne </li>
                <li class="inline-block lh_0 p-l_3 font_n2 font_bold">
                    <span class="bg_COP br_1 br_black-3 br_circle br_solid inline-block m-r_1" style=" height: 1em; width: 1em;">&nbsp;</span> cop </li>
            </ul>
        </div>
    </div>
</article>

MarkupWrapperClasses:
p_4 grid template-x_25 gap-x_5 gap-y_4

Weight: 0
 
Styleguide Virtual Recipes.Channels
*/

/*
Channels Banners
 
Description: Conferences have added branding on the on demand area with category or channels banners. 
 
generic					- Channel Branding
track1					- Channel Branding
track2					- Channel Branding
track3					- Channel Branding

Markup:
<div class="categoryBanner {{modifier_class}}_banner m-t_3 m-b_4"></div>


Weight: 1
 
Styleguide Virtual Recipes.Channels.Banners
*/
.categoryBanner {
	height: 100px;
	width: 100%;
}
@media #{$medium-up} {
	.categoryBanner {
		height: 140px;
	}
}
@media #{$xlarge-up} {
	.categoryBanner {
		height: 160px;
	}
}
[class$="_video"],[class$="_video-nolabel"]{
	background-repeat: no-repeat;
	background-size: cover;

} 
.generic_video{
	background-image: url("../img/covid20/channels/generic/videoThumbnail.png");}
.generic_video-nolabel{
	background-image: url("../img/covid20/channels/generic/videoThumbnailNoLabel.png");
}
.generic_banner{
	@extend .categoryBanner;
	background-image: 
		url("../img/covid20/channels/generic/categoryLabel.png"),
		url("../img/covid20/channels/generic/categoryBanner.png") ;
	background-position: right center, left top;
	background-repeat: no-repeat;
	background-size: contain, cover;

}

.track1_video{
	background-image: url("../img/covid20/channels/track1/videoThumbnail.png");}
.track1_video-nolabel{
	background-image: url("../img/covid20/channels/track1/videoThumbnailNoLabel.png");
}
.track1_banner{
	@extend .categoryBanner;
	background-image: 
		url("../img/covid20/channels/track1/categoryLabel.png"),
		url("../img/covid20/channels/track1/categoryBanner.png") ;
	background-position: right center, left top;
	background-repeat: no-repeat;
	background-size: contain, cover;

}

.track2_video{
	background-image: url("../img/covid20/channels/track2/videoThumbnail.png");}
.track2_video-nolabel{
	background-image: url("../img/covid20/channels/track2/videoThumbnailNoLabel.png");
}
.track2_banner{
	@extend .categoryBanner;
	background-image: 
		url("../img/covid20/channels/track2/categoryLabel.png"),
		url("../img/covid20/channels/track2/categoryBanner.png") ;
	background-position: right center, left top;
	background-repeat: no-repeat;
	background-size: contain, cover;

}

.track3_video{
	background-image: url("../img/covid20/channels/track3/videoThumbnail.png");}
.track3_video-nolabel{
	background-image: url("../img/covid20/channels/track3/videoThumbnailNoLabel.png");
}
.track3_banner{
	@extend .categoryBanner;
	background-image: 
		url("../img/covid20/channels/track3/categoryLabel.png"),
		url("../img/covid20/channels/track3/categoryBanner.png") ;
	background-position: right center, left top;
	background-repeat: no-repeat;
	background-size: contain, cover;
}


