@import  "../virtual/data/virtual.helper.randomWords";
/*

Pages

Most of the pages in the design don't display correctly. in this styleguide because the the design is calculated off of the whole viewport.

MarkupWrapperClasses: 

Weight: -100
 
Styleguide Page.Pages
*/
/*

Sub Page No Filter

The sub pages have a common layouts.
 
Markup:
<div class="BODY_TAG-stand-in grid {{> "Sub.ClassList.Body"}}">	
	<div class="page-wrapper grid {{> "Sub.ClassList.Page"}}">	
		<div class="grid:md grid-template_page flex flex_column gap_4:md gap_3">
			{{> "Navigation.MainNav" modifier_class="grid-area_menuArea z_4" }}
			{{> "Navigation.Breadcrumb"}}
			<section class="grid:md flex flex_column grid-template_filterAndContent grid-area_mainArea gap_4 p-y_3 p-y_0:md font_1:lg font_0">
				<div class="grid:md flex flex_column grid-col_5 gap_4 col-start col-end">
					{{> "Page.Layouts.SubGridFiller"  modifier_class="Insert"}}
					{{> "Page.Layouts.SubGridFiller"  modifier_class="Insert"}}
					{{> "Page.Layouts.SubGridFiller"  modifier_class="Insert"}}
					{{> "Page.Layouts.SubGridFiller"  modifier_class="Insert"}}
					{{> "Page.Layouts.SubGridFiller"  modifier_class="Insert"}}
				</div>
			</section>
			<footer class="flex flex_column gap_4 grid-area_footerArea grid-col_5 grid:md m-t_auto p-y_0:md p-y_3">
				{{> "Navigation.Footer.Links" modifier_class="col-start col-end_4" }}
				{{> "Navigation.Footer.Logo"  modifier_class="col-start_4 col-end" }}
			</footer>
		</div>
	</div>
</div>

MarkupWrapperClasses: 


NOTE: This page will not render 100% correctly because it is calculated based on the whole viewport and the styleguide has it wrapped in page dynamics..
 
Weight:0
 
Styleguide Page.Pages.NoFilter
*/

/*

Search Page

The sub pages have a common layouts.
 
Markup:
<div class="BODY_TAG-stand-in grid {{> "Sub.ClassList.Body"}}">	
	<div class="page-wrapper grid {{> "Sub.ClassList.Page"}}">	
		<div class="grid:md grid-template_page flex flex_column gap_4:md gap_3">
			{{> "Navigation.MainNav" modifier_class="grid-area_menuArea z_4" }}
			{{> "Navigation.Breadcrumb"}}
			<section class="grid:md flex flex_column grid-template_filterAndContent grid-area_mainArea gap_4 p-y_3 p-y_0:md font_1:lg font_0">
				{{> "Sub.Search.FilterRail"  modifier_class="grid-area_filterArea order_last order_unset:md"}}
				<div class="grid-area_contentArea row-start_1" id="SearchBarTop"> 
					{{> "Sub.Search.Bar"  }}
					<div class="{{> 'Sub.ClassList.Vertical.padding_up-1' }}">
						{{> "Sub.Search.ResultOverview"}}
					</div>
					<div class="{{> "Sub.ClassList.Inset.level_down-1"}} {{> 'Sub.ClassList.Inset.padding' }} ">
					<nav class="bg_black-2 br_3 br_radius br_solid br_white-9 c_primary font_0 font_bold font_accent: p-x_0 p-x_4:md shadow_bevel-light" id="tabContentLight" role="tablist">
						<ul class="flex_column flex_row:md  nav">
							{{> "Structures.Tabs.Tabs.LinkActive" }}
							{{> "Structures.Tabs.Tabs.Link" }}
							</li>
						</ul>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="ActiveLink" role="tabpanel" aria-labelledby="ActiveLink">
							<ul class="ul_none flex flex_column gap_3 gap_4:lg {{> 'Sub.ClassList.Vertical.padding_up-1' }}">
								<li class="">{{> "Program.Session.Home"  modifier_class="#{ call(get-function('randomWords'), random(10)) }" }}</li>
								<li class="">{{> "Program.Session.Home"  modifier_class="#{ call(get-function('randomWords'), random(10)) }" }}</li>
								<li class="">{{> "Program.Session.Home"  modifier_class="#{ call(get-function('randomWords'), random(10)) }" }}</li>
							</ul>
							<div class=""><button class="block btn btn-outline-secondary btn-sm m-b_3 m_auto p-x_5">Load More</button></div>
							</div>
						<div class="tab-pane fade" id="BasicLink" role="tabpanel" aria-labelledby="BasicLink">
							<ul class="ul_none flex flex_column gap_3 gap_4:lg {{> 'Sub.ClassList.Vertical.padding_up-1' }}">
								<li class=""> {{> "Program.Presentation.Search"  modifier_class="#{ call(get-function('randomWords'), random(10)) }" }}</li>
								<li class=""> {{> "Program.Presentation.Search"  modifier_class="#{ call(get-function('randomWords'), random(10)) }" }}</li>
								<li class=""> {{> "Program.Presentation.Search"  modifier_class="#{ call(get-function('randomWords'), random(10)) }" }}</li>
								<li class=""> {{> "Program.Presentation.Search"  modifier_class="#{ call(get-function('randomWords'), random(10)) }" }}</li>
							</ul>
							<div class=""><button class="block btn btn-outline-secondary btn-sm m-b_3 m_auto p-x_5">Load More</button></div>
						</div>
					</div>
					</div>
				</div>
			</section>
			<footer class="flex flex_column gap_4 grid-area_footerArea grid-col_5 grid:md m-t_auto p-y_0:md p-y_3">
				{{> "Navigation.Footer.Links" modifier_class="col-start col-end_4" }}
				{{> "Navigation.Footer.Logo"  modifier_class="col-start_4 col-end" }}
			</footer>
		</div>
	</div>
</div>

MarkupWrapperClasses: 

SubComponents:
Navigation.Breadcrumb -  Breadcrumb Bar


NOTE: This page will not render 100% correctly because it is calculated based on the whole viewport and the styleguide has it wrapped in page dynamics..
 
Weight:0
 
Styleguide Page.Pages.Search
*/



/*

Session Data Page

The sub pages have a common layouts.
 
Markup:
<div class="BODY_TAG-stand-in grid:md {{> 'Sub.ClassList.Body'}}">
	<div class="page-wrapper grid:md {{> 'Sub.ClassList.Page'}}">
		<div class="grid:md grid-template_page flex flex_column gap_4:md gap_3">
			{{> 'Navigation.MainNav' modifier_class='grid-area_menuArea z_4' }}
			{{> 'Navigation.Breadcrumb'}}
			<section class="flex flex_column font_0 font_1:lg gap_4 grid-area_mainArea grid-col_6 grid-col_5:lg grid:md p-y_0:md p-y_3">
				<div class="col-start col-end_3:lg col-end_4 flex flex_column gap_4 row-start_1">
					<section class="{{>'Sub.ClassList.Inset.level_up-1'}}">
						<div class="flex flex_row font_ui justify_start relative w_100">
						<main class="flex flex_auto flex_column font_0 font_1:md font_2:lg isolation_isolate justify_between relative w_100 {{>'Sub.ClassList.Inset.padding_up-2'}}">
							<h1 class="c_primary c_primary-n3 font-size_up-2 font_display font_regular lh_1 m_0"> {{> 'Data.Session.Title'}} #{ call(get-function('randomWords'), random(10)) }</h1>
							</main>	
							<aside class="flex_none m-t_n2 m-t_n2:md m-t_n3:lg p-x_3:md">
								<ul class="flex flex_column flex_wrap gap_2 justify_start self_center ul_none uppercase p-x_3">
									<li class="flex_auto">
										{{> 'Sub.ActionButtons.Favorite' }}
									</li>
								</ul>
							</aside>
						</div>
						<nav class="{{>'Sub.ClassList.Inset.padding_up-3'}} font_2:lg font_1">
							<h3 class="c_black-8">How did you like this session?</h3>
							{{> 'Sub.ActionButtons.LikeAndAttachments' }}
						</nav>
						<section class="font_0 m_3 {{>'Sub.ClassList.Inset.level_down-1'}} {{>'Sub.ClassList.Inset.padding_up-2'}}">
							{{> 'Sub.Section.h3' modifier_class='session details'}} 
							{{> 'Sub.Player.AuxData'}}
						</section>
					</section>
				</div>
				<div class="col-end col-start_3:lg col-start_4 row-start_1">
					<section class="{{>'Sub.ClassList.Inset.level_up'}} {{>'Sub.ClassList.Inset.padding_up-2'}}">
						<div class="flex flex_row items_center">
						<span class="c_black-4 font_1 font_2:md font_3:lg font_display font_regular lh_1 m-b_3 m-b_4:lg m-t_3 p-l_3 p-r_4 self_end"><i class="fa-list-alt fas font-size_up-2"></i></span>
						{{> 'Sub.Section.h2' modifier_class='presentation playlist'}}</div>
						<div class="font_0 font_1:lg relative isolation_isolate">
							<ul class="flex flex_column justify_stretch gap_4 ul_none">
								{{> "Program.Presentation.List"}}
								{{> "Program.Presentation.List"}}
								{{> "Program.Presentation.List"}}
								{{> "Program.Presentation.List"}}
							</ul>
						</div>
					</section>
				</div>
			</section>
			<footer class="flex flex_column gap_4 grid-area_footerArea grid-col_5 grid:md m-t_auto p-y_0:md p-y_3">
				{{> "Navigation.Footer.Links" modifier_class="col-start
				col-end_4" }} {{> "Navigation.Footer.Logo"
				modifier_class="col-start_4 col-end" }}
			</footer>
		</div>
	</div>
</div>

MarkupWrapperClasses: 


NOTE: This page will not render 100% correctly because it is calculated based on the whole viewport and the styleguide has it wrapped in page dynamics..
 
Weight:0
 
Styleguide Page.Pages.Session
*/

/*

Presentation Player

The sub pages have a common layouts.
 
Markup:
<div class="BODY_TAG-stand-in grid:md {{> 'Sub.ClassList.Body'}}">
	<div class="page-wrapper grid:md {{> 'Sub.ClassList.Page'}}">
		<div class="grid:md grid-template_page flex flex_column gap_4:md gap_3">
			{{> 'Navigation.MainNav' modifier_class='grid-area_menuArea z_4' }}
			{{> 'Navigation.Breadcrumb'}}
			<section class="flex flex_column font_0 font_1:lg gap_4 grid-area_mainArea grid-col_6 grid-col_5:lg grid:md p-y_0:md p-y_3">
				<div class="col-start col-end_4:lg col-end flex flex_column gap_4 row-start_1">
					<section class="{{>'Sub.ClassList.Inset.level_up-1'}}">
						<div class="flex flex_row font_ui justify_start relative w_100">
						<main class="flex flex_auto flex_column font_0 font_1:md font_2:lg isolation_isolate justify_between relative w_100 {{>'Sub.ClassList.Inset.padding_up-2'}}">
							<h1 class="c_black-5 font-size_down-1 font_medium font_ui lh_1 m-b_2 m-t_2 m_0">{{> 'Data.Session.Title'}} #{ call(get-function('randomWords'), random(10)) }</h1>
							<h2 class="c_primary c_primary-n3 font-size_up-2 font_display font_regular lh_1 m_0"> {{> 'Data.Presentation.Title'}} #{ call(get-function('randomWords'), random(10)) } </h2>
							</main>	
							<aside class="flex_none m-t_n2 m-t_n2:md m-t_n3:lg p-x_3:md">
								<ul class="flex flex_column flex_wrap gap_2 justify_start self_center ul_none uppercase p-x_3">
									<li class="flex_auto">
										{{> 'Sub.ActionButtons.Favorite' }}
									</li>
								</ul>
							</aside>
						</div>
						<div class="player hd full flex_auto w_100 p_4:lg p_3">
							<div class="bg_acc aspect_16x9 c_white text_center  justify_center flex items_center">VIDEO EMBED</div>
						</div>
						<nav class="{{>'Sub.ClassList.Inset.padding_up-3'}} font_2:lg font_1">
							{{> 'Sub.Search.TimeMarkers'}}
							<h3 class="c_black-8">How did you like this presentation?</h3>
							{{> 'Sub.ActionButtons.LikeAndAttachments' }}
						</nav>
					</section>
				</div>
				<div class="col-end col-start_4:lg col-start flex flex_column flex_row:md flex_column:lg gap_4">
					<section class="flex_auto flex_50:md  flex_auto:lg flex_none:lg font_0 {{>'Sub.ClassList.Inset.level_up'}} {{>'Sub.ClassList.Inset.padding_up-2'}}">
						{{> 'Sub.Section.h2' modifier_class='presentation details'}}
						{{> 'Sub.Player.AuxData'}}
					</section>	
					<section class="flex_auto flex_50:md  flex_auto:lg flex_none:lg  font_0 {{>'Sub.ClassList.Inset.level_up'}} {{>'Sub.ClassList.Inset.padding_up-2'}}">
						{{> 'Sub.Section.h2' modifier_class='session details'}}
						<div class="p-y_3 br-t_1 br_black-2 br_solid font-size_down">
							{{> "Sub.FacultyList.AuxSession"  modifier_class=""}}
						</div>
						<section class="{{>'Sub.ClassList.Inset.level_down-1'}} {{>'Sub.ClassList.Inset.padding_up-2'}}">
							<div class="flex flex_row items_center">
							<span class="c_black-4 font_0 font_1:md font_2:lg font_display font_regular lh_1 m-b_3 m-b_4:lg m-t_3 p-l_3 p-r_4 self_end"><i class="fa-list-alt fas font-size_up-2"></i></span>
							{{> 'Sub.Section.h3' modifier_class='presentation playlist'}}</div>
							<div class="font_n2 font_n1:lg relative isolation_isolate">
								<ul class="flex flex_column justify_stretch gap_3 ul_none">
									{{> "Program.Presentation.Condensed" modifier_class="#{ call(get-function('randomWords'), random(10)) }"}}
									{{> "Program.Presentation.CondensedPlaying" modifier_class="#{ call(get-function('randomWords'), random(10)) }"}}
									{{> "Program.Presentation.Condensed" modifier_class="#{ call(get-function('randomWords'), random(10)) }"}}
									{{> "Program.Presentation.Condensed" modifier_class="#{ call(get-function('randomWords'), random(10)) }"}}
								</ul>
							</div>
						</section>
					</section>	
				</div>
			</section>
			<footer class="flex flex_column gap_4 grid-area_footerArea grid-col_5 grid:md m-t_auto p-y_0:md p-y_3">
				{{> "Navigation.Footer.Links" modifier_class="col-start
				col-end_4" }} {{> "Navigation.Footer.Logo"
				modifier_class="col-start_4 col-end" }}
			</footer>
		</div>
	</div>
</div>

MarkupWrapperClasses: 


NOTE: This page will not render 100% correctly because it is calculated based on the whole viewport and the styleguide has it wrapped in page dynamics..
 
Weight:0
 
Styleguide Page.Pages.Presentation
*/	

/*

Credit Page

Credits Pages
 
Markup:
<a class="link" href="https://acc-style.github.io/PrototypingACCorg/library/credits/">LINK TO PROTOTYPE FOR THIS PAGE</a>


MarkupWrapperClasses: 


NOTE: This page will not render 100% correctly because it is calculated based on the whole viewport and the styleguide has it wrapped in page dynamics..
 
Weight:1000
 
Styleguide Page.Pages.Credit
*/


/*

Legal Roadblock

A roadblock page that forces users to log in to view and agree to the legal terms of the product.
 
Markup:
<div class="BODY_TAG-stand-in bg_black-4 w_100 p_4:md p_2 grid:md min-h_100">
	<div class="bg_white-8 br_radius grid:md isolation_isolate items_center justify_center m_auto max-w_50 p_2 p_3:md page-wrapper shadow_bevel-light">
		<div class="bg_black-2 br_radius">
			<section class="reading-typography inset-level_down-1 bg_black-1 shadow_emboss-light br_solid br_1 br_black-2 br_radius p_5:lg p_4 flex flex_column gap_3">
				<div>
					<div class="relative z_0 br_radius overflow_hidden ">
						<picture class="w_100 ">
							<source class="w_100" srcset=" https://acc-style.github.io/PrototypingACCorg/assets/images/lib/J22043_600x225.jpg" media="(min-width: 400px)">
							<img src="https://acc-style.github.io/PrototypingACCorg/assets/images/lib/J22043_400x300.jpg" class="w_100" alt="">
						</picture>
					</div>
					<div class="bg_white br_1 br_black-3 br_radius br_solid inset-level_up-1 m-t_n5 m-x_5 p_4 relative shadow_bevel-light t_n5 text_center">
						<h1 class="c_primary font_regular font_display">Legal Agreements</h1>
						<p class="font-size_up font_bold"> Please agree to all the legal agreements. </p>
					</div>
				</div>
				<div class="inset-level_up-1 bg_white br_radius shadow_overlap-light relative br_solid br_1 br_black-2 p_4 relative " id="TopAgreement1">
					<div class="relative isolation_isolate">
						<div class="sticky t_0 r_0 z_1">
							<div class="absolute r_4 t_0 flex flex_row flex_nowrap gap-x_3">
								<!--  Helper Jump links -->
								<a class="c_white br-tl_square br-tr_square br_radius btn btn-accent btn-sm grid items_center justify_center m-l_auto self_center shadow_3" href="#TopAgreement1">
									<span><i class="fas fa-arrow-up p-r_2"></i>top</span>
								</a>
								<a class="c_white br-tl_square br-tr_square br_radius btn btn-accent btn-sm grid items_center justify_center m-l_auto self_center shadow_3" href="#Agreement1">
									<span><i class="fas fa-arrow-down p-r_2"></i>scroll down</span>
								</a>
								<!--  Helper Jump links -->
							</div>
						</div>
						<div class="bg_white br-b_1 br_primary br_solid m-t_n2 p-t_0 relative z_3">
							<h2>ACC Anywhere 2022 Credit Information, Terms of Service, and License Agreement </h2>
						</div>
						<main class="z_0 isolation_isolate">
							<p class="font-size_up">The Terms of Service and License Agreement set forth below constitute a legal agreement (collectively, the "Agreement") between the American College of Cardiology Foundation ("ACCF") and You and your agents ("You" or “Your”) for the use of the ACC Anywhere 2022 (the "Product”).    </p><p class="font-size_up">
								By clicking on the Agree button below, and by using the Product, You accept and agree to be bound by all of the terms and conditions set forth in this Agreement. If You do not wish to accept the terms and conditions of this Agreement, You may not proceed to use the Product. </p>
							<p class="font-size_up"><a href="" class="c_accent-n2 font_bold font_ui link" target="_blank">Click to Read Full Terms of Service.</a></p>
								<p class="">I hereby certify that I understand and agree to the terms stated in this Agreement and that this Agreement applies to my initial use of the Product and all other subsequent uses of the Product.</p>
						</main>
					</div>
					<footer id="Agreement1">
						<div class="bg_acc br_radius c_white font_2 font_bold font_medium font_ui lh_1 m-b_3 p-y_4 p_3 text_center uppercase">By Clicking The Button Below, I Hereby Affirm That I Have Read, Fully Understand, And Agree To The Above Statements. </div>
						<a href="" class="btn btn-success c_white h:undecorated float_right"><i class="fas fa-check"></i> I agree</a>
					</footer>
				</div>
				<div class="inset-level_up-1 bg_white br_radius shadow_overlap-light relative br_solid br_1 br_black-2 p_4 relative isolation_isolate" id="TopAgreement2">
					<div class="relative">
						<div class="sticky t_0 r_0 z_1">
							<div class="absolute r_4 t_0 flex flex_row flex_nowrap gap-x_3">
								<!--  Helper Jump links -->
								<a class="c_white br-tl_square br-tr_square br_radius btn btn-accent btn-sm grid items_center justify_center m-l_auto self_center shadow_3" href="#TopAgreement2">
									<span><i class="fas fa-arrow-up p-r_2"></i>top</span>
								</a>
								<a class="c_white br-tl_square br-tr_square br_radius btn btn-accent btn-sm grid items_center justify_center m-l_auto self_center shadow_3" href="#Agreement2">
									<span><i class="fas fa-arrow-down p-r_2"></i>scroll down</span>
								</a>
								<!--  Helper Jump links -->
							</div>
						</div>
						<div class="bg_white br-b_1 br_primary br_solid m-t_n2 p-t_0 relative z_3">
							<h2>GDPR, Cookies and Privacy</h2>
							<p class="font-size_up"> Iure ut ratione magnam similique delectus deserunt occaecati.</p>
						</div>
						<main class="z_0 isolation_isolate">
							<p> Alias nulla qui eos fuga eos eligendi aut tempora. Nisi dicta aut non totam illo consequuntur. Aut aut voluptas est aspernatur placeat distinctio similique dolore laboriosam. Iure velit doloremque dolorum maiores praesentium. Animi exercitationem reiciendis incidunt rerum. Quam consequatur maiores officiis sit enim quidem.Libero dolores aspernatur consequatur labore consequatur sint sint atque. Quo commodi quod repellendus laborum natus amet. Enim aliquam sunt. Nesciunt repellat provident mollitia. Quis nemo modi. Unde ut nisi. Laboriosam et natus saepe a enim aut in voluptates quia. Sed libero alias voluptatum soluta accusantium nesciunt commodi. Eaque cumque quos neque cumque maiores. </p>
						</main>
					</div>
					<footer id="Agreement2">
						<div class="bg_acc br_radius c_white font_2 font_bold font_medium font_ui lh_1 m-b_3 p-y_4 p_3 text_center uppercase">By Clicking The Button Below, I Hereby Affirm That I Have Read, Fully Understand, And Agree To The Above Statements. </div>
						<a href="" class="btn btn-secondary c_white h:undecorated float_right">I agree</a>
					</footer>
				</div>
				<div class="inset-level_up-1 bg_white br_radius relative p_4 text_center">
					<h4 class="font_bold c_primary-n2"> You can continue when all legal terms are agreed to. </h4>
					<a href="" class="btn btn-disabled disabled block">Continue</a>
				</div>
			</section>
		</div>
	</div>
</div> 
 

MarkupWrapperClasses:

Weight:-100
 
Styleguide Page.Pages.Legal
*/


/*

No Access

If a user is logged in but does not have access to the page, they will be redirected to this page.
 
Markup:
<div class="BODY_TAG-stand-in bg_black-4 w_100 p_4:md p_2 grid:md min-h_100">
	<div class="bg_white-8 br_radius grid:md isolation_isolate items_center justify_center m_auto max-w_50 p_2 p_3:md page-wrapper shadow_bevel-light">
		<div class="bg_black-2 br_radius">
			<section class="reading-typography  inset-level_down-1 bg_black-1 shadow_emboss-light br_solid br_1 br_black-2 br_radius p_4:lg p_3 flex flex_column gap_4 ">
				<div>
					<div class="relative z_0 br_radius overflow_hidden ">
						<picture class="w_100 ">
							<source class="w_100" srcset=" https://acc-style.github.io/PrototypingACCorg/assets/images/lib/J22043_600x225.jpg" media="(min-width: 400px)">
							<img src="https://acc-style.github.io/PrototypingACCorg/assets/images/lib/J22043_400x300.jpg" class="w_100" alt="">
						</picture>
					</div>
					<div class="bg_white br_1 br_black-3 br_radius br_solid inset-level_up-1 m-t_n5 m-x_5 p_4 relative shadow_bevel-light t_n5 text_center">
						<h1 class="c_primary font_regular font_display">No Access</h1>
						<p class="font-size_up font_bold"> We are sorry you don't seem to have access to this product.</p>
					</div>
				</div>
				<div class="inset-level_up-1 bg_white br_radius shadow_overlap-light relative br_solid br_1 br_black-2 p_4 relative " id="TopAgreement1">
					<div class="reading-typography">
						<h1 class="font_display font_6 c_primary m-t_4">Sorry, but it appears you have not yet purchased ACC Anywhere&trade;  </h1>
						<p>To purchase, please click the Register button below.  Once you have completed your purchase, please wait 15 minutes to allow the system to process the information. To access, visit www.ACC.org/ACCAnywhere and click the Launch button. </p>
						<p>If you believe you have received this message in error, please contact <i><a href="mailto:ACC@maritz.com" target="_blank" rel="noreferrer noopener">ACC@maritz.com</a></i></p>
						<p><strong>For additional questions, please contact ACC Member Care.&nbsp;</strong> 
						<br>Email:&nbsp;<a href="mailto:MemberCare@ACC.org"><em>MemberCare@ACC.org</em></a> 
						<br>Phone: 202-375-6000 ext. 5603 &nbsp; 
						<br>Toll-Free: 800-253-4636 ext. 5603&nbsp;</p>
						<div class="flex flex_row gap_3 justify_center">
							<a href="https://ebiz.acc.org/Meetings?ProductId=174240365" class=" btn btn-primary c_white font_bold font_ui h:c_white shadow_overlap-light uppercase">Register</a> 
							<a href=" https://www.acc.org/Education-and-Meetings/Meetings/Meeting-Items/2022/01/01/01/04/ACC-Anywhere-ACC22-On-Demand" class=" btn btn-secondary c_white font_bold font_ui h:c_white shadow_overlap-light uppercase">Learn More</a> 
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
 

MarkupWrapperClasses:

Weight:-50
 
Styleguide Page.Pages.NoAccess
*/

