/*

Main Nav

THe library because it is an app uses a different style of nav which is more align to streaming software.


Markup:
    <div class="{{> 'Sub.CSS.Page' }} relative p-t_1 p-b_1">
        <nav id="navigation_mobile" class="block display_none:md shadow_emboss-light filter_blur br_radius m_3 m-b_0 bg_black-6 p_2 sticky t_3 z_4">
            <ul class="flex flex_row ul_none justify_between">
                <li class="nav-item flex_auto br_radius c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light {% if page.homeActive %}active{% endif %}">
                    <a class="c_inherit-all flex flex_column h:undecorated p_3" href="../home"><i class="icon fas fa-fw fa-home-heart p-y_2 self_center"></i><span class="label self_center  lowercase lh_0 {% if page.homeActive %}active{% endif %} font_n2 h_1h">Home</span></a>
                </li>
                <li class="nav-item flex_auto br_radius c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light {% if page.searchActive %}active{% endif %}">
                    <a class="c_inherit-all flex flex_column h:undecorated p_3" href="../search"><i class="icon fas fa-fw fa-search p-y_2 self_center"></i><span class="label self_center  lowercase lh_0 font_n2 h_1h {% if page.searchActive %}active{% endif %}">Search</span></a>
                </li>
                <li class="nav-item flex_auto br_radius c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light {% if page.saveActive %}active{% endif %}">
                    <a class="c_inherit-all flex flex_column h:undecorated p_3" href="../saved"><i class="icon fas fa-fw fa-heart p-y_2 self_center"></i><span class="label self_center  lowercase lh_0 font_n2 h_1h nowrap {% if page.saveActive %}active{% endif %}">Saved</span></a>
                </li>
                <li class="nav-item flex_auto br_radius c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light {% if page.creditsActive %}active{% endif %}">
                    <a class="c_inherit-all flex flex_column h:undecorated p_3" href="../saved"><i class="icon fas fa-fw fa-award p-y_2 self_center"></i><span class="label self_center  lowercase lh_0 font_n2 h_1h {% if page.creditsActive %}active{% endif %}">Credits</span></a>
                </li>
                <li class="nav-item flex_auto br_radius c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light disabled opacity_3 cursor_not-allowed {% if page.watchingActive %}active{% endif %}">
                    <a class="c_inherit-all flex flex_column h:undecorated p_3"  href="../watching"><i class="icon fas fa-fw fa-play p-y_2 self_center"></i><span class="label self_center lowercase lh_0 font_n2 h_1h {% if page.watchingActive %}active{% endif %}">Watching</span></a>
                </li>
                <li class="nav-item flex_auto br_radius c_white-8 bg_acc-n1 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light">
                    <a class="c_inherit-all flex flex_column h:undecorated p_3"><i class="icon fas fa-fw fa-sign-out-alt p-y_2 self_center"></i><span class="label self_center lowercase lh_0 font_n2 nowrap h_1h">Log Out</span></a>
                </li>
            </ul>
        </nav>
        <nav id="navigation" class=" display_none fixed shadow_emboss-light filter_blur overflow_hidden br_radius r_3 r_0:md r_auto:md l_4 b_4 t_auto t_4:md bg_black-7 flex:md flex_column:md justify_between p-t_0 p-b_3 p-l_3 p-r_3 p-b_4:md p-t_4:md p-r_0:md font_4:lg font_3:md font_2 transition_3 font_display nav-mined">
            <ul class="flex flex_column:md flex_row ul_none justify_around justify_start:md gap_3 w_100 w_auto:md">
                <li class="nav-item flex_none br_radius p-t_3 m-t_n3 m-t_0:md p-t_0:md p-r_4:md m-r_n4:md c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light {% if page.homeActive %}active{% endif %}">
                    <a class="p_3 c_inherit-all h:undecorated flex flex_column flex_row:md"  href="../home"><i class="icon fas fa-fw fa-home-heart p-x_2:md p-y_3 p-y_0:md self_center"></i><span class="label self_center display_none:md p-l_3:md p-l_4:lg lowercase lh_0 {% if page.homeActive %}active{% endif %} font_n2 font_3:md font_4:lg">Home</span></a>
                </li>
                <li class="nav-item flex_none br_radius p-t_3 m-t_n3 m-t_0:md p-t_0:md p-r_4:md m-r_n4:md c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light {% if page.searchActive == true %} active {% endif %}">
                    <a class="p_3 c_inherit-all h:undecorated flex flex_column flex_row:md " href="../search"><i class="icon fas fa-fw fa-search p-x_2:md p-y_3 p-y_0:md self_center"></i><span class="label self_center display_none:md p-l_3:md p-l_4:lg lowercase lh_0 font_n2 font_3:md font_4:lg {% if page.SearchActive %}active{% endif %}">Search</span></a>
                </li>
                <li class="nav-item flex_none br_radius p-t_3 m-t_n3 m-t_0:md p-t_0:md p-r_4:md m-r_n4:md c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light {% if page.savedActive == true %} active {% endif %}">
                    <a class="p_3 c_inherit-all h:undecorated flex flex_column flex_row:md" href="../saved"><i class="icon fas fa-fw fa-heart p-x_2:md p-y_3 p-y_0:md self_center"></i><span class="label self_center display_none:md p-l_3:md p-l_4:lg lowercase lh_0 font_n2 font_3:md font_4:lg {% if page.savedActive == true %} active {% endif %}">Saved</span></a>
                </li>
                <li class="nav-item flex_none br_radius p-t_3 m-t_n3 m-t_0:md p-t_0:md p-r_4:md m-r_n4:md c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light {% if page.creditsActive == true %} active {% endif %}">
                    <a class="p_3 c_inherit-all h:undecorated flex flex_column flex_row:md" href="../credits"><i class="icon fas fa-fw fa-award p-x_2:md p-y_3 p-y_0:md self_center"></i><span class="label self_center display_none:md p-l_3:md p-l_4:lg lowercase lh_0 font_n2 font_3:md font_4:lg {% if page.creditsActive == true %} active {% endif %}">Credits</span></a>
                </li>
                <li class="nav-item flex_none br_radius p-t_3 m-t_n3 m-t_0:md p-t_0:md p-r_4:md m-r_n4:md c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light disabled cursor_not-allowed opacity_3 {% if page.watchingActive == true %} active {% endif %}">
                    <a class="p_3 c_inherit-all h:undecorated flex flex_column flex_row:md"  href="../watching"><i class="icon fas fa-fw fa-play p-x_2:md p-y_3 p-y_0:md self_center"></i><span class="label self_center display_none:md p-l_3:md p-l_4:lg lowercase lh_0 font_n2 font_3:md font_4:lg {% if page.watchingActive == true %} active {% endif %}">Watching</span></a>
                </li>
            </ul>
            <ul class="flex_column:md flex_row ul_none justify_center gap_3 flex">
                <li class="nav-item flex_auto br_radius p-t_3 m-t_n3 m-t_0:md p-t_0:md p-r_4:md m-r_n4:md c_white-8 bg_acc-n1 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light">
                    <a class="p_3 c_inherit-all h:undecorated flex flex_column flex_row:md"><i class="icon fas fa-fw fa-sign-out-alt p-x_2 p-y_3 p-y_0:md self_center"></i><span class="label self_center display_none:md p-l_3:md p-l_4:lg lowercase lh_0 font_n2 font_3:md font_4:lg">Log Out</span></a>
                </li>
            </ul>
        </nav>
    </div> 
    <script></script>

MarkupWrapperClasses: 

Weight: 0

NOTE: This design highly depends on Javascript.

Styleguide Navigation.MainNav
*/

.filter_blur {
    backdrop-filter: blur(5px);
}

.h\:shadow_overlap-light:hover {
    box-shadow: 0 1px 10px rgb(0 0 0 / 5%), 0 2px 4px rgb(0 0 0 / 30%), 1px 5px 5px rgb(0 0 0 / 1%);
}

.a\:shadow_overlap-light.active {
    box-shadow: 0 1px 10px rgb(0 0 0 / 5%), 0 2px 4px rgb(0 0 0 / 30%), 1px 5px 5px rgb(0 0 0 / 1%);
}
:root {
accent-color: #149378;
}
@media only screen and (min-width: 768px) {
    .main-area-offset {
        margin-left: 4rem;
    }

    .nav-maxed {
        max-width: clamp(10vw, 25rem, 100%);
    }

    .nav-mined {
        max-width: 4rem;
    }
}

.bookmark-clipping-path {
    clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0% 100%, 0 48%, 0% 0%);
}

.bookmark-shadow {
    filter: drop-shadow(2px 2px 3px rgb(50 50 0 / 25%));
    ;
}

/* nav */
.tns-nav {
    text-align: center;
    margin: .5rem 0;
}

.tns-nav>[aria-controls] {
    width: .5rem;
    height: .5rem;
    padding: 0;
    margin: 0 .25rem;
    border-radius: 50%;
    background: #ddd;
    border: 0;
    min-height: 0;
    line-height: 1;
}

.tns-nav>.tns-nav-active {
    background: #999;
}

.tns-item {
    display: flex !important;
}

.tns-visually-hidden {
    display: none;
}
html:not([data-scroll='0']) #navigation_mobile .label {
    opacity:0 !important;
    height:0;
}