@import  "../virtual/data/virtual.helper.randomWords";


/*

Sessions - Homepage

Session Designs on the home page.


Markup:
<div>
<article class="flex flex_grow w_100 {{> 'Sub.ClassList.Inset.up-1'}}">
    <div class="flex flex_row font_ui justify_start relative w_100">
        <main
            class="flex flex_column flex_auto justify_between flex_auto relative w_100 isolation_isolate {{> 'Sub.ClassList.Inset.padding.up-3'}}">
            <h2 class="font-size_up font_display font_regular lh_2 h:underline c_primary-n3 m-t_2">
                <a class="c_inherit-all expanded-click-area z_1">
                    Clinical Update for the #{ call(get-function('randomWords'), random(10)) } {{ modifier_class}} 
                </a>
            </h2>
            <ul
                class="ul_none flex flex_row flex_wrap justify_start font-size_down-1 c_black-7 m-t_auto lh_0 items_end gap_2">
                {{> 'Sub.Data.Duration'}}
                {{> 'Sub.Data.PresentationCount'}}
                {{> 'Sub.Data.AttachmentLink.ZIP'}}
            </ul>
            <ul class="flex flex_row font_n3 gap_2 justify_start flex_wrap  self_start ul_none uppercase">
                <li class="lh_0 flex_none">
                    {{> 'Sub.Credit' modifier_class='CME' }}
                </li>
                <li class="lh_0 flex_none">
                    {{> 'Sub.Credit' modifier_class='CNE' }}
                </li>
                <li class="lh_0 flex_none">
                    {{> 'Sub.Credit' modifier_class='AAPA' }}
                </li>
            </ul>
        </main>
        <aside class="flex_none p-x_3:md p-b_3 absolute flex_none p-b_3 p-r_2 r_0 t_n1">
            <ul
                class="b_3 flex flex_column flex_wrap font_n4 gap_2 justify_end:md justify_start r_4 self_center ul_none uppercase p-x_3 m-t_n2 items_center">
                <li class="flex_auto p-b_3 m-b_auto">
                    {{> 'Sub.ActionButtons.Favorite' }}
                </li>
            </ul>
        </aside>
    </div>
</article>
</div>




MarkupWrapperClasses: 

Data:
Data.Session.Title - Title

SubComponents: 
Sub.Credits - Credits



Weight: 0

Styleguide Program.Session.Home
*/

/*

Sessions - Homepage Version 2

Session Designs on the home page.


Markup:
<div>
<article class="flex flex_grow w_100 {{> 'Sub.ClassList.Inset.up-1'}}">
    <div class="flex flex_row font_ui justify_start relative w_100">
        <main
            class="flex flex_column flex_auto justify_between flex_auto relative w_100 isolation_isolate gap_3 {{> 'Sub.ClassList.Inset.padding.up-3'}}">
            <h2 class="font-size_up font_display font_regular lh_2 h:underline c_primary-n3 m-t_2">
                <span class="aspect_1x1 float_right font_n3 m-r_n3 m-t_n4 p-x_3" style="width:3.5em">
                    <span class="absolute t_n2 z_3 p-x_3 r_0">
                    {{> 'Sub.ActionButtons.Favorite' }}
                    </span>
                </span>
                <a class="c_inherit-all expanded-click-area z_1 inline">
                    Clinical Update for the  #{ call(get-function('randomWords'), 15) } {{ modifier_class }} 
                </a>
            </h2>
            <ul
                class="ul_none flex flex_row flex_wrap justify_start font-size_down-1 c_black-7 m-t_auto lh_0 items_end gap_2 clear_both">
                {{> 'Sub.Data.Duration'}}
                {{> 'Sub.Data.PresentationCount'}}
                {{> 'Sub.Data.AttachmentLink.ZIP'}}
            </ul>
            <ul class="flex flex_row font_n3 gap_2 justify_start flex_wrap  self_start ul_none uppercase">
                <li class="lh_0 flex_none">
                    {{> 'Sub.Credit' modifier_class='CME' }}
                </li>
                <li class="lh_0 flex_none">
                    {{> 'Sub.Credit' modifier_class='CNE' }}
                </li>
                <li class="lh_0 flex_none">
                    {{> 'Sub.Credit' modifier_class='AAPA' }}
                </li>
            </ul>
        </main>
    </div>
</article>
</div>

EXPERIMENTAL: Testing a new design to wrap the headline around the favorite button.


MarkupWrapperClasses: 

Data:
Data.Session.Title - Title

SubComponents: 
Sub.Credits - Credits



Weight: 0

Styleguide Program.Session.Home_v2
*/


/*

Sessions - Search

Session Designs on the home page.


Markup:
<div>
<article class="flex flex_grow w_100 {{> 'Sub.ClassList.Inset.up-1'}}">
    <div class="flex flex_row font_ui justify_start relative w_100">
        <main
            class="flex flex_column gap_3 flex_auto justify_between flex_auto relative w_100 isolation_isolate {{> 'Sub.ClassList.Inset.padding.up-3'}}">
            <h2 class="font-size_up-1 font_display font_regular lh_1 h:underline c_primary-n3 m-t_2">
                <a class="c_inherit-all expanded-click-area z_1">
                    Clinical Update for the {{ modifier_class }} 
                </a>
            </h2>
            <ul
                class="ul_none flex flex_row flex_wrap justify_start font-size_down-1 c_black-7 m-t_auto lh_0 items_end gap_2">
                {{> 'Sub.Data.Duration'}}
                {{> 'Sub.Data.PresentationCount'}}
                 {{> 'Sub.Data.AttachmentLink.ZIP'}}
            </ul>
        </main>
        <aside class="flex_none p-x_3:md p-b_3">
            <ul
                class="b_3 flex flex_column flex_wrap font_n3 gap_2 justify_end:md justify_start r_4 self_center ul_none uppercase p-x_3 m-t_n2 items_center">
                <li class="flex_auto p-b_3 m-b_auto">
                   {{> 'Sub.ActionButtons.Favorite' }}
                </li>
                <li class="lh_0 w_100">
                    {{> 'Sub.Credit' modifier_class='CME' }}
                </li>
                <li class="lh_0 w_100">
                    {{> 'Sub.Credit' modifier_class='CNE' }}
                </li>
                <li class="lh_0 w_100">
                    {{> 'Sub.Credit' modifier_class='AAPA' }}
                </li>
            </ul>
        </aside>
    </div>
</article>
</div>


MarkupWrapperClasses: 

Data:
Data.Session.Title - Title

SubComponents: 
Sub.Credits - Credits



Weight: 0

Styleguide Program.Session.Search
*/

/*

Presentation - Home

Presentation designs on the home page.

Markup:
<div>
    <article class="flex flex_grow flex_column w_100  {{> 'Sub.ClassList.Inset.up-1'}}">
        <div class="flex flex_row font_ui justify_start relative w_100 gap_3">
            <main
                class="flex flex_column flex_auto justify_between flex_auto relative w_100 isolation_isolate {{> 'Sub.ClassList.Inset.padding.up-3'}} ">
                <div class="font_display m-b_3 lh_2 ">
                    <h1 class="block c_black-6 uppercase font_bold font-size_down lh_1 m_0 m-t_"> {{> 'Data.Session.Title'}}</h1>
                    <h2 class="font-size_up-1 font_display font_regular lh_2 h:underline c_primary-n3">
                    <a class="c_inherit-all expanded-click-area z_1">
                        Presentation of the findings {{ modifier_class}} 
                    </a>
                    </h2>
                </div>
                <div class="c_black-8 font_copy font-size_down-1">
                    {{> 'Sub.FacultyList' }}
                </div>
                <ul class="ul_none flex flex_row flex_wrap justify_start font-size_down-1 c_black-7 m-t_auto lh_0 items_end gap_2">
                {{> 'Sub.Data.Duration'}}
                {{> 'Sub.Data.AttachmentLink'}}
                </ul>
            </main>
            <aside class="flex_none p-x_3:md p-b_3">
                <ul
                    class="b_3 flex flex_column flex_wrap font_n3 gap_2 justify_end:md justify_start r_4 self_center ul_none uppercase p-x_3 m-t_n2 items_center">
                    <li class="flex_auto p-b_3 m-b_auto">
                        {{> 'Sub.ActionButtons.Favorite' }}
                    </li>
                    <li class="lh_0 w_100">
                        {{> 'Sub.Credit' modifier_class="CME"}}
                    </li>
                    <li class="lh_0 w_100">
                        {{> 'Sub.Credit' modifier_class="CNE"}}
                    </li>
                </ul>
            </aside>
        </div>
        <div class="{{> 'Sub.ClassList.Inset.padding'}}">
            {{> 'Sub.ProgressBar' modifier_class="" }}
        </div>
    </article>
</div>


MarkupWrapperClasses: ul_none

Weight: 0

Data:
Data.Session.Title - Session Title
Data.Presentation.Title - Presentation Title

SubComponents: 
Sub.FacultyList - Faculty List
Sub.ProgressBar - Progress
Sub.Credits - Credits

Styleguide Program.Presentation.Home
*/


/*

Presentation - Search

Presentation designs on the Search page.

Markup:
<div>
    <article class="flex flex_grow flex_column w_100  {{> 'Sub.ClassList.Inset.up-1'}}">
        <div class="flex flex_row font_ui justify_start relative w_100 gap_3" >
            <main
                class="flex flex_column flex_auto gap_3 justify_between flex_auto relative w_100 isolation_isolate {{> 'Sub.ClassList.Inset.padding.up-3'}} ">
                <div class="font_display m-b_3 lh_2 ">
                    <h1 class="block c_black-6 uppercase font_bold font-size_down lh_2 m-y_2"> {{> 'Data.Session.Title'}}</h1>
                    <h2 class="font-size_up-1 font_display font_regular lh_1 h:underline c_primary-n3 m_0">
                    <a class="c_inherit-all expanded-click-area z_1">
                        Presentation of the findings {{ modifier_class}} 
                    </a>
                    </h2>
                </div>
                <div class="c_black-8 font_copy font-size_down-1">
                    {{> 'Sub.FacultyList' }}
                </div>
                <ul class="ul_none flex flex_row flex_wrap justify_start font-size_down-1 c_black-7 m-t_auto lh_0 items_end gap_2">
                {{> 'Sub.Data.Duration'}}
                {{> 'Sub.Data.AttachmentLink'}}
                </ul>
            </main>
            <aside class="flex_none p-x_3:md p-b_3">
                <ul
                    class="b_3 flex flex_column flex_wrap font_n3 gap_2 justify_end:md justify_start r_4 self_center ul_none uppercase p-x_3 m-t_n2 items_center">
                    <li class="flex_auto p-b_3 m-b_auto">
                        {{> 'Sub.ActionButtons.Favorite' }}
                    </li>
                    <li class="lh_0 w_100">
                        {{> 'Sub.Credit' modifier_class="CME"}}
                    </li>
                    <li class="lh_0 w_100">
                        {{> 'Sub.Credit' modifier_class="CNE"}}
                    </li>
                </ul>
            </aside>
        </div>
        <div class="{{> 'Sub.ClassList.Inset.padding'}}">
            {{> 'Sub.Search.TimeMarkers' modifier_class="" }}
        </div>
    </article>
</div>


MarkupWrapperClasses: ul_none

Weight: 0

Data:
Data.Session.Title - Session Title
Data.Presentation.Title - Presentation Title

SubComponents: 
Sub.FacultyList - Faculty List
Sub.Credits - Credits
Sub.Search.TimeMarkers - Time Markers

Styleguide Program.Presentation.Search
*/


/*

Presentation - List

Presentation designs on the Search page.

Markup:
<div>
    <article class="flex flex_grow flex_column w_100  p-x_3:lg br-t_1 br_solid br_black-3">
        <div class="flex flex_row font_ui justify_start relative w_100 gap_3" >
            <main
                class="flex flex_column flex_auto gap_3 justify_between flex_auto relative w_100 isolation_isolate {{> 'Sub.ClassList.Inset.padding.up-3'}} ">
                <div class="font_display m-b_3 lh_2 ">
                    <h2 class="font-size_up-1 font_display font_regular lh_1 h:underline c_primary-n3 m_0">
                    <a class="c_inherit-all expanded-click-area z_1">
                        Presentation of the findings {{ modifier_class}} 
                    </a>
                    </h2>
                </div>
                <div class="c_black-8 font_copy font-size_down-1">
                    {{> 'Sub.FacultyList' }}
                </div>
                <ul class="ul_none flex flex_row flex_wrap justify_start font-size_down-1 c_black-7 m-t_auto lh_0 items_end gap_2">
                {{> 'Sub.Data.Duration'}}
                {{> 'Sub.Data.AttachmentLink'}}
                </ul>
            </main>
            <aside class="flex_none p-x_3:md p-b_3">
                <ul
                    class="b_3 flex flex_column flex_wrap font_n3 gap_2 justify_end:md justify_start r_4 self_center ul_none uppercase p-x_3 m-t_n2 items_center">
                    <li class="flex_auto p-b_3 m-b_auto">
                        {{> 'Sub.ActionButtons.Favorite' }}
                    </li>
                    <li class="lh_0 w_100">
                        {{> 'Sub.Credit' modifier_class="CME"}}
                    </li>
                    <li class="lh_0 w_100">
                        {{> 'Sub.Credit' modifier_class="CNE"}}
                    </li>
                </ul>
            </aside>
        </div>
        <div class="{{> 'Sub.ClassList.Inset.padding'}}">
            {{> 'Sub.Search.TimeMarkers' modifier_class="" }}
        </div>
    </article>
</div>


MarkupWrapperClasses: ul_none

Weight: 0

Data:
Data.Session.Title - Session Title
Data.Presentation.Title - Presentation Title

SubComponents: 
Sub.FacultyList - Faculty List
Sub.Credits - Credits
Sub.Search.TimeMarkers - Time Markers

Styleguide Program.Presentation.List
*/

/*

Presentation - Condensed

Presentation designs on the Search page.

Markup:
<article class="br-t_1 br_black-3 br_solid flex flex_column flex_grow w_100 p-t_3">
    <div class="flex flex_row font_ui justify_start relative w_100 gap_3 {{> 'Sub.ClassList.Inset.padding'}} h:bg_white-8 br_radius">
        <main class="flex flex_column flex_auto gap_4 justify_between flex_auto relative w_100 isolation_isolate">
            <h2 class="font-size_up-1 lh_2 font_display font_regular lh_1 c_primary-n3 m_0">
                <a class="c_inherit-all expanded-click-area z_1 h:undecorated undecorated">
                    Presentation of the findings {{ modifier_class }} 
                </a>
            </h2>
        </main>
        <aside class="flex_auto flex flex_column items_center justify_center">
            <span class="font-size_down inline-block lh_0  c_black-8 text_center nowrap">
                <span class="font-size_up c_accent-n2 block ">
                <i class="fal fa-clock"></i>
                15
                </span>
                minutes
            </span>
        </aside>
    </div>
</article>


MarkupWrapperClasses: ul_none

Weight: 0

Data:
Data.Session.Title - Session Title
Data.Presentation.Title - Presentation Title

SubComponents: 
Sub.FacultyList - Faculty List
Sub.Credits - Credits
Sub.Search.TimeMarkers - Time Markers

Styleguide Program.Presentation.Condensed
*/

/*

Presentation - Condensed Playing

Presentation designs on the Search page.

Markup:
<article class="br-t_1 br_black-3 br_solid flex flex_column flex_grow w_100 p-t_3">
    <div class="flex flex_row font_ui justify_start relative w_100 gap_4 {{> 'Sub.ClassList.Inset.padding.up-3'}} {{> 'Sub.ClassList.Inset.up-1'}}">
        <main class="flex_auto">
            <h2 class="font-size_up-1 lh_2 font_display font_regular lh_1 c_primary-n3 m_0">
                <a class="c_inherit-all expanded-click-area z_1 h:undecorated undecorated">
                    Presentation of the findings {{ modifier_class }} 
                </a>
            </h2>
        </main>
        <aside class="flex_none flex flex_column items_center justify_center">
            <span class="font-size_up-2 inline-block lh_0  c_accent text_center nowrap">
                <i class="fas fa-play"></i>
            </span>
        </aside>
    </div>
</article>


MarkupWrapperClasses: ul_none

Weight: 0

Data:
Data.Session.Title - Session Title
Data.Presentation.Title - Presentation Title

SubComponents: 
Sub.FacultyList - Faculty List
Sub.Credits - Credits
Sub.Search.TimeMarkers - Time Markers

Styleguide Program.Presentation.CondensedPlaying
*/

/*

Presentation - Condensed Playable

Presentation designs on the Search page.

Markup:
<li class="flex flex_row font_ui justify_between br-t_1 br-b_1  br_solid br_black-1 m-b_n1 items_center relative w_100 gap_3 {{> 'Sub.ClassList.Inset.padding'}} h:bg_white-8 br_radius relative">
    <h3 class="font-size_up-1 lh_2 font_display font_regular lh_1 c_primary-n3 m_0 flex_auto">
        Presentation of the findings {{ modifier_class }} 
    </h3>
    <span class="flex_none flex flex_column items_center justify_center ">
        <a class="font-size_up-2 self_center block lh_0 c_primary br_radius aspect_1x1 text_center expanded-click-area nowrap p_4 h:bg_primary-n2 h:c_white bg_white-5 shadow_bevel-light">
            <i class="fas fa-play"></i>
        </a>
    </span>
</li>


MarkupWrapperClasses: ul_none

Weight: 0

Data:
Data.Session.Title - Session Title
Data.Presentation.Title - Presentation Title

SubComponents: 
Sub.FacultyList - Faculty List
Sub.Credits - Credits
Sub.Search.TimeMarkers - Time Markers

Styleguide Program.Presentation.Condensed.Playable
*/
