/*

Body Classes

The list of classes used on the body tag

Markup:
bg_black-4 w_100 p_3:md p_2

MarkupWrapperClasses: 

Weight: 0

NOTE: Combination of classes used as a common decorators.

Styleguide Sub.CSS.Body
*/

/*

Page Area

The list of classes used on the body tag

Markup:
p_2 p_3:md isolation_isolate br_radius bg_white-7

MarkupWrapperClasses: 

Weight: 0

NOTE: Combination of classes used as a common decorators.

Styleguide Sub.CSS.Page
*/

/*

Inset Level_up

The list of classes used on the body tag

Markup:
inset-level_up flex_auto bg_white-7 br_radius br_solid br_1 br_black-2

MarkupWrapperClasses: 

Weight: 0

NOTE: Combination of classes used as a common decorators.

Styleguide Sub.CSS.Inset.level_up
*/
/*

Inset Level_up-1

The list of classes used on the body tag

Markup:
inset-level_up-1 bg_white br_radius shadow_overlap-light relative br_solid br_1 br_black-2

MarkupWrapperClasses: 

Weight: 0

NOTE: Combination of classes used as a common decorators.

Styleguide Sub.CSS.Inset.level_up-1
*/

/*

Inset level_down

The list of classes used on the body tag

Markup:
inset-level_down bg_black-_05 shadow_emboss-light br_radius br_solid br_1 br_black-1

MarkupWrapperClasses: 

Weight: 0

NOTE: Combination of classes used as a common decorators.

Styleguide Sub.CSS.Inset.level_down
*/

/*

Inset level_down-1

The list of classes used on the body tag

Markup:
inset-level_down-1 bg_black-1 shadow_emboss-light br_solid br_1 br_black-2 br_radius

MarkupWrapperClasses: 

Weight: 0

NOTE: Combination of classes used as a common decorators.

Styleguide Sub.CSS.Inset.level_down-1
*/

/*

Inset level_down-2

The list of classes used on the body tag

Markup:
inset-level_down-2 bg_black-2 shadow_emboss-light br_solid br_1 br_black-3 br_radius 

MarkupWrapperClasses: 

Weight: 0

NOTE: Combination of classes used as a common decorators.

Styleguide Sub.CSS.Inset.level_down-2
*/

/*

Inset padding

The list of classes used on the body tag

Markup:
p_2 p_3:md p_4:lg

MarkupWrapperClasses: 

Weight: 0

NOTE: Combination of classes used as a common decorators.

Styleguide Sub.CSS.Inset.padding

*/

/*

Reading padding

The list of classes used on the body tag

Markup:
p_3 p_4:lg

MarkupWrapperClasses: 

Weight: 0

NOTE: Combination of classes used as a common decorators.

Styleguide Sub.CSS.Inset.padding-reading

*/
