/*

Body Classes

The list of classes used on the body tag

Markup:
bg_black-4 w_100 min-h_100 p_3:md p_2 overflow_scroll

MarkupWrapperClasses: 

Weight: 0

NOTE: Combination of classes used as a common decorators.

Styleguide Sub.CSS.Body
*/

/*

Page Area

The list of classes used on the body tag

Markup:
main-area-offset p_2 p-x_5:md p-y_4:md isolation_isolate

MarkupWrapperClasses: 

Weight: 0

NOTE: Combination of classes used as a common decorators.

Styleguide Sub.CSS.Page
*/

/*

Inset Level_up

The list of classes used on the body tag

Markup:
inset-level_up flex_auto w_70:lg bg_white-7 br_radius br_solid br_1 br_black-2

MarkupWrapperClasses: 

Weight: 0

NOTE: Combination of classes used as a common decorators.

Styleguide Sub.CSS.Level_up
*/
/*

Inset Level_up-1

The list of classes used on the body tag

Markup:
inset-level_up-1 bg_white br_radius p_4:lg p_3 shadow_overlap-light z_2 relative br_solid br_1 br_black-2

MarkupWrapperClasses: 

Weight: 0

NOTE: Combination of classes used as a common decorators.

Styleguide Sub.CSS.Level_up-1
*/

/*

Inset level_down

The list of classes used on the body tag

Markup:
inset-level_down bg_black-1 shadow_emboss-light br_radius br_solid br_1 br_black-2

MarkupWrapperClasses: 

Weight: 0

NOTE: Combination of classes used as a common decorators.

Styleguide Sub.CSS.Inset.level_down
*/

/*

Inset level_down-1

The list of classes used on the body tag

Markup:
inset-level_down-1 bg_black-1 shadow_emboss-light bg_black-3 br_1 br_black-3 p_2 p_3:md 

MarkupWrapperClasses: 

Weight: 0

NOTE: Combination of classes used as a common decorators.

Styleguide Sub.CSS.Inset.level_down-1
*/

/*

Inset level_down-2

The list of classes used on the body tag

Markup:
inset-level_down-2 bg_black-1 shadow_emboss-light bg_black-3 br_1 br_black-3 p_2 p_3:md 

MarkupWrapperClasses: 

Weight: 0

NOTE: Combination of classes used as a common decorators.

Styleguide Sub.CSS.Inset.level_down-2
*/
