
/*

Layouts

This app design is based on levels of inset and overlaps in grid areas.
 
MarkupWrapperClasses: 
 
Weight: 100
 
Styleguide Page.Layouts
*/



/*

Base Grid Areas

The library base is a grid system that is used for the library page.
 
Markup:
<div class="BODY_TAG-stand-in grid:md flex flex_column {{> "Sub.ClassList.Body"}}">	
	<div class="page-wrapper grid {{> "Sub.ClassList.Page"}}">	
		<div class="grid:md grid-template_page flex flex_column gap_4:md gap_3">
			<div class="grid-area_menuArea">{{> "Page.Layouts.GridFiller"  modifier_class="M"}}</div>
			<header class="grid-area_headerArea">{{> "Page.Layouts.GridFiller"  modifier_class="BreadCrumb"}}</header>
			<section class="grid:md flex flex_column grid-template_filterAndContent grid-area_mainArea gap_4 p-y_3 p-y_0:md">
				<aside class="grid-area_filterArea col-end_filterArea order_last order_unset:md">
				{{> "Page.Layouts.SubGridFiller"  modifier_class="Filter"}}
				</aside>
				<div class="grid-area_contentArea grid:md flex flex_column grid-col_5 gap_4">
					<div class="col-start_1 col-end_1">
						{{> "Page.Layouts.SubGridFiller"  modifier_class="Grid Area 1"}}
					</div>
					<div class="col-start_2 col-end_2 ">
						{{> "Page.Layouts.SubGridFiller"  modifier_class="Grid Area 2"}}
					</div>
					<div class="col-start_3 col-end_3">
						{{> "Page.Layouts.SubGridFiller"  modifier_class="Grid Area 3"}}
					</div>
					<div class="col-start_4 col-end_4">
						{{> "Page.Layouts.SubGridFiller"  modifier_class="Grid Area 4"}}
						</div>
					<div class="col-start_5 col-end_5">
						{{> "Page.Layouts.SubGridFiller"  modifier_class="Grid Area 5"}}
					</div>
				</div>
			</section>
			<footer class="flex flex_column gap_4 grid-area_footerArea grid-col_5 grid:md m-t_auto p-y_0:md p-y_3">
				<div class="col-start col-end">{{> "Page.Layouts.SubGridFiller"  modifier_class="Footer"}}</div>
			</footer>
		</div>
	</div>
</div>

MarkupWrapperClasses: 
 
Weight:0
 
Styleguide Page.Layouts.PageGrid
*/



.grid-template_page {
	grid-template-columns: 4rem 1fr;
	grid-template-rows:  auto 1fr  auto;
	grid-template-areas: 'menuArea headerArea' 'menuArea mainArea' 'menuArea footerArea';
}
.grid-template_filterAndContent {
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'filterArea contentArea';
}



.grid-area_headerArea{
	grid-area: headerArea;
}
.grid-area_menuArea{
	grid-area: menuArea;
}
.grid-area_mainArea{
	grid-area: mainArea;
}
.grid-area_footerArea{
	grid-area: footerArea;
}
.grid-area_filterArea{
	grid-area: filterArea;
}
.grid-area_contentArea{
	grid-area: contentArea;
}

.col-start{
	grid-column-start: 1
}
.col-end{
	grid-column-end: -1
}
.row-start{
	grid-row-start: 1
}
.row-end{
	grid-row-end: -1
}

