/*

Main Nav

THe library because it is an app uses a different style of nav which is more align to streaming software.


Markup:
<div style="height: calc(100vh - 1.5rem);" class="display_none flex:md sticky t_3  {{modifier_class}}">
        <nav style="height: calc(100vh - 1.5rem); width: 35rem;" id="navigation" class="absolute h_100vh shadow_emboss-light filter_blur overflow_hidden br_radius bg_black-7 flex:md flex_column:md justify_between p-t_0 p-b_3 p-l_3 p-r_3 p-b_4:md p-t_4:md p-r_0:md font_4:lg font_3:md font_2 transition_3 font_display nav-mined">
            <ul class="flex flex_column:md flex_row ul_none justify_around justify_start:md gap_3 w_100 w_auto:md">
                <li class="nav-item flex_none br_radius p-t_3 m-t_n3 m-t_0:md p-t_0:md p-r_4:md m-r_n4:md c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light active">
                    <a class="p_3 c_inherit-all h:undecorated flex flex_column flex_row:md" href="../home"><i class="icon fas fa-fw fa-home-heart p-x_2:md p-y_3 p-y_0:md self_center"></i><span class="label self_center p-l_3:md p-l_4:lg lowercase lh_0 active font_n2 font_3:md font_4:lg display_none:md opacity_0">Home</span></a>
                </li>
                <li class="nav-item flex_none br_radius p-t_3 m-t_n3 m-t_0:md p-t_0:md p-r_4:md m-r_n4:md c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light ">
                    <a class="p_3 c_inherit-all h:undecorated flex flex_column flex_row:md " href="../search"><i class="icon fas fa-fw fa-search p-x_2:md p-y_3 p-y_0:md self_center"></i><span class="label self_center p-l_3:md p-l_4:lg lowercase lh_0 font_n2 font_3:md font_4:lg display_none:md opacity_0">Search</span></a>
                </li>
                <li class="nav-item flex_none br_radius p-t_3 m-t_n3 m-t_0:md p-t_0:md p-r_4:md m-r_n4:md c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light ">
                    <a class="p_3 c_inherit-all h:undecorated flex flex_column flex_row:md" href="../saved"><i class="icon fas fa-fw fa-heart p-x_2:md p-y_3 p-y_0:md self_center"></i><span class="label self_center p-l_3:md p-l_4:lg lowercase lh_0 font_n2 font_3:md font_4:lg display_none:md opacity_0">Saved</span></a>
                </li>
                <li class="nav-item flex_none br_radius p-t_3 m-t_n3 m-t_0:md p-t_0:md p-r_4:md m-r_n4:md c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light ">
                    <a class="p_3 c_inherit-all h:undecorated flex flex_column flex_row:md" href="../credits"><i class="icon fas fa-fw fa-award p-x_2:md p-y_3 p-y_0:md self_center"></i><span class="label self_center p-l_3:md p-l_4:lg lowercase lh_0 font_n2 font_3:md font_4:lg display_none:md opacity_0">Credits</span></a>
                </li>
                <li class="nav-item flex_none br_radius p-t_3 m-t_n3 m-t_0:md p-t_0:md p-r_4:md m-r_n4:md c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light disabled cursor_not-allowed opacity_3 ">
                    <a class="p_3 c_inherit-all h:undecorated flex flex_column flex_row:md" href="../watching"><i class="icon fas fa-fw fa-play p-x_2:md p-y_3 p-y_0:md self_center"></i><span class="label self_center p-l_3:md p-l_4:lg lowercase lh_0 font_n2 font_3:md font_4:lg display_none:md opacity_0">Watching</span></a>
                </li>
            </ul>
            <ul class="flex_column:md flex_row ul_none justify_center gap_3 flex">
                <li class="nav-item flex_auto br_radius p-t_3 m-t_n3 m-t_0:md p-t_0:md p-r_4:md m-r_n4:md c_white-8 bg_acc-n1 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light">
                    <a class="p_3 c_inherit-all h:undecorated flex flex_column flex_row:md"><i class="icon fas fa-fw fa-sign-out-alt p-x_2 p-y_3 p-y_0:md self_center"></i><span class="label self_center p-l_3:md p-l_4:lg lowercase lh_0 font_n2 font_3:md font_4:lg display_none:md opacity_0">Log Out</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <nav id="navigation_mobile" class="block display_none:md shadow_emboss-light filter_blur br_radius bg_black-6 p_2 sticky t_3 z_4">
        <ul class="flex flex_row ul_none justify_between">
            <li class="nav-item flex_auto br_radius c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light active">
                <a class="c_inherit-all flex flex_column h:undecorated p_3" href="../home"><i class="icon fas fa-fw fa-home-heart p-y_2 self_center"></i><span class="label self_center  lowercase lh_0 active font_n2 h_1h">Home</span></a>
            </li>
            <li class="nav-item flex_auto br_radius c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light ">
                <a class="c_inherit-all flex flex_column h:undecorated p_3" href="../search"><i class="icon fas fa-fw fa-search p-y_2 self_center"></i><span class="label self_center  lowercase lh_0 font_n2 h_1h ">Search</span></a>
            </li>
            <li class="nav-item flex_auto br_radius c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light ">
                <a class="c_inherit-all flex flex_column h:undecorated p_3" href="../saved"><i class="icon fas fa-fw fa-heart p-y_2 self_center"></i><span class="label self_center  lowercase lh_0 font_n2 h_1h nowrap ">Saved</span></a>
            </li>
            <li class="nav-item flex_auto br_radius c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light ">
                <a class="c_inherit-all flex flex_column h:undecorated p_3" href="../saved"><i class="icon fas fa-fw fa-award p-y_2 self_center"></i><span class="label self_center  lowercase lh_0 font_n2 h_1h ">Credits</span></a>
            </li>
            <li class="nav-item flex_auto br_radius c_white-8 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light disabled opacity_3 cursor_not-allowed ">
                <a class="c_inherit-all flex flex_column h:undecorated p_3" href="../watching"><i class="icon fas fa-fw fa-play p-y_2 self_center"></i><span class="label self_center lowercase lh_0 font_n2 h_1h ">Watching</span></a>
            </li>
            <li class="nav-item flex_auto br_radius c_white-8 bg_acc-n1 h:bg_black-9 h:c_white a:c_white a:bg_primary h:shadow_overlap-light a:shadow_overlap-light">
                <a class="c_inherit-all flex flex_column h:undecorated p_3"><i class="icon fas fa-fw fa-sign-out-alt p-y_2 self_center"></i><span class="label self_center lowercase lh_0 font_n2 nowrap h_1h">Log Out</span></a>
            </li>
        </ul>
    </nav>
    <script src="../js/library/library.main-nav.js"></script>
    <!-- These Styles are just for the styleguide and are not to be included with the pattern. -->

MarkupWrapperClasses: 

Weight: 0

NOTE: This design highly depends on Javascript.There are styles in the pattern that should be ignored because they are just to make the pattern show up correctly in documentation.

Styleguide Navigation.MainNav
*/

/*

Home Utility Nav

Small nav under the home page to quick link users to helpful pieces of content

Markup:
<nav class="utility-nav p-t_3 p-t_4:lg font_n3 font_0:md font_1:lg m-b_n3">
    <ul class="flex flex_row ul_none justify_center">
        <li class="text_center p-x_2 block p-x_4:md lh_1">
            <a class="h:undecorated c_primary block h:c_secondary-n3 p_3 p_0:md"
                ><i class="fal fa-star  block inline:md"></i><span class="display_none inline:md"> featured</span></a
            >
        </li>
        <li class="text_center p-x_2 block p-x_4:md lh_1 br-l_1 br_solid br_black-4">
            <a class="h:undecorated c_primary block h:c_secondary-n3 p_3 p_0:md"
                ><i class="fal fa-sitemap  block inline:md"></i><span class="display_none inline:md"> Clinical Focus</span></a
            >
        </li>
        <li class="text_center p-x_2 block p-x_4:md lh_1 text_center  br-l_1 br_solid br_black-4">
            <a class="h:undecorated c_primary block h:c_secondary-n3 p_3 p_0:md"
            ><i class="fal fa-heart block inline:md"></i><span class="display_none inline:md"> Saved</span></a
        >
        </li>
        <li class="text_center p-x_2 block p-x_4:md lh_1 br-l_1 br_solid br_black-4">
            <a class="h:undecorated c_primary block h:c_secondary-n3 p_3 p_0:md"
            ><i class="fal fa-play  block inline:md"></i><span class="display_none inline:md"> Continue Watching</span></a
        >
        </li>
        <li class="text_center p-x_2 block p-x_4:md lh_1 br-l_1 br_solid br_black-4">
            <a class="h:undecorated c_primary block h:c_secondary-n3 p_3 p_0:md"
            ><i class="fal fa-sync  block inline:md"></i><span class="display_none inline:md"> Watch Again </span></a
        >
        </li>
    </ul>
</nav>

MarkupWrapperClasses: 

Weight: 0

FORMAT: This uses a strick data format look at x

Styleguide Navigation.Home.Utility
*/

/*

Breadcrumb

Basic Nav that helps the user orientate the context of the page.
 
Markup:
<nav class="overflow_hidden lh_0  font_ui font_2 font_regular c_black-7 {{modifier_class}}">
    <ol class="flex flex_no-wrap flex_row items_center overflow_hidden ul_none w_100"> 
        {{> 'Sub.Navigation.Breadcrumb.FirstItem' }}
        {{> 'Sub.Navigation.Breadcrumb.NotFirstItem' modifier_class="Session Shorten Name" }}
        {{> 'Sub.Navigation.Breadcrumb.LastItem' modifier_class="Presentation Shorten Name" }}
    </ol>   
</nav>

MarkupWrapperClasses: 

SubComponents:
Sub.Navigation.Breadcrumb.FirstItem - First item
Sub.Navigation.Breadcrumb.NotFirstItem - Not first item
Sub.Navigation.Breadcrumb.LastItem - Last item
 
Weight:0
 
Styleguide Navigation.Breadcrumb
*/

/*

Footer Links

 The Apps Footer. 


Markup:
<div id="subfooter" class="bg_primary-1 flex_auto font_n1 z_1 br_radius texture_dust shadow_emboss-light {{> 'Sub.ClassList.Inset.padding_up-2' }} {{ modifier_class}}">
    <ul class="m_auto footer-bottom-links ul_none max-w_80">
        <li class="inline p_2"><a href="//www.acc.org/footer-pages/media-center" class="c_white-6 h:c_white">Media Center</a></li>
        <li class="inline p_2"><a href="//www.acc.org/footer-pages/quick-start-guide" class="c_white-6 h:c_white">ACC.org Quick Start Guide</a></li>
        <li class="inline p_2"><a class="c_white-6 h:c_white" href="//www.acc.org/footer-pages/advertising-and-sponsorship-policy">Advertising &amp; Sponsorship Policy</a></li>
        <li class="inline p_2"><a class="c_white-6 h:c_white" href="//www.acc.org/footer-pages/clinical-content-disclaimer">Clinical Content Disclaimer</a> </li>
        <li class="inline p_2"><a class="c_white-6 h:c_white" href="//www.acc.org/footer-pages/editorial-board">Editorial Board</a></li>
        <li class="inline p_2"><a class="c_white-6 h:c_white" href="//www.acc.org/footer-pages/privacy-policy">Privacy Policy</a></li>
        <li class="inline p_2"><a class="c_white-6 h:c_white" href="//www.acc.org/footer-pages/registered-user-agreement">Registered User Agreement</a></li>
        <li class="inline p_2"><a class="c_white-6 h:c_white" href="//www.acc.org/footer-pages/terms-and-conditions">Terms of Service</a></li>
        <li class="inline p_2"><a class="c_white-6 h:c_white" href="//www.acc.org/footer-pages/cookie-policy">Cookie Policy</a></li>
        <li class="inline p_2"><a class="c_white-6 h:c_white" href="//www.acc.org/footer-pages/member-hub-terms-of-use">Member Hub Terms of Use</a></li>
        <li class="inline p_2"><a class="c_white-6 h:c_white" href="//www.acc.org/sitemap-acc.xml">Site Map</a> </li>
    </ul> <!-- /footer-bottom-links -->
</div><!-- /subfooter -->


MarkupWrapperClasses: 

Weight: 0

Styleguide Navigation.Footer.Links
*/



/*

Footer Logo

The ACC Logo in the footer.
 
Markup:
<div id="logo" class="bg_white br_1 br_black-1 br_round br-br_radius br-tl_radius  br_solid flex flex_none flex_row items_center justify_center  shadow_bevel-light {{> 'Sub.ClassList.Inset.padding_up-1'}} {{ modifier_class}} ">
    <h2 class="logo_condensed w_100 max-w_20">American College of Cardiology</h2>
</div>

MarkupWrapperClasses: 
 
Weight:0
 
Styleguide Navigation.Footer.Logo
*/
