@import  "../virtual/data/virtual.helper.randomWords";

/*

Sub Page No Filter

The sub pages have a common layouts.
 
Markup:
<div class="BODY_TAG-stand-in grid {{> "Sub.ClassList.Body"}}">	
	<div class="page-wrapper grid {{> "Sub.ClassList.Page"}}">	
		<div class="grid:md grid-template_page flex flex_column gap_4:md gap_3">
			{{> "Navigation.MainNav" modifier_class="grid-area_menuArea z_4" }}
			<header class="grid-area_headerArea flex flex_row items_center justify_start flex_none z_1 {{> 'Sub.ClassList.Inset.level_up'}} {{> 'Sub.ClassList.Inset.padding_up-1'}}">
				{{> "Navigation.Breadcrumb"}}
			</header>
			<section class="grid:md flex flex_column grid-template_filterAndContent grid-area_mainArea gap_4 p-y_3 p-y_0:md font_1:lg font_0">
				<div class="grid:md flex flex_column grid-col_5 gap_4 col-start col-end">
					{{> "Page.Layouts.SubGridFiller"  modifier_class="Insert"}}
					{{> "Page.Layouts.SubGridFiller"  modifier_class="Insert"}}
					{{> "Page.Layouts.SubGridFiller"  modifier_class="Insert"}}
					{{> "Page.Layouts.SubGridFiller"  modifier_class="Insert"}}
					{{> "Page.Layouts.SubGridFiller"  modifier_class="Insert"}}
				</div>
			</section>
			<footer class="flex flex_column gap_4 grid-area_footerArea grid-col_5 grid:md m-t_auto p-y_0:md p-y_3">
				{{> "Navigation.Footer.Links" modifier_class="col-start col-end_4" }}
				{{> "Navigation.Footer.Logo"  modifier_class="col-start_4 col-end" }}
			</footer>
		</div>
	</div>
</div>

MarkupWrapperClasses: 


NOTE: This page will not render 100% correctly because it is calculated based on the whole viewport and the styleguide has it wrapped in page dynamics..
 
Weight:0
 
Styleguide Page.Pages.NoFilter
*/

/*

Search Page

The sub pages have a common layouts.
 
Markup:
<div class="BODY_TAG-stand-in grid {{> "Sub.ClassList.Body"}}">	
	<div class="page-wrapper grid {{> "Sub.ClassList.Page"}}">	
		<div class="grid:md grid-template_page flex flex_column gap_4:md gap_3">
			{{> "Navigation.MainNav" modifier_class="grid-area_menuArea z_4" }}
			<header class="grid-area_headerArea flex flex_row items_center justify_start flex_none z_1 {{> 'Sub.ClassList.Inset.level_up'}} {{> 'Sub.ClassList.Inset.padding_up-1'}}">
				{{> "Navigation.Breadcrumb"}}
			</header>
			<section class="grid:md flex flex_column grid-template_filterAndContent grid-area_mainArea gap_4 p-y_3 p-y_0:md font_1:lg font_0">
				{{> "Sub.Search.FilterRail"  modifier_class="grid-area_filterArea order_last order_unset:md"}}
				<div class="grid-area_contentArea row-start_1" id="SearchBarTop"> 
					{{> "Sub.Search.Bar"  }}
					<div class="{{> 'Sub.ClassList.Vertical.padding_up-1' }}">
						{{> "Sub.Search.ResultOverview"}}
					</div>
					<div class="{{> "Sub.ClassList.Inset.level_down-1"}} {{> 'Sub.ClassList.Inset.padding' }} ">
					<nav class="bg_black-2 br_3 br_radius br_solid br_white-9 c_primary font_0 font_bold font_accent: p-x_0 p-x_4:md shadow_bevel-light" id="tabContentLight" role="tablist">
						<ul class="flex_column flex_row:md  nav">
							{{> "Structures.Tabs.Tabs.LinkActive" }}
							{{> "Structures.Tabs.Tabs.Link" }}
							</li>
						</ul>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="ActiveLink" role="tabpanel" aria-labelledby="ActiveLink">
							<ul class="ul_none flex flex_column gap_3 gap_4:lg {{> 'Sub.ClassList.Vertical.padding_up-1' }}">
								<li class="">{{> "Program.Session.Home"  modifier_class="#{ call(get-function('randomWords'), random(10)) }" }}</li>
								<li class="">{{> "Program.Session.Home"  modifier_class="#{ call(get-function('randomWords'), random(10)) }" }}</li>
								<li class="">{{> "Program.Session.Home"  modifier_class="#{ call(get-function('randomWords'), random(10)) }" }}</li>
							</ul>
							<div class=""><button class="block btn btn-outline-secondary btn-sm m-b_3 m_auto p-x_5">Load More</button></div>
							</div>
						<div class="tab-pane fade" id="BasicLink" role="tabpanel" aria-labelledby="BasicLink">
							<ul class="ul_none flex flex_column gap_3 gap_4:lg {{> 'Sub.ClassList.Vertical.padding_up-1' }}">
								<li class=""> {{> "Program.Presentation.Search"  modifier_class="#{ call(get-function('randomWords'), random(10)) }" }}</li>
								<li class=""> {{> "Program.Presentation.Search"  modifier_class="#{ call(get-function('randomWords'), random(10)) }" }}</li>
								<li class=""> {{> "Program.Presentation.Search"  modifier_class="#{ call(get-function('randomWords'), random(10)) }" }}</li>
								<li class=""> {{> "Program.Presentation.Search"  modifier_class="#{ call(get-function('randomWords'), random(10)) }" }}</li>
							</ul>
							<div class=""><button class="block btn btn-outline-secondary btn-sm m-b_3 m_auto p-x_5">Load More</button></div>
						</div>
					</div>
					</div>
				</div>
			</section>
			<footer class="flex flex_column gap_4 grid-area_footerArea grid-col_5 grid:md m-t_auto p-y_0:md p-y_3">
				{{> "Navigation.Footer.Links" modifier_class="col-start col-end_4" }}
				{{> "Navigation.Footer.Logo"  modifier_class="col-start_4 col-end" }}
			</footer>
		</div>
	</div>
</div>

MarkupWrapperClasses: 


NOTE: This page will not render 100% correctly because it is calculated based on the whole viewport and the styleguide has it wrapped in page dynamics..
 
Weight:0
 
Styleguide Page.Pages.Search
*/



/*

Session Data Page

The sub pages have a common layouts.
 
Markup:
<div class="BODY_TAG-stand-in grid:md {{> 'Sub.ClassList.Body'}}">
	<div class="page-wrapper grid:md {{> 'Sub.ClassList.Page'}}">
		<div class="grid:md grid-template_page flex flex_column gap_4:md gap_3">
			{{> 'Navigation.MainNav' modifier_class='grid-area_menuArea z_4' }}
			<header class="grid-area_headerArea flex flex_row items_center justify_start flex_none z_1 {{> 'Sub.ClassList.Inset.level_up'}} {{> 'Sub.ClassList.Inset.padding_up-1'}}">
				{{> 'Navigation.Breadcrumb'}}
			</header>
			<section class="flex flex_column font_0 font_1:lg gap_4 grid-area_mainArea grid-col_6 grid-col_5:lg grid:md p-y_0:md p-y_3">
				<div class="col-start col-end_3:lg col-end_4 flex flex_column gap_4 row-start_1">
					<section class="{{>'Sub.ClassList.Inset.level_up-1'}}">
						<div class="flex flex_row font_ui justify_start relative w_100">
						<main class="flex flex_auto flex_column font_0 font_1:md font_2:lg isolation_isolate justify_between relative w_100 {{>'Sub.ClassList.Inset.padding_up-2'}}">
							<h1 class="c_primary c_primary-n3 font-size_up-2 font_display font_regular lh_1 m_0"> {{> 'Data.Session.Title'}} #{ call(get-function('randomWords'), random(10)) }</h1>
							</main>	
							<aside class="flex_none m-t_n2 m-t_n2:md m-t_n3:lg p-x_3:md">
								<ul class="flex flex_column flex_wrap gap_2 justify_start self_center ul_none uppercase p-x_3">
									<li class="flex_auto">
										{{> 'Sub.ActionButtons.Favorite' }}
									</li>
								</ul>
							</aside>
						</div>
						<nav class="{{>'Sub.ClassList.Inset.padding_up-3'}} font_2:lg font_1">
							<h3 class="c_black-8">How did you like this session?</h3>
							{{> 'Sub.ActionButtons.LikeAndAttachments' }}
						</nav>
						<section class="font_0 m_3 {{>'Sub.ClassList.Inset.level_down-1'}} {{>'Sub.ClassList.Inset.padding_up-2'}}">
							{{> 'Sub.Section.h3' modifier_class='session details'}} 
							{{> 'Sub.Player.AuxData'}}
						</section>
					</section>
				</div>
				<div class="col-end col-start_3:lg col-start_4 row-start_1">
					<section class="{{>'Sub.ClassList.Inset.level_up'}} {{>'Sub.ClassList.Inset.padding_up-2'}}">
						<div class="flex flex_row items_center">
						<span class="c_black-4 font_1 font_2:md font_3:lg font_display font_regular lh_1 m-b_3 m-b_4:lg m-t_3 p-l_3 p-r_4 self_end"><i class="fa-list-alt fas font-size_up-2"></i></span>
						{{> 'Sub.Section.h2' modifier_class='presentation playlist'}}</div>
						<div class="font_0 font_1:lg relative isolation_isolate">
							<ul class="flex flex_column justify_stretch gap_4 ul_none">
								{{> "Program.Presentation.List"}}
								{{> "Program.Presentation.List"}}
								{{> "Program.Presentation.List"}}
								{{> "Program.Presentation.List"}}
							</ul>
						</div>
					</section>
				</div>
			</section>
			<footer class="flex flex_column gap_4 grid-area_footerArea grid-col_5 grid:md m-t_auto p-y_0:md p-y_3">
				{{> "Navigation.Footer.Links" modifier_class="col-start
				col-end_4" }} {{> "Navigation.Footer.Logo"
				modifier_class="col-start_4 col-end" }}
			</footer>
		</div>
	</div>
</div>

MarkupWrapperClasses: 


NOTE: This page will not render 100% correctly because it is calculated based on the whole viewport and the styleguide has it wrapped in page dynamics..
 
Weight:0
 
Styleguide Page.Pages.Session
*/

/*

Presentation Player

The sub pages have a common layouts.
 
Markup:
<div class="BODY_TAG-stand-in grid:md {{> 'Sub.ClassList.Body'}}">
	<div class="page-wrapper grid:md {{> 'Sub.ClassList.Page'}}">
		<div class="grid:md grid-template_page flex flex_column gap_4:md gap_3">
			{{> 'Navigation.MainNav' modifier_class='grid-area_menuArea z_4' }}
			<header class="grid-area_headerArea flex flex_row items_center justify_start flex_none z_1 {{> 'Sub.ClassList.Inset.level_up'}} {{> 'Sub.ClassList.Inset.padding_up-1'}}">
				{{> 'Navigation.Breadcrumb'}}
			</header>
			<section class="flex flex_column font_0 font_1:lg gap_4 grid-area_mainArea grid-col_6 grid-col_5:lg grid:md p-y_0:md p-y_3">
				<div class="col-start col-end_4:lg col-end flex flex_column gap_4 row-start_1">
					<section class="{{>'Sub.ClassList.Inset.level_up-1'}}">
						<div class="flex flex_row font_ui justify_start relative w_100">
						<main class="flex flex_auto flex_column font_0 font_1:md font_2:lg isolation_isolate justify_between relative w_100 {{>'Sub.ClassList.Inset.padding_up-2'}}">
							<h1 class="c_black-5 font-size_down-1 font_medium font_ui lh_1 m-b_2 m-t_2 m_0">{{> 'Data.Session.Title'}} #{ call(get-function('randomWords'), random(10)) }</h1>
							<h2 class="c_primary c_primary-n3 font-size_up-2 font_display font_regular lh_1 m_0"> {{> 'Data.Presentation.Title'}} #{ call(get-function('randomWords'), random(10)) } </h2>
							</main>	
							<aside class="flex_none m-t_n2 m-t_n2:md m-t_n3:lg p-x_3:md">
								<ul class="flex flex_column flex_wrap gap_2 justify_start self_center ul_none uppercase p-x_3">
									<li class="flex_auto">
										{{> 'Sub.ActionButtons.Favorite' }}
									</li>
								</ul>
							</aside>
						</div>
						<div class="player hd full flex_auto w_100 p_4:lg p_3">
							<div class="bg_acc aspect_16x9 c_white text_center  justify_center flex items_center">VIDEO EMBED</div>
						</div>
						<nav class="{{>'Sub.ClassList.Inset.padding_up-3'}} font_2:lg font_1">
							{{> 'Sub.Search.TimeMarkers'}}
							<h3 class="c_black-8">How did you like this presentation?</h3>
							{{> 'Sub.ActionButtons.LikeAndAttachments' }}
						</nav>
					</section>
				</div>
				<div class="col-end col-start_4:lg col-start flex flex_column flex_row:md flex_column:lg gap_4">
					<section class="flex_auto flex_50:md  flex_auto:lg flex_none:lg font_0 {{>'Sub.ClassList.Inset.level_up'}} {{>'Sub.ClassList.Inset.padding_up-2'}}">
						{{> 'Sub.Section.h2' modifier_class='presentation details'}}
						{{> 'Sub.Player.AuxData'}}
					</section>	
					<section class="flex_auto flex_50:md  flex_auto:lg flex_none:lg  font_0 {{>'Sub.ClassList.Inset.level_up'}} {{>'Sub.ClassList.Inset.padding_up-2'}}">
						{{> 'Sub.Section.h2' modifier_class='session details'}}
						<div class="p-y_3 br-t_1 br_black-2 br_solid font-size_down">
							{{> "Sub.FacultyList.AuxSession"  modifier_class=""}}
						</div>
						<section class="{{>'Sub.ClassList.Inset.level_down-1'}} {{>'Sub.ClassList.Inset.padding_up-2'}}">
							<div class="flex flex_row items_center">
							<span class="c_black-4 font_0 font_1:md font_2:lg font_display font_regular lh_1 m-b_3 m-b_4:lg m-t_3 p-l_3 p-r_4 self_end"><i class="fa-list-alt fas font-size_up-2"></i></span>
							{{> 'Sub.Section.h3' modifier_class='presentation playlist'}}</div>
							<div class="font_n2 font_n1:lg relative isolation_isolate">
								<ul class="flex flex_column justify_stretch gap_3 ul_none">
									{{> "Program.Presentation.Condensed" modifier_class="#{ call(get-function('randomWords'), random(10)) }"}}
									{{> "Program.Presentation.CondensedPlaying" modifier_class="#{ call(get-function('randomWords'), random(10)) }"}}
									{{> "Program.Presentation.Condensed" modifier_class="#{ call(get-function('randomWords'), random(10)) }"}}
									{{> "Program.Presentation.Condensed" modifier_class="#{ call(get-function('randomWords'), random(10)) }"}}
								</ul>
							</div>
						</section>
					</section>	
				</div>
			</section>
			<footer class="flex flex_column gap_4 grid-area_footerArea grid-col_5 grid:md m-t_auto p-y_0:md p-y_3">
				{{> "Navigation.Footer.Links" modifier_class="col-start
				col-end_4" }} {{> "Navigation.Footer.Logo"
				modifier_class="col-start_4 col-end" }}
			</footer>
		</div>
	</div>
</div>

MarkupWrapperClasses: 


NOTE: This page will not render 100% correctly because it is calculated based on the whole viewport and the styleguide has it wrapped in page dynamics..
 
Weight:0
 
Styleguide Page.Pages.Presentation
*/