/*

Credits Chiclets

Credits show in the design when they are available to be claimed by the media they are on. 

default		 -  there is no default version of credits it is always a type.
CME		 -  CME Credits
CNE	 -  CNE Credits

Markup:
<span class="bg_{{ modifier_class }}-n2 block br_1 br_black-3 br_round br_solid c_white font_bold font_ui lh_1 p-y_1 p_2 text-shadow_black-1 text_center">{{ modifier_class }}</span>

MarkupWrapperClasses:p_2 

Weight: 0

Styleguide Sub.Credit
*/

/*

Favorite/Bookmark Button

This button has an active and deactivate state depending on the users select of that media item. 

default		 -   plan button
active        -  the media item is selected

Markup:
<a class="inline-block m-x_n3 m-t_n1 {{modifier_class}}">
    <span class="fa-stack fa-2x a:c_alert-n2 c_secondary-2 h:c_alert-n3">
        <i class="fas fa-bookmark fa-stack-2x c_inherit-all text-shadow_black-1"></i>
        <i class="fa-heart c_black-4 h:c_white a:c_white fa-stack-1x fas font-size_down-1  text-shadow_black-n1"></i>
    </span>
</a>

MarkupWrapperClasses: 

Weight: 0


Styleguide Sub.ActionButtons.Favorite
*/

/*

Section Header

Section Headers are styled the same

default - plan header
 
Markup:
<header class="font_display font_regular  c_primary-n1 m-b_3 lh_1 m-b_4:lg m-t_3 "><h2 class="lh_1 m_0 font_regular lowercase font_3:lg font_2:md font_1">{{modifier_class}}</h2></header>

MarkupWrapperClasses: 
 
Weight:0
 
Styleguide Sub.Section.h2
*/
/*

Section Header Down

Section Headers are styled the same

default - plan header
 
Markup:
<header class="font_display font_regular  c_primary-n2 m-b_2 lh_1 m-b_3:lg m-t_2 "><h3 class="lh_1 m_0 font_regular lowercase font_2:lg font_1:md font_0">{{modifier_class}}</h3></header>

MarkupWrapperClasses: 
 
Weight:0
 
Styleguide Sub.Section.h3
*/
/*

Section Header

Section Headers are styled the same

default - plan header
 
Markup:
<header class="p-x_4 font_display font_regular  c_primary-n1 m-b_3 lh_1 m-b_4:lg m-t_3 "><h2 class="lh_1 m_0 font_regular lowercase font_3:lg font_2:md font_1">{{modifier_class}}</h2></header>

MarkupWrapperClasses: 
 
Weight:0
 
Styleguide Sub.Section.h2.with-padding
*/
/*

Section Header Down

Section Headers are styled the same

default - plan header
 
Markup:
<header class="p-x_4 font_display font_regular  c_primary-n2 m-b_2 lh_1 m-b_3:lg m-t_2 "><h3 class="lh_1 m_0 font_regular lowercase font_2:lg font_1:md font_0">{{modifier_class}}</h3></header>

MarkupWrapperClasses: 
 
Weight:0
 
Styleguide Sub.Section.h3.with-padding
*/
/*

Progress Player Bar

shows users where they left off with the player. 

default		 -  Has zero player
50          - 50% played 

Markup:
<aside class="bg_secondary-3 h:bg_primary-3 p-x_4 p-y_3 br_radius flex flex_row texture_dust relative">
    <a class="expanded-click-area" href="player@{{ modifier_class }}"><i class="fa fa-play p-x_3 c_primary"></i></a>
    <div class="progress w_100 self_center br_black-2 br_solid bg_black-4 br_1 br_round h_0lh font_n4">
        <div class="progress-bar bg_accent" role="progressbar" style="width: {{ modifier_class }}%" aria-valuenow="{{ modifier_class }}" aria-valuemax="100"></div>
    </div>
</aside>  

Styleguide Sub.ProgressBar
*/



/*

Time Markers

shows users where they results can be found in the result. 
 
Markup:
<aside class="flex flex_row flex_wrap font_ui {{> 'Sub.ClassList.Inset.down-1'}} {{> 'Sub.ClassList.Inset.padding'}}">
    <strong class="p-r_3 block w_100">Search Word Found At These Time Markers</strong>
    <ul class="ul_inline-pipe">
        <li class="c_primary uppercase font_medium"><a href="" class="link"><i class="fas fa-play c_primary font-size_down-1 self_center"></i> start</a></li>
        <li><a href="" class="link"><i class="fas fa-step-forward c_primary font-size_down-1 self_center"></i>  0:53</a></li>
        <li><a href="" class="link"><i class="fas fa-step-forward c_primary font-size_down-1 self_center"></i>  2:30</a></li>
    </ul>
</aside>

MarkupWrapperClasses: 


ClassList:
Sub.ClassList.Inset.down-1 - Inset Down 1
Sub.ClassList.Inset.padding - Inset Padding
 
Weight:0
 
Styleguide Sub.Search.TimeMarkers
*/

/*

Carousel Custom Nav

Tiny Slider custom

Markup:
<div class="customize-tools">
    <ul class="controls ul_none font-size_up-2 c_black-6" id="slider1-customize-controls" aria-label="Carousel Navigation" tabindex="0">
        <li class="prev bg_white-8 h:bg_black-1 h:c_black-9 filter_blur absolute t_1 b_1 l_0 p_3 flex_column flex justify_center items_center br_primary-3 br_solid br_1 br-l_0 br-br_radius br-tr_radius shadow_overlap-light" aria-controls="customize" tabindex="-1" data-controls="prev">
            <i class="fal fa-chevron-left"></i>
        </li>
        <li class="next bg_white-8 h:bg_black-1 h:c_black-9 filter_blur absolute t_1 b_1 r_0 p_3 flex_column flex justify_center items_center br_primary-3 br_solid br_1 br-r_0 br-bl_radius br-tl_radius shadow_overlap-light" aria-controls="customize" tabindex="-1" data-controls="next">
            <i class="fal fa-chevron-right"></i>
        </li>
    </ul>
</div>


MarkupWrapperClasses: 

Weight: 0

Styleguide Sub.Carousel.CustomTools
*/
/*

Carousel Custom Nav Vertical

Tiny Slider custom

Markup:
<div class="customize-tools relative">
    <ul class="absolute b_4 r_0 l_0 controls ul_none font-size_up-2 c_black-6 flex flex_row gap-x_4" id="slider-customize-controls-vertical" aria-label="Carousel Navigation" tabindex="0">
        <li class="prev bg_white-8 block br-br_radius br-l_0 br-tr_radius br_1 br_primary-3 br_solid filter_blur flex flex_auto flex_column h:bg_black-1 h:c_black-9 items_center justify_center p_3 shadow_overlap-light w_50" aria-controls="customize" tabindex="-1" data-controls="prev">
            <i class="fal fa-chevron-up"></i>
        </li>
        <li class="next bg_white-8 block br-bl_radius br-r_0 br-tl_radius br_1 br_primary-3 br_solid filter_blur flex flex_auto flex_column h:bg_black-1 h:c_black-9 items_center justify_center p_3 shadow_overlap-light w_50" aria-controls="customize" tabindex="-1" data-controls="next">
            <i class="fal fa-chevron-down"></i>
        </li>
    </ul>
</div>


MarkupWrapperClasses: 

Weight: 0

Styleguide Sub.Carousel.CustomToolsVertical
*/
/*

Carousel Custom Disabled

Tiny Slider custom

Markup:
<div class="customize-tools">
<ul class="controls ul_none font-size_up-2 c_black-6" id="slider3-customize-controls" aria-label="Carousel Navigation" tabindex="0">
<li class="disabled prev bg_white-8 filter_blur absolute t_1 b_1 l_0 p_3 flex_column flex justify_center items_center br_primary-3 br_solid br_1 br-l_0 br-br_radius br-tr_radius shadow_overlap-light" aria-controls="slider3" tabindex="-1" data-controls="prev">
    <i class="fal fa-chevron-left opacity_3"></i>
</li>
<li class="disabled next bg_white-8  filter_blur absolute t_1 b_1 r_0 p_3 flex_column flex justify_center items_center br_primary-3 br_solid br_1 br-r_0 br-bl_radius br-tl_radius shadow_overlap-light" aria-controls="slider3" tabindex="-1" data-controls="next">
    <i class="fal fa-chevron-right opacity_3"></i>
</li>
</ul>
</div>


MarkupWrapperClasses: 

Weight: 0

Styleguide Sub.Carousel.CustomTools.Disabled
*/

/*

Duration

The length of the clip of video or all the of the lengths of the combined clips. 

Markup:
<li class="inline-block p-r_3 p_2 lh_0">
    <span class="font-size_up c_accent-n2 block"><i class="fal fa-clock"></i> 15</span>
    minutes
</li>

MarkupWrapperClasses: ul_none

Weight: 0



Styleguide Sub.Data.Duration 
*/

/*

Presentation Count

Number of presentations in the session. 

Markup:
<li class="inline-block p-r_3 p_2 lh_0">
    <span class="font-size_up c_accent-n2 block">4</span>
    presentations
</li>

MarkupWrapperClasses: ul_none

Weight: 0

Styleguide Sub.Data.PresentationCount
*/
/*

Attachment Link

Link to attachments. it should state pdf or zip depending 

Markup:
<li class="inline-block br_radius p-x_3 m-l_n3 p_2 z_3 self_end relative h:bg_black-2 lh_0">
    <a href="" class="undecorated h:undecorated expanded-click-area">
    <span class="font-size_up c_primary-n2 block"><i class="fal fa-paperclip p-r_3"></i> <span class="p-r_3">PDF</span></span> 
        Attachments
    </a>
</li>

MarkupWrapperClasses: ul_none

Weight: 0

Styleguide Sub.Data.AttachmentLink
*/

/*

Attachment Link ZIP

Link to attachments. it should state pdf or zip depending 

Markup:
<li class="inline-block br_radius p-x_3 m-l_n3 p_2 z_3 self_end relative h:bg_black-2 lh_0">
    <a href="" class="undecorated h:undecorated expanded-click-area">
    <span class="font-size_up c_primary-n2 block"><i class="fal fa-paperclip p-r_3"></i><span class="p-r_3">ZIP</span></span> 
        Attachments
    </a>
</li>

MarkupWrapperClasses: ul_none                                                                           

Weight: 0

Styleguide Sub.Data.AttachmentLink.ZIP
*/

/*

Like Buttons

This buttons are used to rate the videos and download the attachments.
 
Markup:
<ul class="ul_none flex flex_row lowercase flex flex_row gap_2">
    <li class="br_solid br_black-3 br_radius br_1 h:bg_black-3">
        <a class="p-y_3 p-x_4 " href=""><i class="fal fa-thumbs-up"></i></a>
    </li>
    <li class="br_solid br_black-3 br_radius br_1 h:bg_black-3">
        <a class="p-y_3 p-x_4 " href=""><i class="fal fa-thumbs-down"></i></a>
    </li>
    <li class="br_solid br_black-3 br_radius br_1 h:bg_black-3 m-l_auto">
        <a class="p-y_3 p-x_4 " href=""><i class="fal fa-paperclip"></i> Attachments</a>
    </li>
</ul>

MarkupWrapperClasses: 
 
Weight:0
 
Styleguide Sub.ActionButtons.LikeAndAttachments
*/
/*

Breadcrumb First Item

The not first nor last item in the breadcrumb.
 
Markup:
<li class="flex flex-shrink_1 flex_auto:md flex_inline h:c_primary lh_2 m-b_1 relative">
    <i class="fal fa-home fa-fw flex_none self_center c_primary font-size_up "></i>
    <a href="../home" class="inherit_all h:underline undecorated expanded-click-area overflow_ellipsis flex flex_nowrap nowrap">
        <span class="display_none flex_auto inline:md self_center m-l_3">Home</span>
    </a>
</li>

MarkupWrapperClasses: ul_none
 
Weight:0
 
Styleguide Sub.Navigation.Breadcrumb.FirstItem
*/

/*

Breadcrumb Not-First Item

The not first nor last item in the breadcrumb.

Search - Search Page
Session Name - Session Page
 
Markup:
<li class="flex flex-shrink_1 flex_auto:md flex_50 flex_inline h:c_primary lh_2 m-b_1 overflow_hidden relative">
    <i class="fal fa-chevron-left fa-fw m-x_3 flex_none self_center c_primary font-size_down"></i>
    <a href="../watching" class="inherit_all h:underline undecorated expanded-click-area overflow_ellipsis flex flex_nowrap nowrap">
        <span class=" flex_auto self_center">Page Type Label</span>
        <span class=" flex_auto self_center display_inline:md display_none">{{modifier_class}}</span>
    </a>
</li>

MarkupWrapperClasses: ul_none
 
Weight:0
 
Styleguide Sub.Navigation.Breadcrumb.NotFirstItem
*/
/*

Breadcrumb Last Item

The last Item in the Breadcrumb doesn't include a link to the page and is decorated as highlighted.

Search - Search Page
Session Name - Session Page

Markup:
<li class="flex flex-shrink_1 flex_auto:md flex_50 flex_inline lh_2 m-b_1 overflow_hidden relative c_black-7">
    <i class="fal fa-chevron-left c_primary-n2 m-x_3 self_center font-size_down"></i>
    <div class="flex flex_row flex_nowrap overflow_ellipsis nowrap">
        <span class=" flex_auto self_center">Page Type Label</span>
        <span class=" flex_auto self_center display_inline:md display_none font_medium">{{modifier_class}}</span>
    </div>
</li>

MarkupWrapperClasses: ul_none
 
Weight:0
 
Styleguide Sub.Navigation.Breadcrumb.LastItem
*/

/*

Credit Chiclets Horizontal

Horizontal list of credit chiclets.
 
Markup:
<ul
    class="flex flex_row flex_wrap font_n3 gap_2 justify_start self_center ul_none uppercase items_center">
    <li class="lh_0 flex_shrink">
        {{> 'Sub.Credit' modifier_class="CME"}}
    </li>
    <li class="lh_0 flex_shrink">
        {{> 'Sub.Credit' modifier_class="CNE"}}
    </li>
</ul>

MarkupWrapperClasses: 

SubComponents:
Sub.Credit - Credit Chiclet
 
Weight:0
 
Styleguide Sub.Credit.Chiclets.Horizontal
*/

/*
Auxiliary Data
 
Description: Most players have auxiliary data zones that describe the playing element through credits, tags, and categories.
 
Markup:
<aside class="{{ modifier_class }}">    
    {{> "Sub.FacultyList.AuxSession"  modifier_class=""}}
    <h4 class="font-size_up c_black-6 font_medium capitalize">
        <i class="fas fa-file-certificate p-r_3"></i> Credits
    </h4>
    <div class="p-y_3 {{> 'Sub.ClassList.Border.PrimaryTop'}} font-size_down-1">
        {{> "Sub.Credit.Chiclets.Horizontal" }}
    </div>
    <h4 class="font-size_up  c_black-6 font_medium">
        <i class="fas fa-tag p-r_3"></i>
        category
    </h4>
    <div class="{{> 'Sub.ClassList.Border.PrimaryTop'}} font-size_down">
        {{> "Sub.Tags.Category" }}
    </div>
    <h4 class="font-size_up  c_black-6 font_medium">
        <i class="fas fa-tags p-r_3"></i> tags
    </h4>
    <div class="{{> 'Sub.ClassList.Border.PrimaryTop'}} font-size_down">
        {{> "Sub.Tags.Filter" }}
    </div>
</aside>

SubComponents:
Sub.Credits.NonAccredited - Non Accredited
Sub.FacultyList.AuxSession - Session Faculty Lists
Sub.Credit.Chiclets.Horizontal - Credit Chiclets Horizontal
Sub.Tags.Category - Category
Sub.Tags.Filter - Tags

ClassList:
Sub.ClassList.Border.PrimaryTop - Border Primary Top
 
Weight:0
 
Styleguide Sub.Player.AuxData
*/

/*
Category Tag
 
Category Tags are singular tags that divide content.  An item can only have a single tag from a category group. 
 
Markup:
<ul class="ul_inline-comma">
  <li>Channel 1</li>
  <li>{{>"Data.Agenda.ChannelName"}}</li>
</ul>
 

Weight:0
 
Styleguide Sub.Tags.Category

*/

/*
Filter Tags
 
Filter Tags are decorative tags that are used to filter content. Many tags from a single group can be applied to a single item.
 
Markup:
<ul class="ul_inline-comma">
    <li>Tag Name 1</li>
    <li>Daugherty - Larkin</li>
    <li>relationships</li>  
    <li>web-readiness</li>
</ul>
 

Weight:0
 
Styleguide Sub.Tags.Filter

*/



/*

Footer Logo

The ACC Logo in the footer.
 
Markup:
<div id="logo" class="bg_white br_1 br_black-1 br_round br-br_radius br-tl_radius  br_solid flex flex_none flex_row items_center justify_center  shadow_bevel-light {{> 'Sub.ClassList.Inset.padding.up-1'}} {{ modifier_class}} ">
    <h2 class="logo_condensed w_100 max-w_20">American College of Cardiology</h2>
</div>

MarkupWrapperClasses: 
 
Weight:0
 
Styleguide Sub.Footer.Logo
*/

/*

Legal RoadBlock Sub Components

The legal roadblock is a page that stops the user when they haven't accepted the terms of use or any other legal agreements needed for the use of the product.

MarkupWrapperClasses: 
 
Weight:0
 
Styleguide Sub.Legal
*/
/*

Legal Content Block

A legal block will block a user from the program if they user has not signed it.  If there is more then one user block all must be accepted before the user can proceed.
 
Markup:
<article class="isolation_isolate p_1 p-b_4 relative">
    <nav class="r_0 sticky t_0 z_1">
        <div class="absolute flex flex_nowrap flex_row gap-x_3 r_4">
            <!--  Helper Jump links -->
            <a class="c_white br-tl_square br-tr_square br_radius btn btn-accent btn-sm grid items_center justify_center m-l_auto self_center shadow_2" href="#TopAgreement1">
                <span><i class="fas fa-arrow-up p-r_2"></i>top</span>
            </a>
            <a class="c_white br-tl_square br-tr_square br_radius btn btn-accent btn-sm grid items_center justify_center m-l_auto self_center shadow_2" href="#Agreement1">
                <span><i class="fas fa-arrow-down p-r_2"></i>scroll down</span>
            </a>
            <!--  Helper Jump links -->
        </div>
    </nav>
    <header class="bg_white p-t_0 p-b_3 relative z_3">
        <h2 class="bg_white m-t_n2 m_0 {{> 'Sub.ClassList.Vertical.padding.up-1'}}">ACC Anywhere 2022 Credit Information, Terms of Service, and License Agreement </h2>
    </header>
    <main class="z_0 isolation_isolate {{> 'Sub.ClassList.Vertical.padding.up-1'}} {{> 'Sub.ClassList.Border.PrimaryTop' }}">
    <!---  Agreement HTML START -->
        <p class="font-size_up">The Terms of Service and License Agreement set forth below constitute a legal agreement (collectively, the "Agreement") between the American College of Cardiology Foundation ("ACCF") and You and your agents ("You" or “Your”) for the use of the ACC Anywhere 2022 (the "Product”).    </p><p class="font-size_up">
            By clicking on the Agree button below, and by using the Product, You accept and agree to be bound by all of the terms and conditions set forth in this Agreement. If You do not wish to accept the terms and conditions of this Agreement, You may not proceed to use the Product. </p>
        <p class="font-size_up"><a href="" class="c_accent-n2 font_bold font_ui link" target="_blank">Click to Read Full Terms of Service.</a></p>
            <p class="">I hereby certify that I understand and agree to the terms stated in this Agreement and that this Agreement applies to my initial use of the Product and all other subsequent uses of the Product.</p>
            <!---  Agreement HTML END -->
    </main>
</article>

MarkupWrapperClasses: 

ClassList:
Sub.ClassList.Vertical.padding.up-1 - Vertical Padding Up 1
Sub.ClassList.Border.PrimaryTop - Border Primary Top

Weight:0
 
Styleguide Sub.Legal.ContentBlock
*/

/*

Legal Attestation Statement

This statement is used to attest that the user has read and accepted the legal agreement. This follows all Legal Content Blocks. Clicking the button will flip the `btn-secondary` state to 'btn-sucess active'

.btn-success.active - the accepted state

Markup:
<footer id="Agreement1">
    <div class="bg_acc br_radius c_white font_2 font_bold font_medium font_ui lh_1 m-b_3 p-y_4 p_3 text_center uppercase">By Clicking The Button Below, I Hereby Affirm That I Have Read, Fully Understand, And Agree To The Above Statements. </div>
    <button class="btn btn-secondary {{ modifier_class }} c_white h:undecorated float_right"><i class="fas fa-check display_none a:inline-block"></i> I agree</button>
</footer>


MarkupWrapperClasses: 
 
Weight:0
 
Styleguide Sub.Legal.AgreeButton
*/