/*

Credits Chiclets

Credits show in the design when they are available to be claimed by the media they are on. 

default		 -  there is no default version of credits it is always a type.
CME		 -  CME Credits
CNE	 -  CNE Credits

Markup:
<span class="bg_{{ modifier_class }} br_1 br_black-3 br_round c_white br_solid p-y_1 p_2 block text_center font_regular font_ui">{{ modifier_class }}</span>

MarkupWrapperClasses:p_2 

Weight: 0

Styleguide Sub.Credit
*/

/*

Favorite/Bookmark Button

This button has an active and deactivate state depending on the users select of that media item. 

default		 -   plan button
active        -  the media item is selected

Markup:
<a class="inline-block m-x_n3 m-t_n1">
    <span class="fa-stack fa-2x a:c_alert-n2 c_secondary-3 h:c_alert-n3 {{modifier_class}}">
        <i class="fas fa-bookmark fa-stack-2x c_inherit-all text-shadow_black-1"></i>
        <i class="fa-heart c_black-3 h:c_white a:c_white fa-stack-1x fas font-size_down-1  text-shadow_black-n1"></i>
    </span>
</a>

MarkupWrapperClasses: 

Weight: 0


Styleguide Sub.ActionButtons.Favorite
*/