/*
Navigation
 
Sidebar that expands to show the text of it's icons. 
 
Markup:
<nav id="navigation" class="absolute {fixed} t_0 l_0 b_0 bg_black-3 flex flex_column justify_between p-t_0 p-b_3 p-l_3 p-r_3 p-b_4:md p-t_4:md p-r_0:md font_3:lg font_2 ">
<ul class="flex flex_column ul_none">{{> "Library.Navigation.NavItem"}}</ul>
<ul class="flex flex_column ul_none">{{> "Library.Navigation.NavItem"}}</ul>
</nav>
<script>
let nav = document.getElementById("navigation");
navigation.addEventListener("mouseenter", function() {
  navigation.classList.add("hover");
  let navItems = navigation.querySelectorAll(".nav-item");
  navItems.forEach(function(navItem) {
    navItem.querySelector(".label").classList.add("inline-block");
    navItem.querySelector(".label").classList.remove("display_none:md");
  });
});
</script>


MarkupWrapperClasses: h_50 relative p-l_5 bg_black-_05 w_100

NOTE: this pattern is using absolute positioning but in production it should be fixed.

Weight:0
 
Styleguide Library.Navigation
*/

/*
Nav Item
 
The Nav Items are icons but on hover they expand to show the text of the icon.
 
Markup:
<li class="nav-item br_radius h:bg_white p-r_4 m-r_n4 c_black h:c_primary"><a class="p_3 c_inherit"><i class="icon fas faw fa-plus "></i><span class="label display_none:md">Text</span></a></li>
 
Weight:0
 
Styleguide Library.Navigation.NavItem
*/