


/*

Search Filter Rail

The filter box on the search page.
 
Markup:
<div id="filterZone" class="{aspect_1_1:md} {nav-mined} nav-maxed self_start bg_black-3 br_1 br_black-2 br_radius br_solid flex_auto p_2 p_3:md  shadow_emboss-light transition_3 flex flex_column {{modifier_class}}">
	<nav class="flex_auto overflow_hidden self_stretch font_4:lg font_3:md font_2 font_display font_display">
		<ul class="flex flex_column:md flex_row gap_3 justify_start:md ul_none w_100 w_auto:md">
			<li class="a:bg_primary a:c_white a:shadow_overlap-light {aspect_1_1:md} br_radius c_white-8 flex_none grid h:bg_black-7 h:c_white h:shadow_overlap-light nav-item p_0:md p_3">
				<a class="c_inherit-all h:undecorated p_3 lh_1 m-x_n1">
					<i class="far fa-filter p-x_2:md p-y_3 p-y_0:md"></i>
					<span class="font-size_down label lh_0 lowercase self_center font_medium {display_none:md}">Filter</span>
				</a>
			</li>
		</ul>
	</nav>
	<ul id="filterFacets" class="ul_none font_n1 {display_none} opacity_none transition_3 min-h_30:md">
		{{> 'Sub.Search.Faceted.TypeAhead' modifier_class="Filter1"}}
		{{> 'Sub.Search.FacetedPrimary' modifier_class="Filter2"}}
		{{> 'Sub.Search.Faceted' modifier_class="Filter3"}}
	</ul>
	<script>
		let filterZone = document.getElementById("filterZone");
		let filterZoneNav = filterZone.querySelector("nav");
		let filterFacets = filterZone.querySelector("#filterFacets");
		let filterZoneExpanded = true;
		filterZoneNav.addEventListener("click", function () {
			if (filterZoneExpanded) {
				filterFacets.classList.toggle("opacity_0");
				filterFacets.classList.toggle("opacity_none");
				setTimeout(function () {
					filterFacets.classList.toggle("{display_none}");
					filterFacets.classList.toggle("display_none");
					filterFacets.classList.toggle("min-h_0:md");
					filterFacets.classList.toggle("min-h_30:md");
					filterZone.classList.remove("{aspect_1_1:md}", "{nav-mined}", "nav-maxed");
					filterZone.classList.add("aspect_1_1:md", "nav-mined", "{nav-maxed}");
					filterZoneNav.querySelector("span.label").classList.toggle("{display_none:md}");
					filterZoneNav.querySelector("span.label").classList.toggle("display_none:md");
					filterZoneExpanded = false;
				}, 300);
				return;
			} else {
				filterZone.classList.add("{aspect_1_1:md}", "{nav-mined}", "nav-maxed");
				filterZone.classList.remove("aspect_1_1:md", "nav-mined", "{nav-maxed}");
				filterFacets.classList.toggle("min-h_0:md");
				filterFacets.classList.toggle("min-h_30:md");
				filterFacets.classList.toggle("{display_none}");
				filterFacets.classList.toggle("display_none");
				setTimeout(function () {
					filterFacets.classList.toggle("opacity_0");
					filterFacets.classList.toggle("opacity_none");
					filterZoneNav.querySelector("span.label").classList.toggle("{display_none:md}");
					filterZoneNav.querySelector("span.label").classList.toggle("display_none:md");
					filterZoneExpanded = true;
				}, 300);
				return;
			}
		});
	</script>
</div>

MarkupWrapperClasses: 

 
Weight: -1000
 
Styleguide Sub.Search.FilterRail
*/

/*

Youtube Embed Playlist
 
Markup:
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLCROrnGF2SYByKd5KHoqjRZXM4hwlHgjH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

MarkupWrapperClasses: 
 
Weight:0
 
Styleguide Sub.YoutubeEmbedPlaylist
*/