/**  Default Brands    *********************************/
/**  Colors  **/

@import 'setup/config/colors';
/**  Fonts  **/
@import 'setup/config/fonts';
/**  Textures  **/
@import 'setup/config/textures';

/**  Logos  **/
@import 'setup/config/logo';

$link-color-dark: get-themecolor(accent, -3);
$link-color-light: get-themecolor(accent, 1);
// reading-typography
$headline-color: inherit !default;
