/**  ACC Brands    *********************************/
$teal: #198dae;
$green-blue: #16a385;
$dark-grey: #676a72;
$alt-grey: #a3988c;
$green: #078a2e;
$orange: #da8210;
$red: #dd1a1a;
$blue: #2b58c0;
$purple: #7742bd;
$magenta: #c34198;
$acc-blue: #004176;
$white: rgb(255, 255, 255);
$black: rgb(19, 18, 18);
$real-black: #000;

// COLORS
$cyan: #007dc2;
$bright-cyan: #00aeef;
$info-color: #0ec5a3;
$highlight-color: #fbae00;
// Currently Un used in the design but part of bootstrap.
$indigo: #6610f2;
$pink: #e83e8c !default;
$yellow: #ffc107 !default;

$gray-100: mix($white, $black, 10%);
$gray-200: mix($white, $black, 20%);
$gray-300: mix($white, $black, 30%);
$gray-400: mix($white, $black, 40%);
$gray-500: mix($white, $black, 50%);
$gray-600: mix($white, $black, 60%);
$gray-700: mix($white, $black, 70%);
$gray-800: mix($white, $black, 80%);
$gray-900: mix($white, $black, 90%);

$theme-palette: map-merge(
    $theme-palette,
    (
        primary: $acc-blue,
        secondary: #8f2782,
        success: $green,
        warning: $orange,
        alert: $red,
        navigation: $blue,
        accent: $bright-cyan,
        info: $info-color,
        highlight: #febf13,
        acc: $acc-blue,
    )
);

$fonts: (
    accent: (
        name: 'Roboto Slab',
        short-name:'RS'
        stack: '"Roboto Slab","Times New Roman","Lucida Bright",Georgia,serif,"slab"',
    ),
    display: (
        name: 'Libre Franklin',
        short-name:'LF'
        stack: '"Libre Franklin","Muli","Open Sans","system",sans-serif',
    ),
    copy: (
        name: 'Open Sans',
        short-name:'OS'
        stack: '"Open Sans",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif',
    ),
    ui: (
        name: 'Open Sans',
        short-name:'OS'
        stack: '"Open Sans",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif',
    ),
);

// Reset Values of Utlity-css.vars.scss
$value-to-unit: map-deep-set($value-to-unit, 'font-family' 'accent', map-deep-get($fonts, 'accent', 'stack'));
$value-to-unit: map-deep-set($value-to-unit, 'font-family' 'display', map-deep-get($fonts, 'display', 'stack'));
$value-to-unit: map-deep-set($value-to-unit, 'font-family' 'copy', map-deep-get($fonts, 'copy', 'stack'));

$value-to-unit: map-deep-set($value-to-unit, 'font-weight' ,  (
		light: 100,
		regular: 400,
		medium: 500,
		bold: 700,
		xbold: 900,
    ));
$style-definition: map-deep-set($style-definition, 'font-weight' 'unit' ,  (
		light: 100,
		regular: 400,
		medium: 500,
		bold: 700,
		xbold: 900,
	));

// reset all the references for the fonts
$style-definition: map-deep-set(
    $style-definition,
    'font-family' 'unit' 'accent',
    unquote(map-deep-get($value-to-unit, 'font-family', 'accent'))
);
$style-definition: map-deep-set(
    $style-definition,
    'font-family' 'unit' 'display',
    unquote(map-deep-get($value-to-unit, 'font-family', 'display'))
);
$style-definition: map-deep-set(
    $style-definition,
    'font-family' 'unit' 'copy',
    unquote(map-deep-get($value-to-unit, 'font-family', 'copy'))
);
$style-definition: map-deep-set(
    $style-definition,
    'font-family' 'unit' 'ui',
    unquote(map-deep-get($value-to-unit, 'font-family', 'ui'))
);

$font_display: get-css-size(font-family, display);
$font_accent: get-css-size(font-family, accent);
$font_ui: get-css-size(font-family, ui);
$font_copy: get-css-size(font-family, copy);
$font_mono: get-css-size(font-family, mono);


// reset all weigths 

$global-radus-on: false;
$global-border-radius: 6px;
$value-to-unit: map-deep-set($value-to-unit, 'radius' 'radius', $global-border-radius);
$global-border-round: 25px;
$value-to-unit: map-deep-set($value-to-unit, 'radius' 'round', $global-border-round);
$basicSizeMultiplier: 1rem;

$h1-font-size: map-deep-get($value-to-unit, font-size, 5);
$h2-font-size: map-deep-get($value-to-unit, font-size, 4);
$h3-font-size: map-deep-get($value-to-unit, font-size, 3);
$h4-font-size: map-deep-get($value-to-unit, font-size, 2);
$h5-font-size: map-deep-get($value-to-unit, font-size, 1);
$h6-font-size: map-deep-get($value-to-unit, font-size, 0);

$font-size-base: $base-font-size-rem; // Assumes the browser default, typically `16px`
$font-size-lg: map-deep-get($value-to-unit, font-size, 2);
$font-size-sm: map-deep-get($value-to-unit, font-size, n1);

$link-color-dark: get-themecolor(accent, -2);
$link-color-light: get-themecolor(accent, 2);

$font_bold: get-css-size(font-weight, bold);
$font_medium: get-css-size(font-weight, medium);
$font_xbold: get-css-size(font-weight, xbold);
$font_light: get-css-size(font-weight, light);
$font_regular: get-css-size(font-weight, regular);

$headline-color:get-themecolor(primary,-1);