/**  Default Setup  Not sure what this is doing    *********************************/
/** changing default names to be used with frameworks. **/
@import 'setup/config/__config.base';

.swg-result{
    font-family: $font_copy;

@import 'base/table';
@import 'base/table.boot';
@import 'base/typography';
h1{font-size: $font_4;}
h2{font-size: $font_3;}
h3{font-size: $font_2;}
h4{font-size: $font_1;}
p{ font-size:$font_0; margin-top:$margin_3}
ul{
    list-style: none;
    padding:$padding_3 $padding_0;
    li{margin-bottom:$padding_2;}
    .list-item-label {
        font-family: $font_display;
        display: inline;
        font-weight: 900;
        padding-right: 0.5rem;
    }
    .list-item-label ~ p {
        display: inline;
    }
}
.inline-table-label,.inline-image-label {
    margin: 0 $margin_2;
    font-size: $font_1;
    font-weight: $font_xbold;
    font-family: $font_display;
}
table{
    th>b{ font-weight: $font_bold;}
    td>b{ font-weight: $font_medium;}
    border-collapse: collapse;
    td{padding:$padding_2 $padding_3;}
    ul{ 
        margin:0;
        padding:$padding_2 $padding_0;
     }
}

.inline-table-caption{font-size:$font_1;}
.inline-table-caption + .inline-table-caption{font-size: $font_n1;}

figure{
    margin:$margin_3 0;
    padding:$padding_3;
    border:1px solid get-themecolor(primary,3);
    color:get-themecolor(primary,-1);
}
}
