/**  Default Setup  Not sure what this is doing    *********************************/
/** changing default names to be used with frameworks. **/
@import "setup/config/__config.base";

.swg-result {
	font-family: $font_copy;

	@import "base/table";
	@import "base/table.boot";
	@import "base/typography";
	h1,
	h2,
	h3,
	h4 {
		color: get-themecolor(primary, -4);
	}
	h1 {
		font-size: $font_4;
	}
	h2 {
		font-size: $font_3;
	}
	h3 {
		font-size: $font_2;
	}
	h4 {
		font-size: $font_1;
	}
	p {
		font-size: $font_0;
		margin-top: $margin_3;
	}
	ul {
		list-style: none;
		padding: $padding_3 $padding_0;
		li {
			margin-bottom: $margin_3;
			line-height: 1.45;
		}
		.list-item-label {
			font-family: $font_display;
			display: inline;
			font-weight: 900;
			padding-right: 0.5rem;
		}
		.list-item-label ~ p {
			display: inline;
		}
	}
	.inline-table-label,
	.inline-image-label {
		margin: 0 $margin_2;
		font-size: $font_2;
		font-weight: $font_xbold;
		font-family: $font_display;
		color: get-themecolor(primary, -1);
	}
	.inline-reference ,
	.table a {
		color: get-themecolor(primary);
		&::hover {
			color: get-themecolor(primary, -2);
			text-decoration: none;
		}
	}
	.table,
	.figure {
		margin: $margin_3 0 $margin_4;
	}
	table {
		thead tr {
			border-bottom: 2px solid rgba(get-themecolor(primary,-3),80%); //br_black-5
		}
		border-bottom: 1px solid rgba(get-themecolor(primary,-3),50%); //br_black-5
		margin: $margin_2 0 $margin_3;
		font-family: $font_ui;
		th {
			word-break: break-all;
			vertical-align: bottom;
		}
		th > b,
		td b {
			font-weight: $font_bold;
		}

		border-collapse: collapse;
		td {
			padding: $padding_2 $padding_3;

			vertical-align: top;
		}
	
		ul {
			margin: 0;
			padding: $padding_2 $padding_0;
		}
		.table-align-center {
			text-align: center;
			background-color: #13121206;
			font-weight: $font_medium;
			font-family: $font_accent;
			box-shadow: unset !important;
		}
	}
	.table{
		display: block;
		&::before,&::after {
			font-size: $font_n2;
			font-family: 'Font Awesome 5 Pro';
			font-weight: 900;
			content: "\f060  Tables May Scroll Left to Right  \f061";
			display: block;
			border-radius: $border_radius;
			padding: $padding_2 $padding_3;
			color: get-themecolor(accent, -1);
			margin: $margin_3 auto $margin_4;
			text-align: center;
		}
		table{
			tr{position:relative;}
			td:first-child,th:first-child {
				position: sticky;
				left: 1px;
				top:0;
				bottom:0;
				background: white;
				border-right: 1px solid rgba(get-themecolor(primary,-2),10%);
				max-width: 25vw;
				box-shadow: 4px 0 5px 0 rgba(get-themecolor(primary,-4),10%);
			}
			td:nth-child(2),th:nth-child(2) {padding-left:1rem}
		}
		> div{		
			width: calc(100% + 0rem);
			overflow-x: auto;
			height:auto;
			box-shadow: inset -4px 0 5px 0px rgba(get-themecolor(primary,-4),10%);
			&::-webkit-scrollbar {
				width: 0.4rem;
				height: 0.4rem;
			}
			/* Track */
			&::-webkit-scrollbar-track {
				box-shadow: make-shadow(2, 'inset', #000, 0.2);
				background-color: rgba(get-themecolor(shade, -3), 0.1);
			}
			/* Handle */
			&::-webkit-scrollbar-thumb {
				border-radius: get-css-size(border-radius, round);
				background: get-themecolor(accent, -1);
				box-shadow: make-shadow(2, 'inset', #000, 0.2);
			}
			&::-webkit-scrollbar-thumb:window-inactive {
				background: rgba(get-themecolor(accent, -1), 0.1);
			}
			&::-webkit-scrollbar-track:window-inactive {
				background: rgba(get-themecolor(shade, -3), 0.1);
			}
			
		}
		> div:where(.table-footnotes,.inline-table-caption,.inline-table-label){
			overflow:unset;
			box-shadow: unset;
		}
		table {
			width:fit-content;
			td>*{max-width:25em;}
		}
		@media #{$medium-up} {
			table{
				width:min-content;
				td>*{max-width:30em;}
			}
		}

		@media #{$large-up} {
			table{
				width:fit-content;
				td>*{max-width:35em;}
			}
		}
	}

	.inline-table-caption {
		font-size: $font_n1;
		color: get-themecolor(secondary, -3);
	}
	.table-footnotes{
		font-size:$font_n2;
		color: get-themecolor(secondary, -2);
	}
	.superscript-reference,.inline-reference{
		color: get-themecolor(primary, -1);
		font-weight: $font_bold;
		text-decoration: none;
		padding-right:$padding_2;
	}
	.inline-image.figure {
		display: flex;
		justify-content: center;
	}

	figure {
		margin: $margin_3 0;
		padding: $padding_3;
		border: 1px solid get-themecolor(primary, 3);
		color: get-themecolor(primary, -3);
		width: 100%;
		max-width: 50em;
		border-radius: $border_radius;
	}
}
