
/*

Content Filler

This is a styleguide only element to show structure edges.

Markup:
<div class="h_30 w_100 c_accent-n4 font_xbold font_3 br_accent bg_accent-5 br_dashed br_1 m_3 p_5 grid items_center justify_center">Layout Zone: {{ modifier_class }}</div>

MarkupWrapperClasses: 

Weight: 100

Styleguide Page.Layouts.Filler
*/

/*

Grid Filler

This is a styleguide only element to show structure edges.

Markup:
<div class="w_auto h_100p c_highlight-n4 font_xbold font_3 br_dotted br_highlight bg_highlight-5 br_1 grid items_center justify_center lh_0 overflow_ellipsis">Grid Area: {{ modifier_class }}</div>

MarkupWrapperClasses: 

Weight: 100

Styleguide Page.Layouts.GridFiller
*/

/*

Sub Grid Filler

This is a styleguide only element to show structure edges.

Markup:
<div class="w_auto h_100p c_success-n4 font_xbold font_3 br_dotted br_success bg_success-5 br_1 grid items_center justify_center lh_0 overflow_ellipsis">Grid Area: {{ modifier_class }}</div>

MarkupWrapperClasses: 

Weight: 100

Styleguide Page.Layouts.SubGridFiller
*/

/*

Side Bar Area

This pattern is often used to push the sidebar bellow the main content area. 


Markup:
<div class="flex flex_row:md flex_column-reverse gap_4 gap_5:lg">
    <div class="flex_auto flex_100 max-w_20:lg">
    {{> "Page.Layouts.Filler"  modifier_class="Sidebar"}}
    </div>
    <div class="flex_auto flex_100 ">
    {{> "Page.Layouts.Filler"  modifier_class="Main"}}
    </div>
</div>

MarkupWrapperClasses: 

Weight: 0

Styleguide Page.Layouts.Sidebar
*/

/*

Side Bar Area With Ad

This pattern is often used to push the sidebar bellow the main content area. 


Markup:
<div class="flex flex_row:lg flex_column gap_4 gap_5:lg">
    <div class="flex_auto flex_100 flex flex_row:md flex_column-reverse gap_4 gap_5:lg">
        <div class="flex_auto flex_100 max-w_20:md">
            {{> "Page.Layouts.Filler" modifier_class="Sidebar"}}
        </div>
        <div class="flex_auto flex_100">
            {{> "Page.Layouts.Filler" modifier_class="Main"}}
        </div>
    </div>
    <div class="flex_auto flex_100 max_w-100 max-w_10:lg">
        {{> "Page.Layouts.Filler" modifier_class="Ad Rail"}}
    </div>
</div>   

MarkupWrapperClasses: 

Weight: 0

Styleguide Page.Layouts.SidebarAndAd
*/