/*
Buttons
 
Description: Basic Buttons and modifiers.   

.btn-primary - primary button
.btn-secondary - secondary button
.btn-warning - secondary button
.btn-alert - secondary button
.btn-hollow - secondary button
.btn-accent - accent button
.disabled - disabled button
 
Markup:
<button class="btn {{modifier_class}}">Button</button>

 
Weight:0
 
Styleguide HTML.Inputs.Buttons
*/

